<% include ../common/top.ejs %>
<body>
	<section class="adult" id="container" data-init="courses">
		<section class="top">
			<img src="<%= imagessrc%>y_top.png" alt="">
			<p class="time">09月16日-09月18日</p>
			<p class="mony">满<span>5800</span>元减<span>450</span>元</p>
			<p class="mony">满<span>10000</span>元减<span>600</span>元</p>
		</section>
		<section class="item1">
			<section class="images">
				<img src="<%= imagessrc%>a_item1.png" alt="" class="y-bg">
			</section>
			<section class="item_text">
				<h3 class="item_tit">纯外教 一对一</h3>
				<p class="item_t1">8000多名外教 选我所爱</p>
				<p class="item_t2">8000多名优选外教的雄厚师资，精心研发的1对1在线互动平台，为您提供可靠的学习保障。</p>
			</section>
		</section>
		<section class="item2">
			<section class="images">
				<img src="<%= imagessrc%>a_item2.png" alt=""  class="y-bg">
			</section>
			<section class="item_text">
				<h3 class="item_tit">短时间 高频率</h3>
				<p class="item_t1">1次卡=25分钟 随时随地</p>
				<p class="item_t2">每次课25分钟，一天可预约多次，随时随地轻松高频学习，部分套餐送公开课程，学习效果更显著！</p>
			</section>
		</section>
		<section class="item3">
			<section class="images">
				<img src="<%= imagessrc%>a_item3.png" alt=""  class="y-bg">
			</section>
			<section class="item_text">
				<h3 class="item_tit">16级英语考评体系</h3>
				<p class="item_t1">我们关注您的每一次成长</p>
				<p class="item_t2">51Talk独有，每一次测试都能精确考评，清晰量化您的进步，燃起您学习的动力与激情。</p>
			</section>
		</section>
		<section class="item4">
			<section class="images">
				<img src="<%= imagessrc%>a_item4.png" alt="" class="y-bg">
			</section>
			<section class="item_text">
				<h3 class="item_tit">课程设置个性化</h3>
				<p class="item_t1">您的偏好 在这里得到满足</p>
				<p class="item_t2">专业的课程教研团队满足学员个性化需求，精心设计了系统化提升、丰富多元的课程。</p>
			</section>
		</section>
		<section class="bottom">
			<p><a href="javascript:;">立即抢购</a></p>
		</section>
	</section>
</body>
<% include ../common/bottom.ejs %>