<% include ../common/top.ejs %>
<script src="http://static.51talk.com/js/jquery.min.js?v=1439877955695"></script>
<script type="text/javascript" src="../../../js/html/project/olympic_carnival/battle.js"></script>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>
<div class="pri-main">
  <div class="rota">
    <div class="widthMain">
      <div class="lt">
          <div class="prize_list">
              <ul class="names">
                  <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                  <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                  <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
              </ul>
          </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：8月5日——8月14日 </li>
            <li>2.抽中课程包或实物奖品的同学，需要在8月5日—8月14日期间购买4000元以上套餐，活动结束后，奖品由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
      </div>
      <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
        <ul class="l_grid clearfix">
          <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>djq3.png" alt=""></li>
          <li class="l_prize l_prize-1"><img src="<%= imagessrc%>sjb.png" alt=""></li>
          <li class="l_prize l_prize-2"><img src="<%= imagessrc%>mini.png" alt=""></li>
          <li class="l_prize l_prize-7"><img src="<%= imagessrc%>jdk5.png" alt=""></li>
          <li class="pointer"></li>
          <li class="l_prize l_prize-3"><img src="<%= imagessrc%>jdk3.png" alt=""></li>
          <li class="l_prize l_prize-6"><img src="<%= imagessrc%>jpb.png" alt=""></li>
          <li class="l_prize l_prize-5"><img src="<%= imagessrc%>jdk.png" alt=""></li>
          <li class="l_prize l_prize-4"><img src="<%= imagessrc%>djq5.png" alt=""></li>
        </ul>
      </div>
    </div>
    <a href="javascript:;" class="l_btn" id="prize_log"></a>
  </div>
  <div class="talkshow">
    <div class="content">
      <div class="teacher clearfix">
        <div class="infomation c10b2f1">
          <img src="<%= imagessrc%>t1.png" alt="" class="avatar"/>
          <h3 class="name">刘千 | 英伦腔浓重的绅士</h3>
          <p class="intro">留英海归，毕业于英国的比大学（本硕连读）／有多年成人英语教育与教材研发经验／2015年起专注于青少儿英语的课程教授与课程研发／6节【奥运系列课】妙趣横生，轻松get知识点</p>
        </div>
        <div class="courses b27bbf4">
          <div class="wrap">
            <ul class="list clearfix c0192cb">
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30153568.html" target="_blank">
                  <img src="<%= imagessrc%>l1.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第一讲：奥运会之父</h3>
                    <p class="time">上课时间：08月08日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">说到奥运会的由来，那咱们就不得不说一下奥运会之父的 皮埃尔·德·顾拜旦。这位近代史当中对奥运会发展做出巨大贡献的法国人。他是如何成为奥运会之父的？</p>
                </a>
              </li>
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30152527.html" target="_blank">
                  <img src="<%= imagessrc%>l2.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第二讲：奥运会的吉祥物</h3>
                    <p class="time">上课时间：08月09日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">每一届奥运会都会有自己的吉祥物。每一个吉祥物都凝聚着一个民族的智慧。本节课咱们就来聊一聊奥运会吉祥物的来历，说说哪些吉祥物让你过目难忘。 </p>
                </a>
              </li>
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30154399.html" target="_blank">
                  <img src="<%= imagessrc%>l3.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第三讲：体育项目大揭秘</h3>
                    <p class="time">上课时间： 08月10日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">奥运会体育运动项目的英文是什么？看了这么多年奥运会的你一定有不知道的地方吧。没有关系，赶快跟着刘千老师来学习每一项运动的英文名字还有它背后的来历。轻松长知识又让你们大开眼界！</p>
                </a>
              </li>
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30154409.html" target="_blank">
                  <img src="<%= imagessrc%>l4.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第四讲："里约"大冒险</h3>
                    <p class="time">上课时间： 08月11日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">里约热内卢做为巴西第二大城市，有着享誉世界的基督雕像。它还有另外一个名字叫“狂欢节之都”。那么想知道巴西还有哪些好玩儿好吃的地方吗？这座城市会给我们呈现一个怎样的夏季奥运会，跟我来一起了解下发生在里约的那些奇闻趣事。</p>
                </a>
              </li>
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30152537.html" target="_blank">
                  <img src="<%= imagessrc%>l5.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第五讲：世界纪录都有哪些</h3>
                    <p class="time">上课时间： 08月12日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">从有奥运会以来，体育健儿们以打破世界记录为荣，你知道历届的奥运会都有哪些世界纪录被打破和被保持吗？中国的运动健儿们在哪些项目常年保持着优势，哪些项目我们是历史性的突破呢？一起来揭晓答案吧！</p>
                </a>
              </li>
              <li>
                <a href="http://bbs.51talk.com/openclass/detail/new/30152537.html" target="_blank">
                  <img src="<%= imagessrc%>l6.jpg" alt="" class="cover">
                  <div class="brief">
                    <h3 class="title">第六讲：奥运会纪念币</h3>
                    <p class="time">上课时间： 08月13日13:00-13:50</p>
                    <p class="way">上课方式：直播教室</p>
                  </div>
                  <p class="desc">奥林匹克纪念币也有很多“你不知道的事”！本堂课当中，Jack老师会拿出个人珍藏的2012年London奥运会纪念币让大家一睹为快。别犹豫了，我在51Talk的公开课与你不见不散哟！</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="buttons">
            <span class="prev"></span>
            <span class="next"></span>
          </div>
        </div>
      </div>
      <div class="teacher clearfix">
        <div class="infomation c5572fa">
          <img src="<%= imagessrc%>t2.png" alt="" class="avatar"/>
          <h3 class="name">吕宇珺 | 广西师大出版社</h3>
          <h3 class="identity">合作译者，灵魂画手</h3>
          <p class="intro">托福写作满分获得者／资深译者，从事翻译多年，是广西师大出版社合作译者／非盟主席祖玛女士访华时，担任随同中英交传／自由撰稿人，曾为《看历史》、新华社《环球》等杂志撰写多篇文章</p>
        </div>
        <div class="courses b5677f7">
          <ul class="list clearfix c3f56ae">
            <li>
              <a href="http://bbs.51talk.com/openclass/detail/new/30152547.html " target="_blank">
                <img src="<%= imagessrc%>y1.jpg" alt="" class="cover">
                <div class="brief">
                  <h3 class="title">第一讲</h3>
                  <h3 class="subtitle">办奥运会真的是烧钱而已吗？</h3>
                  <p class="time">上课时间：8月5日13:00-13:50</p>
                  <p class="way">上课方式：直播教室</p>
                </div>
                <p class="desc">人们往往觉得主办奥运会耗费巨额资产和人力，在经济上会对主办国造成很大的压力，但事实上，奥运会经常是“致富”的一条道路。让我们来看看“奥运”和“经济”是怎样发生化学反应的吧！
                </p>
              </a>
            </li>
            <li>
              <a href="http://bbs.51talk.com/openclass/detail/new/30152557.html" target="_blank">
                <img src="<%= imagessrc%>y2.jpg" alt="" class="cover">
                <div class="brief">
                  <h3 class="title">第二讲</h3>
                  <h3 class="subtitle">体育比赛真的促进友谊吗？</h3>
                  <p class="time">上课时间：8月6日13:00-13:50</p>
                  <p class="way">上课方式：直播教室</p>
                </div>
                <p class="desc">“友谊第一，比赛第二”，这是真的吗？写过《动物庄园》和《1984》的乔治•奥威尔一贯对世界上发生的事情充满忧患。他对于体育赛事的看法也一脉相承，让我们来一起看看他是怎么说“体育精神”的吧！
                </p>
              </a>
            </li>
            <li>
              <a href="http://bbs.51talk.com/openclass/detail/new/30152557.html" target="_blank">
                <img src="<%= imagessrc%>y3.jpg" alt="" class="cover">
                <div class="brief">
                  <h3 class="title">第三讲</h3>
                  <h3 class="subtitle">世界大战前后的奥林匹亚</h3>
                  <p class="time">上课时间：8月7日13:00-13:50</p>
                  <p class="way">上课方式：直播教室</p>
                </div>
                <p class="desc">因为两次世界大战，有三次奥运会取消。然而，二战前夕，1936年的柏林奥运会如期举行，并留下充满争议的纪录片《奥林匹亚》。莱妮·里芬斯塔尔，这位希特勒的御用导演，给后人们留下了一部重量级的超高水平制作；而作为宣传工具，这部影片传达的政治含义则一直饱受批评⋯
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a class="morecourse" href="http://bbs.51talk.com/openclass/index/new/" target="_blank"></a>
    </div>
  </div>
  <div class="show"></div>
</div>
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>djq3_2.png" alt="">
                <img src="<%= imagessrc%>sjb2.png" alt="">
                <img src="<%= imagessrc%>mini2.png" alt="">
                <img src="<%= imagessrc%>jdk3_2.png" alt="">
                <img src="<%= imagessrc%>djq5_2.png" alt="">
                <img src="<%= imagessrc%>jdk2.png" alt="">
                <img src="<%= imagessrc%>jpb2.png" alt="">
                <img src="<%= imagessrc%>jdk5_2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼亲子票2张</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>
<!-- 活动规则 -->
<div class="dialog3" id="dialog4">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>活动规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每天我们会随机抽取5个写祝福语的用户，赠送3张次卡</li>
      <li>2.中奖名单会在次日更新到学习社区</li>
      <li>3.课程我们将在7月15日充到您账户</li>
    </ul>
  </div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
</body>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>

</html>




