<% include ../common/reg_top.ejs %>
<body style="background:#FFF;">
	<% include ../common/reg_header.ejs %>
	<article class="paid_alert">
		<b>亲爱的51Talk学员：<br>为了给您带来更好的上课体验, 建议您使用51 Talk APP —— 官方约课神器, 约课只需一步！</b>
	    <p>
	        <img src="<%= imagessrc%>f_top.jpg" class="img">
	        <a href="#"><span>立即下载</span></a>
	    </p>    
	    <h3><strong>约课只需一步</strong>智能确定高频上课时间<br>优先选择收藏老师，推荐最佳老师<br>教材跟随级别，知你所想</h3>
	    <img src="<%= imagessrc%>f_bom.jpg">
	    <h3><strong>单词不只可以听</strong>课前预习，词汇、句式、语法，一个都不能少<br>标准发音，听完就说，智能打分，矫正发音</h3>
	    <img src="<%= imagessrc%>f_lee.jpg">
	    <h3><strong>课程一目了然</strong>预约课程置顶显示<br>预习、评价、课程报告一触即达<br>疑难词汇，加入单词本，随时复习</h3>
	    <img src="<%= imagessrc%>f_el.jpg">
	    <a href="#" class="btn">立即下载51TalkAPP</a>
	</article>
	<footer>
	    <aside class="second">
	        <span><a href=""><img src="<%= imagessrc%>wap_to_app.png"></a></span>
	        <p><span>客服热线：</span>4000-51-51-51</p>
	    </aside>
	</footer>
</body>
<% include ../common/reg_bottom.ejs %>