<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入51TALK, 与名人对话，免费学英语！</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
    <div class="contain" id="container" data-init="jobs_landing">
        <!-- 头部 -->
        <div class="header">
            <div class="headerIn">
                <div class="ba_logo">
                    <a href="javascript:;"><img src="<%= imagessrc%>/ba_logo.png" class=""></a>
                </div>
                 <div class="btn-phone">
                    <img src="<%= imagessrc%>/ba_phone.png" class="">
                </div>
                 <div class="btn-login">
                    <a href="javascript:;">登录</a>
                </div>
               <!--  <div class="btn-tiyan">
                    <a href="javascript:;">马上免费体验</a>
                </div>
                -->
            </div>
            <div class="btn-tiyan">
                    <a href="javascript:;">马上免费体验</a>
            </div>
               
        </div>
        
        <!-- 青少年 -->
        <div class="ba_teen">
            <div class="ba_teenIn"></div>
        </div>
        <!-- 成人 -->
        <div class="ba_adult">
            <div class="ba_adultIn"></div>
        </div>
        <!-- 公开课 -->
        <div class="ba_keyboard">
            <div class="ba_keyboardIn orderNow_btn">
                <img src="<%= imagessrc%>/ba_pad.png" class="">
                <a href="javasctipt:;" class="ba_get">免费领取</a>
            </div>
        </div>
       <!-- 立即抢购 -->
        <div class="ba_buy">
            <div class="ba_buyIn expriceBtn">
                <a href="javascript:;">
                    <img src="<%= imagessrc%>/ba-buy.jpg" class="">
                </a>
            </div> 
        </div>
      <!-- 星光璀璨 -->
      <div class="ba_star">
          <div class="ba_starIn"></div>
      </div>
    <div class="ba_lina">
        <div class="ba_linaIn"></div>
    </div>
     <div class="ba_three">
        <div class="ba_threeIn"></div>
    </div>

    </div>
    <div class="company">
        <h3>合作企业</h3>
        <p><a href="#"><img src="<%= imagessrc%>/xm.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/jd.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/zs.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/sony.jpg" alt=""></a>
        <a href="#" style="margin-right:0;"><img src="<%= imagessrc%>/zlw.jpg" alt=""></a></p>
    </div>
    <div class="footer">
        <div class="footer-inner">
              <div class="form">
                  <form action="../user/do_register.php" method="POST" id="RegForm3" name="RegForm" >
                        <ul class="clearfix">
                           <li><input name="user_name" id="user_name" type="text"  placeholder="请输入您的邮箱"  class="jsCheck"/></li>
                          <li><input name="mobile" id="mobile"  type="text"  placeholder="请输入您的手机号"  class="jsCheck"/></li>
                          <li><input  type="password" name="password" id="password" placeholder="请设置您的密码"  class="jsCheck"/></li>
                          <li><input id="submit3" val="3" type="button" value="马上注册，体验免费外教课" class="jsSubmit" /></li>
                        </ul>  
                  </form> 
              </div>
              <div class="copyright">Copyright©北京大生知行科技有限公司&nbsp;|&nbsp;隐私声明&nbsp;|&nbsp;用户协议&nbsp;|&nbsp;京ICP证110696号 京ICP备11031999号</div>
        </div>
    </div>
    <div class="mask" id="mask"></div>
    
     <div class="openWidnow" id="openWidnow">
          <div class="window-title">注册立即获赠价值188元的外教1对1体验课一次，<br/> 并免费开通每月上百节的公开课体验资格!
          </div>
          <form action="../user/do_register.php" method="POST" id="RegForm1">
              <div class="window-form">
                <ul class="window-input">
                    <li><label for="user_name3"><span class="sprite ie6png email"></span><input name="user_name" id="user_name3" type="text" placeholder="请输入您的邮箱" class="jsCheck"></label></li>
                    <li><label for="mobile3"><span class="sprite ie6png phone"></span><input name="mobile" id="mobile3" type="text" placeholder="请输入您的手机号" class="jsCheck"></label></li>
                    <li><label for="password3"><span class="sprite ie6png password"></span><input name="password" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck"></label></li>
                </ul>
              </div>
              <div class="orderBtn2" id="orderBtn2">
                <a href="javascript:;"><input id="submit1" type="button" val="1" value="马上免费体验" class="jsSubmit" /></a>
                <p class="exprienceDesc">体验后，您将获得量身定制的专业测评报告。</p>
              </div>
          </form> 
    </div>


    <!-- 红包 -->
    <div class="redPacketLayer" >
        <div class="redPacketLayer_t">
            <h3>恭喜您!</h3>
            <div class="rp_tg"></div>
            <p>填写下列信息，立即免费领取</p>  
        </div>
        <div class="redPacketLayer_b">
            <form action="" method="POST" id="RegForm2">    
                <dl class="mailReg ipReg">
                    <dt>
                        <i></i>
                    </dt>
                    <dd>
                   
                        <input name="user_name" id="user_name4" type="text" placeholder="请输入您的邮箱" class="jsCheck"/>
                    </dd>
                </dl>
                <dl class="phReg ipReg">
                    <dt>
                        <i></i>
                    </dt>
                    <dd>
                        <input  name="mobile" id="mobile4"  type="text" placeholder="请输入您的手机号"  class="jsCheck"/>
                    </dd>
                </dl>
                <dl class="pwReg ipReg">
                    <dt>
                        <i></i>
                    </dt>
                    <dd>
                        <input name="password" id="password4" type="password" placeholder="请设置您的密码"  class="jsCheck"/>
                    </dd>
                </dl>
                <div class="imGet">
                    <input id="submit4" val="3" type="button" value="立即领取课程"  class="jsSubmit" >
                </div>
            </form>
        </div>
    </div>
    <!-- 领取红包成功 -->
    <div class="getSuc">
        <h3>恭喜您！</h3>
        <p>成功领取30节托业课程。</p>
        <ul class="btn-getSuc">
            <li class="btn-getSucl" ><a href="http://www.51talk.com/trial/reserve" id="experCour">体验课程</a></li>
            <li class="btn-getSucr" ><a href="http://bbs.51talk.com/openclass/">查看课程</a></li>
        </ul>
        <a href="javascript:;" class="jp-link"><span id="jump3s">3</span>s 后将跳转至会员体验课中心</a>
    </div>
    
<script src="<%= jssrc%>"></script>
</body>
</html>