<% include ../common/top.ejs %>
<script type="text/javascript" src="../../../js/html/project/prize_landing03/jquery.min.js"></script>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="pri-main">
    <div class="banner">
      <span class="banner_top"></span>
      <div class="widthMain1030" id="widthMain1030">
          <div class="time" data-time="4152035">
              <strong class="day">00</strong>
              <strong class="hour">00</strong>
              <strong class="min">00</strong>
          </div>
        <ul>
          <li><a href="javascript:;" data-target="rota"></a></li>
          <li><a href="javascript:;" data-target="pri-list02"></a></li>
          <li><a href="javascript:;" data-target="pri-list03"></a></li>
          <li><a href="javascript:;" data-target="pri-list05"></a></li>
          <li><a href="javascript:;" data-target="pri-list06"></a></li>
        </ul>
      </div>
    </div>
    <div class="rota">
      <div class="widthMain">
        <div class="lt">
            <div class="prize_list">
                <ul class="names">
                    <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                    <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                    <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
                </ul>
            </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：5月12日11：00：00——5月22日23：59：59</li>
            <li>2.所有实物奖品须在购买4000元以上套餐后发放，活动结束后，由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
          <a href="javascript:;" class="prize_log" id="prize_log"></a>
        </div>
        <div class="dial-bg">
          <div class="pointer" data-url="url">
             <!--  <a href="javascript:;"></a> -->
          </div>
          <div class="rotate" ><img id="rotate" src="<%= imagessrc%>dial_rotate.png" alt="dial"/></div>
        </div>
      </div>
    </div>
    <div class="pri-list02">
      <div class="widthMain">
          <div class="pos02">
              <div class="pos02_1" id="teacherBox">
                  <div class="teachers">
                      <ul class="teacher_list" id="teacherList">
                          <li class="teacher_item item_1">
                              <img src="<%= imagessrc%>tea1.png" alt="" class="tea">
                              <div class="t_center">
                                <div class="t_c_l">
                                  <h3 class="t_c_tit">田涛</h3>
                                  <p class="t_c_text">大家好我是Tony，从事英语教育行业多年，热爱英语，充满热情。崇尚快乐英语的教学理念，让学生玩儿着学，享受学习英语的快乐，在不知不觉中提高英语！让我们一起来玩儿英语吧！Let's roll out!</p>
                                </div>
                                <div class="t_c_r">
                                  <p class="t_r_text"><span class="t_c_d">玩转迪士尼</span>迪士尼乐园大揭秘——金牌名师带你玩转迪士尼，会学更会玩！</p>
                                  <div class="t_r_time clearfix">
                                    <div class="time_l">开课时间：</div>
                                    <ul class="time_list">
                                      <li>玩转迪士尼之【疯狂游乐篇】：5月12日，5月18日，19：00—19：50</li>
                                      <li>玩转迪士尼之【奇幻表演篇】 ：5月13日，5月19日，19：00—19：50</li>
                                      <li>玩转迪士尼之【节日&美食篇】：5月17日，5月20日，19：00—19：50</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                          </li>
                          <li class="teacher_item item_2">
                              <img src="<%= imagessrc%>tea2.png" alt="" class="tea">
                              <div class="t_center">
                                <div class="t_c_l">
                                  <h3 class="t_c_tit">谢昕呈</h3>
                                  <p class="t_c_text">外研社《英语学习》杂志常驻撰稿人 / 首届新东方在线英语朗诵比赛全国第一名获得者 / 北京2008年奥运会、残奥会志愿者英语培训优秀培训师 / 北京理工大学美韵英语协会创始人</p>
                                </div>
                                <div class="t_c_r">
                                  <p class="t_r_text"><span class="t_c_d">最具人气</span>蟹老板“发音雕琢”精讲精练——6节课掌握“地道美语发音”</p>
                                  <div class="t_r_time clearfix">
                                    <div class="time_l">开课时间：</div>
                                    <ul class="time_list">
                                      <li>每周二，周四，周六   10:00-10:50</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                          </li>
                          <li class="teacher_item">
                              <img src="<%= imagessrc%>tea3.png" alt="" class="tea">
                              <div class="t_center">
                                <div class="t_c_l">
                                  <h3 class="t_c_tit">沈静</h3>
                                  <p class="t_c_text">原北京新东方名师，被誉为“满分教师” /《新东方英语杂志》特约撰稿人 / 在新东方工作的十几年间，培养出大量骨干教师，优秀者已经成为分校校长</p>
                                </div>
                                <div class="t_c_r">
                                  <p class="t_r_text"><span class="t_c_d">最实用</span>识词走天下——高频词汇大串讲，高效背词大揭密</p>
                                  <div class="t_r_time clearfix">
                                    <div class="time_l">开课时间：</div>
                                    <ul class="time_list">
                                      <li>每周一，周三，周五， 20:00-20:50 </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                          </li>
                          <li class="teacher_item item_last">
                              <img src="<%= imagessrc%>tea4.png" alt="" class="tea">
                              <div class="t_c_r">
                                <p class="t_r_text"><span class="t_c_d">最涨分</span>决胜托福雅思——金牌名师21节干货课，不提分都困难</p>
                                <div class="t_r_time clearfix">
                                  <div class="time_l">开课时间：</div>
                                  <ul class="time_list">
                                    <li>【决胜托福雅思】系列共21节课程，上课时间详见【课程表】</li>
                                  </ul>
                                </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <p class="pos02_text"><a href="javascript:;">查看更多精品课程，记得上课哦 > </a></p>
              <a href="javascript:;" target="_blank" class="pos02_3 subutton"></a>
          </div>
      </div>  
    </div>
    <div class="pri-list03">
    </div>
    <div class="pri-list04"> 
      <div class="widthMain">
        <ul class="pri04_list">
          <li><a href="javascript:;"></a></li>
          <li class="pl_m12"><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
        </ul>
      </div>
      <a href="javascript:;" target="_blank" class="pos02_3 subutton"></a>
    </div>

    <div class="pri-list05">
    </div>
    
    <div class="pri-list07">
      <div class="widthMain">
          <div class="pos07">
                <a href="javascript:;" class="look_detail subutton"></a>
          </div>
      </div> 
    </div>
    <div class="pri-list06">
      <div class="widthMain">
          <div class="pos06">
              <p>
                  <span class="one">240次卡和12个月包月套餐立减<strong> 820 </strong>元</span>
                  <a href="javascript:;"></a></p>
              <p>
                  <span class="two">【零基础定制】中教课程直降<strong> 1000 </strong>元</span>
                  <a href="javascript:;"></a>
              </p>
          </div>
          <a href="javascript:;" target="_blank" class="pos02_3 subutton"></a>
      </div> 
    </div>
</div>
<div class="prize_join">
  <h3 class="join_tit">报名加盟</h3>
  <ul class="join_list">
    <li><span>机构名称：</span><input type="text" data-org="org"></li>
    <li><span>姓名：</span><input type="text" data-name="name"></li>
    <li><span>手机号码：</span><input type="tel" name="user_name" data-tel="tel"></li>
  </ul>
  <a href="javascript:;" class="join_close"></a>
  <a href="javascript:;" class="join_sb"></a>
</div>

<div class="dialog" id="dialog">
    <div class="info">
        <div class="box box-1">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">米老鼠公仔套装</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>mickey_doll.png" alt="" class="img01" >
            </div>
        </div>
        <div class="box box-2">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">冰雪奇缘拉杆箱</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>pull_box.png" alt="" class="img02" >
            </div>
        </div>
        <div class="box box-3">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">迪士尼保温杯</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>water_glass.png" alt="" class="img03" >
            </div>
        </div>
        <div class="box box-4">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>rmb350.png" alt="" class="img04">
            </div>
        </div>
        <div class="box box-5">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">550元代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>rmb550.png" alt="" class="img05" >
            </div>
        </div>
        <div class="box box-6">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">迪士尼亲子票2张</span></h3>
            <div class="detail">
                <!-- 迪士尼票 -->
                <img src="<%= imagessrc%>disney_tickets.png" alt="" clas="img06">
            </div>
            <p class="contact_tit">课程顾问会在48小时内联系您</p>
        </div>
        <div class="box box-7">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">迪士尼大礼包</span></h3>
            <h3>（拉杆箱+公仔套装+水杯+遮阳帽）</h3>
            <div class="detail">
                <!-- 迪士尼大礼包 -->
                <img src="<%= imagessrc%>disney_gift.png" alt="" class="img07" style="display:inline-block">
            </div>
            <p class="contact_tit">课程顾问会在48小时内联系您</p>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼亲子票2张</h3>
        </div>
    </div>
    <!-- <div class="tip tip-3">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>米老鼠公仔套餐</h3>
        </div>
    </div>
    <div class="tip tip-4">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>350元代金券</h3>
        </div>
    </div>
    <div class="tip tip-5">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>冰雪奇缘拉杆箱</h3>
        </div>
    </div>
    <div class="tip tip-6">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼保温杯</h3>
        </div>
    </div>
    <div class="tip tip-7">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼大礼包<span>（拉杆箱+公仔套装+水杯+遮阳帽）</span></h3>
        </div>
    </div>
    <div class="tip tip-8">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>550元代金券</h3>
        </div>
    </div> -->
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于奖品：</li>
      <li>
        <ul>
          <li>• 实物奖品包括：</li>
          <li>【迪士尼亲子票2日游】2张</li>
          <li>迪士尼大礼包【拉杆箱+公仔套装+水杯+遮阳帽】</li>
          <li>米老鼠公仔套装；</li>
          <li>迪士尼保温杯水壶；</li>
          <li>冰雪奇缘拉杆箱 ；</li>
          <li>• 代金券仅限在购买课程时使用</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>
<!-- <div class="dialog4" id="dialog4">
    <div class="add_info">
      <a href="javascript:;"><img src="<%= imagessrc%>disney_english_bg.png"></a>
      <a href="javascript:;" class="close"></a>
    </div>
</div> -->

<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
</body>
</html>

<script type="text/javascript" src="../../../js/html/project/prize_landing03/jQueryRotate.min.js"></script>
<script type="text/javascript" src="../../../js/html/project/prize_landing03/prize.js"></script>