<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>51Talk-无忧英语</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
  <div class="container" data-init="index">
     <header>
       <img src="<%=imagessrc%>banner.jpg" class="width100" />
     </header>
     <section class="scholar">
         <div class="l_title">
            <h2>百万奖学金 限时领</h2>
         </div>
         <div class="scholar_list">
            <a href="javascript:;" class="scholar500"></a>
            <a href="javascript:;" class="scholar800"></a>
            <a href="javascript:;" class="scholar1000"></a>
         </div>
     </section>
     <section class="group">
        <div class="l_title">
            <h2>口碑之选 热门课程</h2>
         </div>
         <div class="group_list">
            <div class="list">
               <div class="pic">
                 <img src="<%=imagessrc%>group_pic.jpg" class="width100" />
               </div>
               <div class="intro">
                  <h3>180次学习套餐</h3>
                  <span>￥8798</span>
                  <a href="javascript:;" class="goBuy">一键购买</a>
               </div>
            </div>
            <div class="list">
               <div class="pic">
                 <img src="<%=imagessrc%>group_pic.jpg" class="width100" />
               </div>
               <div class="intro">
                  <h3>180次学习套餐</h3>
                  <span>￥8798</span>
                  <a href="javascript:;" class="goBuy">一键购买</a>
               </div>
            </div>
            <div class="list">
               <div class="pic">
                 <img src="<%=imagessrc%>group_pic.jpg" class="width100" />
               </div>
               <div class="intro">
                  <h3>180次学习套餐</h3>
                  <span>￥8798</span>
                  <a href="javascript:;" class="goBuy">一键购买</a>
               </div>
            </div>
            <div class="list">
               <div class="pic">
                 <img src="<%=imagessrc%>group_pic.jpg" class="width100" />
               </div>
               <div class="intro">
                  <h3>180次学习套餐</h3>
                  <span>￥8798</span>
                  <a href="javascript:;" class="goBuy">一键购买</a>
               </div>
            </div>
         </div>
         <div class="readMore">
            <a href="javascript:;"></a>
         </div>
     </section>
     <footer>
        Copyright©北京大生知行科技有限公司
     </footer>
     <div class="mask"></div>
      <div class="scholarship">
        <div class="wincon">
          <i class="borderleft"></i>
          <i class="borderright"></i>
          <a href="javascript:;" class="close"></a>
          <div class="top"></div>
          <div class="main">
                <em>恭喜您</em>成功领取<span class="price">1000元</span>奖学金,
          已放入您的站内信，购买课程时可
          直接使用哦!
          </div>
          <div class="bot"></div>
        </div>
      </div>
  </div>
  <script type="text/javascript" src="<%= jssrc%>"></script>
</body>
</html>