<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<div class="header_top">
	<div class="header">
	  <a href="javascript:;" class="hr-lt">
	    <i></i>
	    <b><span>外教1对1</span>在线英语教育领导品牌</b>
	    <!-- 青少 -->
	    <b class="qs-tit hide">外教1对1，在家学英语</b>
	  </a>
	  <div class="hr-rt">
	    <div class="rt-top">
	      <ul>
	        <li><span class="rt_username">hi,studentstudenthw</span> &nbsp;<a href="http://www.51talk.com/trial/index" title="会员中心">会员中心</a>&nbsp;&nbsp;<a href="/index/logout" title="退出">退出</a></li>
	        <li><a href="javascript:;">登录</a></li>
	        <li><a href="javascript:;">免费注册</a></li>
	        <li><a href="javascript:;">企业培训</a></li>
	        <li class="jsMore">
	          <a href="javascript:;">微博</a>
	          <!-- 微博弹层 -->
	          <div class="weibo jsUl">
	            <a href="javascript:;"></a>
	          </div>    
	        </li>
	        <li class="jsMore">
	          <a href="javascript:;">微信</a>
	          <!-- 微信弹层 -->
	          <div class="weixin jsUl">
	            <a href="javascript"><img src="<%= imagessrc%>/top_weixin.png" alt=""></a>
	          </div>
	        </li>
	        <li></li>
	      </ul>
	    </div>
	    <span><i></i>4000-51-51-51</span>
	  </div>
	</div>
	<div class="two_code"><img src="<%= imagessrc%>/erwei.jpg" alt=""></div>
</div>
<div class="content">
	<div class="title tit1"></div>
	<div class="content_big">
		<div class="content_left left1"></div>
		<div class="content_right"><img src="<%= imagessrc%>/two_code.png" alt=""></div>
		<ul class="content_bottom bot1">
			<li class=" bot1">
				<div>
					<img src="<%= imagessrc%>/img1.jpg" alt="" />
					
				</div>
				<p class="one_line">乐高经典创意桶</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img2.jpg" alt="" />
					
				</div>
				<p class="two_line">磁力棒儿童益智玩具(818件)</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img3.jpg" alt="" />
					
				</div>
				<p class="two_line">牛津阅读书<br/>原版1-3年级</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img4.jpg" alt="" />
					
				</div>
				<p class="one_line">磁力积木（92片）</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img5.jpg" alt="" />
					
				</div>
				<p class="two_line">牛津树英语<br/>原版4-6年级</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img7.jpg" alt="" />
					
				</div>
				<p class="one_line"> 乐高lego拼装玩具</p>
			</li>
			<li class="bot1">
				<div>
					<img src="<%= imagessrc%>/img6.jpg" alt="" />
					
				</div>
				<p class="two_line">酷喜乐彩铅<br/>专业绘画笔48色</p>
			</li>
			<li class="bot1 last ">
				<div>
					<img src="<%= imagessrc%>/img8.jpg" alt="" />
					
				</div>
				<p class="two_line">木村耀司<br/>双肩包书包</p>
			</li>
		</ul>
	</div>
</div>
<div class="content">
	<div class="title tit2"></div>
	<div class="content_big">
		<div class="content_left left2"></div>
		<div class="content_right"><img src="<%= imagessrc%>/two_code2.png" alt=""></div>
		<ul class="content_bottom">
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img9.jpg" alt="" />
					
				</div>
				<p class="one_line black">思维龙操作板游戏卡</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img10.jpg" alt="" />
					
				</div>
				<p class="two_line black">磁力棒儿童益智玩具
（240件)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img11.jpg" alt="" />
					
				</div>
				<p class="two_line black">逻辑狗第三阶段<br/>
(精装带操作板)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img12.jpg" alt="" />
					
				</div>
				<p class="two_line babi black">玩芭比娃娃<br/>
创意服饰礼盒</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img13.jpg" alt="" />
					
				</div>
				<p class="two_line black">逻辑狗第四阶段<br/>
(精装带操作板)</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img14.jpg" alt="" />
					
				</div>
				<p class="two_line black">卡西欧运动<br/>
中小学生手表</p>
			</li>
			<li class="bot2">
				<div>
					<img src="<%= imagessrc%>/img15.jpg" alt="" />
					
				</div>
				<p class="one_line black">牛津书虫 2级</p>
			</li>
			<li class="bot2 last">
				<div>
					<img src="<%= imagessrc%>/img16.jpg" alt="" />
				</div>
				<p class="two_line black">马可彩铅专业<br/>
绘画笔72色</p>
			</li>
		</ul>
	</div>
</div>
<div class="content">
	<div class="title tit3"></div>
	<div class="content_big">
		<div class="content_left left3"></div>
		<div class="content_right"><img src="<%= imagessrc%>/two_code3.png" alt=""></div>
		<ul class="content_bottom">
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img17.jpg" alt="" />
					
				</div>
				<p class="two_line">英文原版5册绘本<br/>
（适合3-6岁）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img18.jpg" alt="" />
					
				</div>
				<p class="two_line">进口3d多层立体拼图<br/>
（适合3-6岁）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img19.jpg" alt="" />
					
				</div>
				<p class="two_line">原版英语绘本12册<br/>
（适合小学生）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img20.jpg" alt="" />
					
				</div>
				<p class="two_line">乐高创意百变组<br/>
（适合小学生</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img21.jpg" alt="" />
					
				</div>
				<p class="one_line">DIY拼装模型</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img22.jpg" alt="" />
					
				</div>
				<p class="two_line">世界经典文学名著<br/>
（套装10册）</p>
			</li>
			<li class="bot3">
				<div>
					<img src="<%= imagessrc%>/img23.jpg" alt="" />
					
				</div>
				<p class="one_line">韩版书包</p>
			</li>
			<li class="bot3 last">
				<div>
					<img src="<%= imagessrc%>/img24.jpg" alt="" />
				</div>
				<p class="two_line">马克彩砖专业<br/>
绘画笔48色</p>
			</li>
		</ul>
	</div>
</div>
<div class="content_1">
</div>
<div class="content_2">
</div>
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>

</body>
<% include ../common/uc_bottom.ejs %>