<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>friendCircle.css">
</head>
<body data-init="circleLibrary" class="weixin_circle">
    <input type="hidden" data-id="" id="data-id">
    <input type="hidden" wechat-id="" id="wechat-id">
    <div class="clear-fix heck_center heck_center_600">

        <div class="content">
            <div class="already_send_mes circleLibrary">
                <div class="already_mes already_img_mes">
                    <div class="paddings">
                        <div class="persondetail">
                            <div class="detail-left"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58"></div>
                            <div class="detail-right">
                                <p>名字信息</p>
                                <p>2016-12-20 10:09</p>
                            </div>
                        </div>
                        <ul class="clear-fix">
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                        </ul>
                        <p class="copy_mes"><span>使用此条朋友圈</span></p>
                    </div>
                </div>
                <div class="already_mes already_img_mes">
                    <div class="paddings">
                        <div class="persondetail">
                            <div class="detail-left"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58"></div>
                            <div class="detail-right">
                                <p>名字信息</p>
                                <p>2016-12-20 10:09</p>
                            </div>
                        </div>
                            <P class="text">51Talk无忧英语，在线英语培训，外教1对1。8400多名专业外教在线授课。课程包括：职场英语、成人英语、小学英语、青少英语等。最新力荐：青少全能新概念，听说读写 会考试！培养双优！</P>

                            <p class="copy_mes"><span>使用此条朋友圈</span></p>
                        </div>
                    </div>
                <div class="already_mes already_img_mes">
                    <div class="paddings">
                        <div class="persondetail">
                            <div class="detail-left"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58"></div>
                            <div class="detail-right">
                                <p>名字信息</p>
                                <p>2016-12-20 10:09</p>
                            </div>
                        </div>
                        <ul class="clear-fix">
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                            <li><img src="<%= imagessrc%>account_img2.png"></li>
                        </ul>
                        <p class="copy_mes"><span>使用此条朋友圈</span></p>
                    </div>
                </div>
                <div class="already_mes already_img_mes">
                    <div class="paddings">
                        <div class="persondetail">
                            <div class="detail-left"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58"></div>
                            <div class="detail-right">
                                <p>名字信息</p>
                                <p>2016-12-20 10:09</p>
                            </div>
                        </div>
                        <P class="text">51Talk无忧英语，在线英语培训，外教1对1。8400多名专业外教在线授课。课程包括：职场英语、成人英语、小学英语、青少英语等。最新力荐：青少全能新概念，听说读写 会考试！培养双优！</P>

                        <p class="copy_mes"><span>使用此条朋友圈</span></p>
                    </div>
                </div>
                <!--<div class="already_mes already_article_mes">-->
                    <!--<div class="persondetail">-->
                        <!--<div class="detail-left"><img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=4044263107,811056825&fm=58"></div>-->
                        <!--<div class="detail-right">-->
                            <!--<p>名字信息</p>-->
                            <!--<p>2016-12-20 10:09</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<P class="text">51Talk无忧英语，在线英语培训，外教1对1。8400多名专业外教在线授课。课程包括：职场英语、成人英语、小学英语、青少英语等。最新力荐：青少全能新概念，听说读写 会考试！培养双优！</P>-->
                    <!--<div class="clear-fix article">-->
                        <!--<img src="<= imagessrc%account_img2.png">-->
                        <!--<p class="arc_title">希拉里教女有方，郭德纲笑了！！</p>-->
                    <!--</div>-->
                    <!--<p class="copy_mes"><span>使用此条朋友圈</span></p>-->
                <!--</div>-->
                <!--<div class="already_mes already_text_mes">-->
                    <!--<div class="time time_icon_close">10月1日  21:30 -->
                    <!--</div>-->
                    <!--<P class="text">51Talk无忧英语，在线英语培训，外教1对1。8400多名专业外教在线授课。课程包括：职场英语、成人英语、小学英语、青少英语等。最新力荐：青少全能新概念，听说读写 会考试！培养双优！</P>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <!-- 绑定弹层 -->
    <div class="load_up">
        <div>图片上传中。。。</div>
    </div>   
</body>
<% include ../common/bottom.ejs %>
