<% include ../common/top.ejs %>
<body>
	<section >
		<!-- 头部banner -->
		<article class="top" id="container" data-init="index">
			<article class="topT">
				<img src="<%= imagessrc%>top_banner.jpg"  class="topImg" alt="">
				<a href="javascript:;" name="back_top"></a>
				<p class="tit">Register and start teaching in 1 day</p>
			</article>
		</article>
		<!-- 头部banner结束 -->
		<!-- 表单提交 -->
	    <div class="send_box">
			<form action="/landing/togetherWork/" method="post" id='reg1_form'>
				<div class="group group-1">
					<div class="show">
						<span><i>*</i>First Name</span>
						<div class="show2">
							<input type="text" id="first_name" name="first_name" placeholder="请输入您的First Name"/>
							<p class="u-err-1">First Name不能为空</p>
							<p class="u-err-2">First Name格式不正确</p>
						</div>
					</div>
				</div>
				<div class="group group-2">
					<div class="show">
						<span><i>*</i>Last Name</span>
						<div class="show2">
							<input type="text" id="last_name" name="last_name" placeholder="请输入您的Last Name"/>
							<p class="u-err-1">Last Name不能为空</p>
							<p class="u-err-2">Last Name格式不正确</p>
						</div>
						
					</div>
				</div>
				<div class="group group-3">
					<div class="show">
						<span class="l_height"><i>*</i>Mobile Number</span>
						<div class="show2">
							<input type="text" name="mobile" id="mobile" placeholder="请输入您的手机号">
							<p class="u-err-1">手机号不能为空</p>
							<p class="u-err-2">手机号格式不正确</p>
						</div>
					</div>
				</div>
				<div class="group group-4">
					<div class="show">
						<span class="l_height"><i>*</i>Email Address</span>
						<div class="show2">
							<input type="text" name="e_mail" id="e_mail" placeholder="请输入您电子邮箱">
							<p class="u-err-1">电子邮箱不能为空</p>
							<p class="u-err-2">电子邮箱格式不正确</p>
						</div>
					</div>
				</div>
				<div class="group group-5">
					<div class="show">
						<span><i>&nbsp;</i>Skype</span>
						<div class="show2">
							<input type="text" name="skype" id="skype" placeholder="请输入您Skype">
						</div>
					</div>
				</div>
				<div class="group group-6">
					<div class="show">
						<span class="l_height"><i>*</i>Teaching Experience</span>
						<div class="show2">
							<select id="tea_experience" name="tea_experience">
								<option>Select</option>}
								<option value="1">1年</option>
								<option value="2">2年</option>
								<option value="3">3年</option>
								<option value="4">4年</option>
								<option value="5">5年</option>
								<option value="6">6年</option>
							</select>
							<p class="u-err-1">教学经验不能为空</p>
						</div>		
					</div>
				</div>
				<div class="group group-7">
					<div class="show">
						<span><i>&nbsp;</i>Internet</span>
						<div class="show2">
							<select id="internet" name="internet">
								<option>Internet</option>}
								<option value="1">Internet1</option>
								<option value="2">Internet2</option>
								<option value="3">Internet3</option>
								<option value="4">Internet4</option>
								<option value="5">Internet5</option>
								<option value="6">Internet6</option>
							</select>
						</div>
					</div>
				</div>
				<div class="group group-8">
					<div class="show">
						<span class="l_height"><i>*</i>Referrer's Name</span>
						<div class="show2">
							<input type="text" name="rename" id="rename" placeholder="请输入介绍人名字">
							<p class="u-err-1">介绍人名字不能为空</p>
						</div>
					</div>
				</div>
				<div class="send">
					<a href="javascript:;" class="send_now">Submit</a>
				</div>
			</form>
		</div>
		<!-- 表单提交结束 -->
		<!-- 加入51开始 -->
		<div class="join_51">
			<p class="tit1">Why You Should Join 51Talk</p>
			<p class="tit2">As a Home-Based Online English Teacher</p>
			<ul class="point_box">
				<li>
					<img src="<%= imagessrc%>point01.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Earn More</p>
							<p class="tit-2">Earn as much as Php 80,000 monthly.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point02.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Experience Comfort<br/>and Convenience</p>
							<p class="tit-2">Teach, learn and earn right from the comfort of your home.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point03.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Level Up and Learn</p>
							<p class="tit-2">Maximize your learning experience with our free trainings.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point04.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Discover a Different Culture</p>
							<p class="tit-2">Explore a new culture through interesting exchanges between you and our Asian learners.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 加入51结束 -->
		<!-- 李娜展示开始 -->
		<div class="lina_box">
			<img src="<%= imagessrc%>lina.jpg" class="lina_img" alt="" >
		</div>
		<!-- 李娜展示结束 -->
		<!-- 底部的join us 按钮 -->
		<div class="join_us">
			<div class="tea_box">
				<div class="teafirst">
					<div>
						<img src="<%= imagessrc%>51.png" alt="" class="p_1">
						<a href="javascript:;" class="link_img"><img src="<%= imagessrc%>tea1.jpg" alt=""></a>	
					</div>
					<div>
						<a href="javascript:;" class="link_img"><img src="<%= imagessrc%>tea2.jpg" alt=""></a>
						<img src="<%= imagessrc%>join.png" alt="" class=p_2>
					</div>
				</div>
				<div class="teasecond">
					<div>
						<img src="<%= imagessrc%>talk.png" alt="" class=p_3>
						<a href="javascript:;" class="link_img"><img src="<%= imagessrc%>tea3.jpg" alt=""></a>
					</div>
					<div>
						<a href="javascript:;" class="link_img"><img src="<%= imagessrc%>tea4.jpg" alt=""></a>
						<img src="<%= imagessrc%>us.png" alt="" class="p_4">
					</div>
				</div>
			</div>
			<a href="#back_top" class="btn_join">Join us</a>
		</div>
	</section>
</body>
<% include ../common/bottom.ejs %>