<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<div class="years-mian" id="container"  data-init="prize">
  <div class="banner">
    <div class="widthMain">
      <img src="<%= imagessrc%>years_nav.jpg">
     </div>
  </div>
  <!-- <div class="bubble"></div> -->
  <div class="subject">
    <div class="widthMain">
    <!-- 领劵购物 -->
      <div class="coupon">
        <div class="years-title">
          <img src="<%= imagessrc%>years_tit01.png" class="lt-img">
        </div>
        <div class="receive" data-receive-url="active.com">
          <ul>
            <li class="rece-img01" data-rece-name="300"><span class="on"></span></li>
            <li class="rece-img02" data-rece-name="500"><span></span></li>
            <li class="rece-img03" data-rece-name="800"><span></span></li>
          </ul>
        </div>
        <div class="rect-tit">
          <p class="p-title">优惠券使用规则：</p>
          <ul>
            <li>本活动优惠券有效时间为：2017.06.28至2017.7.2。</li>
            <li>每单限用一张优惠券，一次性使用，不得找零。</li>
            <li>不可与其它优惠券叠加使用。</li>
            <li>如购课时未使用本活动优惠券，则视为自动放弃。</li>
            <li>本活动优惠券不可退换，超过有效时间将无法使用。</li>
            <li>本活动优惠券与账户绑定，不可转让，不可提现。</li>
          </ul>
        </div>
      </div>
    <!-- /领劵购物 -->
    <!-- 爆款专区 -->
      <div class="burst">
        <div class="years-title">
          <img src="<%= imagessrc%>years_tit02.png" class="lt-img">
        </div>
        <div class="burst-cont">
          <ul>
            <li>
              <dl>
                <dt>
                  <img src="<%= imagessrc%>years_cls_img01.jpg">
                  <img src="<%= imagessrc%>years_img_log.png" class="years-log">
                  <div class="years-img-bj">报名即赠送48节优选公开课</div>
                </dt>
                <dd class="des">180次最佳学习效果套餐<span>(有效期360天)</span></dd>
                <dd class="price">￥7599<span>￥8599</span></dd>
                <dd><a href="javascript:;" data-point="nor" data-id="333217" data-cart='{"id":333217,"price":"5799","package":"0","cash_card":"0","point_type":"ct","point_value":"1","expire_days":"365"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <img src="<%= imagessrc%>years_cls_img02.jpg">
                  <img src="<%= imagessrc%>years_img_log.png" class="years-log">
                  <div class="years-img-bj">报名即赠送72节优选公开课 </div>
                </dt>
                <dd class="des">270次最佳学习效果套餐<span>(有效期360天)</span></dd>
                <dd class="price">￥10699<span>￥12699</span></dd>
                <dd><a href="javascript:;" data-point="nor" data-id="49167" data-cart='{"id":49167,"price":"4088","package":"450","cash_card":"0","point_type":"point","point_value":" 90 ","expire_days":"180"}' data-text="购&nbsp;买" class="buy u-btn jsPre active"></a></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <img src="<%= imagessrc%>years_cls_img03.jpg">
                  <img src="<%= imagessrc%>years_img_log.png" class="years-log">
                  <div class="years-img-bj">报名即赠送48节优选公开课 </div>
                </dt>
                <dd class="des">18单元青少经典英语<span>(有效期360天)</span></dd>
                <dd class="price">￥6299<span>￥6999</span></dd>
                <dd><a href="javascript:;"  class="buy u-btn jsPre active" data-point="nor" data-id="69077" data-cart='{"id":69077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" ></a></dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt>
                  <img src="<%= imagessrc%>years_cls_img04.jpg">
                  <img src="<%= imagessrc%>years_img_log.png" class="years-log">
                  <div class="years-img-bj">报名即赠送72节优选公开课 </div>
                </dt>
                <dd class="des">27单元青少经典英语<span>(有效期360天)</span></dd>
                <dd class="price">￥9799<span>￥7099</span></dd>
                <dd><a href="javascript:;"  class="buy u-btn jsPre active" data-point="nor" data-id="89077" data-cart='{"id":89077,"price":"14666","package":"3600","cash_card":"0","point_type":"month","point_value":" 24 ","expire_days":"720"}' data-text="购&nbsp;买" ></a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    <!-- /爆款专区 -->
    <!-- 抽奖区 -->
      <div class="lottery">
        <div class="years-title">
          <img src="<%= imagessrc%>years_tit03.png" class="lt-img">
        </div>
        <div class="rota">
          <div class="rota-rt">
            <div class="bj-cls-img"><img src="<%= imagessrc%>years_cls_bj.png" class="years-bj-cls"></div>
            <ul class="name">
              <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
              <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
              <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
              <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
              <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
              <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
            </ul>
            <ul class="title">
              <li>活动规则：</li>
              <li>1. 抽奖时间：6月7日00：00~6月11日23：59。</li>
              <li>2. 抽奖规则：每人均有3次初始抽奖机会，每求助一位好友，可增加一次抽奖机会，同一好友不能重复赠送。</li>
              <li>3. 领取奖品方式：抽中实物奖品后，请正确填写邮寄信息，否则视为自动放弃奖品。</li>
              <li>4. 实物奖品将在活动结束后20个工作日内发放完毕。</li>
              <li>5. 实物奖品港澳台及国外不包邮。</li>
              <li>6. 如发现任何违规行为，则抽取的奖品将统一清零。</li>
              <li>7. 奖品图案仅供参考，以实物为主。</li>
              <li>8. 活动所有解释权归51Talk所有。</li>
            </ul>
          </div>
          <div class="dial-bg">
            <div class="pointer" data-url="url"></div>
            <div class="rotate" ><img id="rotate" src="<%= imagessrc%>years_dial_rotate.png" alt="dial"/></div>
          </div>
        </div>
        <div class="apport">您共有<span class="lottery-times">0</span>次抽奖机会</div>
        <div class="apport-tit">(分享好友可以增加抽奖机会哦~)</div>
      </div>
    <!-- /抽奖区 -->
    <!-- 我的奖品 -->
      <div class="showArea">
        <div class="years-title">
          <img src="<%= imagessrc%>years_tit04.png" class="lt-img">
        </div>
        <div class="won-prize" style="display:block;">  
          <!-- 默认显示 -->
          <div class="won-center" style="display:none;">
            <p>您还未参加抽奖，大奖正在等你哦！</p>
            <img src="<%= imagessrc%>price_img_wait.png" class="p-show-img">
          </div>
          <!-- 默认显示 end-->
          <div class="won-center won-center-show" style="display:block;">
            <p>恭喜您获得:<span id="layer-prize">360手表一只</span></p>
            <img src="<%= imagessrc%>price_img3.png" class="p-show-img">
          </div>
        </div>
      </div>
    <!-- /我的奖品 -->
    <!-- 51talk品牌故事 -->
    <div class="brand-story">
      <div class="years-title">
        <img src="<%= imagessrc%>years_tit05.png" class="lt-img">
      </div>
      <ul>
        <li>
          <img src="<%= imagessrc%>lina.png">
          <p class="ts">李娜</p>
          <p>国际网坛巨星 51Talk梦想代言人</p>
          <p>"学英语和打网球一样，需要和真人外教1对1的练。</p>
          <p>51Talk做到了让每个普通人都能平等地拥有这样</p>
          <p>的语言环境。"</p>
        </li>
        <li>
          <img src="<%= imagessrc%>xuxiaoping.png">
          <p class="ts">徐小平</p>
          <p>真格基金创始人、新东方联合创始人</p>
          <p>"想要全球Walk，请来51Talk"</p>
        </li>
      </ul>
    </div>
     <!-- /51talk品牌故事 -->
     <!-- add img -->
    <div class="years-show-img">
      <ul>
        <li><img src="<%= imagessrc%>1.png"></li>
        <li><img src="<%= imagessrc%>2.png"></li>
        <li><img src="<%= imagessrc%>3.png"></li>
        <li><img src="<%= imagessrc%>4.png"></li>
        <li><img src="<%= imagessrc%>5.png"></li>
        <li><img src="<%= imagessrc%>6.png"></li>
      </ul>
    </div>
    <!-- /add img -->
     </div>
  </div>
</div>
<!-- 微信分享 -->
<div class="wechat">
  <a href="javascript" class="sha-img sFied"  shareContent="我在51Talk和老外1对1在线聊天..." shareLink="http://www.51talk.com?66"></a>
    <ul class="bdsharebuttonbox bdshare-button-style0-16">
      <li>
        <a href="javascript:;" class="bds_weixinF weiXin" data-cmd="weixin" title="微信">
          <!-- <div class="code"><img src="<%= imagessrc%>year_weixin.png"></div> -->
        </a>
      </li>
      <li><a href="javascript:;" class="bds_tsina sina" data-cmd="tsina" title="分享到新浪微博"></a></li>
      <li><a href="javascript:;" class="bds_qzone qq" data-cmd="qzone" title="分享到QQ空间"></a></li>
    </ul>
    <div class="app">
      <img src="<%= imagessrc%>years_share_img.png">
    </div>
</div>
<!-- /微信分享 -->
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>


<!-- 购物车 -->
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
<form id="form-cart" name="point_form" action="/pay/order" method="post" target="_blank">
  <div class="m-cart" id="cart" style="right:-255px; " ><!-- right从 0 到 -251  -->
    <input type="hidden" name="cart" value='{"cart":[],"package":"off","earphone":"off"}'>
    <div class="cart-hd"><em class="jsCount">0</em></div>
    <div class="cart-bd"><!-- width从 0 到 251  -->
      <div class="cart-in">
        <div class="title">我的购物车（<em class="jsCount">0</em>）
          <div class="u-pages">
            <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
            <span class="crt"><em class="jsPageNow">1</em><em>/</em><em class="jsPageCount">1</em></span>
            <a class="next dis-next" href="javascript:void(0)">&gt;</a>
          </div>
        </div>
        <div class="products">
            <div class="jsWrap">
            </div>
        </div>
        <div class="addeds" style="visibility: hidden;">
            <dl class="product">
                <a class="s-fc6" href="#level">立即购买配套教材，学习效果更佳！</a>
            </dl>
            <dl class="product">
                <dt class="added">
                    <label class="u-lab jsPackageLabel">
                        <input class="f-dn" type="checkbox" name="package">

                        <span class="u-txt">+<em class="jsPackage">0</em>元，您还可以选购<a href="javascript:;">电话包</a></span>
                    </label>
                </dt>
            </dl>
            <dl class="product" style="border-top: 1px solid rgb(228, 234, 238);">
                <dt class="added">
                <label class="u-lab jsEarphoneLabel">
                    <input class="f-dn" type="checkbox" name="earphone">
                   
                    <span class="u-txt" data-cart="">+50元，选购高保真耳麦(双插头)</span>
                </label>
                </dt>
            </dl>
            <p class="differ" style="display:none;">补差价金额：
                <em class="jsMinuend">10288</em>&nbsp;-&nbsp;
                <em class="jsMeiosis">3588</em>&nbsp;=&nbsp;
                <em class="jsDifference">6700</em>
            </p>
        </div>
        <div class="total-orders">订单总金额：<em class="jsTotal" data-total="5799">23045</em></div>
        <div class="total-orders-stagin" style="display: none;">金额总计：<em class="jsTotal" data-total="5799"></em></div>
        <div class="submit">
          <input class="button jsSubmit" type="submit" value="提交订单" style="width: 117px;">
        </div>
      </div>
    </div>
  </div>
</form>  

<!-- /m-cart -->
<!-- 购物车 -->

<!-- 弹出窗 -->
<!-- 立即领取 -->
<div class="dialog recWin">
  <div class="info">
    <div class="del" id="diaDel"><img src="<%= imagessrc%>years_deleted_f.png"></div>
    <div class="title">
      <span class="font">恭喜您</span>
      成功领取<span class="money">300</span>元奖学金,已放入您的站内信，购买课程时可直接使用哦!
    </div>
  </div>
</div>
<!-- 立即领取 -->
<!-- 中奖次数 -->
<div class="dialog numAwards">
  <div class="info">
    <div class="del" id="diaDel"><img src="<%= imagessrc%>years_deleted.png"></div>
    <div class="title">
      <span>0</span>
      <span class="font">抽奖次数</span>
      快去向好友求抽奖机会吧！
    </div>
  </div>
</div>
<!-- 中奖次数 -->
<!-- 中奖 -->
<div class="dialog years-prize">
  <div class="info">
    <div class="del"><img src="<%= imagessrc%>years_deleted.png"></div>
    <div class="conent">
      <div class="show-prize">
        <img src="<%= imagessrc%>price_img1.png" class="p-show-img" data-prize-img="1">
        <img src="<%= imagessrc%>price_img2.png" class="p-show-img" data-prize-img="2">
        <img src="<%= imagessrc%>price_img3.png" class="p-show-img" data-prize-img="3">
        <img src="<%= imagessrc%>price_img4.png" class="p-show-img" data-prize-img="4">
        <img src="<%= imagessrc%>price_img5.png" class="p-show-img" data-prize-img="5">
        <img src="<%= imagessrc%>price_img6.png" class="p-show-img" data-prize-img="6">
      </div>
      <p class="word">恭喜获得：<span id="dialog-prize">360手表一只</span></p>
      <div class="show-form">
        <p class="font-s">请填写奖品邮寄地址</p>
        <p>＊请正确填写邮寄信息，未填写或填写错误，视为自动放弃奖品。</p>
        <ul>
          <li>
            <span>姓名：</span>
            <input type="text" class="username">
          </li>
          <li>
            <span>电话：</span>
            <input type="text" class="iphone">
          </li>
          <li>
            <span>联系地址：</span>
            <input type="text" class="adress">
          </li>
        </ul>
        <a href="javascript:;" class="years-submit">提交</a>
      </div>
    </div>
  </div>
</div>
<!-- 中奖 -->

<!-- 注册 -->
<div class="mask hide" id="mask"></div>
  <div class="openWidnow hide" id="openWidnow">
    <div class="window-title"><img src="<%= imagessrc%>years_logo.png"></div>
    <form action="../user/do_register.php" method="POST" id="RegForm1">
        <div class="window-form">
          <ul class="window-input">        
            <li>
              <label for="mobile3">
                  <input name="mobile3" id="mobile3" type="text" placeholder="请输入您的手机号" >
              </label>
            </li>
            <li class="imgCode">
              <label for="imgCode">
                <input class="tel_code" id="authCode" name="authCode" type="tel" placeholder="请输入图形验证码">
                <span class="code-btn">
                  <img id="verifycode" src="http://www.51talk.com/user/verify.php" height="46" width="128" onclick="this.src='http://www.51talk.com/user/verify.php'+'?a'+'='+new Date().getTime()" alt="单击更换验证码" title="单击更换验证码">
                </span>
                </label>
              </li>
            <li class="mobileCode"  data-url="/Ajax/sendSms">
              <label for="mobileCode">
                  <em class="tel_btns">获取验证码</em>
                  <input name="mobileCode3" id="mobileCode" type="text" placeholder="请输入验证码" >
              </label>
            </li>
            <li>
              <label for="password3">
                  <input name="password3" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck">
              </label>
            </li>
          </ul>
        </div>
        <div class="orderBtn2" id="orderBtn2">
          <a href="javascript:;"><input id="submit1" type="button" val="1" value="立即参加" class="jsSubmit" /></a>
        </div>
        <div class="form-btn">
          已有账号，立即<a href="javascript:;">登录</a>
        </div>
    </form> 
</div>
<!-- /注册 -->
</body>
<% include ../common/uc_bottom.ejs %>