<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>51Talk - The No.1 online English school in China</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="topTitle">
                <div class="logoBox">
                    <img src="<%= imagessrc%>logo.png">
                </div>
            </div>
            <div class="topBg">
                <div class="topDesc">
                    <h3 class='self_font_l'>Seamless teaching, <br/>worldwide impact</h3>
                    <a href="javascript:;">Apply Now</a>
                </div>
                <div class="priceDesc">
                 <p>Join the largest online English platform today</p>
                    <p>Earn up to <span>$22</span> per hour teaching English to kids!</p>
                </div>
            </div>
            <div class="topIntro">
                <ul class="list clearfix">
                    <li>
                        <h3><i></i><span>Simplicity & Comfort</span></h3>
                        <div class="desc">Teach lessons from your computer whenever your schedule allows, and earn money doing it.</div>
                    </li>
                    <li>
                        <h3><i></i><span>Seamless On-boarding & Support</span></h3>
                        <div class="desc">Get set up to teach with 51Talk quickly and easily, and count on constant and reliable assistance from our dedicated support team.</div>
                    </li>
                    <li class="last">
                        <h3><i></i><span>Teach & learn</span></h3>
                        <div class="desc">Excel in your profession by teaching students and positively affecting their lives, all while learning about a different culture.</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="intro">
            <div class="introBox">
                <div class="introDesc">
                    <h3>Who we are</h3>
                    <p>51Talk is the best and largest professional online English school in China. In June 2016, we became a publicly-listed company in the New York Stock Exchange.Our mission is to make quality education accessible and affordable and to enable students to talk to the world.</p>
                </div>
            </div>
        </div>
        <div class="join">
            <div class="joinDesc">
                <h3>Who You Should Join 51Talk?</h3>
                <div class="imgBox"></div>
            </div>
        </div>
        <div class="apply">
            <a href="javascript:;" class="btn">Apply Now</a>
        </div>
        <div class="teachers">
            <div class="teachBox">
                
                <div class="sliderBox">
                    <ul id="sliderList">
                        
                        <li>
                            <div class="leftPart">
                                <img src="<%= imagessrc%>tea1.jpg">
                                <h3>Kristin Lanae</h3>
                                <p>3 years teaching experience <br/>Deland, Florida</p>
                            </div>
                            <div class="rightPart">
                                <h3>“ I‘m proud of my students ”</h3>
                                <p>I love working at 51Talk which offers me a great platform to teach students from another country at home. Embracing online teaching, I can reach out more students. Watching them learn and grow makes me feel so proud! </p>
                            </div>
                        </li>
                        <li>
                            <div class="leftPart">
                                <img src="<%= imagessrc%>tea2.jpg">
                                <h3>Evan Furton</h3>
                                <p>2 years teaching experience <br/>Philadelphia, Pennsylvania</p>
                            </div>
                            <div class="rightPart">
                                <h3>“Learning about a different culture is fun”</h3>
                                <p>Teaching students from a different culture is challenging yet rewarding. This experience enriches my teaching. I love to help my 51talk students see their potential. It’s such a pleasure to teach and learn with them!</p>
                            </div>
                        </li>
                        <li>
                            <div class="leftPart">
                                <img src="<%= imagessrc%>tea3.jpg">
                                <h3>Tiffani Hope</h3>
                                <p>8 years teaching experience <br/>Farmington, Utah</p>
                            </div>
                            <div class="rightPart">
                                <h3>“My overseas students enhance my passion for teaching”</h3>
                                <p>It is a wonderful experience to show my passion for teaching to my overseas students. They are active and eager to learn. 51Talk is a great organization, and I am thankful for being part of the 51 community. </p>
                            </div>
                        </li>
                        <li>
                            <div class="leftPart">
                                <img src="<%= imagessrc%>tea4.jpg">
                                <h3>Skyler Harris</h3>
                                <p>2 years teaching experience <br/>Salt Lake City, Utah.</p>
                            </div>
                            <div class="rightPart">
                                <h3>“51Talk is already teaching for the future”</h3>
                                <p>51Talk is already teaching for the future. We're reinventing language learning every day.Teaching English has never been so accessible!</p>
                            </div>
                        </li>
                        <li>
                            <div class="leftPart">
                                <img src="<%= imagessrc%>tea5.jpg">
                                <h3>Jennifer Rose</h3>
                                <p>13 years teaching experience <br/>Ontario, Canada</p>
                            </div>
                            <div class="rightPart">
                                <h3>“ I get to help children each day”</h3>
                                <p>I joined the 51Talk team this year and I love the experience. 51talk is doing its best to support each kid whether it’s a small child beginning his or her first words or a 10-year-old acquiring a second language for social opportunities and educational opportunities.  </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <a href="javascipt:;" class="swiperBtn prev" id="prev"></a>
                <a href="javascipt:;" class="swiperBtn next" id="next"></a>
            </div>
        </div>
        <div class="looking">
            <div class="lookBox">
                <h3>What we are looking for?</h3>
                <p>We’re looking for experienced teachers who love working with children. 51Talk teachers love to make learning fun, and they bring excitement and energy to every lesson!</p>
                <p>Here are our basic requirements:</p>
                <ul>
                    <li>
                        <i></i>Bachelor's Degree
                    </li>
                    <li>
                        <i></i>Experience teaching K-12 (preferred)
                    </li>
                    <li>
                        <i></i>Excellent social skills, professionalism and patience
                    </li>
                    <li>
                        <i></i>Availability to teach at least 7.5 hours per week (each lesson lasts 25 minutes) whenever
                    </li>
                    <li>
                         <i></i>you’re available during the following times:
                    </li>
                </ul>
                <ul class="list-2">
                    <li>
                       -6am - 10am EST (Monday to Friday)
                    </li>
                    <li>
                        -10pm - 10am EST (Saturday to Sunday)
                    </li>
                </ul>    
            </div>
        </div>
        <div class="howApply">
            <div class="applyBox">
                <h3 class="title">How to apply?</h3>
                <div class="stepBox">
                    <div class="steps">
                        <span>step1</span>
                        <span>step2</span>
                        <span>step3</span>
                        <span>step4</span>
                        <span class="lastSpan">step5</span>
                    </div>
                    <img class="stepImg" src="<%= imagessrc%>applyRoute.png" alt="">
                    <ul class="list clearfix">
                        <li class="one">
                            <h3>Register online</h3>
                            <p>Fill out the online <br/>application form.</p>
                        </li>
                        <li class="two">
                            <h3>Interview</h3>
                            <p>Online interview and <br/>the teaching demo</p>
                        </li>
                        <li class="three">
                            <h3>Orientation</h3>
                            <p>Complete the orientation.<br/>Submit the necessary <br/>requirements and sign the <br/>service agreement.</p>
                        </li>
                        <li class="four">
                            <h3>Training and Onboarding</h3>
                            <p>Complete the New Teacher<br/>Training , System Navigation <br/>Training (Onboarding)</p>
                        </li>
                        <li class="five">
                            <h3>Launching</h3>
                            <p>Start your home-based<br/>online class.</p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="apply">
            <a href="javascript:;" class="btn">Apply Now</a>
        </div>
        <div class="contact">
            <div class="contactBox">
                <div class="titleBox clearfix">
                    <div class="left">
                        <h3 class="title">LET’S BE FRIENDS</h3>
                        <div class="imgs">
                            <a href="https://twitter.com" target="_blank" class="twitter"></a>
                            <a href="https://www.facebook.com" target="_blank" class="facebook"></a>
                        </div>
                    </div>
                    <div class="right">
                        <h3 class="title">CONTACT US</h3>
                        <h3 class="tel">+1 855 354 3777 </h3>
                        <a href="mailto: teacher_recruitment@51Talk.com">teacher_recruitment@51Talk.com</a>
                    </div>
                </div>
                <p>51Talk  English  intemational. Inc .      2016 ALL Right  Reserved</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../../js/html/project/usEmploy/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/html/project/usEmploy/index.js"></script>
</body>
</html>