<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="flbreg">
	 <article>
	 		<header>
	 			<img src="<%=imagessrc%>fr_banner.jpg" alt="" class="imgShow"  />
	 			<a href="http://www.baidu.com"><img src="<%=imagessrc%>join-us.png" class="join"></a>
	 		</header>
			<section class="fr_reg">
				<form>
					<div class="fr_regIn" id="back_top">
				  		<div class="fr_regGroup">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Full Name
				  			</div>
				  			<div class="fr_reg_ct">
				  				<input type="text" name="first_name" placeholder="First Name" />
				  				<div class="fr_tip fr_tip1"></div>
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="last_name" placeholder="Last Name" />
				  			</div>

				  		</div>
				  		<div class="fr_regGroup fr_name2">
				  			<div class="fr_reg_lf fr_lpart">
				  			<span class="mustFill">*</span>
				  				Email Address 
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="email" placeholder="XXXX@gmail.com" />
				  				<div class="fr_tip fr_tip2"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_single fr_lpart">
				  				<span class="mustFill">*</span>
				  				Skype ID
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="skype" placeholder="XXXXXXXXX" />
				  				<div class="fr_tip fr_tip4"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name2">
				  			<div class="fr_reg_lf fr_lpart">
				  				<span class="mustFill">*</span>
				  				Telephone No.
				  			</div>
				  			<div class="fr_reg_rt">
				  				<input type="text" name="mobile" placeholder="XXXXXXXXX" />
				  				<div class="fr_tip fr_tip3"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_single fr_lpart fr_new_lf">
				  				<span class="mustFill">*</span>
				  				Kids Teaching Experience   
				  			</div>
				  			<div class="fr_reg_rt new-r">
				  				<select class="new-r experience">
				  					<option >Select</option>
				  					<option value="5">None</option>
				  					<option value="16">Current K-12 Teacher</option>
				  					<option value="17">Previous K-12 Teacher</option>
				  				</select>
				  				<div class="fr_tip fr_tip7"></div>
				  			</div>
				  		</div>
				  		<div id="yearsTeaching" class="fr_regGroup fr_name1" style="display:none;">
				  			<div class="fr_reg_lf fr_single fr_lpart fr_new_lf">
				  				<span class="mustFill">*</span>
				  				Years of Teaching  
				  			</div>
				  			<div class="fr_reg_rt new-r">
				  				<select class="new-r teacherYear">
				  					<option>Select</option>
				  					<option value="0">Less than 1 year</option>
				  					<option value="1">1-3 years</option>
				  					<option value="2">3-5 years</option>
				  					<option value="3">5-10 years</option>
				  					<option value="4">10 years above</option>
				  				</select>
				  				<div class="fr_tip fr_tip7"></div>
				  			</div>
				  		</div>				  		
				  		<div class="fr_regGroup fr_name1">
				  			<div class="fr_reg_lf fr_lpart fr_new_lf">
				  				<span class="mustFill">*</span>
				  				Preferred Interview Date<br/>(New York Time) 
				  			</div>
				  			<div class="fr_reg_rt new-r">
				  				
				  				<input style="width:7.8rem;"  type="date" min="2016-11-9" value="" class="fr_reg_rt new-r" readonly name="appDate" id="appDate">
				  				<div class="fr_tip fr_tip7"></div>
				  			</div>
				  		</div>
				  		<div class="fr_regGroup fr_regGroup_last fr_name3">
				  			<div class="fr_reg_lf fr_single fr_lpart  fr_last fr_new_lf">
				  			  <span class="mustFill">*</span>
				  				Preferred Interview Time<br/>(New York Time)   
				  			</div>
				  			<div  class="fr_reg_rt fr_last_select new-r">
				  				<select class="new-r" style="margin-left:0.1rem;">
				  					<option>Select</option>
				  					<option>Select</option>
				  					<option>Select</option>
				  				</select>
				  				<div class="fr_tip fr_tip8"></div>
				  			</div>
				  		</div>

							<div class="fr_submit">
								<a href="javascript:;" id="fr_submit">Submit</a>
							</div>
				  		<!-- fr_regIn  end -->
					</div>
				</form>
			</section>
				
						<!-- 加入51开始 -->
		<div class="join_51">
			<p class="tit1">Why You Should Join 51Talk</p>
			<p class="tit2">As a Home-Based Online English Teacher</p>
			<ul class="point_box">
				<li>
					<img src="<%= imagessrc%>point01.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Generous Compensation</p>
							<p class="tit-2">Earn Up to $22/h Over $2000 per month.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point02.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Experience Comfort<br/>and Convenience</p>
							<p class="tit-2">Teach, learn and earn right from the comfort of your home.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point03.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Level Up and Learn</p>
							<p class="tit-2">Maximize your learning experience<br/> with our professional training.</p>
						</div>
					</div>
				</li>
				<li>
					<img src="<%= imagessrc%>point04.png" alt="">
					<div class="m-txt">
						<div>
							<p class="tit-1">Discover a Different Culture</p>
							<p class="tit-2">Explore a new culture through interesting</br>exchanges between you and our learners.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<!-- 加入51结束 -->
		<!-- 李娜展示开始 -->
		<div class="lina_box">
			<img src="<%= imagessrc%>who.png" class="lina_img" alt="" >
			<img src="<%= imagessrc%>lina.jpg" class="lina_img" alt="" >
		</div>
		<!-- 李娜展示结束 -->
		<!-- 底部的join us 按钮 -->
		<div class="join_us">
			<h2>Welcome To 51Talk</h2>
			<div class="title">Show the World the Best of You</div>
			<div class="teacher">
				<img src="<%= imagessrc%>teacher.jpg">
			</div>
			<div class="describe">
				<p class="p1">As a full-time teacher, I can work at 51Talk part-time from the comfort of my own home. As a busy mother, it’s great for me and my whole family.”</p>
				<p class="p2">- Jen G., 6 years of teaching experience</p>
			</div>
			<a href="#back_top" class="btn_join"><img src="<%= imagessrc%>join_51.png" /></a>
		</div>
		<footer class="footer">
			<img src="<%= imagessrc%>bottom_log.png">
		</footer>
	 </article>
	 <div class="mask"></div>
	 <div class="dialog">
	 	<div class="oops">
	 		<img src="<%= imagessrc%>oops.png" />
	 	</div>	
	 	<p>
	 		Thank you for your interest in applying for the Home-Based Online English Teacher post! 
However, we already have your information in the system.
For further assistance, please add <span>51TalkRecruitment-Helpdesk</span> on Skype.
	 	</p>
	 	<img class="close" src="<%= imagessrc%>close.png">
	 </div>
</body>
<script id="seajsnode" src="<%= jsPath%>jquery.1.7.2.min.js"></script>
<% include ../common/bottom.ejs %>