<% include ../common/top.ejs %>
<body>
	<section id="container" data-init="eng">
		<article class="top">
			<article class="topT">
				<img src="<%= imagessrc%>eth_nav.jpg"  class="topImg" alt="">
			</article>
			<a href="javascript:;" name="logIn"></a>
			<p class="top_t">填写信息，免费体验</p>
		</article>
			<article class="logIn">
			<form id="reg1_form">
				<ul class="OneS_logIn">
					<li>
						<input id="reg1_tel" type="tel" name="mobile" placeholder="输入您的手机号">
					</li>
					<li>
						<input id="" class="tel_code" name="mobile_code" type="tel" placeholder="请输入验证码">
						<span class="tel_btn">获取验证码</span>
					</li>
					<li>
						<input id="reg1_passwd" type="password" placeholder="设置您的密码">        
					</li>
					<li>
						<a id="reg1" href="#" >马上免费体验</a>
					</li>
			    </ul>
			</form>
		</article>
		<article class="center bg_c">
			<h3 class="centTit"><span class="c_t_bt">怎样学好英语</span><br><span class="c_t_bb">HOW TO LEARN ENGLISH WELL<i class="c_t_bs"></i></span></h3>
			<ul class="centList">
				<li>外教1对1</li>
				<li>高频次学习</li>
				<li>高性价比</li>
			</ul>
		</article>
		<article class="cer-img">
			<img src="<%= imagessrc%>eth_img01.jpg" alt="">
			<img src="<%= imagessrc%>eth_img02.jpg" alt="">
		</article>
		<article class="centerTt">
				<h3 class="centTit"><span class="c_t_bt">星光璀璨</span><br><span class="c_t_bb">THE STARS SHINING<i class="c_t_bs"></i></span></h3>
				<img src="<%= imagessrc%>general2.jpg" class="bottomImg" alt="">
		</article>
		<article class="centerT">
			<dl>
				<dt><img src="<%= imagessrc%>xux.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">徐小平<i class="centTL_r"></i></span><span class="centB">新东方联合创始人<i class="centB_r"></i></span></h3>
					<p class="centText">“要想全球walk，就来51Talk。让更多的人从51talk物美价廉的教学中获益。”</p>
				</dd>
			</dl>
		
		</article>
		
		<footer class="footer">
			<a href="#logIn" class="free">马上注册，体验免费外教课</a>
			<p>Copyright©北京大生知行科技有限公司</p>
		</footer>
	</section>
</body>
<% include ../common/bottom.ejs %>










