<% include ../common/top.ejs %>
<body>
	<section id="container" data-init="index">
		<!-- 头部banner -->
		<article class="top">
			<article class="topT">
				<img src="<%= imagessrc%>top_banner.jpg"  class="topImg" alt="">
			</article>
		</article>
	<!-- 发红包 -->
		<article>
			<div class="contentOne">
				<div>
					<img src="<%= imagessrc%>contentImg01.jpg"alt="">
				</div>
				<div class="receive-box">
					<img src="<%= imagessrc%>contentImg02.png" alt="">
					<p class="receive"  data-url="1111">领取</p>
				</div>
				<div>
					<img src="<%= imagessrc%>contentImg04.jpg" alt="">
				</div>
			</div>
		</article>
		<article class="contentTwo">
			<img src="<%= imagessrc%>caption02.jpg" alt="">
			<div class="best_teacher">
				<div class="teacher">
					<span class="time">7月12日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher01.jpg" alt="">
						<div class="details">
							<p class="tit01">唐长志<span>|</span>雅思口语“磁性”男神</p>
							<p class="tit02">雅思口语“磁性”男神的高分秘籍！</p>
							<p class="tit03"><span>课程干货：</span>“磁性”男神用一节课教你和雅思口语谈恋爱！从此，雅思口语不再是高傲的死对头，而是助你圆梦的知心爱人！</p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
				<div class="line">
					<img src="<%= imagessrc%>line.png" alt="">
				</div>
				<div class="teacher">
					<span class="time">7月14日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher05.jpg" alt="">
						<div class="details">
							<p class="tit01">周楠<span>|</span>英语界的papi酱</p>
							<p class="tit02">万千妈妈收藏的教育圣经</p>
							<p class="tit03"><span>课程干货：</span>一次课告诉你孩子学习的正确方式；一次课告诉进名校，你们和孩子该怎么做；一次课告诉你们培养孩子的终极目标是什么；一次课告诉你爸妈如何通过儿歌、绘本、故事帮助孩子学习；一次课告诉你如何科学的提高孩子的词汇量。这一次课，承载太多，说尽教育孩子那点事！</p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
				<div class="line">
					<img src="<%= imagessrc%>line.png" alt="">
				</div>
				<div class="teacher">
					<span class="time">7月19日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher02.jpg" alt="">
						<div class="details">
							<p class="tit01">苏佩雯<span>|</span>港普和英文更配哦</p>
							<p class="tit02">满分托福口语大揭秘</p>
							<p class="tit03"><span>课程干货：</span>“一次课告诉你口语六道题的注意事项；一次课告诉你ETS的评分机制与方法；一次课告诉你你的口语弱点在哪儿；一次课告诉你高效备考口语方法！别等了，再等可能错过申请学校了！我的碗里来吧！Cheers Dear！</p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
				<div class="line">
					<img src="<%= imagessrc%>line.png" alt="">
				</div>
				<div class="teacher">
					<span class="time">7月21日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher04.jpg" alt="">
						<div class="details">
							<p class="tit01">沈静<span>|</span>与之轻聊几句，便得开悟的名师！</p>
							<p class="tit02">英语材料那么多，能挑会用有门道！</p>
							<p class="tit03"><span>课程干货：</span>撷两段经典，取几句时文，沈老师教你解析词句之精妙，于赏析之中达成实用之功效。</p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
				<div class="line">
					<img src="<%= imagessrc%>line.png" alt="">
				</div>
				<div class="teacher">
					<span class="time">7月26日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher03.jpg" alt="">
						<div class="details">
							<p class="tit01">曲琼琼<span>|</span>集美貌才华与一身的女汉子</p>
							<p class="tit02">你没听过的新概念</p>
							<p class="tit03"><span>课程干货：</span>一节课，探秘经典教材背后的故事；一节课，把握经典教材的清晰逻辑；一节课，知悉新概念的价值所在；一节课，让你捧腹大笑学到high；一切干货尽在这节课！</p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
				<div class="line">
					<img src="<%= imagessrc%>line.png" alt="">
				</div>
				<div class="teacher">
					<span class="time">7月28日</span>
					<div class="message">
						<img src="<%= imagessrc%>teacher06.jpg" alt="">
						<div class="details">
							<p class="tit01">Cyndi Hao<span>|</span>51Talk 超级辣妈</p>
							<p class="tit02">你没听过的新概念</p>
							<p class="tit03"><span>课程干货：</span>0-10岁青少家长必看宝典；<br/>
							辣妈养娃记 - 说英文从妈妈做起；<br/>
							辣妈养娃记 - 和孩子一起看电影；<br/>
							辣妈养娃记 - 和孩子一起听音乐；<br/>
							辣妈养娃记 - 和孩子一起读书； <br/>
							辣妈养娃记 - 和孩子一起画画；<br/>
							辣妈养娃记 - 适合女孩子的“爱探险的朵拉”;<br/>
							辣妈养娃记 - 适合男孩子的“小熊维尼系列”;<br/>
							辣妈养娃记 - “辣妈说”课程开讲啦。 </p>
							<p class="tit04"><span>开课时间：</span>19：30——20：20<a href="javascript:;" class="send_btn02">赶紧抢座</a></p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<footer>
			<p class="bottom">Copyright©北京大生知行科技有限公司</p>
		</footer>
	</section>
</body>
<% include ../common/bottom.ejs %>