<div class="footer">
	<div class="wrap">
		<!-- 底部链接 -->
		<div class="footer-nav">
			<a href="javascript:;">关于我们</a>
			<a href="javascript:;">加入我们</a>
			<a href="javascript:;">企业培训</a>
			<a href="javascript:;">网站地图</a>
		</div>
		<!-- 友情链接 -->
		<div class="link">
			<h2 class="title">
				<em>友情链接</em>
			</h2>
			<a href="javascript:;">普特英语听力</a>
			<a href="javascript:;">原版英语学习网</a>
			<a href="javascript:;">中国英语网</a>
			<a href="javascript:;">网上书店</a>
			<a href="javascript:;">记忆力</a>
			<a href="javascript:;">尚友留学</a>
			<a href="javascript:;">传课网</a>
			<a href="javascript:;">php教程</a>
			<a href="javascript:;">留学</a>
			<a href="javascript:;">广东人事考试网</a>
			<a href="javascript:;">高考录取分数线</a>
			<a href="javascript:;">小马过河</a>
			<a href="javascript:;">英语教师网</a>
			<a href="javascript:;">楷维留学指南</a>
			<a href="javascript:;">留学咨询</a>
			<a href="javascript:;">英语在线学习</a>
			<a href="javascript:;">英语听力</a>
			<a href="javascript:;">voa英语学习网</a>
			<a href="javascript:;">企业培训</a>
			<a href="javascript:;">广东招生考试网</a>
			<a href="javascript:;">家教网</a>
			<a href="javascript:;">北京一对一辅导</a>
			<a href="javascript:;">教师网</a>
			<a href="javascript:;">中国艺考网</a>
			<a href="javascript:;">高思教育</a>
			<a href="javascript:;">求艺网</a>
			<a href="javascript:;">小学生作文</a>
			<a href="javascript:;">新东方在线高考</a>
			<a href="javascript:;">给力英语网</a>
			<a href="javascript:;">好学教育</a>
			<a href="javascript:;">培训网</a>
			<a href="javascript:;">高顿网校</a>
			<a href="javascript:;">英语学科网</a>
			<a href="javascript:;">华考范文网</a>
			<a href="javascript:;">学校大全</a>
			<a href="javascript:;">21世纪秘书网</a>
			<a href="javascript:;">公务员之家</a>
			<a href="javascript:;">调研报告</a>
			<a href="javascript:;">学习方法</a>
			<a href="javascript:;">育儿</a>
			<a href="javascript:;">成语大全</a>
			<a href="javascript:;">中国外语人才网</a>
			<a href="javascript:;">英语书籍</a>
			<a href="javascript:;">考研</a>
			<a href="javascript:;">在职研究生</a>
			<a href="javascript:;">爱思英语网</a>
			<a href="javascript:;">远程教育</a>
			<a href="javascript:;">企业培训</a>
			<a href="javascript:;">百利天下留学</a>
			<a href="javascript:;">在线翻译</a>
			<a href="javascript:;">语文迷</a>
			<a href="javascript:;">教师招聘考试</a>
			<a href="javascript:;">事业单位招聘网</a>
			<a href="javascript:;">英国留学</a>
			<a href="javascript:;">移民家园网</a>
			<a href="javascript:;">英文阅读网</a>
			<a href="javascript:;">可可英语</a>
		</div>
		<!-- 认证列表 -->
		<div class="list">
			<a href="javascript:;"><img src="<%=imagessrc%>fot_certif01.jpg"></a>
			<a href="javascript:;"><img src="<%=imagessrc%>fot_certif02.jpg"></a>
			<a href="javascript:;"><img src="<%=imagessrc%>fot_certif03.jpg"></a>
			<a href="javascript:;"><img src="<%=imagessrc%>fot_certif04.jpg"></a>
		</div>
		<!-- copyright -->
		<div class="copyright">
			Copyright©北京大生知行科技有限公司
			<em>|</em>
			<a href="javascript:;">隐私声明</a>
			<em>|</em>
			<a href="javascript:;">用户协议</a>
			<em>|</em>
			<a href="javascript:;">京ICP证110696号</a>
			<a href="javascript:;">京ICP备11031999号</a>
			京公网安备11010802018414号
		</div>
	</div>
</div>
<script src="<%= jssrc%>"></script>