<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英语学习</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
    <div class="contain" id="container" data-init="taiwan_landing">
        <div class="header">
            <a href="javascript:;" class="btn-tiyan">馬上免費體驗</a>
        </div>
        <div class="content">
            <div class="advantage">
                <ul class="list clearfix" id="advList">
                    <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">純外教</span></li>
                    <li class="fl"><i class="taboff1"></i><span>短時高頻</span></li>
                    <li class="fl"><i class="taboff2"></i><span>1對1授課</span></li>
                    <li class="fl last"><i class="taboff3"></i><span>性價比高</span></li>
                    <em class="sanjiao tab_sanjiao0" id="sanjiao"></em>
                </ul>
                <div class="advantage_desc clearfix">
                    <img src="<%= imagessrc%>/computer.jpg" class="adv_img">
                    <div class="adv_wordIntro">
                        <div class="blank"></div>
                        <div class="tabDivs" id="tabDivs">
                            <div class="tabDesc">
                                <h3>5000多名外教任您選擇</h3>
                                <p>純外教授課，為您提供沉浸式的母語環境， 告別中式英語，建立英語思維。</p>
                            </div>
                            <div>
                                <h3>每課25分鐘高頻學習</h3>
                                <p>每課25分鐘，隨時隨地利用碎片時間約課上課，短時高頻學習好過週末突擊。</p>
                            </div>
                            <div>
                                <h3>與外教更強互動式學習</h3>
                                <p>外教投入100%注意力，與您在課堂上進行互動練習，一節課您有超過50%的時間開口說英文。</p>
                            </div>
                            <div>
                                <h3>每節課低至15元</h3>
                                <p>15元——在所有學習英語的困難中​​，價格是最不應該成為阻力，來51Talk給你最超值體驗。</p>
                            </div>
                        </div>
                        <a href="javascript:;" class="expriceBtn clearfix">
                            <span>馬上免費體驗</span>
                            <i></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="adultJun">
            <div class="courses clearfix">
                <div class="adultCourse">
                    <div class="courseImg">
                        <img src="<%= imagessrc%>/adult_pic.jpg" alt="">
                    </div>
                    <div class="couseTypeBox">
                        <ul class="couseType clearfix">
                            <li>商務英語</li>
                            <li>雅思口語</li>
                            <li>51Talk經典英語</li>
                            <li>旅遊英語</li>
                            <li>托福口語</li>
                        </ul>
                    </div>
                    <div class="listenBtnBox">
                        <a href="javascript:;" class="listenBtn">免費試聽</a>
                    </div>
                </div>
                <div class="juniorCourse">
                    <div class="courseImg">
                        <img src="<%= imagessrc%>/young_pic.jpg" alt="">
                        <div class="couseTypeBox2">
                            <ul class="couseType2 clearfix">
                                <li>劍橋青少</li>
                                <li>牛津青少 </li>
                                <li>51talk經典青少英語</li>
                                <li>分級閱讀</li>
                                <li>Phonics 自然拼讀</li>
                            </ul>
                        </div>
                    </div>
                    <div class="listenBtnBox">
                        <a href="javascript:;" class="listenBtn">免費試聽</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="content2">
            <div class="ad_title1">
                <img src="<%= imagessrc%>/ad_title1.png" class="ad_title1Img">
                <img src="<%= imagessrc%>/courseList.jpg" alt="" class="souceTable">
            </div>
            <div class="orderNow">
                <a href="javascript:;" class="orderNow_btn">馬上免費體驗</a>
            </div>
            <div class="ad_title2">
                <img src="<%= imagessrc%>/ad_title2.png" class="ad_title2Img">
            </div>
            <div class="lina_ad clearfix">
                <div class="linaImgBox fl">
                    <img src="<%= imagessrc%>/ad_person.jpg" class="linaImg">
                </div>
                <div class="linaDesc fr">
                    <div class="linaCard">
                        <h3>李娜&nbsp;Lina</h3>
                        <p>國際網壇巨星&nbsp;|&nbsp;51Talk夢想代言人</p>
                    </div>
                    <p class="linaWords">“學英語和打網球一樣,的1對1的多練。51Talk把語言環境送到身邊,我覺得每個人都有成功的機會。”</p>
                </div>
            </div>
            <div class="bossBox">
                <img src="<%= imagessrc%>/boss_desc.jpg" alt="" class="boss">
            </div>
        </div>
    </div>
    <div class="company">
        <h3>合作企業</h3>
        <p><a href="#"><img src="<%= imagessrc%>/xm.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/jd.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/zs.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/sony.jpg" alt=""></a>
        <a href="#"><img src="<%= imagessrc%>/zlw.jpg" alt=""></a></p>
    </div>
    <div class="footer">
        <div class="footer-inner">
              <div class="form">
                  <form action="../user/do_register.php" method="POST" id="RegForm3" name="RegForm" >
                        <ul class="clearfix">
                           <li><input name="user_name" id="user_name" type="text"  placeholder="請輸入您的郵箱"  class="jsCheck"/></li>
                          <li><input name="mobile" id="mobile"  type="text"  placeholder="請輸入您的手機號"  class="jsCheck"/></li>
                          <li><input  type="text" name="password" id="password" placeholder="請設置您的密碼"  class="jsCheck"/></li>
                          <li><input id="submit3" val="3" type="button" value="馬上註冊，體驗免費外教課" class="jsSubmit" /></li>
                        </ul>  
                  </form> 
              </div>
              <div class="copyright">Copyright©北京大生知行科技有限公司&nbsp;|&nbsp;隐私声明&nbsp;|&nbsp;用户协议&nbsp;|&nbsp;京ICP证110696号 京ICP备11031999号</div>
        </div>
    </div>
    <div class="mask" id="mask"></div>
    <div class="openWidnow" id="openWidnow">
          <div class="window-title">註冊立即獲贈價值188元的外教1對1體驗課一次，<br/> 並免費開通每月上百節的公開課體驗資格!
          </div>
          <form action="../user/do_register.php" method="POST" id="RegForm1">
              <div class="window-form">
                  <ul class="window-input">
                      <li><input name="user_name" id="user_name3" type="text" placeholder="請輸入您的郵箱" class="jsCheck"/></li>
                      <li><input  name="mobile" id="mobile3"  type="text" placeholder="請輸入您的手機號"  class="jsCheck"/></li>
                      <li><input name="password" id="password3" type="password" placeholder="請設置您的密碼"  class="jsCheck"/></li>
                     <!--  <li class="ageSelect">
                            <select name="occup" id="ageSel" class="ageSel jsCheck">
                                <option value="-1">学员年龄</option>
                                <option value="7">幼儿</option>
                                <option value="4">小学生</option>
                                <option value="6">初中生</option>
                                <option value="5">高中生</option>
                                <option value="2">大学生</option>
                                <option value="1">上班族</option>
                            </select>
                            <span class="similarSel" id="similarSel">学员年龄</span>
                            <span class="selOption" id="selOption"></span>
                            <div class="ageList" id="ageList">
                                <span num="7">幼儿</span>
                                <span num="4">小学生</span>
                                <span num="6">初中生</span>
                                <span num="5">高中生</span>
                                <span num="2">大学生</span>
                                <span num="1">上班族</span>
                            </div>
                      </li> -->
              </div>
              <div class="orderBtn2" id="orderBtn2">
                <a href="javascript:;"><input id="submit1" type="button" val="1" value="馬上免費體驗" class="jsSubmit" /></a>
                <p class="exprienceDesc">體驗後，您將獲得量身定制的專業測評報告。</p>
              </div>
          </form> 
    </div>
<script src="<%= jssrc%>"></script>
</body>
</html>