<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>51Talk-无忧英语</title>
    <script src="../../../js/wap/project/template_prize/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
<!-- 广告图 -->
<header class="header" id="container" data-init="index">
  <img src="<%= imagessrc%>jump-banner.jpg" class="banner">
</header>
<!-- /广告图 -->
<div class="j_tilte">
  <h2><img src="<%= imagessrc%>j_welfare.png" /></h2>
  <p>现金礼券+猎聘金卡会员  助你涨薪</p>
</div>
<!-- 抽奖 -->
<section class="rota">
  <!-- 隐藏域 -->
  <input id="login" type="hidden" value="0" />
  <input id="active" type="hidden" value="0" />
  <!-- 隐藏域 -->
  <div class="dial-bg" id="lottery" data-lottery-url="/Landing/dofestival">
    <ul class="l_grid clearfix">
      <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>prize01.png" alt=""></li>
      <li class="l_prize l_prize-1"><img src="<%= imagessrc%>prize02.png" alt=""></li>
      <li class="l_prize l_prize-2"><img src="<%= imagessrc%>prize03.png" alt=""></li>
      <li class="l_prize l_prize-7"><img src="<%= imagessrc%>prize08.png" alt=""></li>
      <li class="pointer"></li>
      <li class="l_prize l_prize-3"><img src="<%= imagessrc%>prize04.png" alt=""></li>
      <li class="l_prize l_prize-6"><img src="<%= imagessrc%>prize05.png" alt=""></li>
      <li class="l_prize l_prize-5"><img src="<%= imagessrc%>prize06.png" alt=""></li>
      <li class="l_prize l_prize-4"><img src="<%= imagessrc%>prize07.png" alt=""></li>
    </ul>
  </div>
  <div class="prize_list">
    <div class="caption">
      <img alt="" src="<%= imagessrc%>winning_record.png">
    </div>
    <div class="names">
      <ul class="name_list">
          <li><span>absefd01</span><b>抽中3张次卡</b></li>
          <li><span>songyueyang02</span><b>抽中100元代金卷</b></li>
          <li><span>二爷03</span><b>500元代金卷</b></li>
          <li><span>LULU04</span><b>3张次卡</b></li>
          <li><span>柳文锋05</span><b>3张次卡</b></li>
          <li><span>二爷06</span><b>500元代金卷</b></li>
          <li><span>LULU07</span><b>3张次卡</b></li>
          <li><span>柳文锋08</span><b>3张次卡</b></li>
          <li><span>柳文锋09</span><b>3张次卡</b></li>
          <li><span>二爷10</span><b>500元代金卷</b></li>
          <li><span>LULU11</span><b>3张次卡</b></li>
          <li><span>柳文锋12</span><b>3张次卡</b></li>
      </ul>
    </div>
  </div>
  <a href="javascript:;" class="l_btn" id="prize_log">查看我的中奖记录</a>
  <div class="rules">
    <div class="caption">
      <img src="<%= imagessrc%>title_rules.png" alt="">
    </div>
    <ul class="info">
      <li>1. 活动时间：2月20日-3月5日</li>
      <li>2. 活动期间，每位学员有一次抽奖机会，抽中实物奖品的同学，需购买6000元以上的套餐才能获得奖品</li>
      <li>3.抽奖的学员请登陆官网—账户设置—个人信息，填写名字、电话、邮寄地址，活动结束后20个工作日内寄出礼品</li>
      <li>4. 礼品图片仅供参考，最终礼品以实物为准</li>
      <li>5. 本活动最终解释权归51Talk所有</li>
      <li><a href="javascript:;" class="ruleBtn">什么是猎聘金卡会员权益？</a></li>
    </ul>
  </div>
</section>
<!-- /抽奖 -->
<!-- 最热销课程限量折扣 -->
<section class="hot-list">
 <!--  <div class="hot-caption">
    <img alt="" src="<%= imagessrc%>template_title01.png">
  </div> -->
  <div class="j_tilte j_offer">
    <h2><img src="<%= imagessrc%>j_title.png" /></h2>
    <p>提升英语水平 收获更好offer</p>
  </div>
  <div id="course" class="course_list">
    <div class="course-tit">职场新人专属</div>
    <ul>
      <li>
        <img alt="" src="<%= imagessrc%>s3.jpg">
        <div class="text">
          <p class="package_name">270次次卡学习套餐</p>
          <p class="desc">
            <span class="low">低至</span>
            <span class="price_new">￥8798</span>
            <span class="price_old">￥10388</span>
          </p>
        </div>
        <span class="label"><img src="<%= imagessrc%>template_adult.png"></span>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
      <li>
        <img alt="" src="<%= imagessrc%>s1.jpg">
        <div class="text">
          <p class="package_name">270次次卡学习套餐</p>
          <p class="desc">
            <span class="low">低至</span>
            <span class="price_new">￥8798</span>
            <span class="price_old">￥10388</span>
          </p>
        </div>
        <span class="label"><img src="<%= imagessrc%>template_youth.png"></span>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
    </ul>
    <div class="course-tit">白领进阶必备</div>
    <ul>
      <li>
        <img alt="" src="<%= imagessrc%>s3.jpg">
        <div class="text">
          <p class="package_name">270次次卡学习套餐</p>
          <p class="desc">
            <span class="low">低至</span>
            <span class="price_new">￥8798</span>
            <span class="price_old">￥10388</span>
          </p>
        </div>
        <span class="label"><img src="<%= imagessrc%>template_price.png"></span>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
      <li>
        <img alt="" src="<%= imagessrc%>s1.jpg">
        <div class="text">
          <p class="package_name">270次次卡学习套餐</p>
          <p class="desc">
            <span class="low">低至</span>
            <span class="price_new">￥8798</span>
            <span class="price_old">￥10388</span>
          </p>
        </div>
        <span class="label"><img src="<%= imagessrc%>template_youth.png"></span>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
    </ul>
  </div> 
  <div class="readMore">
      <a href="javscript:;">查看更多课程<i></i></a>
  </div>
</section>
<!-- /最热销课程限量折扣 -->
<!-- 转介绍模块 -->
<!-- <section class="introduce-list">
  <div class="hot-caption">
    <img alt="" src="<%= imagessrc%>template_title02.png">
  </div>
</section> -->
<!-- /转介绍模块 -->
<!-- 公开课限时抢 -->
<!-- <section class="openclass-list">
  <div class="hot-caption">
    <img alt="" src="<%= imagessrc%>template_title03.png">
  </div>
  <div class="course_list">
    <ul>
      <li>
        <img alt="" src="<%= imagessrc%>s3.jpg">
        <div class="label-time">11月15日 11:00-11:30</div>
        <div class="text">
          <p class="package_name">田涛<span>|</span>流利英语如何说精粹版</p>
          <p class="desc">
            <span class="price_new">￥1</span>
            <span class="price_old">￥103</span>
          </p>
        </div>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
      <li>
        <img alt="" src="<%= imagessrc%>s1.jpg">
        <div class="label-time">11月15日 11:00-11:30</div>
        <div class="text">
          <p class="package_name">田涛<span>|</span>流利英语如何说精粹版</p>
          <p class="desc">
            <span class="price_new">￥32</span>
            <span class="price_old">￥1088</span>
          </p>
        </div>
        <a href="www.baidu.com" class="btn_buy" data-status="1">一键抢购</a>
      </li>
    </ul>
  </div>
</section> -->
<!-- /公开课限时抢 -->
<!-- 名师介绍模块 -->
<!-- <section class="teacher-introduced">
  <div class="hot-caption">
    <img alt="" src="<%= imagessrc%>template_title04.png">
  </div>
  <div class="tea-list">
    <ul>
      <li>
        <img alt="" src="<%= imagessrc%>s1.jpg">
        <div class="text">
          <p class="package_name">苏佩雯<span>|</span>港普和英文更配哦</p> 
          <p class="content">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
          <a href="www.baidu.com" class="btn_buy" data-status="1">赶紧抢座</a>
        </div>
      </li>
      <li>
        <img alt="" src="<%= imagessrc%>s1.jpg">
        <div class="text">
          <p class="package_name">苏佩雯<span>|</span>港普和英文更配哦</p>
          <p class="content">留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，有多年口语教学经验，留学海归，多年口语教学。</p>
          <a href="www.baidu.com" class="btn_buy" data-status="1">赶紧抢座</a>
        </div>
      </li>
    </ul>   
  </div>
</section> -->
<!-- /名师介绍模块 -->
<!-- 代金券模块 -->
<!-- <section class="voucher">
  <div class="hot-caption">
    <img alt="" src="<%= imagessrc%>template_title05.png">
  </div>   
</section> -->
<!-- /代金券模块 -->

<!-- layer -->
<!-- 我的奖品 -->
<div class="dialog hide" id="dialog">
  <div class="zoomIn animated info">
    <div class="box">
      <a href="javascript:;" class="close"></a>
      <div class="detail">
        <img src="<%= imagessrc%>juan1_2.png" alt="">
        <img src="<%= imagessrc%>gkk_2.png" alt="">
        <img src="<%= imagessrc%>xiaomi_2.png" alt="">
        <img src="<%= imagessrc%>jdk2_2.png" alt="">
        <img src="<%= imagessrc%>juan2_2.png" alt="">
        <img src="<%= imagessrc%>jdk_2.png" alt="">
        <img src="<%= imagessrc%>yf_2.png" alt="">
        <img src="<%= imagessrc%>ipd_2.png" alt="">
      </div>
      <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
    </div>
  </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2 hide" id="dialog2">
  <div class="zoomIn animated tip tip-1 hide">
    <a href="javascript:;" class="close"></a>
    <div class="gold_box"></div>
    <div class="text text2">
        <h3>您还没有参与抽奖，快去抽奖吧！</h3>
    </div>
  </div>
  <div class="zoomIn animated tip tip-2 hide">
    <a href="javascript:;" class="close"></a>
    <div class="gold_box"></div>
    <div class="text text1">
      <p>您已获得</p>
      <h3></h3>
    </div>
  </div>
</div>
<!-- 提示框 -->
<div class="dialog3 hide" id="j_tip">
  <div class="zoomIn animated tip">
    <a href="javascript:;" class="close"></a>
    <div class="text">
    </div>
  </div>
</div>
<!-- layer -->
<!-- 猎聘弹窗 -->
<div class="rule-mask"></div>
<div class="rule-details">
  <h2>猎聘金卡会员权益</h2>
  <p>1、职业测评：根据专业的职业测评题目、精准的算法判断出与您性格相吻合的岗位及行业类别。<br />
2、简历置顶：简历被搜索时排名靠前，为您赢得职业发展先机。<br />
3、来电提醒：您的手机号码将被转化为400电话，猎头通过拨打400电话与您联系，保护个人隐私不被泄露。<br />
4、私信直达：与上万猎头进行在线沟通，无限次给猎头发私信。</p>
<i></i>
</div>
</body>
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>
