<% include ../common/top.ejs %>
<body>
	<section class="level-report" id="container" data-init="share">
		<section class="level adult-wrap">
			<section class="adult-level">
				<img src="<%= imagessrc%>adult.png" alt="">
				<div class="e-level e-level6">
					<p>您的级别<br /><span>Level5</span></p>
				</div>
			</section>
			<section class="level-item">
				<p>您的英语水平为初级，相当于欧洲语标 A2，托
福 0-56，雅思 3-4，托业350-550。</p>
			</section>
			<section class="level-item">
				<h3>生存英语</h3>
				<p>更为复杂的日常用语与对话训练，了解英语的基
本结构和语法，能够使用英语积极交流。</p>
			</section>
		</section>
		<section class="skills">
			<h3 class="skills-tit"><img src="<%= imagessrc%>analysis.png" alt=""></h3>
			<ul class="skill-list">
				<li>
					<h3 class="a-tit"><img src="<%= imagessrc%>a_tit1.png" alt=""></h3>
					<section class="a-score">
						<span class="color-y">1</span>
						<span class="color-y">2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
					</section>
					<p>有较多单词出现误读和发音错误</p>
					<span class="score"><em>2</em>分</span>
				</li>
				<li>
					<h3 class="a-tit"><img src="<%= imagessrc%>a_tit2.png" alt=""></h3>
					<section class="a-score">
						<span class="color-y">1</span>
						<span class="color-y">2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
					</section>
					<p>出现某些特定的语法错误或复杂的句型使用上的错误。</p>
					<span class="score"><em>2</em>分</span>
				</li>
				<li>
					<h3 class="a-tit"><img src="<%= imagessrc%>a_tit3.png" alt=""></h3>
					<section class="a-score">
						<span class="color-y">1</span>
						<span class="color-y">2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
					</section>
					<p>有时词汇使用已出现错误不够精准地道。</p>
					<span class="score"><em>2</em>分</span>
				</li>
				<li>
					<h3 class="a-tit"><img src="<%= imagessrc%>a_tit4.png" alt=""></h3>
					<section class="a-score">
						<span class="color-y">1</span>
						<span class="color-y">2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
					</section>
					<p>进行复杂交流时，表达不够流畅，逻辑性和连贯性较低。</p>
					<span class="score"><em>2</em>分</span>
				</li>
				<li>
					<h3 class="a-tit"><img src="<%= imagessrc%>a_tit5.png" alt=""></h3>
					<section class="a-score">
						<span class="color-y">1</span>
						<span class="color-y">2</span>
						<span>3</span>
						<span>4</span>
						<span>5</span>
					</section>
					<p>当语速较快，生僻词较多，语法结构复杂，话题不熟悉的情况下存在理上的偏差。</p>
					<span class="score"><em>2</em>分</span>
				</li>
			</ul>
		</section>
		<section class="e-comment">
			<img src="<%=imagessrc%>e-comment.png" class="title" />
			<dl> 
				<dt>
					<img src="<%=imagessrc%>e-favicon.png" class="favicon" />
					<p>Robert</p>
				</dt>
				<dd>
					<p>Dear,smith</p>
					<p>
							What a nice student! Your lovely singing 
							will surely hepi you learn English well. 
							Also you particpated happily and brought.
					</p>
				</dd>
			</dl>
		</section>
		<section class="bottom">
			<p><a href="javascript:;">下一步</a></p>
		</section>
	</section>
</body>
<% include ../common/bottom.ejs %>