<% include ../common/top.ejs %>
<body>
<section class="weixin-share" data-init="share">
	<!-- 头部 start -->
	<header class="topbar">
		<section class="topbar-logo">
			<section class="topbar-logo__talklogo">
				<img src="<%=imagessrc%>51talk_logo.png" alt="完成一节1对1课程">
			</section>
			<section class="topbar-logo__usalogo">
				<img src="<%=imagessrc%>usa_logo.png" alt="完成一节1对1课程">
			</section>
		</section>
		<section class="topbar-info">
			<h2>美国纽交所上市公司</h2>
			<h3>NYSE: COE</h3>
		</section>
	</header>
	<!-- 头部 end -->
	<!-- 学生信息 start -->
	<section class="userinfo">
		<section class="userinfo-header">
			<section class="userinfo-header__bg">
				<section class="userinfo-header__bg__img">
					<img src="<%=imagessrc%>user.jpg" alt="这是随便拿来的图片，不要介意">
				</section>
			</section>
			<section class="userinfo-header__name">Bubble</section>
			<section class="userinfo-header__classes"></section>
		</section>
		<section class="userinfo-title">
			<img src="<%=imagessrc%>topbar_text.png" alt="完成一节1对1课程">
		</section>
		<section class="userinfo-complete">
			<dl>
				<dt>
					<em>42</em>节
				</dt>
				<dd>1对1外教</dd>
			</dl>
			<dl>
				<dt>
					<img src="<%=imagessrc%>trophy.png">
				</dt>
				<dd>已完成</dd>
			</dl>
			<dl>
				<dt>
					<em>3</em>小时
				</dt>
				<dd>累计说英语</dd>
			</dl>
		</section>
	</section>
	<!-- 学生信息 end -->
	<!-- 学到了什么 start -->
	<section class="learned">
		<h3 class="commont-title">本节课学到了</h3>
		<section class="learned-info">
			<!-- 三种都存在 -->
			<ul class="clearfix all">
				<li>
					<h1>8</h1>
					<p>单词</p>
				</li>
				<li>
					<h1>6</h1>
					<p>句子</p>
				</li>
				<li>
					<h1>1</h1>
					<p>歌谣</p>
				</li>
			</ul>
			<!-- 存在两种 -->
			<ul class="clearfix two" style="display:none;">
				<li>
					<h1>8</h1>
					<p>单词</p>
				</li>
				<li>
					<h1>6</h1> 
					<p>句子</p>
				</li>
			</ul>
			<!-- 只存在一种 -->
			<ul class="clearfix one" style="display:none;">
				<li>
					<h1>6</h1>
					<p>句子</p>
				</li>
			</ul>
		</section>
		<section class="learned-notice">
			<h4>需要注意的发音</h4>
			<ul class="clearfix">
				<li>
					<h5>help</h5>
					<p>英 /haa/   美  /haa/</p>
				</li>
				<li>
					<h5>help</h5>
					<p>英 /haa/   美  /haa/</p>
				</li>
				<li>
					<h5>help</h5>
					<p>英 /haa/   美  /haa/</p>
				</li>
				<li>
					<h5>help</h5>
					<p>英 /haa/   美  /haa/</p>
				</li>
				<li>
					<h5>help</h5>
					<p>英 /haa/   美  /haa/</p>
				</li>
			</ul>
		</section>
		<section class="learned-comment">
			<h4>外教老师评语</h4>
			<section class="learned-comment__text">
				<section class="learned-comment__text__en">
					Try to keep a vocabulary list to help expand your vocabulary. Try to explore more vocabulary, creating more complex sentences. Continue the hard work with you English studies
				</section>
				<p class="learned-comment__text__showmore">显示全部</p>
			</section>
		</section>
	</section>
	<!-- 学到了什么 end -->
	<!-- 学生的老师 start -->
	<section class="teacher">
		<h3 class="commont-title">看看Bubble的老师</h3>
		<section class="teacher-bg">
			<section class="teacher-bg__header">
				<img src="<%=imagessrc%>user.jpg" alt="这是随便拿来的图片，不要介意">
			</section>
			<section class="teacher-bg__name">Tim G</section>
			<section class="teacher-bg__tags">
				<!-- 三个标签存在 -->
				<ul class="clearfix all">
					<li>4年教课经验</li>
					<li>美国小学老师</li>
					<li>TESOL</li>
				</ul>
				<!-- 两个标签存在 -->
				<ul class="clearfix two" style="display:none;">
					<li>4年教课经验</li>
					<li>美国小学老师</li>
				</ul>
				<!-- 只有一个标签 -->
				<ul class="clearfix one" style="display:none;">
					<li>4年教课经验</li>
				</ul>
			</section>
		</section>
		<section class="teacher-comment">
			<section class="teacher-comment__text">
				Tim老师深受小朋友喜欢，他和蔼可亲、平易近人、教学方式灵活多样、课堂气氛非常活泼、善于正面引导和鼓励孩子们、耐心的纠正小朋友们的错误、用各种有趣的方式来激励小朋友们学习。来激励小朋友们学习
			</section>
	       <p class="teacher-comment__showmore">显示全部</p>
		</section>
	</section>
	<!-- 学生的老师 end -->
	<!-- advantage start -->
	<section class="advantage">
		<h3 class="commont-title">Bubble正在这里学习</h3>
		<section class="advantage-slogan clearfix">
			<h1><img src="<%=imagessrc%>talk_slogan.png"></h1>
			<section class="advantage-slogan__lst clearfix">
				<dl>
					<dt>
						<img src="<%=imagessrc%>slogan_01.jpg">
					</dt>
					<dd>纯正北美师资</dd>
				</dl>
				<dl>
					<dt>
						<img src="<%=imagessrc%>slogan_02.jpg">
					</dt>
					<dd>美式教育理念</dd>
				</dl>
				<dl>
					<dt>
						<img src="<%=imagessrc%>slogan_03.jpg">
					</dt>
					<dd>沉浸式教学</dd>
				</dl>
			</section>
		</section>
		<section class="advantage-dis">
			<h1>
				<img src="<%=imagessrc%>get.png">
			</h1>
			<section class="advantage-dis__lst">
				<dl>
					<dt>
						<img src="<%=imagessrc%>price.png">
					</dt>
					<dd>免费体验课</dd>
				</dl>
				<dl>
					<dt>
						<img src="<%=imagessrc%>discount.png">
					</dt>
					<dd>购买优惠</dd>
				</dl>
				<dl>
					<dt>
						<img src="<%=imagessrc%>class_hours.png">
					</dt>
					<dd>购买赠送</dd>
				</dl>
			</section>
		</section>
		<section class="advantage-guide">
			<h1>
				<img src="<%=imagessrc%>experience.png">
			</h1>
			<form action="http://wap.51talk.com/index/doRegister" id="register" method="post">
				<ul class="clearfix advantage-guide__reg" data-url="">
				    <input type="hidden" name="register_from" id="register_from" value="4141136">
					<li><label for="tel">手机号：</label><input type="tel" id="tel" name="mobile"></li>
					<li><label for="password">密   码：</label><input type="password" id="password" name="password"></li>
				</ul>
				<a href="javascript:;" class="advantage-guide__btn">免费领取288元体验课</a>
			</form>
			<section class="advantage-guide__tips">已有<em>2976</em>个宝贝 领取了美国小学体验课</section>
		</section>
	</section>
	<!-- advantage end -->
</section>
<section class="fixedbar">快来看看咱们家宝贝的英语水平吧！</section>
</body>
<script src="../../../js/wap/common/pind.js?v=1"></script>
<% include ../common/bottom.ejs %>