<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>51Talk - The No.1 online English school in China </title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
    <div id="container" data-init="switch"> 
        <div class="play">
          <ul class="pic">
            <li class="first">
              <img src="<%= imagessrc%>cj_banner01.jpg" alt="" class="p-img" width="1920" height="730">
              <span></span>
              <div class="c_logo">
                  <i></i>
              </div>
            </li>
            <li>
              <img src="<%= imagessrc%>cj_banner02.jpg" alt="" class="p-img" width="1920" height="730">
            </li>
            <div class="cj_join">
                <a href="javascript:;"></a>
            </div>
          </ul>
         <!--  <ul class="switch">
            <li class="crt"></li>
            <li></li>
          </ul>  -->
          <!-- 切换 -->
          <div class="sign-cha">
            <div class="centerMth">
              <!-- 左右切换 -->
              <div class="change">
                <a href="javascript:;" class="lt"><i></i></a>
                <a href="javascript:;" class="rt"><i></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- 轮播结束 -->
        <div class="cj_lina">
            <div class="cj_linaIn">
                <div class="cj_who">
                    <img src="<%= imagessrc%>cj-who.png" alt="">
                </div>
                <div class="lina">
                    <img src="<%= imagessrc%>lina.png" alt="">
                </div>
            </div>
        </div>
        <div class="cj_why">
            <img src="<%= imagessrc%>cj-why.png" alt="">
        </div>
        <div class="cj_what">
            <div class="cj-whatIn">
                <div class="cj_What">
                    <img src="<%= imagessrc%>cj_what.png" alt="">
                </div>
                <div class="cj_text">
                    <p class="p1">A native English speaker with a clear North American accent</p>
                    <p class="p2">Experienced in teaching young learners (Age 4-12)</p>
                    <p class="p3">A graduate with at least a 4-year Bachelor’s Degree</p>
                    <p class="p4">Teaching qualifications or TESOL/TEFL/CELTA/TKT/CETYL certificates or equivalence will be an advantage.</p>
                    <p class="p5"> Bachelor of Early Childhood Education/Elementary Education/Secondary Education will be an advantage.</p>
                </div>
            </div>
        </div>
        <div class="cj_bot">
             <a href="javascript:;"><img src="<%= imagessrc%>cj_btn.png" alt=""></a>
        </div>

    </div>
<script src="<%= jssrc%>"></script>
</body>
</html>
