<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk-无忧英语</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body id="landing">
	<section>
     <article><img src="<%= imagessrc%>l_img01.png" alt=""></article>
     <article><img src="<%= imagessrc%>l_img02.png" alt=""></article>
     <article><img src="<%= imagessrc%>l_img03.png" alt=""></article>
     <article><a href="#"><img src="<%= imagessrc%>l_img04.png" alt=""></a></article> 
     <article><a href="#"><img src="<%= imagessrc%>l_img05.png" alt=""></a></article>
     <article><a href="#"><img src="<%= imagessrc%>l_img06.png" alt=""></a></article>
     <article><img src="<%= imagessrc%>l_img07.png" alt=""></article>             
	</section>
</body>

</html>