<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语,网上真人外教一对一在线英语教育第一品牌</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
	<img src="<%= imagessrc%>top_null.jpg" alt="" height="0" width="0" style="float:left">
	<div class="year_red"  id="container" data-init="share">
		<img src="<%= imagessrc%>red_top.jpg" alt="">
		<div class="search_cont">
			<form  id="reg1_form">
				<ul class="search_list">
					<li><input type="tel" id="reg1_tel" placeholder="输入您的手机号"></li>
					<li><input type="password" id="reg1_passwd" placeholder="设置您的密码"></li>
					<li><a id="reg1" href="javascript:;">免费领取外教礼包</a></li>
				</ul>
			</form>
			<img src="<%= imagessrc%>drop_down.png" alt="" class="bottom_drop">
			<section class="img_cont hide">
				<img src="<%= imagessrc%>part1.gif" alt="" class="part1">
				<img src="<%= imagessrc%>part1_1.jpg" alt="" class="part1_1">
				<img src="<%= imagessrc%>part2.gif" alt="" class="part1">
				<img src="<%= imagessrc%>part2_1.jpg" alt="" class="part1_1">
				<img src="<%= imagessrc%>part3.gif" alt="" class="part1">
				<img src="<%= imagessrc%>part3_1.jpg" alt="" class="part1_1">
			</section>
			<section class="img_cont2">
				<img src="<%= imagessrc%>part1_j.jpg" alt="">
				<img src="<%= imagessrc%>part2_j.jpg" alt="">
				<img src="<%= imagessrc%>part3_j.jpg" alt="">
			</section>
		</div>
		<img src="<%= imagessrc%>bottom_bg.png" alt="" class="bottom_top">
		<img src="<%= imagessrc%>bottom_img.jpg" alt="">
		<div class="search_free">
			<form  id="reg2_form">
				<ul class="search_list">
					<li><input type="tel" id="reg2_tel" placeholder="输入您的手机号"></li>
					<li><input type="password" id="reg2_passwd" placeholder="设置您的密码"></li>
					<li><a id="reg2" href="javascript:;">免费领取礼包</a></li>
				</ul>
			</form>
			<p>购买任意套餐，可再免费获赠3节1对1外教课</p>
		</div>
	</div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>