<% include ../common/teen_top.ejs %>
<body>
<!-- 公共头 -->
  <div class="topWidth" id="container" data-init="teenagers">
    <div class="m_logo">
      <img src="<%= imagessrc%>/ten_logo.png" alt="" class="f_logo">
      <div class="ts">
        <span class="sp01">青少英语</span>
        <span class="sp02">外教1对1  在家学英语</span>
      </div>
      <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
    </div>
    <div class="m_header">
      <ul class="f_nav">
        <li class="itemW11 on"><a href="#">首页</a></li>                           
        <li><a href="#">3-6岁幼儿</a></li>
        <li><a href="#">7-9岁儿童</a></li>
        <li><a href="#">10-12岁少儿</a></li>
        <li><a href="#">13-15岁青少年</a></li>
      </ul>
    </div>
  </div>
<!-- 首页 -->
  <div class="youth">
    <div class="tenImg">
      <img src="<%= imagessrc%>/ten_img01.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn">马上免费预约</a> 
    </div>
    <div class="m_course minWidth">
      <h1 class="m_courseT">青少课程体系</h1>
      <p class="m_courseTe">Junior English Classes</p>
      <div class="m_courseL"></div>
      <ul class="m_courseList">
        <li class="m_courseI itemW21"> 
          <img src="<%= imagessrc%>/ten_limg01.jpg" alt="">
          <h3 class="m_courseIt">3-6岁</h3>
          <span class="m-cour">为孩子提供纯正英语环境，兴趣学习，启蒙预感。</span>
          <a href="#" class="m_more1">查看详情&gt;&gt;</a>
        </li>
        <li class="m_courseI itemW21"> 
          <img src="<%= imagessrc%>/ten_limg02.jpg" alt="">
          <h3 class="m_courseIt">7-9岁</h3>
          <span class="m-cour">培养孩子学习兴趣，与外教轻松交流，让孩子爱上英语。</span>
          <a href="#" class="m_more1">查看详情&gt;&gt;</a>
        </li>
        <li class="m_courseI itemW21"> 
          <img src="<%= imagessrc%>/ten_limg03.jpg" alt="">
          <h3 class="m_courseIt">10-12岁</h3>
          <span class="m-cour">优质外教，新概念升级版教材，孩子快乐学英语 小升初英语无压力。</span>
          <a href="#" class="m_more1">查看详情&gt;&gt;</a>
        </li>
        <li class="m_courseI itemW21"> 
          <img src="<%= imagessrc%>/ten_limg04.jpg" alt="">
          <h3 class="m_courseIt">13-15岁</h3>
          <span class="m-cour">初中应试 海外求学 中考冲刺 一课搞定 。</span>
          <a href="#" class="m_more1">查看详情&gt;&gt;</a>
        </li>
      </ul>
    </div>
    <div class="m_course minWidth">
      <h1 class="m_courseT">培养双优学员</h1>
      <p class="m_courseTe">Training Excellent Students</p>
      <div class="m_courseL"></div>
      <p class="m-ts">51Talk外教英语一对一教学不仅采用新概念教材有效提高学员英语成绩，还拥有兴趣教材综合提升学生英语能力，<br>让孩子不仅可以轻松应付考试，还可以学会如何应用英语。</p>
      <img src="<%= imagessrc%>/ten_ls.jpg">
    </div>
    <div class="p-cour">
      <div class="m_course minWidth">
        <h1 class="m_courseT">海量公开课学不停</h1>
        <p class="m_courseTe">Plenty of Open Courses</p>
        <div class="m_courseL"></div>
      </div>
      <div class="plen">
        <img src="<%= imagessrc%>/ten_limg.jpg">
        <a href="javascript:;" class="plen-btn">免费领取</a>  
      </div>
    </div>
    <div class="m_course minWidth">
      <h3 class="teacherT_tit"><img src="<%= imagessrc%>w_t_top1.jpg"></h3>
      <p class="teacherT_text"><a href="#"><img src="<%= imagessrc%>w_t_btn.jpg" class="wt_btn"></a></p>
      <ul class="teacherT_list">
        <li>
          <div class="teacherT_img teacherT_img1"></div>
          <h3>只用最顶尖的5%</h3>
          <p class="teacher_b">海外专业团队直接培训认证外教</p>
          <p class="teacher_c">51Talk拥有超过4000名经过严格考核优选的外教团队。只录取TOP 5%的优秀人才，发音标准，经验丰富。</p>
        </li>
        <li class="teacherT_l_w">
          <div class="teacherT_img teacherT_img2"></div>
          <h3>外教团队的精益求精</h3>
          <p class="teacher_b">外教培训, 教学研讨, 不断提升外教的教学能力</p>
          <p class="teacher_c">正式聘用后，每两周一次的在职培训，定期的教学研讨会和不定期的教学质量跟踪反馈系统都将时刻帮助老师进步，每一名51Talk的外教都会接受至少100个小时的专业培训。</p>
        </li>
        <li>
          <div class="teacherT_img teacherT_img3"></div>
          <h3>学员参与外教评价</h3>
          <p class="teacher_b">公开、公正的外教评价体系</p>
          <p class="teacher_c">每次上课结束后，学员都可以对老师的表现进行评价。经过数百万次的评分，老师的教学水平，教学特色都会公平公开地展现给每一位学员，帮助他们找到所最适合自己的老师。</p>
        </li>
      </ul>
    </div>
    <div class="m_course minWidth">
      <img src="<%= imagessrc%>star.jpg">
      <img src="<%= imagessrc%>boss_desc.jpg" class="boss-desc">
    </div>
  </div>
<!-- 3-6岁幼儿 -->
  <div class="youth children hide">
    <div class="tenImg">
      <img src="<%= imagessrc%>/ten_img02.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn addimgBtn">马上免费预约</a> 
    </div>
    <div class="m_course minWidth">
      <ul class="list clearfix advList">
          <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">纯外教</span></li>
          <li class="fl"><i class="taboff1"></i><span>短时高频</span></li>
          <li class="fl"><i class="taboff2"></i><span>1对1授课</span></li>
          <li class="fl last"><i class="taboff3"></i><span>性价比高</span></li>
          <em class="sanjiao tab_sanjiao0"></em>
      </ul>
      <div class="advantage_desc clearfix">
        <div  class="jb_st">
          <div class="jb_stbk">
            <img src="<%= imagessrc%>/child1.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>/child2.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>/child3.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>/child4.jpg" class="adv_img">
          </div>
        </div>
        <div class="adv_wordIntro">
          <div class="blank"></div>
          <div class="tabDivs">
            <div class="tabDesc">
              <h3>5000多名外教任您选择</h3>
              <p>全英文外教授课，提供沉浸式的学习环境，定制教学课本保证孩子注意力集中，趣味英语教学帮助孩子语感启蒙。</p>
            </div>
            <div>
              <h3>每课25分钟高频学习</h3>
              <p>每节课25分钟，孩子记忆力更集中，高频练习，不伤眼，容易坚持当然更见效果。</p>
            </div>
            <div>
              <h3>与外教更强互动式学习</h3>
              <p>外教老师与孩子一对一交流，更多互动更多乐趣，因材施教更科学。</p>
            </div>
            <div>
              <h3>每节课低至15元</h3>
              <p>告别传统教育的高额费用，低至15元每节，轻轻松松在家学，告别接送，家长更轻松！</p>
            </div>
          </div>
          <a href="javascript:;" class="expriceBtn clearfix">
            <span>马上免费体验</span>
            <i></i>
          </a>
       </div>
      </div>
    </div>
    <div class="child">
      <div class="minWidth">
        <ul>
          <li class="fri"><img src="<%= imagessrc%>/child_lt.jpg"><span>以听说、兴趣为主，让学员从此爱上英语学习。</span></li>
          <li><img src="<%= imagessrc%>/child_rt.jpg"><span>英语学习的重要基础，讲授26个字母及字母组合发音与拼写规律。</span></li>
        </ul> 
        <p class="ts">让孩子掌握26个字母及其发音； 25种组合发音；学习38篇小故事， 420个词汇。<a href="javascript:;" class="cl-reg">注册免费体验>></a></p>
      </div> 
    </div>
    <div class="m_evaluation">
      <div class="minWidth">
        <h1 class="m_courseT">学员评价</h1>
        <p class="m_courseTe">51Talk Students Comment</p>
        <div class="m_courseL"></div>
        <div class="m_student">
          <div class="m_studentI f_p1">
            <p class="m_studentE">我家孩子她爸爸是英国人，妈妈是中国人。但是由于她爸妈工作都很忙，所以我就在找到了51Talk。之前请过一个英国的家教，每次到家里来上课，但是对学的教材不熟悉，上课就是聊天，提高不大，有的还迟到。而且费用还是300RMB/小时。所以在51Talk上课之后，我就把之前的外教给辞了，而且还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/child_img01.png" alt=""></dt>
              <dd><span>Joanna</span><br/>6岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p2">
            <p class="m_studentE m_s1">我家David现在已经5岁半了，单词是学了不少，但是句子口语这些还是不行。因为他还小，所以当时字母就学了半年，真的觉得提高不大。孩子在51Talk最喜欢的Steph老师上课的时候非常细心，对于小朋友听不懂的地方，她都会重说一遍或者打在对话框里帮助孩子理解。作为家长，我觉得学习就应该有个固定性，不要让孩子偷懒。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/child_img02.png" alt=""></dt>
              <dd><span>David</span><br/>6岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p3">
            <p class="m_studentE">Sarah的基础语法是没有问题的，但是她的口语需要进一步提高，需要在课后多加练习。跟外教聊天，开口练习、开口说，这样英语才会提高。这是我选择51Talk的原因。51Talk教材很多，尤其是给孩子锻炼口语用的《剑桥少儿英语》和《绿色通道》。教材的设置非常科学，很适合小孩子练口语。学习了6个月后，觉得她的口语有了很大的进步。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/child_img03.png" alt=""></dt>
              <dd><span>Sarah</span><br/>6岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p4">
            <p class="m_studentE m_s1">Barbie从两岁半就开始学英语了，但是我发现她有点不敢和外国人说话，因此觉得应该让她多跟外国人面对面沟通了。在51Talk上了两个月的课后，Barbie的听力和口语比以前好多了。Barbie喜欢自选话题，聊一些跟生活相关的话题，孩子聊得非常开心。而且孩子的英语现在比我好多了，我现在和孩子一起上课，我的英语也提高了。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/child_img04.png" alt=""></dt>
              <dd><span>Barbie</span><br/>6岁</dd>  
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 7-9岁儿童 -->
  <div class="youth children youth01 hide">
    <div class="tenImg">
      <img src="<%= imagessrc%>/ten_img03.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn">马上免费预约</a> 
    </div>
    <div class="m_course minWidth">
      <ul class="list clearfix advList">
          <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">纯外教</span></li>
          <li class="fl"><i class="taboff1"></i><span>短时高频</span></li>
          <li class="fl"><i class="taboff2"></i><span>1对1授课</span></li>
          <li class="fl last"><i class="taboff3"></i><span>性价比高</span></li>
          <em class="sanjiao tab_sanjiao0"></em>
      </ul>
      <div class="advantage_desc clearfix">
        <div  class="jb_st">
          <div class="jb_stbk">
            <img src="<%= imagessrc%>child1.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child2.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child3.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child4.jpg" class="adv_img">
          </div>
        </div>
        <div class="adv_wordIntro">
          <div class="blank"></div>
          <div class="tabDivs">
            <div class="tabDesc">
              <h3>5000多名外教任您选择</h3>
              <p>全英文外教授课，提供沉浸式的学习环境，定制教学课本保证孩子注意力集中，趣味英语教学帮助孩子语感启蒙。</p>
            </div>
            <div>
              <h3>每课25分钟高频学习</h3>
              <p>每节课25分钟，孩子记忆力更集中，高频练习，不伤眼，容易坚持当然更见效果。</p>
            </div>
            <div>
              <h3>与外教更强互动式学习</h3>
              <p>外教老师与孩子一对一交流，更多互动更多乐趣，因材施教更科学。</p>
            </div>
            <div>
              <h3>每节课低至15元</h3>
              <p>告别传统教育的高额费用，低至15元每节，轻轻松松在家学，告别接送，家长更轻松！</p>
            </div>
          </div>
          <a href="javascript:;" class="expriceBtn clearfix">
            <span>马上免费体验</span>
            <i></i>
          </a>
       </div>
      </div>
    </div>
    <div class="child">
      <div class="minWidth">
        <ul>
          <li class="fri"><img src="<%= imagessrc%>youth_lt.jpg"><span>自然拼读运用，建立英语语感，培养正确语音语调，扩
            大词汇量。</span></li>
          <li><img src="<%= imagessrc%>youth_rt.jpg"><span>英语学习的敲门砖；学员能掌握词汇发音、含义、拼写
            及相应语法、句型。</span></li>
        </ul> 
        <p class="ts">让孩子学习一些常用英语人名，数字，颜色，形状等单词，可以用简单的英语表达自己的想法。<a href="javascript:;" class="cl-reg">注册免费体验>></a></p>
      </div> 
    </div>
    <div class="m_evaluation">
      <div class="minWidth">
        <h1 class="m_courseT">学员评价</h1>
        <p class="m_courseTe">51Talk Students Comment</p>
        <div class="m_courseL"></div>
        <div class="m_student">
          <div class="m_studentI f_p1">
            <p class="m_studentE">从两岁就开始学英语的Dudu，起跑线算是没有输。他很喜欢跟外国的小朋友、大人玩，但只是陌生人，不能规律性地练习。来了51Talk，我们陪孩子一起上课，每天跟老师交流。不仅孩子跟老师成了好朋友，天天练习口语，作为家长我们的英语也提高了不少！孩子喜欢英语，开心最重要！</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth9_01.png" alt=""></dt>
              <dd><span>Dudu</span><br/>7岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p2">
            <p class="m_studentE m_s1">Byron在51Talk学习三个多月了，他已经取得了非常大的进步，口语已经好很多。以前他很难开口，但是现在说英语的时候不紧张了，有自信心了，简单的日常口语他都可以说了，词汇量明显增加了很多，发音也变得标准多了。另外，我们对51Talk的客服服务也挺满意的，如果我们有要求的话，他们会帮我换时间或者换老师，服务很周到。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth9_02.png" alt=""></dt>
              <dd><span>Byron</span><br/>7岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p3">
            <p class="m_studentE">51Talk的外教很多，孩子一般会选好几个外教的课，他们的上课方式非常灵活，也很适合小孩子的心理需求，孩子学得很开心。课下的时候，孩子也会自己看一些英语故事，听英文歌。慢慢的，她的口语越来越好了，而且单词量也增加了不少。来51Talk练口语，真的选对了！</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth9_03.png" alt=""></dt>
              <dd><span>Linda</span><br/>6岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p4">
            <p class="m_studentE m_s1">之前给孩子报过培训班，主要是学语法上的知识，而在51Talk，我们主要是想提高口语。在线上课的方式很灵活方便，孩子自己就能约课上课，不用家长操心了。孩子最喜欢上的是free talk的课程，她可以和外教聊很多有趣的话题。现在，她已经把讲英语当成习惯了，英语考试也能考100分了。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth9_04.png" alt=""></dt>
              <dd><span>Tina</span><br/>6岁</dd>  
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--10-12岁少儿 -->
  <div class="youth children youth02 hide">
    <div class="tenImg">
      <img src="<%= imagessrc%>/ten_img04.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn">马上免费预约</a> 
    </div>
    <div class="m_course minWidth">
      <ul class="list clearfix advList">
          <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">纯外教</span></li>
          <li class="fl"><i class="taboff1"></i><span>短时高频</span></li>
          <li class="fl"><i class="taboff2"></i><span>1对1授课</span></li>
          <li class="fl last"><i class="taboff3"></i><span>性价比高</span></li>
          <em class="sanjiao tab_sanjiao0"></em>
      </ul>
      <div class="advantage_desc clearfix">
        <div  class="jb_st">
          <div class="jb_stbk">
            <img src="<%= imagessrc%>child1.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child2.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child3.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child4.jpg" class="adv_img">
          </div>
        </div>
        <div class="adv_wordIntro">
          <div class="blank"></div>
          <div class="tabDivs">
            <div class="tabDesc">
              <h3>5000多名外教任您选择</h3>
              <p>全英文外教授课，提供沉浸式的学习环境，定制教学课本保证孩子注意力集中，趣味英语教学帮助孩子语感启蒙。</p>
            </div>
            <div>
              <h3>每课25分钟高频学习</h3>
              <p>每节课25分钟，孩子记忆力更集中，高频练习，不伤眼，容易坚持当然更见效果。</p>
            </div>
            <div>
              <h3>与外教更强互动式学习</h3>
              <p>外教老师与孩子一对一交流，更多互动更多乐趣，因材施教更科学。</p>
            </div>
            <div>
              <h3>每节课低至15元</h3>
              <p>告别传统教育的高额费用，低至15元每节，轻轻松松在家学，告别接送，家长更轻松！</p>
            </div>
          </div>
          <a href="javascript:;" class="expriceBtn clearfix">
            <span>马上免费体验</span>
            <i></i>
          </a>
       </div>
      </div>
    </div>
    <div class="child">
      <div class="minWidth">
        <ul>
          <li class="fri"><img src="<%= imagessrc%>youth12_lt.jpg"><span>多样主题阅读，跨学科学习，了解阅读策略，提升阅读能力。</span></li>
          <li><img src="<%= imagessrc%>youth12_rt.jpg"><span>搭建语法体系，掌握做题技巧，轻松应对升学考试。</span></li>
        </ul> 
        <p class="ts">孩子掌握主格代词、现在进行时、一般疑问句、一般现在时等基础语法，熟悉掌握介绍、简短回答、描述人和物、
         兴趣、活动、情感， 能使用基础词汇和语法进行简单的日常对话。<a href="javascript:;" class="cl-reg">注册免费体验>></a></p>
      </div> 
    </div>
    <div class="m_evaluation">
      <div class="minWidth">
        <h1 class="m_courseT">学员评价</h1>
        <p class="m_courseTe">51Talk Students Comment</p>
        <div class="m_courseL"></div>
        <div class="m_student">
          <div class="m_studentI f_p1">
            <p class="m_studentE">孩子现在上五年级，平常也比较忙，课余时间有限，所以一天上一节课，25分钟，挺合适的。刚开始学的时候可能觉得有点短，但是现在还可以，可以作为学习的补充。我们就是想给孩子营造一点英语氛围，像51Talk这种全英文环境对于学习英语非常有帮助。我也推荐过给朋友，让他们的孩子也在这里学习英语。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth12_01.png" alt=""></dt>
              <dd><span>Jimmy</span><br/>10岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p2">
            <p class="m_studentE m_s1">我给Linda选择了包月课程，因为包月不仅便宜，而且还可以敦促她每天都坚持上课。最开始我们都会跟着Linda一起上课，现在她都可以自己上课了。努力的付出最终换来了回报。以前Linda上课时，发音很不标准，而且学东西也慢。经过这半年时间的学习，Linda现在可以很快的就跟着老师读下来新单词，发音照比以前标准很多，学东西也快了。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth12_02.png" alt=""></dt>
              <dd><span>Linda</span><br/>11岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p3">
            <p class="m_studentE">我觉得现在小学生在学校学习就很累了，如果还要背着书包跑出去继续上补习班，真的是一件很痛苦的事情，孩子也没有那么多的精力。现在Anna天天可以在家上网学习，我觉得51Talk真的是现代社会的一个“伟大的发明”，超级给力。从去年到现在，Anna已经习惯了回家先上课，而且特别喜欢51Talk老师的课。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth12_03.png" alt=""></dt>
              <dd><span>Anna</span><br/>12岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p4">
            <p class="m_studentE m_s1">孩子已经六年级，马上升初中了，我们作家长的对他的学习也特别的关心，希望他英语的口语能力能得到锻炼和提高，于是我就在网上搜索在线的英语学校，很幸运的找到了51Talk。以前报过那种线下的英语补习班，一周就去一次，路上就要花费很多时间，到补习班了只学习两个小时，效果很一般。但是在这里，不出家门就可以一对一跟外教交流，真的很方便。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth12_04.png" alt=""></dt>
              <dd><span>Mickey</span><br/>11岁</dd>  
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--13-15岁青少年-->
  <div class="youth children youth03 hide">
    <div class="tenImg">
      <img src="<%= imagessrc%>/ten_img05.jpg">
    </div>
    <div class="btnWidth">
      <a href="javascript:;" class="imgBtn">马上免费预约</a> 
    </div>
    <div class="m_course minWidth">
      <ul class="list clearfix advList">
          <li class="fl"><i class="taboff0 tabon0"></i><span class="tab_color">纯外教</span></li>
          <li class="fl"><i class="taboff1"></i><span>短时高频</span></li>
          <li class="fl"><i class="taboff2"></i><span>1对1授课</span></li>
          <li class="fl last"><i class="taboff3"></i><span>性价比高</span></li>
          <em class="sanjiao tab_sanjiao0"></em>
      </ul>
      <div class="advantage_desc clearfix">
        <div  class="jb_st">
          <div class="jb_stbk">
            <img src="<%= imagessrc%>child1.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child2.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child3.jpg" class="adv_img">
          </div>
          <div>
            <img src="<%= imagessrc%>child4.jpg" class="adv_img">
          </div>
        </div>
        <div class="adv_wordIntro">
          <div class="blank"></div>
          <div class="tabDivs">
            <div class="tabDesc">
              <h3>5000多名外教任您选择</h3>
              <p>全英文外教授课，提供沉浸式的学习环境，定制教学课本保证孩子注意力集中，趣味英语教学帮助孩子语感启蒙。</p>
            </div>
            <div>
              <h3>每课25分钟高频学习</h3>
              <p>每节课25分钟，孩子记忆力更集中，高频练习，不伤眼，容易坚持当然更见效果。</p>
            </div>
            <div>
              <h3>与外教更强互动式学习</h3>
              <p>外教老师与孩子一对一交流，更多互动更多乐趣，因材施教更科学。</p>
            </div>
            <div>
              <h3>每节课低至15元</h3>
              <p>告别传统教育的高额费用，低至15元每节，轻轻松松在家学，告别接送，家长更轻松！</p>
            </div>
          </div>
          <a href="javascript:;" class="expriceBtn clearfix">
            <span>马上免费体验</span>
            <i></i>
          </a>
       </div>
      </div>
    </div>
    <div class="child">
      <div class="minWidth">
        <ul>
          <li class="fri"><img src="<%= imagessrc%>youth15_lt.jpg"><span>掌握中等长度篇章的阅读技巧，探索式学习，培养学员听说及语言运用能力。</span></li>
          <li><img src="<%= imagessrc%>youth15_rt.jpg"><span>搭建语法体系，掌握做题技巧，轻松应对升学考试。</span></li>
        </ul> 
        <p class="ts">课程设计图文并茂，有效辅助学生理解所学内容。学生学会用英语表达初高中所学的各学科知识，包括：语言、文化、历史、数学、物理、化学、生物、天文、地理等。<a href="javascript:;" class="cl-reg">注册免费体验>></a></p>
      </div> 
    </div>
    <div class="m_evaluation">
      <div class="minWidth">
        <h1 class="m_courseT">学员评价</h1>
        <p class="m_courseTe">51Talk Students Comment</p>
        <div class="m_courseL"></div>
        <div class="m_student">
          <div class="m_studentI f_p1">
            <p class="m_studentE">我从小就学英语，主要是应试类的，为了提高自己的口语，我选择了主打口语培训的51Talk。在这里，我找到了适合的老师，她们对我帮助真的很大。由于学业重，我选的次卡套餐，上起课来很方便。现在我经常用英语和妈妈对话，口语提高了很多，相信在以后的中考和高考听力中，我也能取得好成绩。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth15_01.png" alt=""></dt>
              <dd><span>Jimmy</span><br/>10岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p2">
            <p class="m_studentE m_s1">我家George是个特别独立，很有主见的孩子。孩子上完体验课之后，觉得跟外教老师沟通的特别好，上课棒极了。了解到包月可以开开上课，所以就给他购买了包月的课程，George也很喜欢51Talk的老师，所以天天坚持上课。有的时候上完课，他会很高兴的和我说，今天老师和我讨论了什么事情，看到他激动的表情，我就知道他真的很喜欢51Talk的老师。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth15_02.png" alt=""></dt>
              <dd><span>Linda</span><br/>11岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p3">
            <p class="m_studentE">我现在在美国上高一，这边的英语作业非常难，作文也很多，还需要专业的老师辅导英语。在51Talk这里学习的半年时间，上过近300节课，甚至即使在外国、外地旅行也会坚持上！因为我刚一开始上课时口语基础就不错，而且肯定越来越好。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth15_03.png" alt=""></dt>
              <dd><span>Anna</span><br/>12岁</dd>
            </dl>
          </div>
          <div class="m_studentI f_p4">
            <p class="m_studentE m_s1">其实最开始接触51Talk时，我只给Roger选择了新概念的教材， 但后来学了一段时间发现还有很多种教材可供选择，又选择了朗文的教材，那个真的很实用，里面很多对话和图片都很贴近生活。Roger已经在51Talk学习一年多了，现在我家孩子在同龄的孩子中，英语算是比较不错的，而且每次班级考试，也都名列前茅。这一点，还是让我感到很高兴。</p>
            <dl>
              <dt><img src="<%= imagessrc%>/youth15_04.png" alt=""></dt>
              <dd><span>Mickey</span><br/>11岁</dd>  
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- 合作企业 -->
  <div class="cooper">
    <div class="minWidth">
      <h3 class="cop-h3">合作企业</h3>
      <ul class="cop-ul">
        <li><a href="javascript:;"><img src="<%= imagessrc%>fot_xiaomi.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="<%= imagessrc%>fot_jd.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="<%= imagessrc%>fot_bank.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="<%= imagessrc%>fot_sony.png" alt=""></a></li>
        <li><a href="javascript:;"><img src="<%= imagessrc%>fot_state.png" alt=""></a></li>
      </ul>
    </div>
  </div>
<!-- 尾部注册 -->
  <div class="g_bottom">
    <div class="minWidth">
      <form action="" id="b-regForm">
        <div class="g_bottomT minWidth">
          <div class="f_bM"><input class="jsCheck" type="text" name="user_name" placeholder="请输入您的邮箱"></div>
          <div class="f_bN"><input class="jsCheck" type="text" name="mobile" placeholder="请输入您的手机号码"></div>
          <div class="f_bW"><input class="jsCheck" type="passworder" name="password" placeholder="请设置您的密码"></div>
          <a href="javascript:;" class="jsSubmit">马上注册，体验免费外教课</a>
        </div>
      </form>
      <p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
      <a href="#" target="_blank">隐私声明</a><i>|</i>
      <a href="#" target="_blank">用户协议</a><i>|</i>
      京ICP证110696号&nbsp;京ICP备11031999号
      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript _src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
      </p>
    </div>
  </div>
<!-- 弹出层 -->
  <div class="mask hide" id="mask"></div>
  <div class="openWidnow hide" id="openWidnow">
    <div class="window-title">注册立即获赠价值188元的外教1对1体验课一次，<br/> 并免费开通每月上百节的公开课体验资格!
    </div>
    <form action="../user/do_register.php" method="POST" id="RegForm1">
        <div class="window-form">
          <ul class="window-input">
              <li><label for="user_name3"><span class="sprite ie6png email"></span><input name="user_name" id="user_name3" type="text" placeholder="请输入您的邮箱" class="jsCheck"></label></li>
              <li><label for="mobile3"><span class="sprite ie6png phone"></span><input name="mobile" id="mobile3" type="text" placeholder="请输入您的手机号" class="jsCheck"></label></li>
              <li><label for="password3"><span class="sprite ie6png password"></span><input name="password" id="password3" type="password" placeholder="请设置您的密码" class="jsCheck"></label></li>
          </ul>
        </div>
        <div class="orderBtn2" id="orderBtn2">
          <a href="javascript:;"><input id="submit1" type="button" val="1" value="马上免费体验" class="jsSubmit" /></a>
          <p class="exprienceDesc">体验后，您将获得量身定制的专业测评报告。</p>
        </div>
    </form> 
  </div>
</body>
<% include ../common/teen_bottom.ejs %>