<% include ../common/email_top.ejs %>
<body style="padding:0px; margin:0px;background:#dedede;">
<div style="width:100%;margin:0 auto;padding:0; margin:0px;">
	<div style="width:700px;margin:0 auto;padding:0;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';line-height:1.5;font-size:13px;color:#1e1e1e; background:#fff;">
		<div style="height:80px; background:#f5f5f5;">
			<a href="http://www.51talk.com" target="_blank" style="margin:20px 0 0 16px; float:left;"><img src="<%= imagessrc%>/logo.gif" target="_blank" style="border:none;"></a>
			<b style="font-weight:normal; line-height:36px; border-left:1px #c4c4c4 solid; width:200px; height:36px; float:left; margin:24px 0 0 24px; padding-left:16px;">Vol.2 2015/12/21</b>
			<div style="float:right; margin:10px 21px 0 0;">
                <b style="display:block; text-align:right; font-weight: normal; margin-bottom:4px;"><a href="javascript:;" style="color:#ff8200;text-decoration: none; font-size:13px;">[我要投诉]</a></b>
				<b style="font-weight:normal; font-size:13px;">如果您看不到这封邮件，请<a href="#" style="color:#ff8200; text-decoration:none;">点击查看</a></b>
			</div>
		</div>
		<div style="margin:20px; font-size:15px;">
            <h3 style="color:#ff8200;font-weight:normal;margin:0;"><img src="<%= imagessrc%>/edm_star.png" target="_blank" style="border:none; margin-right:10px;line-height:1;">Hi Dear
            </h3>
            <h3 style="color:#1e1e1e; font-size:15px;font-weight:normal;line-height:1;margin:0;line-height:25px;">This is the latest 51Talk Weekly. Hope you enjoy it!<br>Keep practicing. Believe me, 25 minutes a day is enough to make you speak out loud and do it flawlessly!</h3>
        </div>
        <div style="margin:20px;"><img src="<%= imagessrc%>/edm_ad_pay.jpg" target="_blank" style="border:none;"></a></div>
		<div style="padding:26px 0 0 20px; position:relative;">
			<h3 style="margin:0;padding-left:5px;font-size:14px;font-weight:normal;color:#ff9600;line-height:1;overflow:hidden; border-left:6px #ffa800 solid;"><span style="font-size:18px;">Latest Free Open Classes</span> 最新免费公开课
            </h3>
            <a href="#" style="color:#ff8200; position:absolute; right:20px; top:25px;text-decoration:none;">more></a>
        </div>
        <div style="background:#fff;float:left; width:100%;padding-bottom:24px;">
        	<ul style=" margin:0; padding:0;">
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px; _margin:25px 0 0 10px;"> 
                    <a href="#"  target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm01.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px; color:#1e1e1e;">暑期欧洲行之“地中海明珠”</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">06月30日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm02.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
            			<p style="margin-top:8px;color:#1e1e1e;">舌尖上的美国之必胜客的欢乐Pizza</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月01日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm03.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px;color:#1e1e1e;">Marty想到野外去</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月02日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;_margin:25px 0 0 10px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm04.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px; color:#1e1e1e;">钟表与巧克力的王国-比利时</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月03日 19：00</p>
        		    </a>
                </li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm05.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
            			<p style="margin-top:8px;color:#1e1e1e;">TED演讲-好想法从哪里来</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月04日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm06.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px;color:#1e1e1e;">美国独立日之象征</p>
        				<p style="margin-top:-8px;_margin-top:-15px; color:#999;">07月05日 19：00</p>
                    </a>
        		</li>
        	</ul>
        	<a href="#" style="color:#fff; font-size:13px; background:#ff8200; text-decoration:none; padding:11px 20px; float:left; margin:32px 0 0 176px;border-radius:5px;text-align:center;"><span style="display:block; font-size:18px;">View All xx Open Classes This Week</span>本周共有XX节公开课，点击查看</a>
        </div>
        <!-- 付费二维码 -->
        <div style="float:left; width:100%; background:#fff;">
            <dl style="width:275px; height:124px; padding:12px 22px; background:#f6f6f6; margin-left:20px; float:left;">
                <dt style="width:78px;float:left; margin-top:5px; margin-left:10px;">
                    <img src="<%= imagessrc%>/edm_iphone.png" width="113" height="113" target="_blank" alt="扫描下载手机客户端">
                </dt>
                <dd style="margin:26px 0 0 142px;">
                    <b style="float:left;font-weight:normal; font-size:14px; width:100%;">扫描下载手机客户端</b>
                    <b style="float:left;font-weight:normal; color:#999; margin-top:3px; width:100%;">随时随时学英语
                    <br></b>
                    <!-- <br>微信现金红包天天抢</b> -->
                </dd>
            </dl>
            <dl style="width:275px; height:124px; padding:12px 22px; background:#f6f6f6; margin-left:20px; float:left; ">
                <dt style="width:78px;float:left; margin-top:5px;margin-left:10px;">
                    <img src="<%= imagessrc%>/edm_wk.png" width="113" height="113" target="_blank" alt="关注51Talk微信">
                </dt>
                <dd style="margin:26px 0 0 142px;">
                    <b style="float:left;font-weight:normal; font-size:14px; width:100%;">关注51Talk微信</b>
                    <b style="float:left;font-weight:normal; color:#999; margin-top:4px; width:100%;">获取最新活动信息</b>
                </dd>
            </dl>
        </div>
        <p style="background:#f5f5f5; text-align:center; line-height:25px; padding:20px 0 20px 0; margin:0; float:left; width:100%;">Show your teeth first!<img src="<%= imagessrc%>/edm_fot.png" target="_blank" style="border:none;margin-left:3px;"><br><span style="color:#999;">Hotline：4000-51-51-51 丨 Website：http://www.51talk.com</span></p>
        <p style="background:#dedede; color:#747474; line-height:22px; float:left; width:100%; padding:10px 0; text-align:center;">您能收到这封邮件是因为注册了51Talk，如果不想再收到此类邮件，请点击<a href="#" style="color:#ff8200;text-decoration:none;">退订</a></p>
	</div>
</div>
</body>
<% include ../common/bottom.ejs %>