<% include ../common/email_top.ejs %>
<body style="padding:0px; margin:0px;background:#dedede;">
<div style="width:100%;margin:0 auto;padding:0; margin:0px;">
	<div style="width:700px;margin:0 auto;padding:0;font-family:'Hiragino Sans GB','Microsoft YaHei','微软雅黑';line-height:1.5;font-size:13px;color:#1e1e1e; background:#fff;">
		<div style="height:80px; background:#f5f5f5;">
			<a href="http://www.51talk.com" target="_blank" style="margin:20px 0 0 16px; float:left;"><img src="<%= imagessrc%>/logo.gif" target="_blank" style="border:none;"></a>
			<b style="font-weight:normal; line-height:36px; border-left:1px #c4c4c4 solid; width:200px; height:36px; float:left; margin:24px 0 0 24px; padding-left:16px;">Weekly 2015/08/10  Vol.1</b>
			<div style="float:right; line-height:36px;height:36px; margin:24px 21px 0 0;">
				<b style="font-weight:normal; font-size:13px;">如果您看不到这封邮件，请<a href="#" style="color:#ff8200; text-decoration:none; margin-right:9px;">点击查看</a><a href="#" style="color:#ff8200; text-decoration:none;">[退订]</a></b>
			</div>
		</div>
		<div style="margin:20px;"><a href="#"><img src="<%= imagessrc%>/ad_line02.gif" target="_blank" style="border:none;"></a></div>
		<div style="padding:26px 0 0 20px; position:relative;">
			<h3 style="margin:0;padding-left:5px;font-size:16px;font-weight:normal;color:#ff9600;line-height:1;overflow:hidden; border-left:6px #ffa800 solid;">最新精品课
            </h3>
            <a href="#" style="color:#ff8200; position:absolute; right:20px; top:25px;text-decoration:none;">查看更多></a>
        </div>
        <div style="background:#fff;float:left; width:100%;padding-bottom:40px;">
        	<ul style=" margin:0; padding:0;">
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px; _margin:25px 0 0 10px;"> 
                    <a href="#"  target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm01.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px; color:#1e1e1e;">51talk世界游—阿拉斯加州站</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">06月30日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm02.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
            			<p style="margin-top:8px;color:#1e1e1e;">如何和医生预约时间</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月01日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm03.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px;color:#1e1e1e;">51talk世界游—云南站</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月02日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;_margin:25px 0 0 10px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm04.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px; color:#1e1e1e;">神秘的大峡谷</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月03日 19：00</p>
        		    </a>
                </li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm05.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
            			<p style="margin-top:8px;color:#1e1e1e;">额外选择一份工作</p>
        				<p style="margin-top:-8px; _margin-top:-15px;color:#999;">07月04日 19：00</p>
                    </a>
        		</li>
        		<li style="float:left;margin:0;padding:0;list-style:none; margin:25px 0 0 20px;">
                    <a href="#" target="_blank" style="text-decoration:none;">
            			<img src="<%= imagessrc%>/img_edm06.gif" width="206" height="156" target="_blank" alt="为什么大家都选择51Talk无忧英语" style="border:none;">
        				<p style="margin-top:8px;color:#1e1e1e;">马卡龙的来历</p>
        				<p style="margin-top:-8px;_margin-top:-15px; color:#999;">07月05日 19：00</p>
                    </a>
        		</li>
        	</ul>
        	<a href="#" style="color:#fff; font-size:13px; background:#ff8200; text-decoration:none; padding:11px 45px; float:left; margin:32px 0 0 195px;border-radius:5px;">本周共有xx节免费公开课，点击查看全部 ></a>
        </div>
        <p style="background:#f5f5f5; text-align:center; line-height:25px; padding:20px 0 20px 0; margin:0; float:left; width:100%;">外教一对一 在线英语修行<br>服务热线：4000-51-51-51  丨  官方网站：http://www.51talk.com</p>
        <p style="background:#dedede; color:#747474; line-height:22px; float:left; width:100%; padding:20px 0;">友情提示：为了确保您能收到会员活动提醒，请将<a href="#" style="color:#ff8200;text-decoration:none;">xxx@51talk.com</a>加入您的邮件联系人名单<br>
    	如果您不想继续收到此类邮件，请<a href="#" style="color:#ff8200;text-decoration:none;">点击退订</a></p>
	</div>
</div>
</body>
<% include ../common/bottom.ejs %>