<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>上市一周年</title>
    <script src="../../../js/wap/project/anniversary20170607/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>"> 
</head>
<body data-init="index">
    <hgroup>
      <img src="<%= imagessrc%>logo.jpg" class="width100">
      <img src="<%= imagessrc%>banner.jpg" class="width100">
      <img src="<%= imagessrc%>register.jpg" class="width100">
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>formBg.jpg" class="width100">
      <div class="in">
          <form class="summerForm">
            <div class="form_reg">
              <div class="iterm">
                <input type="text" placeholder="请输入您的手机号" name="phone" class="phone" />
              </div>
              <div class="iterm">
                <input type="text" placeholder="请设置您的密码" name="password" class="pwd" />
              </div>
              <div class="iterm getFree">
                 <a href="javascript:;" class="getFreeBtn"></a>
              </div>
            </div>
          </form>
      </div>
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>intro.jpg" class="width100">
      <img src="<%= imagessrc%>phone_top.jpg" class="width100">
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>phone_2.jpg" class="width100">
      <div class="in">
          <form class="summerForm">
            <div class="form2_reg">
                <div class="iterm">
                  <input type="text" placeholder="请输入您的手机号" name="phone" class="phone" />
                </div>
                <div class="iterm">
                  <input type="text" placeholder="请设置您的密码" name="password" class="pwd" />
                </div>
                <div class="iterm getFree">
                   <a href="javascript:;" class="getFreeBtn"></a>
                </div>
            </div>
          </form>
      </div>
    </hgroup>
</body>
<script src="<%= jsPath%>vendor.js"  id="seajsnode"></script>
</html>
