<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>上市一周年</title>
    <script src="../../../js/wap/project/anniversary20170607/flexible.js"></script>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>"> 
</head>
<body data-init="index" class="anniversary-adult">
    <header>
      <img src="<%= imagessrc%>adult/banner.jpg" class="width100">
    </header> 
    <hgroup>
      <img src="<%= imagessrc%>adult/bg.jpg" class="width100">
      <div class="in">
        <div class="form3_reg">
           <p>今天的一小步，明天的一大步<br />
              立即注册，与全球800万会员一起学英语</p>
          <form class="formIn summerForm">
              <div class="iterm">
                <input type="text" placeholder="请输入您的手机号" class="phone" name="phone" />
              </div>
              <div class="iterm">
                <input type="text" placeholder="请设置您的密码" class="pwd" name="password" />
              </div>
              <div class="iterm getFree">
                 <a href="javascript:;" class="getFreeBtn">免费体验</a>
              </div>
          </form>
        </div>
      </div>
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>adult/one.jpg" class="width100">
    </hgroup>
    <hgroup>
       <img src="<%= imagessrc%>adult/intro.jpg" class="width100">
       <div class="in">
          <div class="des">
            <div class="iterm">
              <img src="<%= imagessrc%>adult/des1.png" class="width100">
              <p>外教1对1</p>
            </div>
            <div class="iterm">
              <img src="<%= imagessrc%>adult/des2.png" class="width100">
              <p>优选公开课</p>
            </div>
            <div class="iterm">
              <img src="<%= imagessrc%>adult/des3.png" class="width100">
              <p>超值代金券</p>
            </div>

          </div>
       </div>
    </hgroup>
     <hgroup>
      <img src="<%= imagessrc%>adult/two.jpg" class="width100">
    </hgroup>
     <hgroup>
      <img src="<%= imagessrc%>adult/feature01.jpg" class="width100">
      <img src="<%= imagessrc%>adult/feature02.jpg" class="width100">
      <img src="<%= imagessrc%>adult/feature03.jpg" class="width100">
      <img src="<%= imagessrc%>adult/feature04.jpg" class="width100">
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>adult/goBuy.jpg" class="width100">
      <div class="in">
        <div class="gby">
          <h3>心动？行动！</h3>
          <p>立即注册，与全球800万会员一起学英语</p>
          <a href="#">免费试听</a>
        </div>
      </div>
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>adult/lina.jpg" class="width100">
    </hgroup>
</body>
<script src="<%= jsPath%>vendor.js"  id="seajsnode"></script>
</html>
