<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="NCE_landing" class="nec_main">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- NCE开始 -->
<div class="nce_banner"></div>
<div class="nce_triangle">
    <p class="nce_triangle_tit">兼顾听说能力  满足应试需求</p>
    <a href="javascript;;" class="nce_btn">立即购买</a>
    <p class="nce_txt1">课程最低低至 <i>34</i>元/节</p>
    <p class="nce_txt2"><i>72</i>单元，<i>288</i>课时</p>
    <p class="nce_txt3">1500个词汇+72个语法点+72篇文章</p>  
</div>
<div class="nce_advantage">
    <div class="nce_advantage_bg">
       <p class="nce_advantage_tit">青少全能新概念三大优势</p>
    </div>
</div>
<div class="nce_book">
  <div class="nce_center">
    <div class="nce_centerIn">
        <i class="nce_left"></i>
        <i class="nce_right"></i>
        <p>教材展示</p>
    </div>
    <ul class="nce_pic">
       <li class="nce_pic1"><img src="<%=imagessrc%>nce_pic1.png" alt=""></li>
       <li class="nce_pic2"><img src="<%=imagessrc%>nce_pic2.png" alt=""></li>
       <li class="nce_pic3"><img src="<%=imagessrc%>nce_pic3.png" alt=""></li>
       <li class="nce_pic4"><img src="<%=imagessrc%>nce_pic4.png" alt=""></li>
    </ul>
  </div>
</div>
<div class="nce_NCE">
  <div class="nce_radius"></div>
  <p>综合培优  超越经典新概念</p>
  <div class="nce_NCE3">
     <div class="n_left">
       <img src="<%=imagessrc%>nce_book1.jpg" alt="">
     </div>
     <div class="n_center">
       <img src="<%=imagessrc%>nce_book2.jpg" alt="">
     </div>
     <div class="n_right">
       <img src="<%=imagessrc%>nce_book3.jpg" alt="">
     </div>
  </div>
</div>
<div class="nce_bottom">
  <div class="nce_bottomIn">
    <a href="javascript:;">速速来报名</a>
  </div>
</div>
<!-- NCE结束 -->

<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
