<% include ../common/top.ejs %>
<body>
  <section id="container" data-init="course">
    <article class="main">
      <article class="banner">
        <img src="<%= imagessrc%>banner01.jpg"  class="bannerImg" alt="">
      </article>
      <p class="u-tit">
        让北美老师面对面给孩子的英语打分<br>
        这个寒假，我家孩子的英语要变第一
      </p>
      <ul class="clearfix">
        <li class="new-message">
          <input type="text" name="name" id="name" placeholder="请输入宝贝姓名">
          <div id="grade" class='grade'>请选择宝贝年级</div>
          <select name="grade" class="grade-select">
            <option value="">请选择宝贝年级</option>
            <option value="-1">幼儿园大班</option>
            <option value="1">一年级</option>
            <option value="2">二年级</option>
            <option value="3">三年级</option>
            <option value="4">四年级</option>
            <option value="5">五年级</option>
            <option value="6">六年级</option>
          </select>
        </li>
        <li><input type="number" placeholder="请输入您的手机号" id="mobile"></li>
      </ul>
      <input type="hidden"  id="from_url" value="">
      <span class="u-btn" id="submit" data-url="">10秒注册 免费领取288元体验课</span>
    </article>
    <article class="receive_success" style='display:none;'>
      <article class="success">
        <img src="<%= imagessrc%>receive_success.jpg"  class="successImg" alt="">
      </article>
      <p class="success_tit">已为您安排了1名专属学习服务顾问，</br>将会给孩子安排一节1对1外教体验课。
      </p>
    </article>
  </section>
  <div class="mask">
    <div class="error_box">
      <p class="error_text"></p>
      <a href="javascript:;" class="error_sure">确认</a>
    </div>
  </div>
  <section class="sell-detail">
    <section class="sell-detail__list">
      <p><img src="<%= imagessrc%>/detail/detail_01.jpg" data-img="<%= imagessrc%>/detail/detail_01.jpg"/></p>
      <p><img src="<%= imagessrc%>/detail/detail_02.jpg" data-img="<%= imagessrc%>/detail/detail_02.jpg"/></p>
      <p><img src="<%= imagessrc%>/detail/detail_03.jpg" data-img="<%= imagessrc%>/detail/detail_03.jpg"/></p>
      <p><img src="<%= imagessrc%>/detail/detail_04.jpg" data-img="<%= imagessrc%>/detail/detail_04.jpg"/></p>
    </section>
    <section class="sell-detail__advantage"><img src="<%= imagessrc%>/detail/advantage_01.jpg" data-img="<%= imagessrc%>/detail/advantage_01.jpg"/>
      <dl>
        <section class="item">1</section>
        <h2 class="title">适合中国孩子的美国小学课程</h2>
        <dt><img src="<%= imagessrc%>/detail/advantage_02.jpg" data-img="<%= imagessrc%>/detail/advantage_02.jpg"/></dt>
        <dd>适合5-12岁中国孩子的美国小学课程，尤其注重孩子的综合能力培养，强调批判性思维、分析和解决问题、创新思考三大核心能力。教材严格按照CCSS标准编写，覆盖语言、数学、自然科学和社会科学， 让孩子们在学习英语的同时，丰富知识，拓展视野。</dd>
      </dl>
      <dl>
        <section class="item">2</section>
        <h2 class="title">1对1个性化教学</h2>
        <dt><img src="<%= imagessrc%>/detail/advantage_04.jpg" data-img="<%= imagessrc%>/detail/advantage_04.jpg"/></dt>
        <dd>100%北美外教在线1对1的教学模式，为每个孩子制定有针对性的学习方案。科学的上课时间，25分钟一堂课，保证在孩子有限的精力内最高效的学习。此外，孩子还可以使用电脑(iPad或手机) 自由选择上课时间、教材和外教，达到随时随地均可上课。</dd>
      </dl>
      <dl>
        <section class="item">3</section>
        <h2 class="title">趣味高效的学习测评体验</h2>
        <dt><img src="<%= imagessrc%>/detail/advantage_05.jpg" data-img="<%= imagessrc%>/detail/advantage_05.jpg"/></dt>
        <dd>区别于传统的游戏，51Talk的课后测评游戏化，真正做到了重学习、轻游戏的趣味学习体验。将游戏的故事性、互动性与科学的学习方法相结合，达到孩子爱学，会学，高效的学习效果。</dd>
      </dl>
      <dl>
        <section class="item">4</section>
        <h2 class="title">记录宝贝成长每一刻</h2>
        <dt><img src="<%= imagessrc%>/detail/advantage_06.jpg" data-img="<%= imagessrc%>/detail/advantage_06.jpg"/></dt>
        <dd>您工作太忙，没有时间陪孩子上课？别担心，下班回家后直接打开电脑，登陆宝贝成长时光机，可以看到孩子每一秒的上课视频，从孩子第一次课到最新一节课全部存档！</dd>
      </dl>
      <dl>
        <section class="item">5</section>
        <h2 class="title">为宝贝服务的专属中教老师</h2>
        <dt><img src="<%= imagessrc%>/detail/advantage_07.jpg" data-img="<%= imagessrc%>/detail/advantage_07.jpg"/></dt>
        <dd>专业的中教老师为孩子的学习效果提供保障，从课前、课中、课后，指导学习方法，规划学习计划，实时解答问题，批改作业，定期回访等多项专业贴心服务。</dd>
      </dl>
    </section>
    <section class="sell-detail__public-praise">
      <h2 class="title">Parents' Comments</h2>
      <h3 class="sub-title">家 长 说</h3>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="<%= imagessrc%>slider_01.jpg" data-img="<%= imagessrc%>slider_01.jpg"/></div>
          <div class="swiper-slide"><img src="<%= imagessrc%>slider_02.jpg" data-img="<%= imagessrc%>slider_02.jpg"/></div>
          <div class="swiper-slide"><img src="<%= imagessrc%>slider_03.jpg" data-img="<%= imagessrc%>slider_03.jpg"/></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
  </section>
  <div class='bottom-btn'>
    <a href='javascript:;'>10秒注册 免费领取288元体验课</a>
  </div>
</body>

<% include ../common/bottom.ejs %>










