<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>英语能力测评报告</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
		<div class="tr_report" data-init="reg">
			 <div class="header">
			 		<a href="javascript:void(0)">官网首页</a>
			 </div>
			 <div class="ft_banner">
			 		<img src="<%=imagessrc%>/ft_banner.jpg" />
			 		<p>
			 				<span>宝宝的</span><br />
			 				英语能力测评报告
			 		</p>
			 </div>
			 <!-- 成人 -->
			 <!-- <div class="ft_level">
			 		<div class="ft_levelIn">
			 		  <img src="<%=imagessrc%>/ft_level.png" class="level" />
				 		<div class="ft_now ft_level1">
				 				<h4>当前等级</h4>
				 				<p>Level5</p>
				 				<i></i>
				 		</div>
				 		<div class="ft_goal ft_goal6">
				 				<h4>目标等级</h4>
				 				<p>Level9</p>
				 				<i></i>
				 		</div>
			 		</div>
			 </div> -->
			 <!-- 青少 -->
			 <div class="ft_level ft_level_junior">
			 		<div class="ft_levelIn">
			 		  <img src="<%=imagessrc%>/ft_level_junior.png" class="level" />
				 		<div class="ft_now ft_level_junior1">
				 				<h4>当前等级</h4>
				 				<p>Level5</p>
				 				<i></i>
				 		</div>
				 		<div class="ft_goal ft_goal_junior4">
				 				<h4>目标等级</h4>
				 				<p>Level9</p>
				 				<i></i>
				 		</div>
			 		</div>
			 </div>
			 <div class="ft_model">
			 		<div class="title">
			 				外教评语<span>  Teacher Feedback</span>
			 		</div>
			 		<div class="ft_model_one"> 
			 				Great! It was my honor to be your teacher today! You are spectacular. It`s good to see your active participation in my class.  Review the new words we have learned today. EFL can help you a lot.Great! It was my honor to be your teacher today! You are spectacular. It`s good to see your active participation in my class.   
Review the new words we have learned today. EFL can help you a lot.! You are spectacular. It`s good to see. 
			 		</div>
			 </div>
			  <div class="ft_model">
			 		<div class="title">
			 				推荐学习  <span>Recommendations</span>
			 		</div>
			 		<!-- 成人 -->
			 		<div class="ft_model_one"> 
			 				相信不论你学习英语是为了满足日常沟通的需要，还是为了工作和职业的发展，不论你现在处于英语学习的哪个阶段，想要前往哪个阶段，51Talk都有信心帮你达成目标。 
			 		</div>
			 		<!-- 青少 -->
			 		<!-- <div class="ft_model_one"> 
			 				<p>中教课+外教1对1课程。先通过中教课来学习英语，打下一定的基础后能更好的和外教进行学习。</p>
							<p>相信不论你学习英语是为了满足日常沟通的需要，还是为了工作和职业的发展，</p>
							<p>不论你现在处于英语学习的哪个阶段，想要前往哪个阶段，51Talk都有信心帮你达成目标。</p>
			 		</div> -->
			 </div>
			 <div class="footer footerFix" >
						 <h3>立即领取 <span>免费课程</span></h3>
						 <form id="reg1_form">
						 		<input type="text" class="phone" name="phone" placeholder="手机" />
						 		<input type="password" class="pwd" name="password" placeholder="密码" />
						 		<a href="###" class="subBtn">免费测试我的英语能力</a>
						 </form>
				</div>
				<div class="footer footerMask"></div>
		</div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>