<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
		<div class="wxLuckyMoney" data-init="LuckyMoney">
				<header>
						<img src="<%=imagessrc%>w_header.jpg" />
				</header>
				<section> 
						<h3>
							<img src="<%=imagessrc%>w_step1.jpg" />
						</h3>
						<div class="content">
								<img src="<%=imagessrc%>w_step1c.jpg" class="imgTop" />
						</div>
				</section>
				<section> 
						<h3>
							<img src="<%=imagessrc%>w_step2.jpg" />
						</h3>
						<div class="content">
								<img src="<%=imagessrc%>w_step2c.jpg"  class="imgTop" />
						</div>
				</section>
				<section> 
						<h3>
							<img src="<%=imagessrc%>w_step3.jpg" />
						</h3>
						<div class="content">
								<img src="<%=imagessrc%>w_step3c.jpg" class="imgTop" />
						</div>
				</section>
				<section class="border"></section>
				<footer>
						<p>您也可以<br />
						1.直接搜索我们的微信号ID Talk51<br />
						2.关注后请绑定51Talk账户，红包会在2小时内发放。
						<a href="javascript:;"><i><img src="<%=imagessrc%>wxlogo.png" /></i>  分享给微信好友</a>
				</footer>
					
				
		</div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>