<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>
<!-- /顶部 -->
<div class="cls-top" id="container" data-init="class_pro20160606"  data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
  <!-- 视频播放 -->
  <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
    <a href="javascript:;" class="video"><i></i></a>
  </div>
</div>
<div class="cls-banner">
  <div class="widthMain">
    <ul>
      <li><a href="javascript:;" class="b-nav active" data-name="cls-toefl" name="cls-top"><span>托福</span><br>TOEFL</a></li>
      <li><a href="javascript:;" class="b-nav" data-name="cls-ielts"><span>雅思</span><br>IELTS</a></li>
      <li><a href="javascript:;" class="b-nav" data-name="cls-nce"><span>新概念</span><br>NCE</a></li>
      <li><a href="javascript:;" class="b-nav one-to-one" data-name="cls-sl"><span>口语<br/>1对1</span><br>I Talk</a></li>
      <li><a href="javascript:;" class="b-nav" data-name="cls-gra"><span>语音</span><br>Pronunciation</a></li>
      <li class="last"><a href="javascript:;" class="b-nav" data-name="cls-gra"><span>语法</span><br>Grammar</a></li>
    </ul>
  </div>
</div>
<div class="cls-toefl">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit01.png"/></p>
    <a href="javascript:;" class="toe-hf">
      <dl>
        <dt><img src="<%= imagessrc%>cls_toefl01.png" class="lt-img"/></dt>
        <dd class="c-dd">
          <span class="c-js">课程简介</span>
          <span class="c-nr">以ETS托福官方指南为指导思想，根据托福考试各科目考查要求，结合51Talk无忧英语对托福考试的深入研究，听、说、读、写分项授课，匹配相应的针对性练习，讲练结合，将考点、难点逐个击破。</span>
        </dd>
        <dd>
          <span class="c-js">上课时间（平日19:00 - 21:00）</span>
          <span class="c-nr">阅读全能班  06月06日 - 06月28日<em>|</em>听力全能班  06月07日 - 06月29日</span>
          <span class="c-nr">口语全能班  06月08日 - 06月30日<em>|</em>写作全能班  06月09日 - 07月01日</span>
        </dd>
      </dl>
    </a>
    <div class="c-pos price">
      <span class="wd lt">￥2600</span>
      <span class="wd rt">原件:￥4500</span>
    </div>
    <div class="c-pos cls-cod">
      <a href="javascript:;" class="scan-cod-not" data-line="layer01">点击微信扫码支付</a>
      <a href="javascript:;" class="online">在线咨询</a>
    </div>
  </div>  
</div>
<div class="cls-ielts">
  <div class="widthMain">
    <a href="javascript:;" class="toe-hf">
      <dl>
        <dt><img src="<%= imagessrc%>cls_toefl02.png" class="lt-img"/></dt>
        <dd class="c-dd">
          <span class="c-js">课程简介</span>
          <span class="c-nr">课程涵盖雅思听、说、读、写四个科目，立足于官方评分标准，基于对真题的分析，通过针对性训练和各项基本技能的培养，帮助学员掌握所有题型的解题方法和技巧，最终达到全科理想成绩。</span>
        </dd>
        <dd>
          <span class="c-js">上课时间（平日19:00 - 21:00）</span>
          <span class="c-nr">阅读全能班  06月06日 - 06月28日<em>|</em>听力全能班  06月07日 - 06月29日</span>
          <span class="c-nr">口语全能班  06月08日 - 06月30日<em>|</em>写作全能班  06月09日 - 07月01日</span>
        </dd>
      </dl>
    </a>
    <div class="c-pos price2">
      <span class="wd lt">￥2600</span>
      <span class="wd rt">原件:￥4500</span>
    </div>
    <div class="c-pos cls-cod">
      <a href="javascript:;" class="scan-cod" data-line="layer02">点击微信扫码支付</a>
      <a href="javascript:;" class="online">在线咨询</a>
    </div>
  </div>  
</div>
<div class="cls-sl">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit02.png"/></p>
    <a href="javascript:;" class="toe-hf">
      <dl>
        <dt><img src="<%= imagessrc%>cls_toefl03.png" class="lt-img"/></dt>
        <dd class="c-dd">
          <span class="c-js">课程简介</span>
          <span class="c-nr">700元20次卡，有效期两个月，不限上课时间，不限上课地点，任意搭配课程，
一对一保证全方位口语能力提升。</span>
        </dd>
        <dd>
          <span class="c-js">上课时间（平日19:00 - 21:00）</span>
          <span class="c-nr">可选择任意时间预约上课</span>
        </dd>
      </dl>
    </a>
    <div class="c-pos price">
      <span class="wd lt">￥2600</span>
      <span class="wd rt">原件:￥4500</span>
    </div>
    <div class="c-pos cls-cod">
      <a href="javascript:;" class="scan-cod" data-line="layer07">点击微信扫码支付</a>
      <a href="javascript:;" class="online">在线咨询</a>
    </div>
  </div>  
</div>
<div class="cls-nce">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit03.png"/></p>
    <div class="nce-get">
      <a href="javascript:;" class="nce-hr">
        <dl>
          <dt><img src="<%= imagessrc%>cls_cept01.png"/></dt>
          <dd class="fit"><span class="big">￥1440</span><span class="money">原价￥2160</span></dd>
          <dd class="time">上课时间（平日19:00-21:00）</dd>
          <dd><span class="month">06月06日 - 07月07日</span></dd>
        </dl>  
      </a>
      <div class="cls-nd">
        <a href="javascript:;" class="scan-cod" data-line="layer03">点击微信扫码支付</a>
        <a href="javascript:;" class="online">在线咨询</a>
      </div>
    </div>
    <div class="nce-get g-last">
      <a href="javascript:;" class="nce-hr">
        <dl>
          <dt><img src="<%= imagessrc%>cls_cept02.png"/></dt>
          <dd class="fit"><span class="big">￥1440</span><span class="money">原价￥2160</span></dd>
          <dd class="time">上课时间（平日19:00-21:00）</dd>
          <dd><span class="month">06月06日 - 07月07日</span></dd>
        </dl>  
      </a>
      <div class="cls-nd">
        <a href="javascript:;" class="scan-cod" data-line="layer04">点击微信扫码支付</a>
        <a href="javascript:;" class="online">在线咨询</a>
      </div>
    </div>
  </div>  
</div>
<div class="cls-gra">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit04.png"/></p>
    <div class="nce-get">
      <a href="javascript:;" class="nce-hr">
        <dl>
          <dt><img src="<%= imagessrc%>cls_speech01.png"/></dt>
          <dd class="fit"><span class="big">￥700</span><span class="money">原价￥1050</span></dd>
          <dd class="time">上课时间（周末19:00-21:00）</dd>
          <dd><span class="month">06月11日 - 07月10日</span></dd>
        </dl>  
      </a>
      <div class="cls-nd">
        <a href="javascript:;" class="scan-cod" data-line="layer05">点击微信扫码支付</a>
        <a href="javascript:;" class="online">在线咨询</a>
      </div>
    </div>
    <div class="nce-get g-last">
      <a href="javascript:;" class="nce-hr">
        <dl>
          <dt><img src="<%= imagessrc%>cls_speech02.png"/></dt>
          <dd class="fit"><span class="big">￥70000</span><span class="money">原价￥1400</span></dd>
          <dd class="time">上课时间（周末19:00-21:00）</dd>
          <dd><span class="month">06月11日 - 07月10日</span></dd>
        </dl>  
      </a>
      <div class="cls-nd">
        <a href="javascript:;" class="scan-cod-not" data-line="layer06">点击微信扫码支付</a>
        <a href="javascript:;" class="online">在线咨询</a>
      </div>
    </div>
  </div>  
</div>
<div class="cls-tage">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit05.png"/></p>
    <ul class="list">
      <li>
        <i class="l-icon l-img01"></i>
        <span>中外籍专家强强联手，<br>精品课程完美呈现！</span>
      </li>
      <li>
        <i class="l-icon l-img02"></i>
        <span>各科名师十八班武艺在手，<br>网络平台尽显其能！</span>
      </li>
      <li>
        <i class="l-icon l-img03"></i>
        <span>互动、答疑、讲解、批改，<br>贴心服务全程陪伴！</span>
      </li>
      <li class="last">
        <i class="l-icon l-img04"></i>
        <span>多维度，多角度技巧呈现，<br>助考生笑傲考场！</span>
      </li>
    </ul>
  </div>  
</div>
<div class="cls-disc"> 
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit06.png"/></p>
    <ul class="list">
      <li>
        <img src="<%= imagessrc%>cls_ser01.jpg"/>
        <span class="l-t">QQ学习群</span>
        <span class="l-s">全程大咖陪伴，疑问随时扫除<br>名师集中答疑，备考不再烦忧</span>  
      </li>
      <li>
        <img src="<%= imagessrc%>cls_ser02.jpg"/>
        <span class="l-t">批改服务</span>
        <span class="l-s">授课老师亲自批改，写<br>作、口语作业从此无忧</span>  
      </li>
      <li class="last">
        <img src="<%= imagessrc%>cls_ser03.jpg"/>
        <span class="l-t">课程回放</span>
        <span class="l-s">直播课程录像回放<br>课堂所学扎根于心</span>  
      </li>
    </ul> 
  </div>
</div>
<div class="cls-c-gra"></div>
<div class="cls-master">
  <div class="widthMain">
    <p class="cls-ts"><img src="<%= imagessrc%>cls_tit07.png"/></p>
    <ul class="u-tea">
      <li class="fst">
        <p class="t-img"><img src="<%= imagessrc%>tea_daiyun.jpg"/></p>
        <span class="f-t">戴 云</span>
        <span class="f-b">51Talk课程产品副总裁</span>
        <span class="f-w">曾任北京新东方学校校长教学助理，新东方高级教学培训师，教授学生数十万人，被爱戴他的学生们尊称为“教主”。曾获“新东方10周年功勋奖”、“新东方20周年功勋人物奖”和“北京市园丁奖”等。参与翻译出版了《新托福官方指南》， 编著出版了《托福iBT语法精要》、《托福iBT词汇10000》、《托福高分范文大全》、《雅思语法精要及剑桥雅思阅读长难句分析》等畅销书。</span>  
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea01.jpg"/></p>  
        <span class="f-t">苏佩雯</span>
        <span class="f-w">51Talk托福口语、托福听力名师。原北京新东方学校优秀教师。英国爱丁堡大学硕士，有十多年教授托福、雅思、商务英语、学术英语、海外日常口语和听力、面试面签口语和听力等课程经验。</span>
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea02.jpg"/></p>  
        <span class="f-t">曲琼琼</span>
        <span class="f-w">51Talk托福写作、新概念英语、语法名师。原北京新东方学校资深教师，曾任新东方北美VIP托福写作教研组组长。从教多年，拥有丰富的教学经验，高分学员数量部门第一。教授过托福写作、《新概念英语》第二册及第三册、语法班、成人英语教师培训班等课程。</span>
      </li>
      <li class="last">
        <p class="t-img"><img src="<%= imagessrc%>cls_tea03.jpg"/></p>  
        <span class="f-t">黎小明</span>
        <span class="f-w">51Talk托福阅读、托福写作名师。原北京新东方学校优秀教师。英语专业八级，托福分数112，曾获北京新东方学校北美项目部新教师考核一等奖，北京新东方学校新教师培训授课竞赛“授课十佳”。</span>
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea04.jpg"/></p>  
        <span class="f-t">唐长志</span>
        <span class="f-w">51Talk雅思口语、雅思听力名师。原北京新东方学校优秀教师。英国德蒙福特大学西方史专业，留英四年，雅思分数8.0。</span>
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea05.jpg"/></p>  
        <span class="f-t">梁 颖</span>
        <span class="f-w">51Talk雅思阅读、雅思听力名师。原北京新东方学校优秀教师。英国纽卡斯尔大学应用语言学与英语教学专业硕士，雅思阅读满分，有多年语法、阅读教学经验。</span>
      </li>
      <li class="last">
        <p class="t-img"><img src="<%= imagessrc%>cls_tea06.jpg"/></p>
        <span class="f-t">刘 芸</span>
        <span class="f-w">51Talk雅思写作、托福写作、SAT写作名师。原北京新东方学校资深教师。国家二级英语翻译，拥有10余年的英语教学与创作出版经验，曾获全国英语网络写作大赛一等奖，CCTV英语演讲大赛复赛一等奖等，多本英语学习畅销书作者。</span>
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea07.jpg"/></p>  
        <span class="f-t">左高超</span>
        <span class="f-w">51Talk托福写作、雅思写作、SAT语法与写作、《新概念英语》第三册及第四册名师。原北京新东方学校资深教师。北京理工大学硕士。系统教授过SAT语法与写作、GMAT语法、托福及雅思阅读与写作、师资班高级语法、《新概念英语》第三册和第四册等课程。曾获2011年“北京新东方优秀教师”称号，多次获得“优秀导师”称号。</span>
      </li>
      <li>
        <p class="t-img"><img src="<%= imagessrc%>cls_tea08.jpg"/></p>  
        <span class="f-t">谢昕呈</span>
        <span class="f-w">51Talk托福写作、托福口语、语音课程名师。原北京新东方资深教师。曾任北京新东方成人英语教师培训班英语口语教学法培训师，外研社《英语学习》杂志常驻撰稿人，多部英语辅导书籍作者。</span>
      </li>
      <li class="last">
        <p class="t-img"><img src="<%= imagessrc%>cls_tea09.jpg"/></p>  
        <span class="f-t">温利民</span>
        <span class="f-w">51Talk雅思、托福、SAT全科名师。 13年国外考试培训经验；原北京新东方资深讲师、新教师培训师，托福听力教研组组长，托福、雅思考试预测专员；新西兰奥克兰大学英语教育硕士、中央民族大学哲学硕士、中国农业大学英语学士。独创“八卦图教学法”，擅长整体规划与短期提分。</span>
      </li>
    </ul>
  </div>  
</div>
<div class="cls-bom">
  <div class="widthMain"><a href="#cls-top" class="c-btn"><img src="<%= imagessrc%>cls_bom_btn.png" /></a></div>
</div>
<!-- layer -->
  <!-- 托福 -->
  <div class="cls-layer hide">
    <div class="mask"></div>
    <div class="c-pay">
      <p>请选择支付方式：</p>
      <div class="c-tip">
        <ul>
          <li class="alipay clHover" data-urlB="http://www.51talk.com/pay/orderPay">
            <span class="u-rad"></span>
            <img src="<%= imagessrc%>alipay.png" />
          </li>
          <li class="wx" data-urlT="http://www.51talk.com/pay/weixin/689165">
            <span class="u-rad"></span>
            <img src="<%= imagessrc%>weixin.png" /> 
          </li>
        </ul>
      </div>
      <div class="payMt"><a href="javascript:;" target="_blank">确认付款</a></div>
    </div>
  </div>
<!-- /layer -->
<!-- 回到顶部 -->
<div class="u-gotop hide">
  <a href="javascript:;" title="回到顶部"></a>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- /尾部 -->
<script src="http://static.51talk.com/js/jquery.min.js?v=1439877955695"></script>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
</body>
<% include ../common/bottom.ejs %>