<% include ../common/top.ejs %>
<body>
</body>
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<div class="ar-nav">
  <div class="clearbox">
    <a href="javascript:;" class="lm-btn">立即约课</a>
  </div>
</div>
<div class="tea-team">
  <div class="clearbox">
    <p class="ts"><img src="<%= imagessrc%>/eur_tit01.png"></p>
    <ul class="list">
      <li>
        <i class="ar-icon tea-img01"></i>
        <span class="tt">全欧美外教</span>
        <span class="word">所有外教均来自欧美国家，<br>母语为英语，发音纯正，且经过<br>严格筛选和专业培训</span>
      </li>
      <li class="l-secd">
        <i class="ar-icon tea-img02"></i>
        <span class="tt">顶级师资</span>
        <span class="word">所有外教均持有英语教学资格认证如TESOL/TEFL等，<br>超过92%为名校毕业生，超过90%<br>有欧美国家大中小学和幼儿园教学经验</span>
      </li>
      <li>
        <i class="ar-icon tea-img03"></i>
        <span class="tt">1对1授课</span>
        <span class="word">外教将以100%的专注力与您互动练习，<br>确保您有超过50%的开口时间，<br>快速建立英语语感。</span>
      </li>
    </ul>
  </div> 
</div>
<div class="auth"></div>
<div class="tea-team">
  <div class="clearbox">
    <p class="ts"><img src="<%= imagessrc%>/eur_tit02.png"></p>
    <ul class="list add-list">
      <li>
        <i class="ar-icon amr-img01"></i>
        <span class="tt">只用最顶尖的5%</span>
        <span class="word">海外专业团队直接培训认证外教<br>只录取TOP 5%的优秀人才，<br>发音标准，经验丰富。</span>
      </li>
      <li>
        <i class="ar-icon amr-img02"></i>
        <span class="tt">外教团队的精益求精</span>
        <span class="word">优胜劣汰, 不断提升外教的教学能力<br>高频率在职培训，定期的教学研讨会<br>时刻帮助外教进步。</span>
      </li>
      <li>
        <i class="ar-icon amr-img03"></i>
        <span class="tt">学员参与外教评价</span>
        <span class="word">公开、公正的外教评价体系<br>外教的教学水平，教学特色由学员评价产生，<br>为每一位学员匹配最合适的外教老师</span>
      </li>
    </ul>
    <div class="amr-btn">
      <a href="javascript:;" class="lm-btn">体验欧美外教纯正发音</a>
    </div>
  </div> 
</div>
<div class="fit"></div>
<div class="my-tea">
  <div class="clearbox">
    <p class="ts"><img src="<%= imagessrc%>/eur_tit03.png"></p>
    <ul class="tea-list">
      <li class="fst">
        <span class="list-img"><img src="<%= imagessrc%>/child1.png"></span>
        <span class="name">Arch Dempsey</span>
        <span class="loca">美国，亚利桑那</span>
        <span class="content">12年教学经验，我爱好攀岩 ，看书和结交不同文化背景的朋友。</span>
      </li>
      <li>
        <span class="list-img"><img src="<%= imagessrc%>/child2.png"></span>
        <span class="name">Jennifer Golden</span>
        <span class="loca">美国，弗吉尼亚州</span>
        <span class="content">6年教学经验，我喜欢看书，徒步旅行和跟我的狗玩耍。</span>
      </li>
      <li>
        <span class="list-img"><img src="<%= imagessrc%>/child3.png"></span>
        <span class="name">Mick Turner</span>
        <span class="loca">英国，沃灵顿</span>
        <span class="content">8年教学经验，我喜欢听音乐、看电影和阅读 </span>
      </li>
      <li>
        <span class="list-img"><img src="<%= imagessrc%>/child4.png"></span>
        <span class="name">Shawna Hwang</span>
        <span class="loca">美国，肯塔基州</span>
        <span class="content">2年教学经验，我的爱好是看书，旅游和看韩国电视剧。</span>
      </li>
    </ul>
  </div>
</div>
<div class="bom-btn">
  <div class="clearbox">
    <a href="javascript:;" class="lm-btn"><img src="<%= imagessrc%>/bom_btn.png"></a> 
  </div> 
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
</body>
</html>