<% include ../common/top.ejs %>
<script type="text/javascript" src="../../../js/html/project/l_festival/jquery.min.js"></script>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="pri-main">
    <div class="banner">
      <div class="widthMain1030" id="widthMain1030">
        <div class="time" data-time="4152035">
            <strong class="day">00</strong>
            <strong class="hour">00</strong>
            <strong class="min">00</strong>
        </div>
        <div class="banner_list">
          <ul class="clearfix">
            <li class="b_l_01"><a href="javascript:;" data-target="rota"></a></li>
            <li class="b_l_02"><a href="javascript:;" data-target="pri-list02"></a></li>
            <li class="b_l_03"><a href="javascript:;" data-target="pri-list03"></a></li>
            <li class="b_l_04"><a href="javascript:;" data-target="pri-list04"></a></li>
            <li class="b_l_05"><a href="javascript:;" data-target="pri-list05"></a></li>
            <li class="b_l_06"><a href="javascript:;" data-target="pri-list06"></a></li>
            <li class="b_l_07"><a href="javascript:;" data-target="pri-list07"></a></li>
            <li class="b_l_08"><a href="javascript:;" data-target="pri-list08"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rota">
      <div class="widthMain">
        <div class="lt">
            <div class="prize_list">
                <ul class="names">
                    <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                    <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                    <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
                </ul>
            </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：6月8日11：00：00——6月16日 23：59：59</li>
            <li>2.抽中京东卡，课程包的同学，需要在6月8日—6月16日期间购买4000元以上套餐，活动结束后，奖品由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
        </div>
        <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
          <ul class="l_grid clearfix">
            <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>djq3.png" alt=""></li>
            <li class="l_prize l_prize-1"><img src="<%= imagessrc%>sjb.png" alt=""></li>
            <li class="l_prize l_prize-2"><img src="<%= imagessrc%>mini.png" alt=""></li>
            <li class="l_prize l_prize-7"><img src="<%= imagessrc%>jdk5.png" alt=""></li>
            <li class="pointer"></li>
            <li class="l_prize l_prize-3"><img src="<%= imagessrc%>jdk3.png" alt=""></li>
            <li class="l_prize l_prize-6"><img src="<%= imagessrc%>jpb.png" alt=""></li>
            <li class="l_prize l_prize-5"><img src="<%= imagessrc%>jdk.png" alt=""></li>
            <li class="l_prize l_prize-4"><img src="<%= imagessrc%>djq5.png" alt=""></li>
          </ul>
        </div>
      </div>
      <a href="javascript:;" class="l_btn" id="prize_log"></a>
    </div>
    <div class="pri-list02">
      <div class="widthMain">
          <div class="pos02">
              <div class="pos02_1" id="teacherBox">
                  <div class="teachers">
                    <div class="teacher_item">
                      <div class="t_c_r">
                        <p class="t_r_text">《精品雅思，托福》必胜系列：快速提分必看</p>
                        <div class="t_r_time">
                          <div class="time_l">开课时间：</div>
                          <ul class="time_list">
                            <li>雅思：每周一—— 周四 上午   9：00——10：00</li>
                            <li>托福：每周一—— 周四 下午 14：00——15：00</li>
                          </ul>
                        </div>
                        <!-- <a href="javascript:;" class="t_r_btn"> 预 约</a> -->
                      </div>
                      <div class="t_c_r">
                        <p class="t_r_text">《词汇搭配》系列：最具人气的Wendy老师亲授，活学活用是王道</p>
                        <div class="t_r_time">
                          <div class="time_l">开课时间：每周一和周三 上午10：00——11：00</div>
                        </div>
                      </div>
                    </div>
                    <div class="teacher_item teacher_item2">
                      <div class="t_c_r">
                        <p class="t_r_text">《牛津绘本，牛津阅读》系列：最热门青少课程，边玩边学，轻松长知识</p>
                        <div class="t_r_time">
                          <div class="time_l">开课时间：每周一—— 周五 下午16：00——17：00</div>
                        </div>
                      </div>
                      <div class="t_c_r">
                        <p class="t_r_text">《看电影，学英语》系列：跟随经典电影，学原汁原味英语</p>
                        <div class="t_r_time">
                          <div class="time_l">开课时间：每周二和周四 晚上22：00——23：00</div>
                        </div>
                      </div>
                      <div class="t_c_r">
                        <p class="t_r_text">外教带你看世界：有趣，有料的话题尽在这里</p>
                        <div class="t_r_time">
                          <div class="time_l">开课时间：</div>
                          <ul class="time_list">
                            <li>美教：每周二，周三，周四 晚上21：00——22：00</li>
                            <li>菲教：每周一—— 周五 11：00——12：00；12：00——13：00</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <p class="pos02_text"><!-- <a href="javascript:;">查看更多精品课程，记得上课哦 > </a> --></p>
          </div>
      </div>  
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list03">
      <div class="widthMain">
        <a href="javascript:;" target="_blank" class="l_more"></a>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list04"> 
      <div class="widthMain">
        <p class="l_p04_text">限时优惠价<span class="c_red">￥3999</span><span class="c_gray">（原价：¥ 4399）</span></p>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list05">
      <div class="widthMain">
        <ul class="pri05_list">
          <li><a href="javascript:;"></a></li>
          <li class="pl_m12"><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
        </ul>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list06">
      <div class="widthMain">
          <div class="pos06">
              <p>
                  <span class="one">爆款课程大放价，点击右侧按钮查看</span>
                  <a href="javascript:;"></a></p>
              <p>
                  <span>【零基础定制】中教课程直降 1000 元</span>
                  <a href="javascript:;"></a>
              </p>
          </div>
      </div> 

    </div>
    <div class="pri-list07">
      <div class="widthMain">
          <div class="pos07">
                <a href="javascript:;" class="look_detail subutton"></a>
          </div>
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>       
    </div>
    <div class="pri-list08">
      <a href="javascript:;" target="_blank" class="l_btn"></a>       
    </div>
</div>
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>djq3_2.png" alt="">
                <img src="<%= imagessrc%>sjb2.png" alt="">
                <img src="<%= imagessrc%>mini2.png" alt="">
                <img src="<%= imagessrc%>jdk3_2.png" alt="">
                <img src="<%= imagessrc%>djq5_2.png" alt="">
                <img src="<%= imagessrc%>jdk2.png" alt="">
                <img src="<%= imagessrc%>jpb2.png" alt="">
                <img src="<%= imagessrc%>jdk5_2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼亲子票2张</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>

<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
</body>
</html>

<script type="text/javascript" src="../../../js/html/project/prize_landing03/jQueryRotate.min.js"></script>
<script type="text/javascript" src="../../../js/html/project/l_festival/festival.js"></script>