<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>b2s_project_overview.css">
</head>
<body id="container" data-init="b2s_overview" class="">
    <% include b2s_common/header.ejs %>
    <% include b2s_common/nav.ejs %>
        <div class="b2s_project_top">
            <div class="b2s_project_top_center"></div>
        </div>
        <div class="b2s_project_book">
            <div class="clear-fix b2s_project_book_center">
                <div class="book_left">
                    <img src="<%= imagessrc%>b2s_p_teaching.png">
                </div>
                <div class="book_right">
                    <p class="book_right_title">课题全称</p>
                    <p class="book_right_text">中小学”汉语 英语 汉英双语“教学整合研究</p>
                    <p class="book_right_title">主持人</p>
                    <p class="book_right_text">张志远教授</p>
                    <p class="book_right_text">中央教育科学研究所外语教育研究中心前主任</p>
                    <p class="book_right_text">全国双语教育实验学校理事会理事长</p>
                    <p class="book_right_title">承办单位</p>
                    <p class="book_right_text">中国教育学会“十二五”双语研究课题组</p>
                    <p class="book_right_text">全国双语教育实验学校理事会</p>
                    <p class="book_right_title">批准单位<span>中国教育学会</span></p>
                    <p class="book_right_title">主管单位<span>中国教育科学研究院</span></p>
                    <p class="book_right_title">支持单位<span>51Talk无忧英语</span></p>
                    <P class="last_text">(纽交所上市   股票交易代码：COE)</P>
                </div>
            </div>
        </div>
        <div class="b2s_project_map">
            <div class="b2s_project_map_center">
                <div class="map_title"><img src="<%= imagessrc%>b2s_title_1.jpg"></div>
                <p class="map_1">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_29">
                </p>
                <p class="map_2">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_28">
                </p>
                <p class="map_3">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_27">
                </p>
                <p class="map_4">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_26">
                </p>
                <p class="map_5">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_17">
                </p>
                <p class="map_6">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_16">
                </p>
                <p class="map_7">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_18">
                </p>
                <p class="map_8">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_19">
                </p>
                <p class="map_9">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_20">
                </p>
                <p class="map_10">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_12">
                </p>
                <p class="map_11">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_21">
                </p>
                <p class="map_12">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_11">
                </p>
                <p class="map_13">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_22">
                </p>
                <p class="map_14">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_23">
                </p>
                <p class="map_15">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_24">
                </p>
                <p class="map_16">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_13">
                </p>
                <p class="map_17">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_14">
                </p>
                <p class="map_18">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_15">
                </p>
                <p class="map_19">
                    <img src="<%= imagessrc%>map_ding.png" class="animation">
                </p>
                <p class="map_20">
                    <img src="<%= imagessrc%>map_ding.png" class="animation ">
                </p>
                <p class="map_21">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_2">
                </p>
                <p class="map_22">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_3">
                </p>
                <p class="map_23">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_4">
                </p>
                <p class="map_24">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_5">
                </p>
                <p class="map_25">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_6">
                </p>
                <p class="map_26">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_7">
                </p>
                <p class="map_27">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_8">
                </p>
                <p class="map_28">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_9">
                </p>
                <p class="map_29">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_25">
                </p>
                <p class="map_30">
                    <img src="<%= imagessrc%>map_ding.png" class="animation animation_delay_10">
                </p>
            </div>
        </div>
        <div class="b2s_project_timer">
            <div  class="timer_title" ><img src="<%= imagessrc%>b2s_title_2.jpg"></div>
            <img src="<%= imagessrc%>b2s_project_timer_img.jpg">
            <ul class="clearfix">
                <li class="first">
                    <p class="text_spe">补充师资</p>
                    <p class="text_next">丰富学校英语教学</p>
                </li>
                <li class="second">
                    <p class="text_spe">教育公平</p>
                    <p class="text_next">超值价格享受高质量服务</p>
                </li>
                <li class="thrid">
                    <p class="text_spe">沉浸教学</p>
                    <p class="text_next">英语母语高学历外教</p>
                </li>
                <li class="four">
                    <p class="text_spe">对话世界</p>
                    <p class="text_next"> 助力亿万小公民</p>
                   
                </li>
            </ul>
        </div>
        <div class="b2s_project_together">
            <div class="b2s_project_together_center"></div>
        </div>
        <div class="b2s_project_chose">
            <div class="clear-fix b2s_project_chose_center">
                <div class="chose_left">
                    <a href="javascript:;"></a>
                </div>
                <div class="chose_right">
                    <a href="javascript:;"></a>
                </div>
            </div>
        </div>
    <% include b2s_common/footer.ejs %>
</body>
<% include ../common/bottom.ejs %>