<% include ../common/top_b2s.ejs %>
	<link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>common.css">
	<link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>b2s_teachingSystem.css">
</head>
<body>
	<% include b2s_common/header.ejs %>
	<% include b2s_common/nav.ejs %>
	<div class="b2s-content">
		<div class="b2s-content1">
			<div class="b2s-content1-in"></div>
		</div>
		<div class="b2s-content2">
			<div class="b2s-content2-in">
				<div class="b2s-content2-tit">
					<img src="<%= imagessrc%>b2s-teachingSystem-con1-tit.png" />
				</div>
				<div class="b2s-content2-text">充分研究在校学生集体上课特点，利用25分钟课堂，将教学环节拆分为5步，从引入主题、情景主题阅<br>读、沟通讨论主题、扩展延伸主题、分析评价，达到让孩子完全理解所学内容并融会贯通的效果。</div>
			</div>
		</div>
		<div class="b2s-content3">
			<div class="b2s-content3-in">
				<div class="b2s-content3-tit">
					<img src="<%= imagessrc%>b2s-teachingSystem-con2-tit.png" />
				</div>
				<ul class="b2s-content3-con">
					<li class="b2s-content3-con1">
						<dl>
							<dt>多学科内容全面融入</dt>
							<dd>用英语学习数学、文化、地理、生物等多学科内容，让孩子学到的不只是英语。</dd>
						</dl>
					</li>
					<li class="b2s-content3-con2">
						<dl>
							<dt>丰富的肢体教学互动</dt>
							<dd>通过全身肢体与学生沟通，表达词句的含义，发挥学生的主观能动性，理解知识内容。</dd>
						</dl>
					</li>
					<li class="b2s-content3-con3">
						<dl>
							<dt>注重学生综合素质提升</dt>
							<dd>将哈佛大学教育研究院多元智能思维融入教学全流程，让学员达到多元智能发展，全面提升综合素质。</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="b2s-content4">
			<div class="b2s-content4-in">
				<div class="b2s-content4-tit">
					<img src="<%= imagessrc%>b2s-teachingSystem-con3-tit.png" />
				</div>
				<div class="b2s-content4-con">
					<img src="<%= imagessrc%>b2s-teachingSystem-con4-01.png" />
				</div>
			</div>
		</div>
	</div>
</body>
<% include ../common/bottom.ejs %>