<% include ../common/top_b2s.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>b2s_foreign_teachers.css">
</head>
<body id="container" data-init="b2s_foreign_teachers" class="b2s_foreign_teachers">
    <% include b2s_common/header.ejs %>
    <% include b2s_common/nav.ejs %>
       <div class="foreign_top">
           <div class="foreign_top_center"></div>
       </div> 
       <div class="foreign_show">
           <div class="foreign_show_center">
               <img src="<%= imagessrc%>b2s_teacher_num_05.jpg">
               <div class="movie_bg t_pc cls-top"  data-vediosrc="http://p.bokecc.com/flash/single/9A0993B2384AB21D_2664CDD60CD4D8069C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf"  data-width="780" data-height="">
                   <img src="<%= imagessrc%>move_show_bg.png">
                   <div class="movie_pop">
                       <a href="javascript:;"class="btn_a video_play " ></a>
                   </div>
               </div>
               <ul class="clear-fix tea_introduce">
                   <li>
                       <img src="<%= imagessrc%>tea_1.png">
                       <p class="name">Jon</p>
                       <p>8年工作经验</p>
                   </li>
                   <li>
                       <img src="<%= imagessrc%>tea_2.png">
                       <p class="name">Melrick</p>
                       <p>8年工作经验</p>
                   </li>
                   <li>
                       <img src="<%= imagessrc%>tea_3.png">
                       <p class="name">Kat</p>
                       <p>8年工作经验</p>
                   </li>
                   <li>
                       <img src="<%= imagessrc%>tea_4.png">
                       <p class="name">Monica</p>
                       <p>8年工作经验</p>
                   </li>
               </ul>
           </div>
       </div>
       <div class="foreign_num">
           <div class="foreign_num_center">
                <img src="<%= imagessrc%>b2s_teacher_num_08.jpg">
                <ul class="clear-fix">
                    <li>
                        <img src="<%= imagessrc%>percent.png">
                        <p class="text_center">英语母语</p>
                        <p class="text_bottom">  语言和文化全方面学习</p>
                    </li>
                    <li>
                        <img src="<%= imagessrc%>percent.png">
                        <p class="text_center">英语专业</p>
                        <p class="text_bottom">   专修英语语言学更有经验</p>
                    </li>
                    <li>
                        <img src="<%= imagessrc%>percent.png">
                        <p class="text_center">名校毕业</p>
                        <p class="text_bottom">  全部毕业于本国一类院校</p>
                    </li>
                    <li>
                        <img src="<%= imagessrc%>percent.png">
                        <p class="text_center">懂孩子</p>
                        <p class="text_bottom">  至少三年以上少儿教学经验</p>
                    </li>
                    <li>
                        <img src="<%= imagessrc%>percent.png">
                        <p class="text_center">专业培训</p>
                        <p class="text_bottom">  海外专业团队直接培训</p>
                    </li>
                </ul>
           </div>
       </div>
       <div class="foreign_zhengshu">
           <div class="foreign_zhengshu_center">
               <img src="<%= imagessrc%>b2s_teacher_num_10.png">
               <ul class="clear-fix foreign_zhengshu_book">
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
                   <li> <img src="<%= imagessrc%>stu.jpg"></li>
               </ul>
           </div>
       </div>
    <% include b2s_common/goTop.ejs %>
    <% include b2s_common/footer.ejs %>
</body>
<% include ../common/bottom.ejs %>