<% include ../common/top.ejs %>
<body>
<input id="container" type="hidden" data-init="beyond_public_class_top"/>
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <a  name="top"></a>
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <%include ../common/b2s/b2s_sidebar%>
      <div class="cls-main">
        <!-- 过期公开课 -->
        <div class="cls-tab stu-cls">
          <div class="stu-tit-l">
            <ul>
              <li>
                <a href="near_public_class_top.html">近期外教辅导课</a>
                <i>&nbsp;</i>
              </li>
              <li class="cur">
                <a href="">课堂做题记录</a>
                <i>&nbsp;</i>
              </li>
            </ul>
          </div>
           <ul class="class_question">
              <li>
                <div class="question-info question-right clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    
                    <i></i>
                  </div>
                </div>
                <ul class="answer-box answer-box-green">
                  <li>
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/test.mp3" class="play-btn grey"></span></div>
                     
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!</div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/test.mp3" class="play-btn grey"></span>
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="question-info clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    <i></i>
                  </div>
                </div>
                 <ul class="answer-box answer-box-red">
                  <li>
                    <div class="answer-title">1. Hi Friends!<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>
                       <p class="teacher-answer"><span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w"span>&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误</p> 
                    </div>
                    <div class="answer-container">
                      <ul class="fp-question fp-img8 clearf">
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <!--<li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li> -->
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!
                       <p class="teacher-answer">
                        <span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w">&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误
                      </p> 
                    </div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/big.mp3" class="play-btn grey"></span>
                       <p class="teacher-answer"><span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w"span>&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误</p> 
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
              <li>
                <div class="question-info clearfix">
                  <i class="question-icon"></i>
                  <div class="question-title">
                    <p>
                      动画大冒险——超能陆战队 Part 1
                    </p>
                    <span>上课时间：2016年01月10日</span>
                  </div>
                  <div class="answer-des">
                    <i></i>
                  </div>
                </div>
                <ul class="answer-box answer-box-red">
                  <li>
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>
                     <p class="teacher-answer"><span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w"span>&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误</p> 
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                  <li>
                    <div class="answer-title">2. Hi! Friends!
                   <p class="teacher-answer">
                    <span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w">&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误
                  </p> 
                    </div>
                    <div class="answer-container answer-container-pic clearfix">
                      <div class="answer-options answer-options-pic"><em>A.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        
                      </div>
                      <div class="answer-options answer-options-pic"><em class="answer-right">B.</em>  
                        <div class="answer-img answer-right-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(正确答案)</span>
                      </div>
                      
                      <div class="answer-options answer-options-pic"><em class="answer-wrong">C.</em> 
                        <div class="answer-img answer-wrong-p"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                        <span>(错误答案)</span>
                      </div>
                      <div class="answer-options answer-options-pic"><em>D.</em> 
                        <div class="answer-img"><img src="<%= imagessrc%>answer_img_01.jpg"/></div>
                      </div>
                    </div>

                  </li>

                  <li class="last-li">
                    <div class="answer-title">1. I ___ born in ___ on May 10th.<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn grey"></span>
                       <p class="teacher-answer"><span class="answer-r">20人&nbsp;&nbsp;</span>回答正确<span class="answer-w"span>&nbsp;&nbsp;&nbsp;&nbsp;6人&nbsp;&nbsp;</span>回答错误</p> 
                    </div>
                    <div class="answer-container">
                      <div class="answer-options">A. was, 2005</div>
                      <div class="answer-options answer-right">B. was, 2005<span>(正确答案)</span></div>
                      <div class="answer-options">C. was, 2005<span(你的答案)</span></div>
                    </div>
                  </li>
                </ul>
              </li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a id="backTop" href="#top" class="back-top"></a>
<div id="mp3Box"></div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>


</body>
<% include ../common/bottom.ejs %>
