<% include ../common/top.ejs %>
<link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>class_process_choose1v4.css">
<body id="container" data-init="index">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<div class="dialog">
  <div class="content">
    <div class="tips">
      <h4>创建班级</h4>
      <a class="close" href="javascript:;"></a>
    </div>
    <div class="info"></div>
    <div class="submit">
        <a href="javascript:;">立即创建</a>
    </div>
  </div>
</div>
<!-- 中间内容 -->
<div class="mycls bg-s">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>stu.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
      </div>
    <!-- 侧栏 -->
    <% include ../common/b2s/b2s_sidebar_new.ejs %>
      <div class="cls-main color-s">
        <!-- 我的班级 -->
        <div class="cls-tab rct top-value">
          <div class="class-pay"></div>
          <!-- 步骤banner -->
          <div class="banner-box">
            <img src="<%= imagessrc%>process_choose_1.png">
            <ul class="banner-box-in">
              <li>
                您已购2节中教预习课 4节美教1对4班课
              </li>
              <li>
                第一节上课时间：<span>本周六19:00</span>
                有效期<span>30天</span>至<span>2213日</span>
              </li>
            </ul>
            <a href="#toList" class="toList" >课程安排 v</a>
          </div>
          <!-- 续费banner -->
          <div class="banner-box-after">
              <p class="title">1对4美教全程托管班半年包，购买成功</p>
              <p class="fi">中教预习课  <span>剩余 5课次  每周六10:00</span></p>
              <p>1对1外教课   <span>剩余 15课次 自主预约外教</span></p>
          </div>
        </div>
        
        <div class="class-process">
          <div class="class-process-in">
            <div class="class-process-in-r">
              <dl class="dl1">
                <dt>每周1节中教+2节美教，中教课每周固定时间开课，外教课由您自主选择时间</dt>
                <dd><a href="">选择上课时间</a></dd>
              </dl>

              <dl class="dl2">
                <dt>选班完成后，识别班级群二维码，加入班级群，中教老师随时提供服务</dt>
              </dl>

              <dl class="dl2 dl3">
                <dt>下载电脑客户端，登录孩子上课账号，预约课程按时出席</dt>
                <!-- <dd><a href="">预约1对1外教课</a></dd> -->
              </dl>
            </div>
          </div>
          <!-- 选课后 -->
          <div class="class-process-in class-process-in-after">
            <div class="class-process-in-r">
              <dl class="dl1">
                <dt>每周1节中教+2节美教，上课周期：<i>2017年2月12日至1017年2月22日</i></dt>
                <dt class="spcel">目前只能在电脑端上课，请前往51Talk官网下载软件AC</dt>
              </dl>

              <dl class="dl2">
                <dt>选班完成后，用微信识别班级群二维码，加入班级群，中教老师随时提供服务。</dt>
                <dd>
                  <div class="class-content-qrcode2 qrcode-t qrcode-intro">
                    <img src="<%= imagessrc%>wykt_qrcode.png" />
                </div>
                <p>手机扫码下载“51Talk无忧课堂”</p>
                </dd>
              </dl>

              <dl class="dl2 dl3">
                <dt>登录孩子上课账号，预约课程按时出席。</dt>
                <!-- <dd><a href="">预约1对1外教课</a></dd> -->
              </dl>
            </div>
          </div>
        </div>
        <div class="class_show_list" >
            <a href="javascript:;" name="toList"></a>
            <P class="list_title">课程安排</P>
            <table>
              <tr>
                  <td class="title_m"><h3><span class="sequence-1">1</span>中教预习课 第1节</h3></td>
                  <td colspan="2">
                      <div class="class_arrange_item">
                          <p class="font">下周六 10:00-10:25  中教老师讲授<br>课程内容： 预习外教课1-3节内容</p>
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="title_m"><h3><span class="sequence-1">2</span>美教1对4班课 第1节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 看电影See a Movie</p>
                      </div>
                  </td>
                  <td class="avris" rowspan="2">中教全程微信群辅导</td>
              </tr>
              <tr>
                <td class="title_m"> <h3><span class="sequence-1">3</span>美教1对4班课 第2节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我最好的朋友My Best Friend</p>
                      </div>
                  </td>
              </tr>
              <tr>
                <td  class="title_m"><h3><span class="sequence-1">4</span>中教预习课 第2节</h3></td>
                  <td colspan="2">
                      <div class="class_arrange_item">
                          
                          <p class="font"><a href="javascript:;">下周六 10:00-10:25  中教老师讲授</a><br>课程内容： 预习外教课1-3节内容</p>
                      </div>
                  </td>
              </tr>
              <tr>
                <td  class="title_m"><h3><span class="sequence-1">5</span>美教1对4班课 第3节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 看电影See a Movie</p>
                      </div>
                  </td>
                  <td class="avris" rowspan="2">中教全程微信群辅导</td>
              </tr>
              <tr>
                  <td  class="title_m"><h3><span class="sequence-1">6</span>美教1对4班课 第4节</h3></td>
                  <td>
                      <div class="class_arrange_item">
                          
                          <p class="font">4月3日-4月7日 自主预约外教1对1上课<br>课程内容： 我最好的朋友My Best Friend</p>
                      </div>
                  </td>
              </tr>
            </table>
        </div>
        <div class="class-tips">
          <h5>服务小贴士</h5>
          <h3>关于软件</h3>
          <ul class="class-tips-in">
            <li><i></i>目前只能在电脑端上课软件AC完成上课，电脑端软件屏幕大，体验好</li>
            <li><i></i>手机客户端“无忧课堂”暂不支持该课程，升级支持后，我们会第一时间通知您</li>
          </ul>
          <h3>关于课程</h3>
          <ul class="class-tips-in">
            <li><i></i>课程将持续两周，包含2次中教课+4次美教课，采取“1+2”的授课模式，固定老师、同学和时间</li>
            <li><i></i>中教课45分钟/节，每周一节1对12班课，对美教课的重难点进行串讲，起到复习跟预习的作用</li>
            <li><i></i>中教课无需每次预约，付费后选定上课时间，准时上课即可，中教老师开班前也会在班课群中提前通知上课时间</li>
            <li><i></i>美教课45分钟/节，每周2节1对4班课，课前对孩子英语水平进行专业测试，保证水平相近的孩子进入同一班级</li>
          </ul>
          <h3>关于服务</h3>
          <ul class="class-tips-in">
            <li><i></i>美教1对4全程托管班，中美教课程不能单独退费，并只可在上课前申请退费</li>
            <li><i></i>调整上课时间或班级，请假缺席均可联系中教老师解决</li>
            <li><i></i>如有问题请咨询客服电话：4006635151</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- 弹层 -->
<div class="choose_class_pop"></div>
<div class="choose_class_pop_box">
  <span><img src="<%= imagessrc%>AC_close.png" alt=""></span>
  <P class="step_title">外教1对1约课流程</P>
  <div class="step_class clearfix">
    <div class="step_left"><img src="<%= imagessrc%>class_step.png" alt=""></div>
    <div class="step_right">
       <p class="step_text_1">下载安装“51Talk无忧英语”手机客户端</p>
       <p class="step_text_2">或电脑打开网站“www.51talk.com”登录上课账号</p>
       <p class="step_text_1 mar_top1">选择上课日期和时间</p>
       <p class="step_text_2">根据孩子的时间自主预约</p>
       <p class="step_text_1 mar_top2">选择上课方式为电脑端AC上课</p>
       <p class="step_text_2">AC课堂屏幕更大、互动更强、体验更好</p>
       <p class="step_text_1 mar_top3">按照上课时间   准时出席</p>
       <p class="step_text_2">用孩子上课账号登录电脑端上课软件AC，进入1对1教室上课</p>
    </div>
  </div>
  <a class="make_class" href="">
    立即约课
  </a>
</div>

<input type="hidden" id="priceId" value="598"/>
<input type="hidden" id="discountPrice" value="100"/>
<input type="hidden" id="packageId" value="1"/>
<!--公共弹层-->
<div class="layer hide" id="layerTip">
  <p>温馨提示<i class="tenIcon ly-icon"></i></p>
  <div class="ly-tit">该课程是通过AC客户端上课，请<a href="javascript:;">点击下载</a>安装。如已经安装,请以学生身份注册账户，登录AC上课。</div>  
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>