<% include ../common/top.ejs %>
<body  id="container" data-init="teacher_class">
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl>
          <dt><img src="<%= imagessrc%>tea.jpg" alt=""></dt>
          <dd class="intro_one"><span>流川枫</span> 老师</dd>
          <dd>班级：2个</dd>
          <dd>学生：60人</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <%include ../common/b2s/b2s_sidebar%>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab cls-list">
            <div class="stu-cls stu-taste">
            <div class="stu-tit-l">
             <!--  <ul>
                <li class="cur">
                  <a href="">近期外教辅导课</a>
                  <i>&nbsp;</i>
                </li>
                <li>
                  <a href="beyond_public_class_top.html">过期外教辅导课</a>
                  <i>&nbsp;</i>
                </li>
              </ul> -->
              <a href="javascript:;" class="do-cls"><i class="tenIcon do-icon"></i>如何上课</a>
            </div>
            <div class="rct-blank rct-onDay hide"><i></i><span>近期没有需要上的公开课哦</span></div>
            <div class="rct-banner">
              <a href="#">
                <img src="<%= imagessrc%>free_banner.jpg" alt="" />
              </a>
            </div>
            <div class="rct-text">
              <dl>
                <dt class="work">
                  <p class="free_box">一年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls">去上课</a>
                  </div>
                </dd>
              </dl>
               <dl>
                <dt class="work">
                  <p class="free_box">二年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls wait">去上课</a>
                  </div>
                </dd>
              </dl>   
               <dl>
                <dt class="work">
                  <p class="free_box">三年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls wait">去上课</a>
                  </div>
                </dd>
              </dl>   
               <dl>
                <dt class="work">
                  <p class="free_box">四年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls wait">去上课</a>
                  </div>
                </dd>
              </dl>   
               <dl>
                <dt class="work">
                  <p class="free_box">五年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls wait">去上课</a>
                  </div>
                </dd>
              </dl>      
               <dl>
                <dt class="work">
                  <p class="free_box">六年级适用</p>
                  <img src="<%= imagessrc%>2.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd><span class="word">和孩子亲密的时光，只有那么几年。如何让这样的时光变得更有意义更让孩子终身难忘？最好的方式，大概就是和他/她一起读书了！因为小时候......</span></dd>
                <dd>
                  <div class="lt">
                    
                   <!--  <span class="load"><a href="javascript:;"><i class="tenIcon"></i></a></span> -->
                    <span class="time">上课时间：2015/12/15<em>19:00</em></span>
                  </div>
                  <div class="rt">
                    <a href="javascript:;" class="go-cls wait">去上课</a>
                  </div>
                </dd>
              </dl>   
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>