<% include ../common/top.ejs %>
<body >
<input type="hidden" id="container" data-init="stu_teaLogin_sso" />
<!-- 首页头 -->
<div class="header">
  <div class="widthMain">
    <div class="hd-lt">
      <i class="tenIcon h-icon"></i>
      <b></b>
    </div>
     <div class="hd-rt hd-rt-po">
      <a href="JavaScript:;" class="hd-rt-a a_color">AC客户端</a>
      <a href="javascript:;" class="hd-rt-a">激活学生账户</a>
      <a href="javascript:;" class="hd-rt-a show-img">微信服务号
        <img src="<%= imagessrc%>home_code.png" />
      </a>
      
    </div>
  </div>
</div>
<!-- 内容 -->

<p id="back-to-top"><a href="#top" title="回到顶部"><span></span></a></p>

<!-- <div class="content_bg">
	<a href="javascript:;" class="load_ac"> </a>
</div> -->
<div class="stu_tea_bg bg_login l_bg_home">
  <div class="stu_tea_center">
    <div class="stu_tea_box">
      <p class="st_text mar_b">
        <span class="stu_re on_text">学生登录
          <i></i>
        </span>
        <span class="tea_re ">老师登录
         <i></i></span>
      </p>
      <div class="stu_reg s-box ">
      <form action="#" id="stuLoginForm" method="POST" autocomplete="off" rel="stu">
        <input type="hidden" name="client" value="1">
        <ul class="cfix">
          <li class="phone-img"></li>
          <li class="li_input">
            <input type="tel" rel="stu" name="user_name" class="input-t-style" placeholder="请输入手机号" />
          </li>
          <li class="clear_text"></li>
          <li class="error-tips">
            <span class="err-arr"></span>
            <em></em>
          </li>
        </ul>
        
        <ul class="cfix mar mar1">
          <li class="lock_img"></li>
          <li class="li_input">
            <input type="password" rel="password" class="input-t-style" placeholder="请输入密码" />
            <input class="jm_password" type="hidden" name="password" vlaue=""/>
          </li>
          <li class="clear_text"></li>
          <li class="error-tips">
            <span class="err-arr"></span>
            <em></em>
          </li>
        </ul>
        
        <ul class="next">
          <li>
            <label><input type="checkbox" />下次自动登录</label>
          </li>
          <li>
            <a href="">忘记密码？</a>
          </li>
        </ul>
        <div class="submit-btn">
          <input type="submit" class="input-submit" value="学生登录" />
        </div>
        <input type="hidden" name="from_url" value="student" />
      </form>
            <a class="return_reg" href="javascript:;">激活学生账户 > </a>
      </div>
      <div class="tea_reg s-box hide">
      <form action="#" id="teaLoginForm" method="POST" autocomplete="off" rel="tea">
        <input type="hidden" name="client" value="1">
        <ul class="cfix">
          <li class="phone-img"></li>
          <li class="li_input">
            <input type="tel" name="user_name" rel="phone" class="input-t-style" placeholder="请输入手机号" />
          </li>
          <li class="clear_text"></li>
          <li class="error-tips">
            <span class="err-arr"></span>
            <em></em>
          </li>
        </ul>
        
        <ul class="cfix mar mar1">
          <li class="lock_img"></li>
          <li class="li_input">
            <input type="password" rel="password" class="input-t-style" placeholder="请输入密码" />
            <input class="jm_password" type="hidden" name="password" vlaue=""/>
          </li>
          <li class="clear_text"></li>
          <li class="error-tips">
            <span class="err-arr"></span>
            <em></em>
          </li>
        </ul>
        
        <ul class="next">
          <li>
            <label><input type="checkbox" />下次自动登录</label>
          </li>
          <li>
            <a href="">忘记密码？</a>
          </li>
        </ul>
        <div class="submit-btn">
          <input type="submit" class="input-submit" value="老师登录" />
        </div>
        <input type="hidden" name="from_url" value="teacher" />
          </form>
          <a class="return_reg" href="javascript:;">激活学生账户 > </a>
      </div>
    </div>
  </div>
</div>
<div class="content_advantage">
	<div class="advantage_text"></div>
  <div class="ad_boxs">
    <dl class="adv_box">
       <dt><img src="<%= imagessrc%>adv_img1.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">与同学一起跟专业外教</p>
         <p>练听说、助考试</p>
       </dd>
       <dd class="z-text">专业外教</dd>
    </dl> 
    <dl class="adv_box">
       <dt><img src="<%= imagessrc%>adv_img2.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">打造纯英语环境</p>
         <p>建立英语思维</p>
       </dd>
       <dd class="z-text">沉浸教学</dd>
    </dl>
    <dl class="adv_box none_r">
       <dt><img src="<%= imagessrc%>adv_img3.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">紧贴小学课标
</p>
         <p>同步校内教学进度</p>
       </dd>
       <dd class="z-text">同步教材</dd>
    </dl>
    <dl class="adv_box">
       <dt><img src="<%= imagessrc%>adv_img4.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">熟悉的上课环境
</p>
         <p>不再羞于英文交流</p>
       </dd>
       <dd class="z-text">同班同学</dd>
    </dl>
    <dl class="adv_box">
       <dt><img src="<%= imagessrc%>adv_img5.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">无需路上奔波
</p>
         <p>在家就能上课</p>
       </dd>
       <dd class="z-text">在家学习</dd>
    </dl>
    <dl class="adv_box none_r">
       <dt><img src="<%= imagessrc%>adv_img6.jpg" /></dt>
       <dd class="discribe hide">
         <p class="top_text">丰富的互动形式
</p>
         <p>让孩子乐学其中</p>
       </dd>
       <dd class="z-text">寓乐于教</dd>
    </dl>
  </div>
</div>
<div class="content_problom">
	<div class="pro_text"></div>
  <div class="pro_cont">
    <p class="cont_p1">教育部中国教育学会科研规划重点课题</p>
    <p class="cont_p2">——外教在线教学对中小学生听说能力提升的综合研究</p>
    <p class="cont_p3">课题编号：01060250</p>
    <div class="order_img">
      <img src="<%= imagessrc%>order.png" />
    </div>
    <div class="fl_text">
      <p class="text_1">未来中考英语考试听说将占<span>40</span>分！</p>
      <p class="text_2">从小跟外教学习，练就地道听说</p>
      <div class="three_p">
        <p class="mar">建立英语思维！</p>
        <p>提升考试成绩！</p>
        <p>冲击世界名校！</p>
      </div>
    </div>
  </div>
</div>
<!-- 尾部 -->
<div class="footer bot">
  <div class="widthMain">
    <p class="link-ft">
      Copyright©北京大生知行科技有限公司<em>|</em>
      <a href="/page/privacy/" target="_blank" title="隐私声明">隐私声明</a><em>|</em>
      <a href="/page/terms/" target="_blank" title="用户协议">用户协议</a><em>|</em>
      京ICP证110696号 京ICP备11031999号
    </p>
  </div>  
</div>
<input id="b2sSsoId" type="text" value="true"/>
</body>
<% include ../common/bottom.ejs %>
