<% include ../common/top.ejs %>
<body>
  <!-- <input type="hidden" id="container" data-init="teaClass"> -->
<!-- 公共头 -->
<% include ../common/b2s/b2s_header.ejs %>
<!-- 中间内容 -->
<input type="hidden" id="container" data-init="teaClass">
<input type="hidden"  data-init="video">
<input type="hidden"  data-init="add_teaching">
<div class="mycls">
  <div class="widthMain">
    <!-- banner -->
    <% include ../common/b2s/b2s_banner.ejs %>
    <div class="central">
      <i class="cls-icon"></i>
      <div class="stu_tit">
        <dl class="per-class-dl">
          <dt><img src="<%= imagessrc%>stu.jpg" alt=""></dt>
          <dd class="buy-tag">
            <em>
              <i class="tag-i"><i class="arr-out"><i class="arr-in"></i></i>已购买 精品外教辅导课</i>
            </em>
          </dd>
          <dd><span>流川枫</span> 同学</dd>
          <dd>班级：三年二班</dd>
          <dd>老师：林徽因</dd>
        </dl>
        <p class="stu_number">学生邀请码：123456</p>
      </div>
      <%include ../common/b2s/b2s_sidebar%>
      <div class="cls-main">
        <!-- 近期公开课 -->
        <div class="cls-tab cls-list">
          <div class="stu-cls stu-taste tea-class">
            <div class="stu-tit-l stu-tit-border">
              
              <!-- <a href="javascript:;" class="do-cls"><i class="do-cls-i"></i>如何上课</a> -->
              <div class="clearfixed stu-ul">
                <div class="cur-elective">
                  <a  href="javascript:;">必修课</a>
                </div>
                <div><!--class="cur-required"-->
                  <a  href="javascript:;">选修课</a>
                </div>
              </div>
            </div>
            <div class="class-tab" id="classTab">
              
                
                  <a href="" class="cur-color">一年级</a>
                  <a href="" >二年级</a>
                  <a href="" >三年级</a>
                  <a href="" >四年级</a>
                  <a href="" >五年级</a>
                  <a href="" >六年级</a>
                <!-- <span class="cur-class"></span> -->
             
            </div>
            <div class="course-class">
              <a href="javascript:;" class="current-class">近期课程</a>|
              <a href="javascript:;">过期课程</a>
            </div>
         
             <div class="rct-text">
              <dl class="per-class-dl">
                <dt class="work">
                  <p class="work_box"></p>
                  <img src="<%= imagessrc%>1.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd>对话场景：<span class="sd-tit">在家中的厨房 In the kitchen at home</span></dd>
                <dd class="center-dd dd-height">核心单词：<span class="sd-tit">pizza,add,pan,great,make,put,pizza,add,pan,great,</span></dd>
                <dd class="center-dd">上课时间：<span class="sd-tit">10：00--11：00</span></dd>
                <dd>
                  <div class="class-btn-box">
                    <a href="javascript:;" class="load-down-tea"><span></span>下载教材</a>
                    <div class="video-box t_pc cls-top" data-vedio="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" data-width="780" data-height="">
                        <div class="btn-box"><a data-vedioSrc="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" href="javascript:;" class="pre-class-video video_play">课前视频</a></div>
                    </div>
                    <a href="javascript:;" class="go-class go-cls">去上课</a>
                  </div>
                </dd>
              </dl>
              <dl class="per-class-dl">
                <dt class="work">
                  <p class="work_box"></p>
                  <img src="<%= imagessrc%>1.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd>对话场景：<span class="sd-tit">在家中的厨房 In the kitchen at home</span></dd>
                <dd class="center-dd dd-height">核心单词：<span class="sd-tit">pizza,add,pan,great,make,put,pizza,add,pan,great,</span></dd>
                <dd class="center-dd">上课时间：<span class="sd-tit">10：00--11：00</span></dd>
                <dd>

                  <div class="class-btn-box">
                    <a href="javascript:;" class="sd-date load second_load load-down-tea"><span></span>下载教材</a>
                    <div class="video-box t_pc cls-top" data-vedio="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" data-width="780" data-height="">
                        <div class="btn-box"><a data-vedioSrc="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" href="javascript:;" class="pre-class-video video_play">课前视频</a></div>
                    </div>
                    <a href="javascript:;" class="go-class go-cls">去上课</a>
                  </div>
                </dd>
              </dl>
              <dl class="per-class-dl">
                <dt class="work">
                  <p class="work_box"></p>
                  <img src="<%= imagessrc%>1.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
                <dd>对话场景：<span class="sd-tit">在家中的厨房 In the kitchen at home</span></dd>
                <dd class="center-dd dd-height">核心单词：<span class="sd-tit">pizza,add,pan,great,make,put,pizza,add,pan,great,</span></dd>
                <dd class="center-dd">上课时间：<span class="sd-tit">10：00--11：00</span></dd>
                <dd>
                  <div class="class-btn-box">
                    <a href="javascript:;" class="load-down-tea"><span></span>下载教材</a>
                    <div class="video-box t_pc cls-top" data-vedio="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" data-width="780" data-height="">
                        <div class="btn-box"><a data-vedioSrc="http://p.bokecc.com/flash/single/9A0993B2384AB21D_480033E8766AD7879C33DC5901307461_false_3A7743CB01E0E55B_1/player.swf" href="javascript:;" class="pre-class-video video_play">课前视频</a></div>
                    </div>
                    <a href="javascript:;" class="grey-btn">课前视频</a>
                    <a href="javascript:;" class="go-class go-cls">去上课</a>
                  </div>
                </dd>
              </dl>
              <dl class="per-class-dl">
                <dt class="work">
                  <p class="work_box"></p>
                  <img src="<%= imagessrc%>1.jpg" alt="">
                </dt>
                <dd><a href="javascript:;" class="tit"> 亲子阅读树《Lost ans Found》失而复得（下）</a></dd>
               <!--  <dd class="order-class order-c"><span></span>排课中</dd> -->
                <!-- <dd class="order-class n-order-c"><span></span>未排课</dd> -->
                <dd>
                  <dd>对话场景：<span class="sd-tit">在家中的厨房 In the kitchen at home</span></dd>
                <dd class="center-dd dd-height">核心单词：<span class="sd-tit">pizza,add,pan,great,make,put,pizza,add,pan,great,</span></dd>
                <dd class="center-dd">上课时间：<span class="sd-tit">10：00--11：00</span></dd>
                  <div class="class-btn-box">
                    <div class="order-class order-c"><span></span>排课中</div>
                    <div class="order-class n-order-c"><span></span>未排课</div>
                    <a href="javascript:;" class="load-down-tea"><span></span>下载教材</a>
                    <a showUrl="/teacher/courseAttendClass?textbook_id=534311&grade=5" href="javascript:;" class="look-grade show_class">查看上课班级</a>
                  </div>
                </dd>
                <dd class="classroom-num">教室编号：2098767</dd>
              </dl>
            </div>
            
             <div class="n-class-box">
               <div class="img-box"></div>
               <div class="text-box">
                   <span>您的精品辅导课为空请先</span>
                    <a class="create-box add"  href="javascript:;" data-url="/class/lists" data-title="选择教材" data-submit="立即创建"
                  data-type="class"
                  data-obj='[{"label":"年级：","type":2,"name":"grade","tip":"年级不能为空","holder":"请选择年级","select":{"请选择年级":"","小班":"-3","中班":"-2","大班":"-1","学前班":"0","一年级":"1","二年级":"2","三年级":"3","四年级":"4","五年级":"5","六年级":"6","初一":"7","初二":"8","初三":"9"}},{"label":"班级：","type":2,"name":"index","tip":"班级不能为空","holder":"请选择班级", "select":{"请选择班级":"","一班":"1","二班":"2","三班":"3","四班":"4","五班":"5","六班":"6","七班":"7","八班":"8","九班":"9","十班":"10","十一班":"11","十二班":"12","十三班":"13","十四班":"14","十五班":"15","十六班":"16","十七班":"17","十八班":"18","十九班":"19","二十班":"20"}}]'>创建班级</a>
               </div>
             </div>
             <div class="n-class-box">
               <div class="img-box"></div>
               <div class="text-box">
                   <span>您的精品辅导课为空请先</span>
                    <a class="create-box"  href="javascript:;" grade="6" class_id="10549">选择教材</a>
               </div>
             </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="s-mask-box show" id="maskId"></div>
<div class="s-popup-box show class-t" id="popUpId">

  <table class="class-table">
    <thead>
      <tr>
        <td>上课日期</td>
        <td class="">上课时间</td>
        <td>班级</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          2016.08.18
        </td>
        <td>
          19:00-19:30
        </td>
        <td>
          六班
        </td>
      </tr>
      <tr>
        <td>
          2016.08.18
        </td>
        <td>
          19:00-19:30
        </td>
        <td>
          六班
        </td>
      </tr>
      <tr>
        <td>
          2016.08.18
        </td>
        <td>
          19:00-19:30
        </td>
        <td>
          六班
        </td>
      </tr>
    </tbody>
  </table>
  <span class="t-close"></span>
</div>
<div class="dialog tea-dialog">
    <form class="content">
        <div class="tips">
            <h4>创建</h4>
            <a class="close" href="javascript:;"></a>
        </div>
        <div class="info"></div>
        <!--<div class="prompt-text">请录入上述信息，以便我们根据您的教学进度未学生排课</div>-->
        <div class="submit">
            <a href="javascript:;" >创建</a>
        </div>
    </form>
</div>
<input  type="hidden" id="swfSrcId" value="http://one.frontend.com/static/js/html/lib/ckplayer/ckplayer.swf"/>
<!-- 底部浮层 -->
<div class="btm_float"></div>
<div class="btm_float_show">
  <!-- 左侧提示 -->
  <div class="tit_hand_left">
    <p class="hide">微信扫描二维码，登录学生账户<br/>获取课程详情和上课信息</p>
    <p>微信扫描二维码，登录老师账户<br/>获取课程详情和学生信息
    </p>
  </div>
  <!-- 右侧二维码和关闭按钮 -->
  <div class="code_right">  
    <i class="close_ly"></i>
    <p>关注"51Talk"中小学英语</p>
  </div>
</div>

<div class="add_teaching add_tea" id="addTeaching">
  <form>
    <div class="teaching_box">
      <div class="seach_tit">
        <span class="close-btn" id="closeBtn"></span>
        <span>选择教材版本</span>
        <span class="grade-tit">六年级</span>
        <div class="seach_box">
          <input type="text" placeholder="输入关键词搜索教材" class="seach_input" grade="1" >
          <span></span>
        </div>
      </div>
      <div class="window-box">
          <div class="teaching_book">
              <ul class="bookList clearfix">
                
              </ul>
          </div>
          <div class="des-box" id="desBox">
              <p class="des-text">没有找到您所选的教材版本哦，小5为您推荐！</p>
              <div class="des-img clearfixed">
                  <div class="book-icons"></div>
                  <div class="book-t"></div>
              </div>
              <div class="key-text">
                  主题、语法、句型、词汇 <span>80%</span>匹配
              </div>
          </div>
          <div class="sure-box" id="sureBtn">
              <a class="grey" href="javascript:;">确定</a>
          </div>
      </div>
    </div>
  </form>
</div>
<div class="t-shade-box" id="shadeBox"></div> 
<input type="hidden" id="classId" value=""/>
<input id="midId" type="hidden" value="">
<!-- 公共尾部 -->
<% include ../common/b2s/b2s_footer.ejs %>
</body>3
<% include ../common/bottom.ejs %>