<% include ../common/top.ejs %>
<body>
<input type="hidden" id="container" data-init="t_report"/>
<!-- 公共头 -->
<!--<% include ../common/b2s/b2s_header.ejs %>-->
<!-- 中间内容 -->
<div class="t-report-box">
  <div class="t-report-main">
    <div><img src="<%= imagessrc%>t_banner.png"/></div>
    <div class="menu-box">
      <div class="t-report-h">
        
        <div class="report-icon"><span class="normal">A+</span></div>
      </div>
      <div class="tab-box">
        <div class="report-text2">单元测试报告</div>
        <div class="report-text1">51Talk经典英语青少版</div>
        
        <ul class="clearfix">
          <li>
            <div class="top">姓名</div>
            <div>Elizabeth</div>
          </li>
          <li>
            <div class="top">学习进度</div>
            <div>经典英语青少版</div>
            <div>Level4 Unit4</div>
          </li>
          <li class="last-li">
            <div class="top">测试时间</div>
            <div>2016年2月1日</div>
            <div>19:00-19:40</div>
          </li>
        </ul>
      </div>
      <div class="t-report-h-c">
        <div class="main-box">
          <div class="part-box">
            <div class="part-title-box">
              <div class="part-line">
                <div class="part-text">PartⅠ 学习轨迹</div>
              </div>
              <div class="part-text-e">Your Achievements</div>
            </div>
            <div class="table">
              <div class="table-h">
                2016 丙申 猴
              </div>
              <div class="week">
                  <span>MON</span>
                  <span>TUE</span>
                  <span>WED</span>
                  <span>THU</span>
                  <span>FRI</span>
                  <span>SAT</span>
                  <span>SUN</span>
              </div>
              <ul class="class clearfix">
                <li>
                  <div class="class-num"><span>68</span>节</div>
                  <span class="class-text">
                    51Talk在线课程
                    <i></i>
                  </span>
                </li>
                <li>
                  <div class="class-num"><span>80</span>小时</div>
                  <span class="class-text">
                    无障碍外教口语交流
                    <i></i>
                  </span>
                </li>
                <li>
                  <div class="class-num"><span>600</span>个</div>
                  <span class="class-text">
                    词汇积累
                    <i></i>
                  </span>
                </li>
                <li>
                  <div class="class-num"><span>10000</span>字</div>
                  <span class="class-text">
                    阅读量
                    <i></i>
                  </span>
                </li>
              </ul>
              <div class="week-v">
                <span>28</span>
                <span>29</span>
                <span>30</span>
                <span>31</span>
              </div>
              <div class="shadow"></div>
              <div class="people">
                <span>Elizabeth</span>
              </div>
            </div>

          </div>
          <div class="part-box part-margin">
            <div class="part-title-box">
              <div class="part-line">
                <div class="part-text">PartⅡ单元测评</div>
              </div>
              <div class="part-text-e">E Junior Level 1 U1 & U2 Test Report </div>
            </div>
            <div class="part-main-t1 j-top-v">
              <div class="tit-box1">
                <p class="text">基础知识</p>
                <p class="score-v"><span class="num">50</span><span class="num-t">分/100分</span></p>
              </div>
            </div>
            <div class="part-tab">
              <ul class="list-box clearfix" id="listBox">
                <li class="red">
                  <div class="list-text">
                    <p class="chinese">高频词</p>
                    <p class="english">Sight Words</p>
                  </div>
                  <div class="list-score">10
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </li>
                <li class="yellow">
                  <div class="list-text">
                    <p class="chinese">阅读</p>
                    <p class="english">Reading</p>
                  </div>
                  <div class="list-score">80
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </li>
                <li class="green">
                  <div class="list-text">
                    <p class="chinese">听力</p>
                    <p class="english">Sight Words</p>
                  </div>
                  <div class="list-score">30
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">50</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </li>
                <li class="blue">
                  <div class="list-text">
                    <p class="chinese">关键词</p>
                    <p class="english">SReading</p>
                  </div>
                  <div class="list-score">95
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </li>
              </ul>
              <ul class="list-main clearfix hide" data-list="0">
                <li class="li-c">
                  <div class="main-l red-h">
                    <div class="list-text">
                      <p class="chinese">高频词</p>
                      <p class="english">Sight Words</p>
                    </div>
                    <div class="list-score">10
                      <span class="score-text">得分</span>
                    </div>
                    <span class="full-score">100</span>
                    <span class="full-score-t">满分</span>
                    <span class="t-line"></span>
                  </div>
                  <div class="main-c red-b">
                    <div class="question">
                      <div class="title">&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                      <ul class="question-list clearfix hide">
                        <li class="first-li">
                          <span class="chose">A.</span>
                          <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        </li>
                        <li>
                          <span class="chose">B.</span>
                          <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(正确答案)</div>
                        </li>
                        <li>
                          <span class="chose">C.</span>
                          <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(你的答案)</div>
                        </li>
                      </ul>
                        <ul class="question-list_2 clearfix">
                        <li class="first-li">
                          <span class="chose">A.</span>
                          <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        </li>
                         <li class="">
                          <span class="chose">B.</span>
                          <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        </li>
                        <li>
                          <span class="chose">C.</span>
                          <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(正确答案)</div>
                        </li>
                        <li>
                          <span class="chose">D.</span>
                          <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(你的答案)</div>
                        </li>
                      </ul>
                      <div class="t-question-btn">
                        <a class="_pre-q  " href="javascript:;"><上一题</a>
                        <a class="next-question _next-q" href="javascript:;">下一题></a>
                      </div>
                    </div>
                    <div class="question hide">
                       <div class="title"><span class="none-answer">（未答）</span></span></div>
                      <ul class="question-list clearfix">
                        <li class="first-li">
                          <span class="chose">A.</span>
                          <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        </li>
                        <li>
                          <span class="chose">B.</span>
                          <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(正确答案)</div>
                        </li>
                        <li>
                          <span class="chose">C.</span>
                          <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                          <div class="prompt">(你的答案)</div>
                        </li>
                      </ul>
                      <div class="t-question-btn">
                        <a class="_pre-q" href="javascript:;"><上一题</a>
                        <a class="next-question _next-q" href="javascript:;">下一题></a>
                      </div>
                    </div>
                    <div class="question hide">
                      <div class="title title-l">3.Hi! Friends!3.Hi! Friends!3.Hi! Friends!3.Hi! Friends!3.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g">
                        <span class="none-answer">（未答）</span></span>
                        <!-- <p class="none-answer">（未答）</p> -->
                      </div>
                      <div class="answer-box">
                        <div>A.were,2005</div>
                        <div class="right-a">B.were,2005<span>（正确答案）</span></div>
                        <div class="wrong-a">C.were,2005<span>（你的答案）</span></div>
                        <div>D.were,2005</div>
                      </div>
                      <div class="t-question-btn">
                        <a class="_pre-q" href="javascript:;"><上一题</a>
                        <a class="next-question   _next-q" href="javascript:;">下一题></a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="s-yellow _smallTab" data-tab="1">
                  <div class="key">阅读</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="s-green _smallTab" data-tab="2">
                  <div class="key">听力</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li> 
                <li class="s-blue _smallTab" data-tab="3">
                  <div class="key">关键词</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
              </ul>
              <ul class="list-main clearfix hide" data-list="1">
                <li class="s-red first-s _smallTab" data-tab="0">
                  <div class="key">高频词</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="li-c margin-v">
                <div class="main-l yellow-h">
                  <div class="list-text">
                    <p class="chinese">阅读</p>
                    <p class="english">Sight Words</p>
                  </div>
                  <div class="list-score">10
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </div>
                <div class="main-c yellow-b">
                  <div class="question">
                    <div class="title">b1.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                    <ul class="question-list clearfix">
                      <li class="first-li">
                        <span class="chose">A.</span>
                        <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                      </li>
                      <li>
                        <span class="chose">B.</span>
                        <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(正确答案)</div>
                      </li>
                      <li>
                        <span class="chose">C.</span>
                        <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(你的答案)</div>
                      </li>
                    </ul>
                    <div class="t-question-btn">
                      <a class="_pre-q  " href="javascript:;"><上一题</a>
                      <a class="next-question _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                  
                  <div class="question hide">
                    <div class="title">2.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                    <ul class="question-list clearfix">
                      <li class="first-li">
                        <span class="chose">A.</span>
                        <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                      </li>
                      <li>
                        <span class="chose">B.</span>
                        <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(正确答案)</div>
                      </li>
                      <li>
                        <span class="chose">C.</span>
                        <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(你的答案)</div>
                      </li>
                    </ul>
                    <div class="t-question-btn">
                      <a class="_pre-q" href="javascript:;"><上一题</a>
                      <a class="next-question   _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                </div>
                </li>
                <li class="s-green _smallTab" data-tab="2">
                  <div class="key">听力</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="s-blue _smallTab" data-tab="3">
                  <div class="key">关键字</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
              </ul>
              <ul class="list-main clearfix hide" data-list="2">
                <li class="s-red first-s _smallTab" data-tab="0">
                  <div class="key">高频词</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="s-yellow _smallTab" data-tab="1">
                  <div class="key">阅读</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="li-c margin-v">
                <div class="main-l green-h">
                  <div class="list-text">
                    <p class="chinese">听力</p>
                    <p class="english">Sight Words</p>
                  </div>
                  <div class="list-score">10
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </div>
                <div class="main-c green-b">
                  <div class="question">
                    <div class="title">b1.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                    <ul class="question-list clearfix">
                      <li class="first-li">
                        <span class="chose">A.</span>
                        <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                      </li>
                      <li>
                        <span class="chose">B.</span>
                        <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(正确答案)</div>
                      </li>
                      <li>
                        <span class="chose">C.</span>
                        <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(你的答案)</div>
                      </li>
                    </ul>
                    <div class="t-question-btn">
                      <a class="_pre-q  " href="javascript:;"><上一题</a>
                      <a class="next-question _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                  
                  <div class="question hide">
                    <div class="title">2.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                    <ul class="question-list clearfix">
                      <li class="first-li">
                        <span class="chose">A.</span>
                        <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                      </li>
                      <li>
                        <span class="chose">B.</span>
                        <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(正确答案)</div>
                      </li>
                      <li>
                        <span class="chose">C.</span>
                        <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(你的答案)</div>
                      </li>
                    </ul>
                    <div class="t-question-btn">
                      <a class="_pre-q" href="javascript:;"><上一题</a>
                      <a class="next-question   _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                </div>
                </li>
                <li class="s-blue _smallTab" data-tab="3">
                  <div class="key">关键字</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                
              </ul>
              <ul class="list-main clearfix hide" data-list="3">
                <li class="s-red first-s _smallTab" data-tab="0">
                  <div class="key">高频词</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="s-yellow _smallTab" data-tab="1">
                  <div class="key">阅读</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="s-green _smallTab" data-tab="2">
                  <div class="key">听力</div>
                  <div class="s-get-score"><span class="num">80</span><span class="text">得分</span></div>
                  <div class="s-full-score"><span class="f-num">100</span><span class="f-text">得分</span></div>
                </li>
                <li class="li-c margin-v">
                <div class="main-l blue-h">
                  <div class="list-text">
                    <p class="chinese">关键词</p>
                    <p class="english">Sight Words</p>
                  </div>
                  <div class="list-score">10
                    <span class="score-text">得分</span>
                  </div>
                  <span class="full-score">100</span>
                  <span class="full-score-t">满分</span>
                  <span class="t-line"></span>
                </div>
                <div class="main-c blue-b">
                  <div class="question">
                    <div class="fp-title"><span>棒极了！</span> 28秒内共点击18次</div>
                    <div class="ut-answer-container">
                      <ul class="ut-question fp-img12 clearf">
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li>
                        <li><img src="<%= imagessrc%>fb_img.png"/></li> 
                      </ul>
                    </div>
                    <div class="t-question-btn fp-question-btn">
                      <a class="_pre-q  " href="javascript:;"><上一题</a>
                      <a class="next-question _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                  
                  <div class="question hide">
                    <div class="title">2.Hi! Friends!&nbsp;&nbsp;<span yinp-value="/images/html/ac_voice_share/horse.mp3" class="play-btn play-g"></span></div>
                    <ul class="question-list clearfix">
                      <li class="first-li">
                        <span class="chose">A.</span>
                        <div class="img-box"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                      </li>
                      <li>
                        <span class="chose">B.</span>
                        <div class="img-box t-right"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(正确答案)</div>
                      </li>
                      <li>
                        <span class="chose">C.</span>
                        <div class="img-box t-error"><img src="<%= imagessrc%>t-img01.jpg"/></div>
                        <div class="prompt">(你的答案)</div>
                      </li>
                    </ul>
                    <div class="t-question-btn">
                      <a class="_pre-q" href="javascript:;"><上一题</a>
                      <a class="next-question   _next-q" href="javascript:;">下一题></a>
                    </div>
                  </div>
                </div>
                </li>
                
                
              </ul>
            </div>
          </div>
          
          <div class="part-box">
            <div class="evaluating">
              <div class="part-main-t2">
                <div class="tit-box2">
                  <p class="text">语音测评</p>
                  <p class="score-v"><span class="num">16</span><span class="num-t">分/20分</span></p>
                </div>
              </div>
              <div class="progress-box clearfix">
                  <div class="circular-box">
                     <div id="picContainer" class="pic-container"></div> 
                  </div>
                  <div class="progress-text">
                    <div class="title">老师建议</div>
                    <p>注意语音语调的使用</p>
                    <p>注意个别发音，入bed</p>
                    <p>多与老师交流，期待下次的优秀表现</p>
                  </div>
              </div>
              <div  class="line-border"></div>
               <div class="part-main-t1 m-top-v">
                <div class="tit-box1">
                  <p class="text">口语交流</p>
                  <p class="score-v"><span class="num">16</span><span class="num-t">分/20分</span></p>
                </div>
               </div>
               <div class="progress-box clearfix">
                  <div class="circular-box">
                     <div id="columnContainer" class="column-container"></div>
                  </div>
                  <div class="progress-text pro-left">
                    <div class="title">能力说明</div>
                    <p>生能够准确地理解问题，并流利地回答了老师的提问。交流中没有出现语法上的错误使用，并具备优秀的语言组织能力。</p>
                  </div>
              
            </div>
          </div>
          <div class="part-box part-margin">
            <div class="part-title-box">
              <div class="part-line">
                <div class="part-text">综述</div>
              </div>
              <div class="part-text-e">Summary</div>
            </div>
            <div class="summary-box clearfix">
              <div class="summary-img"><span class="normal">A+</span></div>
              <div class="summary-text">
                <div class="s-score-box">
                  <span class="g-score">98</span><span class="f-score">分/100分</span>
                </div>
                <p>在本阶段的学习中，孩子基本掌握了所有知识点，并能够灵活应用于口语交流中。发音上，有个别单词需要注意。语言组织输出能力非常出众。该学员在本阶段的成绩为A+。</p>
              </div>
            </div>
          </div>

          <div class="part-box part-margin">
            <div class="part-title-box">
              <div class="part-line">
                <div class="part-text">老师点评</div>
              </div>
              <div class="part-text-e">Teacher Comment</div>
            </div>
            <div class="com-box clearfix">
              <div class="com-img"></div>
              <div class="com-text">
                <span class="com-arrow"></span>
                <p>You are really good at expanding your answers with details instead of giving just a yes or no.  You are really good at expanding your answers with details instead of giving just a yes or no. </p>
              </div>
            </div>
          </div>

            
          
        </div>
      </div>
      
    </div>
    <div class="t-report-f">
      <div class="t-report-m">
        <p class="text-01">语言学习需要环境，更需要孩子们的努力和坚持不懈！</p>
        <p class="text-02">为了让孩子不断进步，有能力对话世界，51Talk将和小朋友们携手共进，实现梦想，走向未来！</p>
        <a class="class-btn">立即约课</a>
      </div>
      <div class="t-report-b"></div>
    </div>
    
  </div>
</div>
<div id="mp3Box"></div>
<script>
//语音得分gSpeech，失分lSpeech,口语交流，单元1gVoiceUnit1,单元2gVoiceUnit2
var gSpeech = 10, lSpeech = 5, gVoiceUnit1= 14, gVoiceUnit2 = 20; 
var gVoiceUnit1t = 'Unit 1 单元名称 My Family（共20分）', gVoiceUnit2t='Unit 2 单元名称 My Family（共20分）',cjshow = '口语成绩展示';
//文字展示
var gScore = '得分10分',lScore = '失分5分';
</script>


  

<!-- 公共尾部 -->
<!--<% include ../common/b2s/b2s_footer.ejs %>-->
</body>
<% include ../common/bottom.ejs %>