<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>"> 
</head>
<body data-init="index" id="container">
  
  <div class="g_in sell_tomany">
      
      <div class="lesson_desc clearfix">
          <div class="pic">
              <img src="<%= imagessrc%>lesson.png" alt="">
          </div>

          <div class="desc">
            <p class="title">一对多外教全程托管（6月班）</p>
            <p class="title_desc">
              24次中教课（每次课50min）+72次1对4外教课（每次课25min）
            </p>
            <p class="price">
              <span class="real_price">￥3500</span>
              <span class="origin_price">[￥4388]</span>
            </p>
            <p class="grey">
              课程特色：
              <span class="region">按周上课</span>
              <span class="divide">|</span>
              <span class="region">固定时间</span>
              <span class="divide">|</span>
              <span class="region">中教1对12</span>
              <span class="divide">|</span>
              <span class="region">外教1对4</span>
            </p>
            
            
            <p class="grey pay">
              分期支付：
              <span class="region">￥1000x12个月</span>
              <span class="divide">|</span>
              <span class="region">￥1200x10个月</span>
              <span class="divide">|</span>
              <span class="region">￥300*40个月</span>
            </p>
            <div class="chose_time">
              <p class="title">选择具体班级：</p>
              <div class="clearfix">
                <span class="grey fl time_title">中教上课时间：</span>
                <div class="ac-change fl">
                  <div class="ac-sect">
                    <div class="lt" >周六10:00-10:50</div>
                    <i class="rt"></i>
                    <ul class="ac-down" lesson_type="own">
                      <li data-course-id=""><a href="javascript:;">请选择</a></li>
                      <li data-course-id="8595"><a href="javascript:;">经典英语 Level 3</a></li>
                    
                    </ul>
                  </div>

                </div>
                <span class="grey fl time_title">外教上课时间：</span>
                <div class="ac-change fl">
                  <div class="ac-sect">
                    <div class="lt" >周一、二 19:00-19:50</div>
                    <i class="rt"></i>
                    <ul class="ac-down" lesson_type="foreign">
                      <li data-course-id=""><a href="javascript:;">请选择</a></li>
                      <li data-course-id="8595"><a href="javascript:;">经典英语 Level 3</a></li>
                    
                    </ul>
                  </div>

                </div>
              </div>
              <div class="spec">
                Level1-b3全程托管特价班
                <img src="<%= imagessrc%>/spec.png" alt="">
              </div>
              <p class="lesson_time">
                <span class="grey">上课周期：</span>
                <span>2017.02.11-2017.08.11</span>
              </p>
              <div class="clearfix showTime">
                <div class="grey fl">上课时间：</div>
                <div class="fl">
                  <div class="clearfix">
                    <span class="region fl">周六10:00-10:50（中教1对12）</span>
                    <span class="divide fl">|</span>
                    <span class="region fl">周一19:00-19:50（外教1对4）</span>
                  </div>
                  <div class="clearfix">
                    <span class="region fl">周六10:00-10:50（中教1对12）</span>
                    <span class="divide fl">|</span>
                    <span class="region fl">周一19:00-19:50（外教1对4）</span>
                  </div>
                  
                </div>
              </div>
            </div>
            <p class="buy">
              <a href="javascript:;" class="btn">购买</a>
              <span class="remain_num">
                还剩<em>16</em>个名额
              </span>
            </p>
          </div>
      </div>
      <div class="lesson_con">
        <ul class="clearfix">
          <li class="on">课程详情</li>
          <li>老师介绍</li>
          <li>使用教材</li>
          <li>购课须知</li>
        </ul>
        <div class="show_content">
          <div class="pic_detail on">
            <img src="<%= imagessrc%>lesson.png" alt="">
            <h2>1对多外教全程托管班</h2>
            <h3>51Talk独创在线中教预习+外教上课的教学模式，先上中教预习课，后上外教提高课1对4；</h3>
            <p>
              这是正文1
            </p>
          </div>
          <div class="pic_detail">
            <img src="<%= imagessrc%>lesson.png" alt="">
            <h2>这是主标题2222</h2>
            <h3>这是副标题文字2222</h3>
            <p>
              这是正文222222
            </p>
          </div>
          <div class="pic_detail">
            <img src="<%= imagessrc%>lesson.png" alt="">
            <h2>这是主标题3333</h2>
            <h3>这是副标题文字3333</h3>
            <p>
              这是正文33333
            </p>
          </div>
          <div class="pic_detail">
            <img src="<%= imagessrc%>lesson.png" alt="">
            <h2>这是主标题4444</h2>
            <h3>这是副标题文字4444</h3>
            <p>
              这是正文4444
            </p>
          </div>
        </div>
      </div>
  </div>
  <!-- 遮罩 -->
  <div class="mask"></div>
  <!-- popup start-->
  <div class="popup">
      <div class="box">
          <div class="cell">
              <span class="con">
                  <span class="title">温馨提示</span>
                  <span class="info"></span>
                  <div class="btn determine" ontouchstart=""><em>确定</em></div>
                  <a href="javascript:void(0);" class="btn cancel" ontouchstart=""><em>取消</em></a>
                  <a href="javascript:void(0);" class="btn ok" ontouchstart=""><em>确定</em></a>
              </span>
          </div>
      </div>
  </div>
  <!-- popup end-->
<script src="<%= jsPath%>vendor.js"  id="seajsnode"></script>
</body>
