<% include ../common/top.ejs %>
<body>
<div class="les-lt clearfix" data-init="lesson29229">
  <!-- lesson -->
    <div class="les-l">
      <div class="l-top">
        <h3>Lesson</h3>
        <table cellpadding="0" cellspacing="0" class="l-tab">
          <tr>
            <td class="l-d">Lesson Date</td>
            <td>2015-04-12 20:00-21:00</td>
          </tr>
          <tr>
            <td class="l-d">Lesson</td>
            <td>第六课 领略加州万种风情 California is a beautiful state</td>
          </tr>
        </table>
      </div>
      <div class="layer l-bom">
        <h3>AC Record</h3>
        <div class="ac-red">
          <ul class="red-u">
            <li>
              <span class="start">Start</span>
              <div class="rt">
                <span class="l-icon"></span>
                <span class="time">20:00:00</span>
              </div>
            </li>
            <li>
              <span class="ln">ln</span>
              <div class="rt">
                <div class="rt-t">
                  <span class="time l-time">20:00:05 <i class="i-f">late</i></span>
                </div>
                <div class="rt-u">
                  <span class="time l-time">Penalty <i class="i-f">-30 peso</i></span>
                  <a href="javascript:;" class="view">Appeal</a>
                </div>
              </div>
            </li>
            <li>
              <span class="ln">Out</span>
              <div class="rt">
                <div class="rt-t">
                  <span class="time l-time">20:00:05 <i class="i-f">late</i></span>
                </div>
                <div class="rt-u">
                  <span class="time l-time">Penalty <i class="i-f">-30 peso</i></span>
                  <a href="javascript:;" class="view">Appeal</a>
                </div>
              </div>
            </li>
            <li>
              <span class="start">End</span>
              <div class="rt">
                <span class="time">20:00:00</span> 
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <!-- ac record -->
    <div class="les-r">
      <h3>Appeal</h3>
      <div class="r-lev">
        <div class="lev-t">
          <span class="lt">Late</span>
           <!-- one -->
           <div class="colt">
             <ul>
               <li class="colt-fst"><i>1</i></li>
               <li class="colt-two"><i>2</i></li>
               <li><i>3</i></li>
             </ul>
           </div>
           <!-- /one -->
           <div class="r-btn"><a href="javascript:;"><i class="r-up"></i></a></div>
        </div>
      </div>
      <div class="r-lev">
        <div class="lev-t">
          <span class="lt">Leave Early</span>
           <!-- one -->
           <div class="colt">
             <ul>
               <li class="colt-fst"><i>1</i></li>
               <li class="colt-two"><i>2</i></li>
               <li><i>3</i></li>
             </ul>
           </div>
           <!-- /one -->
           <div class="r-btn r-btn-hover"><a href="javascript:;"><i class="r-up"></i></a></div>
        </div>
        <p class="cr-test">
          Your appeal has been submitted successfully.The lesson support team will process it as soon as possible.Please wait. 
          <a href="javascript:;">Cancel the appeal</a>
        </p>
        <!-- 审核通过显示的文案 start -->
        <p class="lesson-pass">Your appeal has been approved, you can check your pay back on <a href="javascript:;">lesson fee summary</a> page.</p>
        <!-- 审核通过显示的文案 end -->
        <!-- 51talk回应 start -->
        <h5 class="lesson-response">51Talk Response:</h5>
        <p class="lesson-response__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor</p>
        <!-- 51talk回应 end -->
        <div class="lev-crt">
          <ul class="c-list">
            <li>
              <span class="t-t">Reason ：</span>
              <div class="slt-t">Select Reason</div>
            </li>
            <li>
              <span class="t-t">Proof ：</span>
              <div class="clk">
                <div class="uplist">
                  <ul>
                    <!-- 大图放在data-src里 -->
                    <li><img data-src="<%= imagessrc%>000.jpg" src="<%= imagessrc%>000.jpg"></li>
                    <li><img data-src="<%= imagessrc%>000.jpg" src="<%= imagessrc%>000.jpg"></li>
                    <li><img data-src="<%= imagessrc%>000.jpg" src="<%= imagessrc%>000.jpg"></li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <span class="t-t">Remark ：</span>
              <div class="are-test">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
<!-- FAQ start -->
<div class="lesson-faq">
  <h5 class="lesson-faq__title">
    <a href="javascript:;" class="lesson-faq__title__more">More</a>
    FAQ
  </h5>
  <ul class="lesson-faq__list clearfix">
    <li>
      <h6 class="lesson-faq__subtitle">1.How to submit the appeal?</h6>
      <p class="lesson-faq__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    </li>
    <li>
      <h6 class="lesson-faq__subtitle">2.How does the system calculate?</h6>
      <p class="lesson-faq__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    </li>
    <li>
      <h6 class="lesson-faq__subtitle">3.If my appeal was approved,Does it still affect my perfect attandence?</h6>
      <p class="lesson-faq__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.</p>
    </li>
  </ul>
</div>
<!-- FAQ end -->
</body>
<% include ../common/bottom.ejs %>