<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body id="container" data-init="nceIntroduce">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<div class="ce-class-box">
	<div class="ce-int-box ce-bg-color">
		<div class="ce-int clearf">
			<div class="ce-int-img">
				<img src="<%= imagessrc%>ce_class_img1.jpg"/>
			</div>
			<div class="ce-int-t">
				<h1>经典英语青少版Level 0</h1>
				<p><span>课程简介：</span>经典英语青少版是一门同步欧美最新课程框架，内容紧扣实际生活场景，将艺术、科学、自然、社会科学等知识全面融入真实沟通情境。通过外教1对1授课，亲身示例，穿插游戏互动，加强学员理解、吸收，综合提升学员听说能力。此门课程共分为0-9个级别，Level 0是初始级别，主要以听说、兴趣为主，激发学前3-6岁学员学习兴趣，让学员从此爱上英语学习。</p>
				<div class="class-set">课程设置：<span>Level 0共6单元，8课时/单元，共48课时</span></div>
				<a class="buy-btn buy-btn1">现在免费体验</a>
			</div>
		</div>
	</div>
	<div class="class-tx">
		<h2>课程体系</h2>
		<p class="text01">此门课程共0-9个级别，根据不同年龄阶段学员学习特点，参考CEFR（欧洲语言共同参考框架），设定阶段性目标，帮助学员综合提升英语听力、口语能力。此阶段学习结束后，学员能够辨识字母表，做到见词能读。</p>
		<div class="img-box-cej level1 openClass">
			<p>适合学员：0-3岁零基础，没学过英语的学员；</p>
			<p class="text03">字母及组合认知、发音困难的学员。</p>
		</div>
	</div>
	<div class="class-ts ce-bg-color">
		<h2>课程特色</h2>
		<div class="ce-class-ts-box">
			<div class="class-ts-img" id="classImg">
				<div class="current-b"><img src="<%= imagessrc%>cej01.jpg"/></div>
				<div><img src="<%= imagessrc%>cej02.jpg"/></div>
				<div><img src="<%= imagessrc%>cej03.jpg"/></div>
				<div><img src="<%= imagessrc%>cej04.jpg"/></div>
				<div><img src="<%= imagessrc%>cej05.jpg"/></div>
			</div>
			<div class="class-small-img" id="classIcon">
				<span class="current-i"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<span class="left-arrow" id="lArrowBtn"></span>
			<span class="right-arrow" id="rArrowBtn"></span>

		</div>
	</div>
	<div>
		<div class="class-zs-box">
		<h2>教材展示</h2>
		<ul class="class-level0 clearf">
			<li class="img1 first-l">
				<span>动手操作</span>
			</li>
			<li class="img2">
				<span>绘本阅读</span>
			</li>
			<li class="img3 first-l">
				<span>情景词汇</span>
			</li>
			<li class="img4">
				<span>趣味歌谣</span>
			</li>
		</ul>
		<ul class="class-levelxd clearf hide">
			<li class="img1 first-l">
				<span>节日文化</span>
			</li>
			<li class="img2">
				<span>情景词汇</span>
			</li>
			<li class="img3 first-l">
				<span>趣味阅读</span>
			</li>
			<li class="img4">
				<span>游戏操练</span>
			</li>
		</ul>
		<ul class="class-levelxg clearf hide">
			<li class="img1 first-l">
				<span>趣味字谜</span>
			</li>
			<li class="img2">
				<span>星球文化</span>
			</li>
			<li class="img3 first-l">
				<span>游戏操练</span>
			</li>
			<li class="img4">
				<span>知识拓展</span>
			</li>
		</ul>
		<ul class="class-levelcz clearf hide">
			<li class="img1 first-l">
				<span>动手操练</span>
			</li>
			<li class="img2">
				<span>活动任务</span>
			</li>
			<li class="img3 first-l">
				<span>篇章阅读</span>
			</li>
			<li class="img4">
				<span>趣味游戏</span>
			</li>
		</ul>
		</div>
	</div>
	<div class="class-dg-box ce-bg-color">
		<h2>课程大纲</h2>
		<p class="cl_text text01">经典英语青少版课程Level 0有6个单元，共48课时，整个级别按照每单元一个主题设置，并穿插字母及字母组合发音等讲解，帮助学员在情境中学习，提高学员学习兴趣</p>
		<table class="table-box ce-table" border="1" cellpadding="0" cellspacing="0">
			<tr>
				<td class="header" colspan="3">经典青少年版CEJ-Level0 目录</td>
			</tr>
			<tr class="first-tr">
				<td class="first-t-list">单元</td>
				<td>英文名称</td>
				<td class="last-t-list">中文名称</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>
			<tr>
				<td class="first-t-list">Unit 1</td>
				<td>All about Me</td>
				<td class="last-t-list">关于我自己</td>
			</tr>

			
		</table>
		<div class="check-box"><a href="javascript:;">查看全部></a></div>
		
	</div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
