<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
  <!--[if IE 6]><script src="../js/lib/DD_belatedPNG_0.0.8a.min.js"></script><![endif]-->
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<div class="classic-nav">
  <img src="<%= imagessrc%>classic_nav.jpg">
</div>
<div class="classic-fri">
  <div class="centerWidth">
    <p><img src="<%= imagessrc%>classic_fri_tit.png"></p>
    <ul class="fri-ul">
      <li><img src="<%= imagessrc%>classic_li01.jpg"></li>
      <li><img src="<%= imagessrc%>classic_li02.jpg"></li>
      <li><img src="<%= imagessrc%>classic_li03.jpg"></li>
      <li><img src="<%= imagessrc%>classic_li04.jpg"></li>
    </ul>
  </div>
</div>
<div class="classic-two">
  <p><img src="<%= imagessrc%>classic_two_tit.png"></p>
  <div class="cer-two">
    <div class="centerWidth">
      <div class="two-rt">
        <span></span>
        <ul class="two-ul">
          <li>角色个性化</li>
          <li>内容场景化</li>
          <li>图片风趣化</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="classic-two classic-thr">
  <div class="cer-two">
    <div class="centerWidth">
      <div class="two-rt">
        <span></span>
        <ul class="two-ul">
          <li>通过“语块”学词汇、学表达</li>
          <li>符合大脑记忆、储存与调用的规律</li>
          <li>提升交流反应速度</li>
          <li>提高语言输出质量</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="classic-two classic-four">
  <div class="cer-two">
    <div class="centerWidth">
      <div class="two-rt">
        <span></span>
        <ul class="two-ul">
          <li>跟读地道美音</li>
          <li>获得精准机器评测</li>
          <li>跟口语练习无反馈的时代大声说BYEBYE</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="classic-order">
  <div class="centerWidth">
    <p>还在愁学英语没门道？立即上课、升级即可体验<span>经典英语-第3版!</span></p>
    <a href="http://www.51talk.com/reserve/index" target="_blank"><img src="<%= imagessrc%>classic_btn.png"></a>
  </div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
