<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <style type="text/css">
  </style>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index_old" id="container">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_navAdult.ejs %>
<!-- 图片轮播 -->
<% include ../common/w_banner.ejs %>
<div class="home-page">
	<!-- 推荐 -->
	<div class="tip">
		<ul class="tip-list">
			<li>
				<a href="javascript:;"><img src="<%= imagessrc%>index_tea01.jpg" alt=""></a>
				<h3>8000多名外教任您选</h3>
				<p>全英文外教授课，提供沉浸式的学习环境，更快建立英文思维，培养用英文沟通交流的自信。</p>
			</li>
			<li>
				<a href="javascript:;"><img src="<%= imagessrc%>index_tea02.jpg" alt=""></a>
				<h3>25分钟的高频学习</h3>
				<p>每节课25分钟，随时随地把您的碎片时间利用起来。高频练习，容易坚持—当然更见效果！</p>
			</li>
			<li>
				<a href="javascript:;"><img src="<%= imagessrc%>index_tea03.jpg" alt=""></a>
				<h3>前所未有的强互动学习</h3>
				<p>告别懒散无用的大班，外教将以全部的专注力与您互动练习，确保您有超过一半的开口时间，快速建立英语语感。</p>
			</li>
			<li>
				<a href="javascript:;"><img src="<%= imagessrc%>index_tea04.jpg" alt=""></a>
				<h3>每节课低至15元</h3>
				<p>花几万块学一门语言的时代已成历史。51Talk以低至15元/课的价格宣告，每个人都有学好英语的平等权利。</p>
			</li>
		</ul>
	</div>
	<!-- 广告图 --> 
	<div class="adt">
		<div class="lt"><a href="javascript:;"><i class="lt-img"></i></a></div>
		<div class="rt"><a href="javascript:;"><i class="lt-img"></i></a></div>
	</div>
	<!-- 推荐51talk -->
	<div class="talk">
		
		<h3 class="t-h3"><img src="<%= imagessrc%>index_tit01.png" alt=""></h3>
		<ul class="talk-list">
			<li class="icon-lina hover"><div class="u-mask"></div></li>
			<li class="icon-lj"><div class="u-mask"></div></li>
			<!-- <li class="icon-lxp"><div class="u-mask"></div></li> -->
		</ul>	
	</div>
	<!-- 在线学英语 -->
	<div class="tab-step talk openClass">
		<h3 class="t-h3"><img src="<%= imagessrc%>index_tit02.png" alt=""></h3>
		<p class="tab-p"><a href="javascript:;">了解51Talk学员是怎样上课的？ ></a></p>
		<ul class="step-list">
			<li class="frist">
				<h3 class="r-h3">会员登录</h3>
				<a href="javascript:;" class="logo">现在登录</a>
				<a href="javascript:;" class="order">还不是会员？马上来注册吧 ></a>			
			</li>	
			<li class="second">
				<h3 class="r-h3">自选外教预约课时</h3>
				<img src="<%= imagessrc%>index_opt_amr.png" alt="">
				<ul class="tab-word">
					<li>任选老师</li>
					<li>选定时间</li>
					<li>任选教材</li>
				</ul>
			</li>
			<li class="third">
				<h3 class="r-h3">准备好电脑/耳机或手机，准时上课</h3>
				<a href="javascript:;" class="computer"><img src="<%= imagessrc%>index_opt_computer.png" alt=""></a>
				<a href="javascript:;" class="iphone"><img src="<%= imagessrc%>index_opt_iphone.png" alt=""></a>
				<p>电脑、手机随时随地都能上课</p>
			</li>
		</ul>	
	</div>
	<!-- 51talk学习 -->
	<div class="talk student">
		<h3 class="t-h3"><img src="<%= imagessrc%>index_tit03.png" alt=""></h3>
		<p class="tab-p"><a href="javascript:;">更多学员的学习故事 ></a></p>
		<ul class="stu-list">
			<li>
				<a href="javascript:;">
					<img src="<%= imagessrc%>index_51img01.jpg" alt="">
					<p class="u-p">Amy 刘云</p>
					<span class="u-span">北京科技大学硕士</span>
					<span class="u-span">51Talk学习1年</span>
					<span class="u-span u-tit">顺利考过雅思，出国留学</span>
					<span class="ul-txt">
		          <p>毕业季，为了守护甜蜜爱情， Amy选择和男友一起出国留学。每天25分钟的外教1对1课程，让她勇敢开口说，建立了对英语的自信。以前四级都是踩线过的她，轻松战胜雅思，顺利出国深造。</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="<%= imagessrc%>index_51img02.jpg" alt="">
					<p class="u-p">Joanna 张子周</p>
					<span class="u-span">可爱混血“小芭比”</span>
					<span class="u-span">51Talk学习4年</span>
					<span class="u-span u-tit">学英语和看动画片一样好玩</span>
					<span class="ul-txt">
		          <p>虽然是混血，周周却是讲着一口流利的“京片子”。爸爸妈妈常常出差国外，周周姥爷曾经试过无数的高价英语班都以失败告终。不想，51Talk让她每天都开心地和外教讲英语故事，把学英语当成和看动画片一样有趣的事儿。</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="<%= imagessrc%>index_51img03.jpg" alt="">
					<p class="u-p">Gary 张诚斌</p>
					<span class="u-span">北大MEM IT运营管理</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">英语让他拥有新的人生机遇</span>
					<span class="ul-txt">
		          <p>初为人父、工作忙碌、买菜做饭、健身锻炼……而为了职业提升，他来到51Talk学英语，除了性价比，看重的就是可以随时随地上课，经过2年多的学习，他已经和外国同事轻松地用英语交流。生活正如他所说：不是看到希望才坚持，而是坚持了才会看到希望！</p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="<%= imagessrc%>index_51img04.jpg" alt="">
					<p class="u-p">Lily 蔡旭</p>
					<span class="u-span">外企漂亮妈妈</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">英语对她而言就是机会</span>
					<span class="ul-txt">
		          <p>曾经，她是一名英语老师，如今身在外企，英语用起来还是很费劲。她说：老师上课，用一种方法对应所有学生。现在51Talk用外教1对1，把我们以前做不到的事情都给完成了！现在51Talk给了我更多工作，学习和体验生活的机会。
		          </p>
		      </span>
		    </a>
			</li>
			<li>
				<a href="javascript:;">
					<img src="<%= imagessrc%>index_51img05.jpg" alt="">
					<p class="u-p">Judy 毛春玲</p>
					<span class="u-span">宜家管理人员</span>
					<span class="u-span">51Talk学习2年</span>
					<span class="u-span u-tit">她找到那种张嘴说的自信</span>
					<span class="ul-txt">
		          <p>一直在外企，她却一直不会说英语，在51Talk学习的丈夫给她报了名。渐渐，午休、堵车等都成了她的上课时间……外教随时帮她纠错，也让她越来越自信表达。语言的本质正如她所言：“最主要是把自己表达清楚，让对方明白。沟通嘛！”</p>
		      </span>
		    </a>
			</li>
		</ul>
	</div>
	<!-- 立即注册 -->
	<% include ../common/www/w_footer_reg.ejs %>
	<!-- 企业荣誉 -->
	<div class="honor">
		<div class="centerMth">
			<ul class="hon-ul">
				<li class="enter hon-on"><a href="javascript:;">媒体报道</a></li>
				<li><a href="javascript:;">企业荣誉</a></li>
			</ul>
			<div class="hon-en">
				<ul class="hon-list hon-li">
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_cctv2.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_cctv.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_ifeng.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_qq.jpg" alt=""></a>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_sina.jpg" alt=""></a>
					</li>
				</ul>
				<p class="more"><a href="javascript:;">查看更多媒体报道></a></p>
			</div>
			<div class="hon-en hide">
				<ul class="hon-list">
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_deqin.png" alt=""></a>
						<span>德勤高科技高成长<br>中国50强</span>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_daily.png" alt=""></a>
						<span>2014最具成长性教育品牌<br>中国日报</span>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_netease.png" alt=""></a>
						<span>最具影响力在线教育品牌<br>网易</span>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_51sina.png" alt=""></a>
						<span>年度最具成长力品牌<br>新京报</span>
					</li>
					<li>
						<a href="javascript:;"><img src="<%= imagessrc%>fot_brand.png" alt=""></a>
						<span>最具品牌知名度外语教育机构<br>新浪网</span>
					</li>
				</ul>
				<p class="more"><a href="javascript:;">查看更多></a></p>	
			</div>
		</div>
	</div>
	<!-- 合作企业 -->
	<div class="cooper">
		<div class="centerMth">
			<h3 class="cop-h3">合作企业</h3>
			<ul class="cop-ul">
				<li><a href="javascript:;"><img src="<%= imagessrc%>fot_xiaomi.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="<%= imagessrc%>fot_jd.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="<%= imagessrc%>fot_bank.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="<%= imagessrc%>fot_sony.png" alt=""></a></li>
				<li><a href="javascript:;"><img src="<%= imagessrc%>fot_state.png" alt=""></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- 官网区分成人青少弹窗 -->
<div class="adult-junior-popup">
	<div class="popup-content">
		<h3 class="title">请选择适合您的课程</h3>
		<div class="options">
			<ul class="clearfix">
				<li class="adult">
					<a href="javascript:void(0)" class="adult-button">成人英语</a>
				</li>
				<li class="junior">
					<a href="http://junior.51talk.com/" class="junior-button" target="_blank">青少年英语</a>
				</li>			
			</ul>
		</div>
		<span class="popup-close"></span>
	</div>
	<div class="popup-mask"></div>
</div>
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float.ejs %>
<!-- 官网突出公开课宣传结束 -->
<!-- 官网右上角增加AC下载 -->
<% include ../common/www/w_acLoad.ejs %>
<!-- 官网右上角增加AC下载结束 -->
<!-- 首页右侧 在线客服+微信 -->
<% include ../common/www/ntkf.ejs %>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 上线后替换路径 -->


<!-- <script src="http://static.51talk.com/static/js/html/lib/jquery-1.8.2.min.js"></script>
<script src="http://static.51talk.com/static/js/html/lib/ckplayer/ckplayer.min.js"></script> -->
<script src="http://static.51talk.com/js/jquery.min.js?v=1439877955695"></script>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>
</body>
<script src="<%= jssrc%>"></script>
</html>
