<% include ../common/top.ejs %>
<body>
	<!-- 顶部 -->
	<% include ../common/www/w_header.ejs %>

	<!-- banner -->
	<div class="nce-b">
		<div class="centerMth">
			<a href="javascript:;" class="b-btn">立即约课</a>
		</div>
	</div>

	<!-- 综合优化 超越经典新概念 -->
	<div class="nce-cr">
		<div class="centerMth">
			<p class="tit">综合培优  超越经典新概念</p>
			<ul class="list">
				<li>
					<dl>
						<dt><img src="<%= imagessrc%>nce/nct_list_01.png" alt=""></dt>
						<dd class="lt">系统梳理语法</dd>
						<dd>每课1个语法讲解，多种练习及活动巩固，<br>整体难度逐层递进，保证学员学习效果</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><img src="<%= imagessrc%>nce/nct_list_02.png" alt=""></dt>
						<dd class="lt">综合提升英语能力</dd>
						<dd>采取科学SDC教学法，<br>超越公立校教学标准，培养综合性人才！</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt><img src="<%= imagessrc%>nce/nct_list_03.png" alt=""></dt>
						<dd class="lt">轻松掌握应考方法</dd>
						<dd>紧贴国家中小学英语课程标准，增加小升初、<br>中考真题模拟测试、提高学员成绩！ </dd>
					</dl>
				</li>
			</ul>
		</div>	
	</div>

	<!-- 教材内容拆分 逐层讲解巩固 -->
	<div class="nce-list">
		<div class="centerMth">
			<p class="tit">教材内容拆分  逐层讲解巩固</p>
			<p class="tit-second">内容由易到难，循序渐进，帮助学员巩固吸收，熟练运用</p>
			<ul class="cg">
				<li>
					<span class="top">词汇<i>Vocabulary</i></span>
					<!-- <span class="ts">易→难</span> -->
				</li>
				<li>
					<span class="top">语法<i>Grammar</i></span>
					<!-- <span class="ts">输入→输出</span> -->
				</li>
				<li>
					<span class="top">篇章<i>Text</i></span>
					<!-- <span class="ts">知识吸收、巩固→口语</span> -->
				</li>
				<li>
					<span class="top">听说<i>Speaking</i></span>
					<!-- <span class="ts">表达、运用</span> -->
				</li>
			</ul>
		</div>	
	</div>

	<!-- 兼顾听说能力 满足应试需求 -->
	<div class="nce-ks">
		<div class="centerMth">
			<p class="tit">兼顾听说能力  满足应试需求</p>
			<img src="<%= imagessrc%>nce/nct_word.png" alt="" class="ks-img">
			<img src="<%= imagessrc%>nce/nct_lt_img.png" alt="" class="ks-lt">
			<img src="<%= imagessrc%>nce/nct_rt_img.png" alt="" class="ks-rt">
		</div>	
	</div>

	<!-- 青少全能新概念三大优势 -->
	<div class="nce-er">
		<div class="centerMth">
			<p class="tit">青少全能新概念三大优势</p>
			<div class="ms">
				<div class="tea01">
					<p class="tp">科学SDC教学法</p>
					<ul class="cal">
						<li>
							<span class="l-t">S<br>以学员为<br>中心教学</span>
							<span class="r-t">1对1授课模式，全程100%互动</span>
						</li>
						<li>
							<span class="l-t">D<br><b>英语及能力及<br>考试成绩双丰收</span>
							<span class="r-t">听说练习， 真题模拟<br>双重效果保证</span>
						</li>
						<li class="last">
							<span class="l-t">C<br>情景式、<br>浸入式教学</span>
							<span class="r-t">情景式讲解，全程英文浸入，<br>学习效果翻倍</span>
						</li>
					</ul>
				</div>
				<div class="tea02">
					<p class="tp">专业外教1对1授课</p>
					<ul class="fog">
						<li><i></i><span>经专项培训和严格审核的外教</span></li>
						<li><i></i><span>青少课程教学经验丰富、教学技能突出的外教</span></li>
						<li><i></i><span>精选青少课程综合排名前400名的外教</span></li>
					</ul>	
				</div>
				<div class="tea03">
					<p class="tp">内部学员专享教材</p>
					<ul class="stu">
						<li><i></i><span>小升初、中考知识点100%覆盖，轻松应对考试</span></li>
						<li><i></i><span>国际学术团队联合研发，高品质保障</span></li>
						<li><i></i><span>基于《新概念英语》，对单元内容进行科学拆分，进行专项突破</span></li>
					</ul>
				</div>
			</div>
		</div>	
	</div>

	<!-- 教学目标 -->
	<div class="nce-mate">
		<div class="centerMth">
			<p class="tit">教学目标</p>
			<table class="table tabCl" border="0">
				<tbody>
					<tr>
						<td width="150">册别</td>
						<td colspan="5">
							<table class="cls" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="120">课程</td>
									<td width="316">描述</td>
									<td width="115">词汇（个）</td>
									<td width="110">语法（个）</td>
									<td>篇章（篇）</td>
								</tr>
							</table>
						</td>
					</tr>	
				</tbody>
			</table>
			<table class="table" border="0">
				<tbody>
					<tr>
						<td width="150">青少全能<br>新概念一册</td>
						<td colspan="5">
							<table class="cls" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="120">
										<p>1-36课</p>
										<p>第一阶段</p>
									</td>
									<td width="310" class="desc">
										<p><span>知识：</span>词汇基本发音及含义，基础举行及相应生态；</p>
										<p><span>技能：</span>运用相关师太、句型描述正在发生的事情。</p>
									</td>
									<td width="115">375</td>
									<td width="110">18</td>
									<td>18</td>
								</tr>
								<tr>
									<td>
										<p>37-72课</p>
										<p>第二阶段</p>
									</td>
									<td class="desc" width="310">
										<p><span>知识：</span>词汇简单拓展，逐步积累词汇量；</p>
										<p><span>技能：</span>表达喜好，描述天气，生病就医，讲述发生过去的事情。</p>
									</td>
									<td width="115">365</td>
									<td width="110">18</td>
									<td>18</td>
								</tr>
								<tr>
									<td>
										<p>73-108课</p>
										<p>第三阶段</p>
									</td>
									<td class="desc" width="310">
										<p><span>知识：</span>词汇在句子中运用，搭建语法框架；</p>
										<p><span>技能：</span>轻松阅读90-100字的篇章；运用所学内容表达个人将来计划等。</p>
									</td>
									<td width="115">365</td>
									<td width="110">18</td>
									<td>20</td>
								</tr>
								<tr>
									<td>
										<p>109-144课</p>
										<p>第四阶段</p>
									</td>
									<td class="desc" width="310">
										<p><span>知识：</span>词汇重点拓展及在盘掌中的应用，掌</p>
										<p>握做题及应试技巧；</p>
										<p><span>技能：</span>能阅读120-140字的篇章；围绕话题陈述个人意见，达到交际目的。</p>
									</td>
									<td width="115">365</td>
									<td width="110">18</td>
									<td>18</td>
								</tr>
							</table>

						</td>
					</tr>					
				</tbody>

			</table>
		</div>
	</div>

	<!-- 教材展示 -->
	<div class="nce-ex">
		<div class="centerMth">
			<p class="tit">教材展示</p>
			<ul class="ex-img">
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_01.jpg">
					<span class="ex-t">趣味词汇</span>
				</li>
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_02.jpg">
					<span class="ex-t">情景语法</span>
				</li>
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_03.jpg">
					<span class="ex-t">阅读篇章</span>
				</li>
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_04.jpg">
					<span class="ex-t">综合听说</span>
				</li>
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_05.jpg">
					<span class="ex-t">游戏操练</span>
				</li>
				<li>
					<img src="<%= imagessrc%>nce/nce_jc_06.jpg">
					<span class="ex-t">专项讲解</span>
				</li>
			</ul>
		</div>
	</div>

	<!-- 跟老外学新概念，让孩子感受不一样的英语课堂 -->
	<div class="nce-bom">
		<div class="centerMth">
			<a href="javascript:;" class="b-btn">立即约课</a>
		</div>	
	</div>

	<!-- 尾部 -->
	<% include ../common/www/w_footer_reg.ejs %>
	<% include ../common/www/w_footer_home.ejs %>
</body>
<% include ../common/bottom.ejs %>