<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body id="container" data-init="nceIntroduce">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<div class="ce-class-box">
	<div class="ce-int-box nce-bg-color">
		<div class="ce-int clearf">
			<div class="ce-int-img nce-xd-img"></div>
			<div class="ce-int-t">
				<h1>青少全能新概念1册（1-36课）</h1>
				<p><span>课程简介：</span>青少全能新概念是一门为有小升初、中考需求的学员，把经典新概念进行科学模块化拆分，提取精华，通过外教一对一的上课形式，对词汇，语法，篇章及听说逐层讲解，配套历年真题练习，提高中小学学员听，说，读，写能力的同时轻松应对考试的综合性培优课程。第一册共分4个阶段，1-36课是青少全能新概念学习的第一阶段，是英语学习的敲门砖。学员在本阶段将掌握词汇基本发音及含义，运用基本交际句型描述正在发生的事情。</p>
				<div class="class-set">课程设置：<span>第一阶段（1-36课），4课时/课，共72课时</span></div>
				<div class="class-set">授课模式：<span>外教1对1教授自主研发的新概念</span></div>
				<a class="buy-btn">现在免费体验</a>
			</div>
		</div>
	</div>
	<div class="class-tx">
		<h2>课程体系</h2>
		<p class="text01">此册共分为4个阶段，每阶段对学员提出不同要求。第一阶段结束后，学员能掌握至少375个词汇，18个语法点以及18篇篇章，并能用基本句型轻松描述现在正在发生的事情。</p>
		<div class="img-box nce_xd_tx openClass">
			<div class="nce-text">
				<p>适合学员：8-9岁已经具备一定英语基础的学员；</p>
				<p class="text03">想系统学习语法，提高成绩的学员。</p>
			</div>
		</div>
	</div>
	<div class="class-ts nce-bg-color">
		<h2>课程特色</h2>
		<div class="nce-class-ts-box">
			<div class="class-ts-img" id="classImg">
				<div class="current-b"><img src="<%= imagessrc%>nce01.jpg"/></div>
				<div><img src="<%= imagessrc%>nce02.jpg"/></div>
				<div><img src="<%= imagessrc%>nce03.jpg"/></div>
				<div><img src="<%= imagessrc%>nce04.jpg"/></div>
				<div><img src="<%= imagessrc%>nce05.jpg"/></div>
			</div>
			<div class="class-small-img" id="classIcon">
				<span class="current-i"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<span class="left-arrow" id="lArrowBtn"></span>
			<span class="right-arrow" id="rArrowBtn"></span>

		</div>
	</div>
	<div>
		<div class="class-zs-box">
		<h2>教材展示</h2>
		<ul class="nce_xd_zs clearf">
			<li class="img1 first-l"></li>
			<li class="img2"></li>
			<li class="img3 first-l"></li>
			<li class="img4"></li>
		</ul>
		<ul class="nce_xg_zs clearf hide">
			<li class="img1 first-l">	
				<span>篇章阅读</span>
			</li>
			<li class="img2">
				<span>综合听说</span>
			</li>
			<li class="img3 first-l">
				<span>情景语法</span>
			</li>
			<li class="img4">
				<span>趣味词汇</span>
			</li>
		</ul>
		</div>
	</div>
	<div class="class-dg-box nce-bg-color">
		<h2>课程大纲</h2>
		<p class="cl_text text01">青少全能新概念一册共72单元，288课时，词汇、短语、语法及句型在四个模块中不断再现，通过不同的练习方式，巩固重点内容；每课一个核心语法点或句型结构，整册难度成梯度上升，循序渐进，帮助学员搭建并系统梳理语法体系；真正培养出成绩高，能力强的双优学员。</p>
		<table class="table-box" border="1" cellpadding="0" cellspacing="0">
			<tr class="header">
				<td class="nce-kc-list">Lesson</td>
				<td class="nce-tm-list">TEXT</td>
				<td class="nce-ch-list">Vocabulary</td>
				<td>Grammar</td>
			</tr>
			<tr class="first-tr">
				<td class="nce-kc-list">课程</td>
				<td class="nce-tm-list">篇章题目</td>
				<td class="nce-ch-list">词汇</td>
				<td>语法汇总</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			<tr>
				<td class="nce-kc-list">1-2</td>
				<td class="nce-tm-list">All about Me</td>
				<td class="nce-ch-list">衣物、学习用品</td>
				<td>This is描述物品（肯定句及一般疑问句）</td>
			</tr>
			
		</table>
		<div class="check-box"><a href="javascript:;">查看全部></a></div>
		
	</div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
