<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
	<!--[if IE 6]><script src="../js/lib/DD_belatedPNG_0.0.8a.min.js"></script><![endif]-->
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<!-- 图片轮播 -->
<% include ../common/www/w_banner.ejs %>
<!-- 学习概念 -->
<div class="students">
	<div class="c_howTLearn">
		<img src="<%= imagessrc%>/student_top1.png" alt=""  class="h_title">
	</div>
	<div class="c_item openClass">
		<div class="i_item">
			<div class="i_top">
				<i class="i_left"></i>
				<i class="i_center"></i>
				<i class="i_right"></i>
				<img src="<%= imagessrc%>/student_top2.png" alt="" class="i_tit">
			</div>
			<div class="s_c_cont">
				<ul class="s_c_list">
					<li>
						<img src="<%= imagessrc%>/student_c_1.jpg" alt="">
						<div class="s_c_right">
							<h3>语言还是得说才能真的提高</h3>
							<p class="s_c_text1">北京科技大学硕士，在51Talk学习1年，考取澳大利亚知名大学。</p>
							<p class="s_c_text2">—— Amy 刘云</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_2.jpg" alt="">
						<div class="s_c_right">
							<h3>每天25分钟私人空间，释放<br>自我</h3>
							<p class="s_c_text1">外企白领，51Talk帮助她走遍全球。</p>
							<p class="s_c_text2">—— Lucy 徐璐</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_3.jpg" alt="">
						<div class="s_c_right">
							<h3>学了10年英语的40岁和不学<br>英语的40岁一定是有区别的</h3>
							<p class="s_c_text1">外企中层管理人员，在51Talk坚持上课500多天不间断。</p>
							<p class="s_c_text2">—— Eddie 田育颖</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_4.jpg" alt="">
						<div class="s_c_right">
							<h3>在51Talk培养了语感,去美国<br>和大家交流没有障碍</h3>
							<p class="s_c_text1">中学生，51Talk的学习让她在美国游学生活中交流“无压力”。</p>
							<p class="s_c_text2">—— Eileen 胡馨元</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_5.jpg" alt="">
						<div class="s_c_right">
							<h3>高兴地跟老师一起手舞足蹈</h3>
							<p class="s_c_text1">中英混血小“芭比”，在51Talk学习4年，入围《校园好声音》英文歌香港决赛。</p>
							<p class="s_c_text2">—— Joanna 张子周</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_6.jpg" alt="">
						<div class="s_c_right">
							<h3>不是看到希望才坚持，而是<br>坚持了才会看到希望！</h3>
							<p class="s_c_text1">IT公司经理，51Talk随时随地学，轻松应对国际项目。</p>
							<p class="s_c_text2">—— Gary 张诚斌</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_7.jpg" alt="">
						<div class="s_c_right">
							<h3>“英语对我来说就是机会”<br>老师Lily的现身说法</h3>
							<p class="s_c_text1">英语老师找到英语学习的最新方式，生活开启无限机会。</p>
							<p class="s_c_text2">—— Lily 蔡旭</p>
						</div>
					</li>
					<li>
						<img src="<%= imagessrc%>/student_c_8.jpg" alt="">
						<div class="s_c_right">
							<h3>找到那种张嘴说的自信表达<br>清楚，让对方明白，沟通嘛</h3>
							<p class="s_c_text1">IKEA管理人员，夫妻一起学英语，对孩子也是最好的榜样。</p>
							<p class="s_c_text2">—— Judy 毛春玲</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="c_empty c_gray">
		<div class="i_top">
			<i class="i_left"></i>
			<i class="i_center"></i>
			<i class="i_right"></i>
			<img src="<%= imagessrc%>/student_top3.png" alt="" class="i_tit">
		</div>
	</div>
</div>
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float.ejs %>
<!-- 官网突出公开课宣传结束 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
