<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<!-- 图片轮播 -->
<% include ../common/www/w_banner.ejs %>
<!-- 青少年开始 -->
<div class="tegrs">
  <p class="t-title"><img src="<%= imagessrc%>top_tit.png" alt=""><i></i></p>
  <!-- 1对1外教 -->
  <div class="ten-fri">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>t_tit.png" alt=""></p>
      <p class="tit02">在语言学习的关键期，通过和专业外教1对1沉浸式学习，真正像母语一样习得英语，<br>让孩子使用英语思考，英语随时随地脱口而出</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr01.jpg" alt=""></dt>
        <dd class="ten-dd01">
          <i></i>
          <span>VIP待遇，老师的注意力100%关注一个孩子</span>
        </dd>
        <dd class="ten-dd02">
          <i></i>
          <span>优选青少经验丰富，发音纯正的专业外教</span>
        </dd>
        <dd class="ten-dd03">
          <i></i>
          <span>引导式的鼓励孩子勇敢开口，<br>保证50%以上的时间强互动练习</span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 在线学习 -->
  <div class="ten-fri ten-le">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>f_tit.png" alt=""></p>
      <p class="tit02">通过51Talk强大而便捷的在线授课平台，孩子可以足不出户，随时随地和外教在家里学习国际课程</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr02.jpg" alt=""></dt>
        <dd class="ten-dd01">
          <i></i>
          <span>每节课25分钟，短时高频，纯英文沉浸式语言环境</span>
        </dd>
        <dd class="ten-dd02">
          <i></i>
          <span>无需花费大量时间在路上接送</span>
        </dd>
        <dd class="ten-dd03">
          <i></i>
          <span>多媒体网络资源，互动性强，快乐学习</span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 专业有趣的课程 -->
  <div class="ten-fri ten-ln">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>l_tit.png" alt=""></p>
      <p class="tit02">基于3-15岁年龄段孩子的语言能力、认知发展和兴趣，<br>
      参考欧洲语言标准（CEFR），同步欧美，精心研发出适合中国孩子的英语学习课程</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr03.png" alt=""></dt>
        <dd class="ten-dd01">
          <i></i>
          <span>基于不同年龄孩子的心理特点和语言特征</span>
        </dd>
        <dd class="ten-dd02">
          <i></i>
          <span>丰富多彩的话题内容，让孩子爱上英语，沟通表达更自信</span>
        </dd>
        <dd class="ten-dd03">
          <i></i>
          <span>同步欧美最新课程框架，建立英文思维，培养国际视野</span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 推荐51talk -->
  <div class="talk">
    <h3 class="t-h3"><img src="<%= imagessrc%>index_tit01.png" alt=""></h3>
    <ul class="talk-list">
      <li class="icon-lina hover"><div class="u-mask"></div></li>
      <li class="icon-lj"><div class="u-mask"></div></li>
     <!--  <li class="icon-lxp"><div class="u-mask"></div></li> -->
    </ul> 
  </div>
  <!-- 学员故事 -->
  <div class="ten-stu openClass">
    <div class="centerMth">
      <p class="stu-tit"><img src="<%= imagessrc%>stu_tit.png" alt=""></p>
      <a href="javascript:;" class="more">更多孩子的学习故事></a>
      <ul>
        <li>
          <a href="javascript:;">
            <img src="<%= imagessrc%>ten_gs01.png" alt="" class="s-img">
            <p class="s-p">学英语和看动画片一样好玩</p>
            <span class="s-r">——张子周 Joanna</span>
            <span class="s-l">在51Talk学习4年，她每天都开心地和外教聊天、讲英语、玩耍，有时开心得还会和老师一起手舞足蹈</span>
          </a>
        </li>
        <li>
          <a href="javascript:;">
            <img src="<%= imagessrc%>ten_gs02.png" alt="" class="s-img">
            <p class="s-p">英语让“希望之星”自信闪耀</p>
            <span class="s-r">——陈泽华 Vic</span>
            <span class="s-l">51Talk学习2年，从Lv.2到Lv.11, 英语让这个腼腆的男孩在"希望之星"的赛场光芒四射</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 首页右侧 在线客服+微信 -->
<% include ../common/www/ntkf.ejs %>
<!-- 青少年结束 -->
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float_junior.ejs %>
<!-- 官网突出公开课宣传结束 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
