<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<!-- 图片轮播 -->
<% include ../common/www/w_banner.ejs %>
<!-- 青少年-明星学院 -->
<div class="ten-star">
  <div class="t-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="<%= imagessrc%>ten_mx_t01.png" alt=""></h3>
      <p class="t-sm-img"><img src="<%= imagessrc%>ten_mx_tit01.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
          <li><img src="<%= imagessrc%>ten_t01.jpg" alt=""><span>51Talk学员 Jonathan</span></li>
          <li class="t-sm-li"><img src="<%= imagessrc%>ten_t02.jpg" alt=""><span>51Talk学员 Joanna</span></li>
         <!--  <li><img src="<%= imagessrc%>ten_t01.jpg" alt=""><span>51Talk北京学员 Barbie</span></li> -->
         
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>家长说 : 孩子爸爸是英国人妈妈是中国人，但工作都很忙，之前请过一个英国家教，每次到家里来上课，但对学的教材不熟悉上课就是聊天，提高不大，费用是300RMB/小时。在51Talk上课之后，把之前的外教给辞了，还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
          <span>——Joanna小朋友的姥爷</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>妈妈说：孩子从两岁半就开始学英语，但真遇到外国友人，根本不会说。在51Talk学了两个月，就发现了开口说英语的乐趣了。Barbie喜欢与生活相关的话题，常常和老师聊的哈哈大笑。而且，用网络上课太方便了，什么事都不耽误，把我的时间解放了。现在，孩子的英语现比我好多了，我也在和孩子一起上课呢。</p>
          <span>——Barbie妈妈</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说：做父母的，都望子成龙。51Talk为Sarah的小学英语打下好基础！英语要提高，就得跟外教1对1地聊天，多开口说。而且51Talk教材很多都适合小孩练口语，尤其是《剑桥少儿英语》和《绿色通道》。学了6个月，Sarah的口语有了很大的进步。最让我开心的是，51Talk能随时随地上课，让我们不浪费一分钱、一分钟！</p>
          <span>——Sarah妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-col-class openClass">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="<%= imagessrc%>ten_mx_t02.png" alt=""></h3>
      <p class="t-sm-img"><img src="<%= imagessrc%>ten_mx_tit02.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
         <!--  <li><img src="<%= imagessrc%>ten_t04.jpg" alt=""><span>51Talk上海学员 Christina</span></li> -->
          <li><img src="<%= imagessrc%>ten_t05.jpg" alt=""><span>51Talk北京学员  Dudu</span></li>
          <li class="t-sm-li"><img src="<%= imagessrc%>ten_t06.jpg" alt=""><span>51Talk上海学员  Harry</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>家长说 : 孩子爸爸是英国人妈妈是中国人，但工作都很忙，之前请过一个英国家教，每次到家里来上课，但对学的教材不熟悉上课就是聊天，提高不大，费用是300RMB/小时。在51Talk上课之后，把之前的外教给辞了，还推荐给了好多朋友，他们特别喜欢51Talk，都非常感谢我。</p>
          <span>——Christina妈妈 </span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>爸爸说 : 我让孩子从小接触英语，是为了培养了孩子对英语的喜爱。遇见外国人，我们也会让他试着说英语。但是，只能逮着一个就练一下，没法规律地练习。来到51Talk，孩子每天都会和外教开心地练口语。有时候，我们也会陪孩子一起上课，不仅孩子跟老师成了好朋友，我们的英语也提高了不少！  </p>
          <span>——Dudu爸爸</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 : 学校的英语都是考试，但成绩只是抽象的数字，孩子不会交流。Harry在51Talk学了3个多月，简单交流完全没问题，口语比别的小朋友好很多。和别的小朋友不同，她敢和外教说，也不怕说错。因为，只有他一个学生，外教会很照顾孩子的情绪。说错了，外教也会很友好地指出来，演示正确的发音，孩子跟着说。</p>
          <span>——Harry妈妈 </span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-last-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="<%= imagessrc%>ten_mx_t04.png" alt=""></h3>
      <p class="t-sm-img"><img src="<%= imagessrc%>ten_mx_tit04.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
         <!--  <li><img src="<%= imagessrc%>ten_t10.jpg" alt=""><span>51Talk北京学员 Fish</span></li> -->
          <li><img src="<%= imagessrc%>ten_t11.jpg" alt=""><span>1Talk学员  Jackie</span></li>
          <li class="t-sm-li"><img src="<%= imagessrc%>ten_t12.jpg" alt=""><span>51Talk学员 William</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>爸爸说 : 孩子五年级了，学英语时间也不短，但是口语一直不好。在51Talk，孩子觉得学英语很轻松。以前对英语很抗拒，现在慢慢变得主动了。我觉得就是因为外教很耐心，总鼓励孩子多说多练。他把学英语当成了一种乐趣，每次都很期待上外教课。而且在学校的成绩也提高了，这个算是个意外的收获。</p>
          <span>——Fish爸爸</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>妈妈说 : 以前我跟Jack说英语的时候，他总是会用汉语回答我，也不愿意回应。但是最近我发现，Jack会主动和我说英语了，还很开心地讲一些英文故事。我觉得他的整体水平都有了很大的提高。51Talk让Jack的英语能力在无形中提高，在学校经常被老师选中代表学校参加一些外事交流活动。 </p>
          <span>——Jack妈妈</span>
        </div>
       <!--  <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 : 除了经典课程，Michael还会学习英语习语、漫画英语等教材。这些外面都没有，却帮孩子了解广阔的世界。他喜欢Leyla老师，耐心细致，随时指出各种问题。现在，Michael的英语基本达到高中生水平了，还跟着老师学了一口地道的美音。而且，不受时间地点的限制，这是最方便的学习方式了。</p>
          <span>——Michael妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="t-class t-col-class">
    <div class="centerMth">
      <h3 class="t-sm-img"><img src="<%= imagessrc%>ten_mx_t03.png" alt=""></h3>
      <p class="t-sm-img"><img src="<%= imagessrc%>ten_mx_tit03.png" alt=""></p>
      <p class="t-sm-btn">
        <a href="javascript:;">给孩子免费预约体验课</a>
      </p>
      <div class="jsTabs">
        <ul class="t-sm-std">
          
         <!--  <li><img src="<%= imagessrc%>ten_t07.jpg" alt=""><span>51Talk北京学员 Bella</span></li> -->
          <li><img src="<%= imagessrc%>ten_t08.jpg" alt=""><span>51Talk学员 Eileen</span></li>
          <li class="t-sm-li"><img src="<%= imagessrc%>ten_t09.jpg" alt=""><span>51Talk学员 Kevin</span></li>
        </ul>
        <div class="t-sm-tit01">
          <i></i>
          <p>Bella说 :我以前在双语学校学过，所以我还比较敢于用英语表达自己的想法。但上课中，我还是会犯一些比较低级的语法错误。与以前学校不一样的是，在51Talk，我是单独地和老师交流。老师很nice，能发现我的问题，会耐心及时地纠正我的语法问题。很开心，在外教的引导下，我的英语水平整体进步很大。</p>
          <span>——Bella同学</span>
        </div>
        <div class="t-sm-tit01 t-sm-tit02" style="display:none;">
          <i></i>
          <p>Tiger说 :我从小就学英语，但主要是应试类的。现在，听力在考试中占得比重高了，我想跟着外教练口语和听力。我选了次卡套餐。每次课25分钟，手机和iPad都能上课，特别方便。外教都很有经验，而且很nice，所以我上课也比较轻松。现在看美剧基本都差不多能听懂了，听力考试什么的，应该都没什么问题。</p>          
          <span>——Tiger同学</span>
        </div>
        <!-- <div class="t-sm-tit01 t-sm-tit03" style="display:none;">
          <i></i>
          <p>妈妈说 :由于是通过网络上课，随时随地上课，而且免费下载各种教材，太方便了。等于，我们只花一样钱就可以学到各种不同的教材，真好！现在，我们家Roger在51Talk学习了一年多，在同龄的孩子中，英语算是很不错的。成绩和语言交流能力，一个都不落下，我们也经常和朋友的孩子推荐这种高性价比的学习方法。</p>
          <span>——Roger同学妈妈</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- 青少年-明星学院结束 -->
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float_junior.ejs %>
<!-- 官网突出公开课宣传结束 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
