<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>

	<div class="pub_container">
		<!-- 公开课banner -->
		<img src="<%= imagessrc%>public_class_banner.png">
		<!-- 免费外教课堂 提升口语能力 -->
		<div class="intro">
			<div class="intro_title"></div>
			<ul>
				<li>
					<div class="pic pic1"></div>
					<p class="title">上课时间</p>
					<p>12月8日开始</p>
					<p>每周二晚7:30-7:55</p>
				</li>
				<li>
					<div class="pic pic2"></div>
					<p class="title">师资力量</p>
					<p>专业外教 引导式教育</p>
				</li>
				<li>
					<div class="pic pic3"></div>
					<p class="title">教学方式</p>
					<p>多媒体教学 同伴同学一起学</p>
				</li>
				<li>
					<div class="pic pic4"></div>
					<p class="title">教学特色</p>
					<p>英文思维 国际视野</p>
				</li>
			</ul>
		</div>
		<!-- 12月免费公开课 -->
		<div class="pub_class">
			<div class="pub_class_title"></div>
			<ul>
				<li>
					<img src="<%= imagessrc%>pub_class_con.png">
					<p class="title">Lesson 1</p>
					<p>记得《海底总动员》里的小丑鱼吗?</p>
				</li>
				<li>
					<img src="<%= imagessrc%>pub_class_con.png">
					<p class="title">Lesson 2</p>
					<p>小鱼为什么和小伙伴一起玩耍？</p>
				</li>
				<li>
					<img src="<%= imagessrc%>pub_class_con.png">
					<p class="title">Lesson 3</p>
					<p>小蜥蜴如何逃脱危险的？</p>
				</li>
				<li>
					<img src="<%= imagessrc%>pub_class_con.png">
					<p class="title">Lesson 4</p>
					<p>了解神奇而可爱的袋鼠妈妈</p>
				</li>
			</ul>
		</div>
		<!-- 上课流程 -->
		<div class="class_flow">
			<div class="class_flow_title"></div>
			<ul>
				<li class="flow flow1"><a href="javascript:;"></a></li>
				<li class="flow flow2"></li>
				<li class="flow flow3"><a href="javascript:;"></li>
				<li class="flow flow4"></li>
			</ul>
		</div>
	</div>

	<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
