<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
	<!--[if IE 6]><script src="../js/lib/DD_belatedPNG_0.0.8a.min.js"></script><![endif]-->
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<!-- 图片轮播 -->
<% include ../common/www/w_banner.ejs %>
<!-- 学习概念 -->
<div class="teachers ten_teacherT_list">
	<div class="teacherT">
		<h3 class="teacherT_tit"><img src="<%= imagessrc%>t_top1.png" alt=""></h3>
		<p class="teacherT_text"><a href="#">让孩子体验跟外教学英语<span class="teacher_icon"></span></a></p>
		<ul class="teacherT_list">
			<li>
				<div class="teacherT_img teacherT_img1"></div>
				<h3>只用顶尖的3%</h3>
				<p>以英语为官方语言国家的名牌大<br>学毕业，严格把控3%的优秀老师<br>通过率</p>
			</li>
			<li>
				<div class="teacherT_img teacherT_img2"></div>
				<h3>专业的青少老师培训体系</h3>
				<p>超过100小时的专业培训，包括<br>儿童心理学，第二语言习得以及<br>针对少儿的教学技巧等</p>
			</li>
			<li>
				<div class="teacherT_img teacherT_img3"></div>
				<h3>学员评价机制，优胜劣汰</h3>
				<p>基于孩子和家长对老师的真实<br>反馈与评价，对教师优胜劣汰</p>
			</li>
		</ul>
	</div>
	<div class="teacherB openClass">
		<div class="teacherB_width">
			<h3 class="teacherT_tit"><img src="<%= imagessrc%>t_top2.png" alt=""></h3>
			<p class="teacherT_text"><a href="#">让孩子体验跟外教学英语<span class="teacher_icon"></span></a></p>
			<div class="teacherB_cont">
				<ul class="teacherB_list">
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_1.jpg" alt=""><span></span></a>
						</div>
						<h3>Ritch</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_2.jpg" alt=""><span></span></a>
						</div>
						<h3>Jon</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_3.jpg" alt=""><span></span></a>
						</div>
						<h3>Hazel</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_4.jpg" alt=""><span></span></a>
						</div>
						<h3>Melrick</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_5.jpg" alt=""><span></span></a>
						</div>
						<h3>Paul</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_6.jpg" alt=""><span></span></a>
						</div>
						<h3>Monica</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_7.jpg" alt=""><span></span></a>
						</div>
						<h3>Rolly</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_8.jpg" alt=""><span></span></a>
						</div>
						<h3>Alissa</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_9.jpg" alt=""><span></span></a>
						</div>
						<h3>Josh</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_10.jpg" alt=""><span></span></a>
						</div>
						<h3>Kat</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_11.jpg" alt=""><span></span></a>
						</div>
						<h3>Marky</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="#"><img src="<%= imagessrc%>t_b_11.jpg" alt=""><span></span></a>
						</div>
						<h3>Nadine</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float_junior.ejs %>
<!-- 官网突出公开课宣传结束 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
