<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<% include ../common/www/w_nav.ejs %>
<!-- 图片轮播 -->
<% include ../common/www/w_banner.ejs %>
<!-- 学习概念 -->
<div class="youth_students">
	<div class="at-nav">
    <ul class="centerMth">
      <li><a href="adult.html">成人英语课程</a></li>
      <li class="on">青少英语课程</li>
    </ul>
  </div>
  	<div class="centerMth add-adult-top">
      <h3><img src="<%= imagessrc%>add-part2.png" alt=""></h3>
      <p>51Talk为青少学员精心设计了12级英语考评体系，<br>
为每一个孩子提供更有针对性的定制化教学。</p>
      <div class="tz-img"><img src="<%= imagessrc%>/y_top1_1.png" alt=""></div>
    </div>
	<div class="y_system">
		<div class="youth_width">
			<dl>
				<dt><a href="javascript:;"><img src="<%= imagessrc%>/y_top1_2.jpg" alt=""></a></dt>
				<dd>
					<img src="<%= imagessrc%>/y_top1.png" alt="" class="youth_dd_img">
					<p class="youth_dd_p">同步欧美最新课程框架，内容紧扣实际生活场景，将艺术、科学、自然地理、社会科学等跨学科知识全面融入真实沟通情境。老师亲身示例，穿插游戏互动，理解吸收更深入，综合提升语言应用能力。</p>
					<p class="youth_text"><a href="javascript:;">预约评测孩子的英语水平<span></span></a></p>
				</dd>
			</dl>
			<div class="y_system_video">
				<ul class="y_video_list">
					<li>
						<a href="javascript:;">
							<img src="<%= imagessrc%>/video_bg2.jpg" alt="">
							<span></span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="<%= imagessrc%>/video_bg2.jpg" alt="">
							<span></span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="<%= imagessrc%>/video_bg2.jpg" alt="">
							<span></span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<img src="<%= imagessrc%>/video_bg2.jpg" alt="">
							<span></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="y_textbooks">
		<div class="textbooks">
			<h3 class="youth"><img src="<%= imagessrc%>/y_top4.png" alt=""></h3>
			<ul class="y_textbooks_list">
				<li class="y_peopel_b" data-imgSrc="/images/html/www/youth3-6_1.jpg,/images/html/www/youth3-6_2.jpg,/images/html/www/youth3-6_3.jpg,/images/html/www/youth3-6_4.jpg,/images/html/www/youth3-6_5.jpg,/images/html/www/youth3-6_6.jpg" data-txt="律动明快的歌曲，生动的故事和自然拼读法结合在一起，在寓教于乐中帮助孩子认知26个字母的发音和最常见的字母组合发音。">
					语感启蒙期<br>3岁-6岁<span class="y_b_peopel"></span>
				</li>
				<li data-imgSrc="/images/html/www/youth7-9_1.jpg,/images/html/www/youth7-9_2.jpg,/images/html/www/youth7-9_3.jpg,/images/html/www/youth7-9_4.jpg,/images/html/www/youth7-9_5.jpg,/images/html/www/youth7-9_6.jpg" data-txt="12个丰富主题，围绕可爱的小主人公的生活展开，内容符合孩子认知，形式乐于被孩子接受。">
					口语发展关键期<br>7岁-9岁<span class="y_b_peopel"></span>
				</li>
				<li data-imgSrc="/images/html/www/youth10-12_1.jpg,/images/html/www/youth10-12_2.jpg,/images/html/www/youth10-12_3.jpg,/images/html/www/youth10-12_4.jpg,/images/html/www/youth10-12_5.jpg,/images/html/www/youth10-12_6.jpg" data-txt="原版阅读材料，包括自然科学和社会科学。内容丰富，设计精美，由浅入深，循序渐进。">
					英语阅读关键期<br>10岁-12岁<span class="y_b_peopel"></span>
				</li>
				<li class="y_l_none" data-imgSrc="/images/html/www/youth13-15_1.jpg,/images/html/www/youth13-15_2.jpg,/images/html/www/youth13-15_3.jpg,/images/html/www/youth13-15_4.jpg,/images/html/www/youth13-15_5.jpg,/images/html/www/youth13-15_6.jpg" data-txt="原版阅读材料，包括自然科学和社会科学，主题更加丰富，文体更为多样。主体阅读加入语法、阅读理解与技巧讲解的部分。">
					英语思维形成期<br>13-15岁<span class="y_b_peopel"></span>
				</li>
			</ul>
			<p class="y_textbooks_text">律动明快的歌曲，生动的故事和自然拼读法结合在一起，在寓教于乐中帮助孩子认知26个字母的发音和最常见的字母组合发音</p>
			<div class="m-silder-youth">
				<div class="m-silder-box">
					<ul class="m-silder" data-silder="ul">
						<li><img src="<%= imagessrc%>/youth3-6_1.jpg" alt="" width="850" height="380"></li>
						<li><img src="<%= imagessrc%>/youth3-6_2.jpg" alt="" width="850" height="380"></li>
						<li><img src="<%= imagessrc%>/youth3-6_3.jpg" alt="" width="850" height="380"></li>
						<li><img src="<%= imagessrc%>/youth3-6_4.jpg" alt="" width="850" height="380"></li>
						<li><img src="<%= imagessrc%>/youth3-6_5.jpg" alt="" width="850" height="380"></li>
						<li><img src="<%= imagessrc%>/youth3-6_6.jpg" alt="" width="850" height="380"></li>
					</ul>
				</div>
				<a href="javascript:;" class="u-next" data-silder="next"></a>
				<a href="javascript:;" class="u-prev" data-silder="prev"></a>
				<ul class="u-points" data-silder="points"></ul>
			</div>
		</div>
	</div>
	<div class="y_major">
		<div class="major_cont">
			<h3 class="youth_tit"><img src="<%= imagessrc%>/y_top2.png" alt=""></h3>
			<ul class="major_list">
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_m.jpg" alt=""></a>
					<h3><a href="http://baidu.com" target="_blank">详情介绍></a></h3>
				</li>
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_a.jpg" alt=""></a>
					<h3><a href="http://baidu.com" target="_blank">详情介绍></a></h3>
				</li>
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_b.jpg" alt=""></a>
					<h3><a href="javascript:;">详情介绍></a></h3>
				</li>
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_c.jpg" alt=""></a>
					<h3><a href="javascript:;">详情介绍></a></h3>
				</li>
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_d.jpg" alt=""></a>
					<h3><a href="javascript:;">详情介绍></a></h3>
				</li>
				<li>
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_e.jpg" alt=""></a>
					<h3><a href="javascript:;">详情介绍></a></h3>
				</li>
				<li class="mr0">
					<a href="javascript:;"><img src="<%= imagessrc%>y_top2_f.jpg" alt=""></a>
					<h3><a href="javascript:;">详情介绍></a></h3>
				</li>
			</ul>
			<p class="youth_text major_now"><a href="javascript:;">现在就来体验</a></p>
		</div>
	</div>
	<div class="y_selective">
		<div class="selective_cont">
			<h3 class="youth_tit"><img src="<%= imagessrc%>/y_top3.png" alt=""></h3>
			<ul class="selective_list">
				<li>
					<a href="javascript:;" class="selective_img_b">
						<span href="javascript:;" class="selective_img y_bgp4"></span>
						<h3>学唱英文歌</h3>
						<p>English Songs</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="selective_img_b">
						<span href="javascript:;" class="selective_img y_bgp10"></span>
						<h3>牛津阅读树</h3>
						<p>Oxford Reading Tree</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="selective_img_b">
						<span href="javascript:;" class="selective_img y_bgp1"></span>
						<h3>综合英语</h3>
						<p>Comprehensive English</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="selective_img_b">
						<span href="javascript:;" class="selective_img y_bgp0"></span>
						<h3>生活口语</h3>
						<p>Daily English</p>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="selective_img_b">
						<span href="javascript:;" class="selective_img y_bgp7"></span>
						<h3>看漫画说英语</h3>
						<p>Cartoon English</p>
					</a>
				</li>
			</ul>
			<p class="youth_text major_now"><a href="javascript:;">现在就来体验</a></p>
		</div>
	</div>
	<div class="y_select_img openClass">
      <div class="centerMth p-jc centerMth-pb">
        <p class="p-tit"><img src="<%= imagessrc%>ten_t_tit.png" alt=""></p>
        <img src="<%= imagessrc%>/y_part_last.jpg" alt="" usemap="#y_level_r1" name="level_r1">
        <map name="y_level_r1" class="usemap">
          <area shape="poly" coords="0,228,1000,228,1000,268,0,268,0,228" href="javascript:;" target="_blank" alt="CEFR欧洲共同语言参考标准" data-tips="CEFR欧洲共同语言参考标准" title="CEFR欧洲共同语言参考标准">
          <area shape="poly" coords="0,269,1000,269,1000,309,0,309,0,269" href="javascript:;" target="_blank" alt="牛津少儿英语" data-tips="牛津少儿英语" title="牛津少儿英语">
          <area shape="poly" coords="0,310,1000,310,1000,350,0,350,0,310" href="javascript:;" target="_blank" alt="朗文国际英语教程" data-tips="朗文国际英语教程" title="朗文国际英语教程">
          <area shape="poly" coords="0,351,1000,351,1000,391,0,391,0,351" href="javascript:;" target="_blank" alt="剑桥少儿英语" data-tips="剑桥少儿英语" title="剑桥少儿英语">
          <area shape="poly" coords="0,392,1000,392,1000,432,0,432,0,392" href="javascript:;" target="_blank" alt="新概念英语青少版" data-tips="新概念英语青少版" title="新概念英语青少版">
          <area shape="poly" coords="0,433,1000,433,1000,473,0,473,0,433" href="javascript:;" target="_blank" alt="绿色通道成人版" data-tips="绿色通道成人版" title="绿色通道成人版">
          <area shape="poly" coords="0,474,1000,474,1000,514,0,514,0,474" href="javascript:;" target="_blank" alt="绿色通道少儿版" data-tips="绿色通道少儿版" title="绿色通道少儿版">
          <area shape="poly" coords="0,515,1000,515,1000,555,0,555,0,515" href="javascript:;" target="_blank" alt="生活口语" data-tips="生活口语" title="生活口语">
          <area shape="poly" coords="0,556,1000,556,1000,596,0,596,0,556" href="javascript:;" target="_blank" alt="看漫画说英语" data-tips="看漫画说英语" title="看漫画说英语">
        </map>
      </div>
    </div>
</div>
<!-- 尾部 -->
<!-- 官网突出公开课宣传 -->
<% include ../common/www/w_float.ejs %>
<!-- 官网突出公开课宣传结束 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
