<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语公开课</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
		<div class="home" data-init="chatlive">
			<header>
					<img src="<%=imagessrc%>w_header.jpg" class="comImg" />
					<ul class="w_icon">
							<li>
									<i class="w_collect"></i>
							</li>
							<li>
									<i class="w_share"></i>
							</li>
					</ul>
					<ul class="w_txt">
							<li>
									<h3>《神奇校车》公开课</h3>
							</li>
							<li>
									<span>主讲人：<i>Monica</i></span>
							</li>
							<li>
									8月19日 19:00-20:00
							</li>
					</ul>
					<dl class="erwei">
							<dt>
									<p>长按二维码</p>
									<p>添加小助手</p>
							</dt>
							<dd>
									<img src="<%=imagessrc%>w_erwei.png" class="comImg" />
							</dd>
					</dl>
			</header>
			<section>
					 <article>
					 		<h2>课程详情</h2>
							<h3>COURSE DETAILS</h3>
							<p>
								欢迎丹妈妈粉丝来到51Talk公开课平台，为了妈妈们能更好的陪伴孩子阅读，今天小5君为大家带来《神奇校车》的公开课，一起来看看介绍吧~
							</p>
							<img src="<%=imagessrc%>img.png"  />
							<p>
								欢迎丹妈妈粉丝来到51Talk公开课平台，为了妈妈们能更好的陪伴孩子阅读，今天小5君为大家带来《神奇校车》的公开课，一起来看看介绍吧~
							</p>
							<img src="<%=imagessrc%>img.png"  />
					 </article>
					 <article class="teacher">
					 		<h2>主讲老师</h2>
							<h3>LECTURER</h3>
							<img src="<%=imagessrc%>head.jpg" class="w_head"/>
							<p>
								欢迎丹妈妈粉丝来到51Talk公开课平台，为了妈妈们能更好的陪伴孩子阅读，今天小5君为大家带来《神奇校车》的公开课，一起来看看介绍吧~
							</p>
					 </article>
			</section>
			<footer>
					<h3>
							<i></i>
							<span>小助手：</span>
							<span>51Talk_XZS</span>
					</h3>
					<p>
							Hello，大家好！我是51Talk直播课小助手，如果你在学习过程中需要帮助，可以加我微信哦~
					</p>
					<dl>
							<dt>
									<img src="<%=imagessrc%>w_erwei.png" class="w_footerbg"/>
							</dt>
							<dd>
									长按识别二维码
							</dd>
					</dl>
			</footer>
			<div class="falseMask" style="background:#383838;"></div>
			<div class="fixbarPar">
				 <ul class="fixbar">
				 		<li class="first firstone"> 
				 				<img src="<%=imagessrc%>h_ing.png" class="comImg">
		 						直播中 
				 		</li> 
				 		<li class="first middle" style="display:none"> 
		 						<p>距上课时间 </p>
		 						<p>
		 								<a href="javscript:;" id="day">12</a> 天
				 						<a href="javscript:;" id="hour">12</a> 时
				 						<a href="javscript:;" id="minute">12</a> 分
				 				</p>
				 		</li>
				 		<li class="last enterClass" data-href="http://www.baidu.com">进入教室</li>
				 </ul>
			</div>
			 <div class="w_mask hide">
			 			<img src="<%=imagessrc%>w_mask.png" class="w_maskImg"/>
			 </div>
			  <div class="w_mask_collect hide">
			 			<img src="<%=imagessrc%>collect.png" class="w_maskImg"/>
			 </div>
		</div>
</body>
<script>
		var t_time='2016/08/15 16:00:00';
</script>
<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>