<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语公开课</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
		 <div class="recommend" data-init="chatlive">
		 			<header>
						<img src="<%=imagessrc%>g_banner.jpg" class="comImg" />
						<ul class="w_txt">
								<li>
										<h3>《神奇校车》公开课</h3>
								</li>
								<li>
										8月19日 19:00-20:00
								</li>
						</ul>
				</header>
				<section>
						<h3>小助手为你推荐了以下课程</h3>
						<dl>
								<dt>
										<img src="<%=imagessrc%>logo.jpg" class="comImg" />
								</dt>
								<dd>
										 <h4>满分托福口语大揭秘</h4>
										 <p>主讲人：Monica</p>
										 <p>8月19日 19:00</p>
										 <a href="javascript:;">查看</a>
								</dd>
						</dl>
						<dl>
								<dt>
										<img src="<%=imagessrc%>logo.jpg" class="comImg" />
								</dt>
								<dd>
										 <h4>满分托福口语大揭秘满分托福口语大满分托福口语大揭秘满分托福口语大揭秘满分托福口语大揭秘揭秘满分托福口语大揭秘</h4>
										 <p>主讲人：Monica</p>
										 <p>8月19日 19:00</p>
										 <a href="javascript:;">查看</a>
								</dd>
						</dl>
						<dl>
								<dt>
										<img src="<%=imagessrc%>logo.jpg" class="comImg" />
								</dt>
								<dd>
										 <h4>满分 </h4>
										 <p>主讲人：Monica</p>
										 <p>8月19日 19:00</p>
										 <a href="javascript:;">查看</a>
								</dd>
						</dl>
				</section>
		 </div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>