<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <script src="../../../js/wap/project/summerSales20170531/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
  <div class="junior_alina" data-init="reg" id="container">
    <header>
      <img src="<%= imagessrc%>banner_top.jpg" class="width100">
    </header>
    <hgroup>
      <div class="form1_reg">
          <h2>
                    适合4-15岁青少儿学习英语<br />
        立即注册，与全球800万会员一起学英语
          </h2>
          <form class="summerForm">
              <div class="formReg">
                <div class="formList">
                  <input type="text" placeholder="请输入您的手机号" class="phone" />
                </div>
                <div class="formList">
                  <input type="password" placeholder="请设置您的密码" class="pwd" />
                </div>
                <div class="formList subBtn">
                  <a href="javascript:;" class="getFreeBtn">免费试听</a>
                </div>
              </div>
          </form>
      </div>
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>sum_price.jpg" class="width100">
    </hgroup>
    <hgroup>
      <img src="<%= imagessrc%>sum_why.jpg" class="width100">
      <div class="sum_why clearfix">
          <div class="feature">
              <img src="<%= imagessrc%>why1.jpg" class="width100" />
              <div class="intro">
                <p><b>纯外教, 1对1授课</b></p>
                <p>100%沉浸式英文环境</p>
              </div>
          </div>
           <div class="feature">
              <img src="<%= imagessrc%>why2.jpg" class="width100" />
              <div class="intro">
                <p><b>随时随地</b></p>
                <p>25分钟/课，高频学习</p>
              </div>
          </div>
      </div>
       <div class="sum_why clearfix">
          <div class="feature">
              <img src="<%= imagessrc%>why3.jpg" class="width100" />
              <div class="intro">
                <p><b>高性价比</b></p>
                <p>超值价格+优质服务</p>
              </div>
          </div>
           <div class="feature">
              <img src="<%= imagessrc%>why4.jpg" class="width100" />
              <div class="intro">
                <p><b>科学严谨</b></p>
                <p>对标CCSA课程体系</p>
              </div>
          </div>
      </div>
    </hgroup>
    <hgroup class="sum_grade">
      <img src="<%= imagessrc%>sum_grade.jpg" class="width100" />
    </hgroup>
    <hgroup class="sum_lina">
      <img src="<%= imagessrc%>lina.jpg" class="width100" />
      <div class="main">
        <div class="mainIn">
            <h2>心动？行动！</h2>
            <p>立即注册，与全球800万会员一起学英语</p>
            <a href="#">免费试听</a>
        </div>
      </div>
    </hgroup>
  </div>
</body>
<!--公共尾部结束-->
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>