<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>51Talk-无忧英语</title>
    <script src="../../../js/wap/project/template_prize/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
<section class="easter-eggs" data-init="eggs">
  <header class="nav-img"><img src="<%= imagessrc%>eggs_top.jpg"></header>
  <section class="lottery" data-url="http://www.active.com">
    <ul>
      <li><img src="<%= imagessrc%>eggs_sprice_img.png"></li>
      <li class="eggs-drawn" data-vouchers="vouchers_id">
        <img src="<%= imagessrc%>eggs_drawn.png">
        <section class="vouchers">
          <span>￥<i>300</i></span>
          <span>代金券</span>
        </section>
      </li>
      <li class="eggs-lottery">
        <img src="<%= imagessrc%>eggs_up_img.png">
      </li>
      <li><img src="<%= imagessrc%>eggs_sprice_img.png"></li>
    </ul>
  </section>
  <section class="eggs-word">
    <ul>
      <li>活动规则</li>
      <li>1.活动时间：4月11日—4月17日</li>
      <li>2.学员抽中实物礼品后，购买套餐实际付费 6000元以上，可获得礼品 ；</li>
      <li>3.抽中实物礼品后登录官网，在“账户设置－个人信息”中填写收件人、详细地址；</li>
      <li>4.非实物类礼品将自动充入账户；实物类奖品在活动结束后30个工作日内寄出；</li>
    </ul>
    <img src="<%= imagessrc%>eggs_bj_img01.jpg" class="eggs-tit-img">
  </section>
  <section class="eggs-cls">
    <section class="cls-img">
      <img src="<%= imagessrc%>eggs_tit_img02.png" class="eggs-t-img">
    </section>
    <ul>
      <li>
        <a href="javascript:;">
          <img src="<%= imagessrc%>eggs_cls_img01.png"> 
          <span class="tt">原价:<i>¥8588</i></span>
          <span class="ts">青少经典英语18单元</span> 
          <img src="<%= imagessrc%>eggs_bug.png" class="eggs-btn"> 
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="<%= imagessrc%>eggs_cls_img02.png"> 
          <span class="tt">原价:<i>¥12688</i></span>
          <span class="ts">青少经典英语27单元</span> 
          <img src="<%= imagessrc%>eggs_bug.png" class="eggs-btn"> 
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <img src="<%= imagessrc%>eggs_cls_img03.png"> 
          <span class="tt">原价:<i>¥16488</i></span>
          <span class="ts">青少经典英语36单元</span> 
          <img src="<%= imagessrc%>eggs_bug.png" class="eggs-btn"> 
        </a>
      </li>
    </ul>
    <a href="javascript:;" class="eggs-more">查看更多课程</a>
    <img src="<%= imagessrc%>eggs_bj_img02.jpg" class="eggs-tit-img">
  </section>
  <section class="eggs-open-cls">
    <section class="cls-img">
      <img src="<%= imagessrc%>eggs_tit_img03.png" class="eggs-t-img">
    </section>
    <ul>
      <li><span>4月11日<i>19:00-19:50</i></span></li>
      <li><span>4月12日<i>19:00-19:50</i></span></li>
    </ul>
    <a href="javascript:;" class="eggs-more">查看更多课程</a>
    <img src="<%= imagessrc%>eggs_bj_img03.jpg" class="eggs-tit-img">
  </section>
  <section class="eggs-welfare">
    <section class="cls-img">
      <img src="<%= imagessrc%>eggs_tit_img04.png" class="eggs-t-img">
    </section>
    <p class="title">转介绍赢大礼</p>
    <ul>
      <li><img src="<%= imagessrc%>eggs_gift01.png"></li>
      <li><img src="<%= imagessrc%>eggs_gift02.png"></li>
      <li><img src="<%= imagessrc%>eggs_gift03.png"></li>
    </ul>
    <a href="javascript:;" class="eggs-more">查看更多课程</a>
    <img src="<%= imagessrc%>eggs_bom_img.jpg" class="eggs-tit-img">
  </section>
</section>
</body>
<% include ../common/bottom.ejs %>