<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title>51Talk送福利，邀你跟好友一起玩转英语。</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>register.css">
</head>
<body id="container" data-init="register">
<div class="wrap">
    <header class="header" id="header-normal">
        <div class="user">
            <div class="user-inner">
                <div>
                    <img src="<%= imagessrc %>user.jpg" alt="">
                </div>
            </div>
        </div>
        <img src="<%= imagessrc %>header.jpg">
        <div class="logo">
            <img src="<%= imagessrc %>logo_head.png" alt="">
        </div>
    </header>
    <header class="header-success hide" id="header-success">
        <p class="first">快去跟外教老师预约上课时间吧～</p>
        <p>课后还能获得专属英语水平测验报告哦～</p>
        <a href=""><div class="yueke-btn">立即约课</div></a>
    </header>
    <section class="content content-bg" id="content">   <!--content-bg -->
        <!--邀请 start-->
        <div id="form-container">
            <h1>Jackson</h1>
            <img class="title-img" src="<%= imagessrc %>header-txt.png" alt="">
            <div class="form">
                <ul>
                    <li><input type="text" id="regMobile" placeholder="输入手机号"></li>
                    <li><input type="text" id="captch" class="code" placeholder="输入图片验证码"><span class="verify-sp" id="captchImg"><img src="<%= imagessrc %>verify.png" alt=""></span></li>
                    <li><input type="text" id="regSms" class="code" placeholder="输入短信验证码"><button id="smsBtn">发送验证码</button></li>
                    <li><button id="commitBtn">点击领取</button></li>
                </ul>
            </div>
        </div>
        <!--邀请 end-->

        <!--失败 start-->
        <div id="repeat-tips" class="hide">
            <p class="tip">您已经领过课程啦，不可以重复领取哦~</p>
            <p class="tip">现在去跟外教老师预约上课时间吧</p>
            <p class="tip">加油加油~</p>
            <a href=""><div class="yueke-btn">立即约课</div></a>
        </div>
        <!--失败 end-->

        <!--广告 start-->
        <div class="adv-cont">
            <!--<span class="title">把外教老师带回家</span>-->
            <div class=" "><img src="<%= imagessrc%>titleBg2.png" style="width: 100%;"></div>

            <a href="/">
            <dl>
                <dt>
                <div>
                    <img src="<%= imagessrc%>course01.png" alt="">
                </div>
                </dt>
                <dd>
                    <p  class="des-title">8000+金牌外教</p>
                    <p  class="des-cont">经验丰富的外教团队，优中选优，录取率仅3%；1对1教学，为您提供VIP专属服务</p>
                </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                <dt>
                <div>
                    <img src="<%= imagessrc%>course02.png" alt="">
                </div>
                </dt>
                <dd>
                    <p  class="des-title">超强的教材研发实力</p>
                    <p  class="des-cont">10年以上教学经验的课程研发团队超过10万小时精心投入，专业打造适合中国学习者的系统教材</p>
                </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                <dt>
                <div>
                    <img src="<%= imagessrc%>course03.png" alt="">
                </div>
                </dt>
                <dd>
                    <p  class="des-title">随时随地，轻松提升</p>
                    <p  class="des-cont">功能强大的在线教室AC(AirClass) 无缝衔接手机、Pad、电脑 三端,足不出户约课、预习、上课、复习</p>
                </dd>
            </dl>
            </a>
        </div>
        <!--广告 end-->

        <!--文章-->
        <div class="hot-article hide">
            <!--<span class="title">精彩内容，尽在51Talk App</span>-->
            <div class=" "><img src="<%= imagessrc%>titleBg1.png" style="width: 100%;"></div>
            <a href="/">
            <dl>
                    <dt>
                        <div>
                        <img src="<%= imagessrc%>article.jpg" alt="">
                        </div>
                    </dt>
                    <dd>
                        <p>英文动画应该这样看</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="<%= imagessrc%>article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="<%= imagessrc%>view-times.png" alt="" style="width:1rem;">
                                    <span>99999+</span>
                            </div>
                            <div class="popups">
                                    <img src="<%= imagessrc%>popup.png" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                    <dt>
                    <div>
                        <img src="<%= imagessrc%>article2.jpg" alt="">
                    </div>
                    </dt>
                    <dd>
                        <p>In The Night Kitchen厨房之夜狂想曲</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="<%= imagessrc%>article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="<%= imagessrc%>view-times.png" alt="" style="width:1rem;">
                                    <span>12324</span>
                            </div>
                            <div class="popups">
                                    <img src="<%= imagessrc%>popup.jpg" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>

            <a href="/">
            <dl>
                    <dt>
                    <div>
                        <img src="<%= imagessrc%>article1.jpg" alt="">
                    </div>
                    </dt>
                    <dd>
                        <p>英文动画应该这样看</p>
                        <div class="icon-list">
                            <div class="img-txt">
                                <img src="<%= imagessrc%>article-mark.png" alt="">
                            </div>
                            <div class="view-times">
                                    <img src="<%= imagessrc%>view-times.png" alt="" style="width:1rem;">
                                    <span>12324</span>
                            </div>
                            <div class="popups">
                                    <img src="<%= imagessrc%>popup.jpg" alt="" style="width:1rem;">
                                    <span>563</span>
                            </div>
                        </div>
                    </dd>
            </dl>
            </a>
        </div>

        <!--/文章-->
    </section>
</div>


<footer>
    <img src="<%= imagessrc%>logo.png" alt="">
</footer>

<div class="showtips_layer">
    <div class="showtips">
        <span></span>
        <em id="closeLayer">&times;</em>
    </div>
</div>
</body>

<!--公共尾部结束-->
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>