<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你家里的美国小学</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
	<img class="bg_img" src="<%= imagessrc%>top_banner.jpg" alt="">
	<div class="part_1">
		<div class="f_box">
			<P class="txt_1">我们的师资</P>
			<p class="txt_1 txt_2">名校毕业  最懂孩子的小学老师</p>
			<div class=" clearfix">
				<div class="introduce">
					<img src="<%= imagessrc%>img1.png">
					<p class="intro_txt1">Andrew</p>
					<P class="intro_txt1 intro_txt2">美国  加州</P>
					<p class="intro_txt2 intro_txt3">阿姆斯特丹大学</p>
					<p class="intro_txt4 mar_txt">美国小学老师</p>
					<p class="intro_txt4">4年教学经验</p>
					<p class="intro_txt4 mar_bot">喜欢音乐、阅读，标准孩子王</p>
				</div>
				<div class="introduce mar">
					<img src="<%= imagessrc%>img2.png">
					<p class="intro_txt1">Gianne</p>
					<P class="intro_txt1 intro_txt2">美国  堪萨斯</P>
					<p class="intro_txt2 intro_txt3">旧金山州立大学</p>
					<p class="intro_txt4 mar_txt">美国小学老师</p>
					<p class="intro_txt4">12年教学经验</p>
					<p class="intro_txt4 mar_bot">做妈妈和做老师同样优秀</p>
				</div>
				<div class="introduce mar">
					<img src="<%= imagessrc%>img3.png">
					<p class="intro_txt1">Joyce</p>
					<P class="intro_txt1 intro_txt2">美国    弗吉尼亚</P>
					<p class="intro_txt2 intro_txt3">麻省大学</p>
					<p class="intro_txt4 mar_txt">做过美国小学教师</p>
					<p class="intro_txt4">14年教学经验</p>
					<p class="intro_txt4 mar_bot">现任职文学教授，戏剧撰稿</p>
				</div>
				<div class="introduce mar">
					<img src="<%= imagessrc%>img4.png">
					<p class="intro_txt1">Rhonda</p>
					<P class="intro_txt1 intro_txt2">美国  弗吉尼亚</P>
					<p class="intro_txt2 intro_txt3"> 纽约大学</p>
					<p class="intro_txt4 mar_txt">英国、美国都曾做过小学教师</p>
					<p class="intro_txt4">9年教学经验</p>
					<p class="intro_txt4 mar_bot">喜欢摄影、写作，热爱生活</p>
				</div>
			</div>
			<div class=" clearfix">
				<div class="percent">
					<p class="per_txt1">2.5<span>%</span></p>
					<p class="per_txt2">教师录取率</p>
				</div>
				<div class="percent mar">
					<p class="per_txt1">80<span>%</span></p>
					<p class="per_txt2">持有教师资格证</p>
				</div>
				<div class="percent mar">
					<p class="per_txt1">100<span>%</span></p>
					<p class="per_txt2">本科以上学历</p>
				</div>
				<div class="percent mar">
					<p class="per_txt1">100<span>%</span></p>
					<p class="per_txt2">来自美国加拿大</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="part_2">
		<div class="course">
			<p class="c_txt1">分级课程体系</p>
			<p class="c_txt2">紧贴美国CCSS课标</p>
			<p class="c_txt3">51Talk美国小学课程核心目标：通过对语言技能、语言知识、学习策略、文化意识和21世纪核心能力的培养，</p>
			<p class="c_txt3">全面提升学员的综合语言应用能力。</p>
			<img src="<%= imagessrc%>sell.png">
		</div>
	</div>
	<div class="part_2 part_3">
		<div class="course">
			<p class="c_txt1">自主研发教材</p>
			<p class="c_txt2">打造活学活用新体验</p>
			<div class="clearfix">
				<div class="learn right">
					<p class="title">启发式教学</p>
					<div class="img_text">
						<img src="<%=imagessrc%>img5.jpg">
						<p>摆脱死记硬背，学习更高效</p>
					</div>
				</div>
				<div class="learn">
					<p class="title">全身反应教学法</p>
					<div class="img_text">
						<img src="<%=imagessrc%>img6.jpg">
						<p>充分调动孩子的积极性，学习更有趣</p>
					</div>
				</div>
				<div class="learn  right top">
					<p class="title">情景式教学</p>
					<div class="img_text">
						<img src="<%=imagessrc%>img7.jpg">
						<p>全英文情景浸泡，提升英文思维能力</p>
					</div>
				</div>
				<div class="learn top">
					<p class="title">知识和语言相结合</p>
					<div class="img_text">
						<img src="<%=imagessrc%>img8.jpg">
						<p>不单是语言知识的学习，更侧重应用能力的培养</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="part_2">
		<div class="course">
			<p class="c_txt1">家长说</p>
			<div class="clearfix">
				<div class="last_1 l_right">
					<img src="<%= imagessrc%>img9.jpg">
					<p class="last_text">“孩子才开始接触英语。我让身边的美国同事听了一下，他们说，孩子固定上课的几个老师在美国人当中也是口音相当标准的，我就放心了”</p>
					<p class="text_line">----外企妈妈</p>
				</div>
				<div class="last_1 l_right">
					<img src="<%= imagessrc%>img10.jpg">
					<p class="last_text">“我想让她从现在就开始接触原汁原味的英文原版书。跟同事孩子一起玩的时候，她经常问出不一样的问题，这种潜移默化的美式思维培养是我觉得最重要的。”</p>
					<p class="text_line">----白领妈妈</p>
				</div>
				<div class="last_1 l_right">
					<img src="<%= imagessrc%>img11.jpg">
					<p class="last_text">“老师很负责任，会认真耐心地纠正错误；另外会给孩子很多机会开口说话。现在孩子经常跟我说学校的英语考试太简单了，学校老师也经常表扬他。”</p>
					<p class="text_line">----外企爸爸</p>
				</div>
				<div class="last_1">
					<img src="<%= imagessrc%>img12.jpg">
					<p class="last_text">“我们每天给孩子约课，现在她已经能在说中文的时候下意识地说出英文句子了，我觉得很惊喜。更重要的是，跟线下将近1000元一节的外教课相比，价格便宜太多。”</p>
					<p class="text_line">----全职妈妈</p>
				</div>
			</div>
		</div>
	</div>
	<div class="part_bottom">
		<a href="">立即报名</a>
	</div>
</body>
</html>