<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>英语水平评测报告</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
		<header>
				<div class="e-table">
						<img src="<%=imagessrc%>e-level.png" />
						<div class="e-level e-level12">
								<p>您的级别<br /><span>Level5</span></p>
						</div>
				</div>
				<div class="e-txt">						 
						<p>
								您的英语水平为<span>初级</span>，相当于欧洲语标 A2，托
							福 0-56，雅思 3-4；能够比较广阔的话题进行
							对话和交流，独立阅读长篇幅的英文文章；轻松
							写出简单的英文段落
						</p>
				</div>
		</header>
		<section class="e-skills">
				<img src="<%=imagessrc%>e-skills.png" class="title" />
				<ul class="skill-list">
					<li>
						<h3 class="a-tit"><img src="<%= imagessrc%>a_tit1.png" alt=""></h3>
						<section class="a-score">
							<span class="color-y">1</span>
							<span class="color-y">2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</section>
						<p>有较多单词出现误读和发音错误</p>
						<span class="score"><em>2</em>分</span>
					</li>
					<li>
						<h3 class="a-tit"><img src="<%= imagessrc%>a_tit2.png" alt=""></h3>
						<section class="a-score">
							<span class="color-y">1</span>
							<span class="color-y">2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</section>
						<p>出现某些特定的语法错误或复杂的句型使用上的错误。</p>
						<span class="score"><em>2</em>分</span>
					</li>
					<li>
						<h3 class="a-tit"><img src="<%= imagessrc%>a_tit3.png" alt=""></h3>
						<section class="a-score">
							<span class="color-y">1</span>
							<span class="color-y">2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</section>
						<p>有时词汇使用已出现错误不够精准地道。</p>
						<span class="score"><em>2</em>分</span>
					</li>
					<li>
						<h3 class="a-tit"><img src="<%= imagessrc%>a_tit4.png" alt=""></h3>
						<section class="a-score">
							<span class="color-y">1</span>
							<span class="color-y">2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</section>
						<p>进行复杂交流时，表达不够流畅，逻辑性和连贯性较低。</p>
						<span class="score"><em>2</em>分</span>
					</li>
					<li>
						<h3 class="a-tit"><img src="<%= imagessrc%>a_tit5.png" alt=""></h3>
						<section class="a-score">
							<span class="color-y">1</span>
							<span class="color-y">2</span>
							<span>3</span>
							<span>4</span>
							<span>5</span>
						</section>
						<p>当语速较快，生僻词较多，语法结构复杂，话题不熟悉的情况下存在理上的偏差。</p>
						<span class="score"><em>2</em>分</span>
					</li>
			</ul>
		</section>
		<section class="e-comment">
				<img src="<%=imagessrc%>e-comment.png" class="title" />
				<dl> 
						<dt>
								<img src="<%=imagessrc%>e-favicon.png" class="favicon" />
								<p>Robert</p>
						</dt>
						<dd>
								<p>Dear,smith</p>
								<p>
										What a nice student! Your lovely singing 
										will surely hepi you learn English well. 
										Also you particpated happily and brought.
								</p>
						</dd>
				</dl>
		</section>
		<footer>
				<a href="javscript:;">下一步</a>
		</footer>
</body>
<% include ../common/bottom.ejs %>










