<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>外教1对4精品班</title>
    <script src="../../../js/wap/project/h5sale_f20170523/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
    <link rel="stylesheet" type="text/css" href="/css/wap/h5sale_f20170523/swiper.css">
</head>
<body>
  <img src="<%= imagessrc%>share.jpg" width="0" heigth="0" class='share_img'>
  <div class="" id="container" data-init="index">
    <div class="swiper-container swiper-container-v swiper-container-vertical">
      <div class="swiper-wrapper">
        <div class="swiper-slide screen1">
            <img src="<%= imagessrc%>s1_2.jpg" alt="" class='screen1_bg'>
            <section class='screen1_top'>
                <img src="<%= imagessrc%>/s1.png" alt="" class="screen1_logo">
                <p class="screen1_text">固定外教和同学 学习有效又有趣</p>
                <h3 class="screen1_tit">外教1对4精品班</h3>
                <p class="screen1_describe">4次美教课+2次中教预习课，每节50分钟</p>
            </section>
            <img src="<%= imagessrc%>s1_1.png" alt="" class="screen1_b">
        </div>
        <div class="swiper-slide screen2">
            <img src="<%= imagessrc%>s2_3.jpg" alt="" class='screen2_bg'>
            <section class="text">
                <h3 class="tit">班级固定专业外教授课</h3>
                <p class="text_t">OUR TEACHERS</p>
                <ul>
                    <li>100%拥有国际教学资质证书</li>
                    <li>严格的择优和培训制度</li>
                    <li>深谙ESL教学法，课程设计理念</li>
                </ul>
            </section>
            <img src="<%= imagessrc%>s2_2.png" alt="" class='teachers'>
            <img src="<%= imagessrc%>s2_1.png" alt="" class='teachers_m'>
        </div>
        <div class="swiper-slide screen3">
            <img src="<%= imagessrc%>s3_3.jpg" alt="" class='screen3_bg'>
            <section class="text">
                <h3 class="tit">趣味互动课堂</h3>
                <p class="text_t">OUR COURSES</p>
                <ul>
                    <li>交互式教学模板，孩子与老师双向反馈</li>
                    <li>趣味互动化教学，让孩子寓教于乐</li>
                    <li>单独辅导学生学习，让每个孩子都被重视</li>
                </ul>
            </section>
            <img src="<%= imagessrc%>s3_2.png" alt="" class='boy'>
            <img src="<%= imagessrc%>s3_1.png" alt="" class='girl'>
        </div>
        <div class="swiper-slide screen4">
            <img src="<%= imagessrc%>s4_3.jpg" alt="" class='screen4_bg'>
            <section class="text">
                <h3 class="tit">固定学伴学习</h3>
                <p class="text_t">LEARN TOGETHER</p>
                <ul>
                    <li>固定同级学伴，组队PK超强互动</li>
                    <li>“互进式”的学习氛围，孩子越学越起劲</li>
                    <li>在竞争与合作中，激发孩子领导力潜能</li>
                </ul>
            </section>
            <img src="<%= imagessrc%>s4_2.png" alt="" class='s4_top_bg'>
            <img src="<%= imagessrc%>s4_1.png" alt="" class='s4_top'>
        </div>
        <div class="swiper-slide screen5">
            <img src="<%= imagessrc%>s5_2.jpg" alt="" class='screen5_bg'>
            <section class="text">
                <h3 class="tit">专业中教教学服务</h3>
                <p class="text_t">TEACHING SERVICE</p>
                <ul>
                    <li>全方位跟进学员学习，专业私属教学服务</li>
                    <li>科学的教育理念和家辅方案，让父母安心放心</li>
                    <li>全程英语班主任式教学，让孩子德才兼备</li>
                </ul>
            </section>
            <img src="<%= imagessrc%>s5_1.png" alt="" class='s5_teacher'>
            <img src="<%= imagessrc%>s5_3.png" alt="" class='s5_bottom'>
        </div>
        <div class="swiper-slide screen6">
            <section class="text">
                <img src="<%= imagessrc%>s6_4.png" alt="" class='s6_title'>
            </section>
            <div class="swiper-container swiper-container-h swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="<%= imagessrc%>s6_2.jpg" alt="" class='h_first'>
                    </div>
                    <div class="swiper-slide"><img src="<%= imagessrc%>s6_3.jpg" alt="" class='h_first h_second'></div>
                </div>
                
            </div>
            <img src="<%= imagessrc%>s6_1.png" alt="" class='s6_bottom'>
            <div class="swiper-container swiper-container-b swiper-container-horizontal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="<%= imagessrc%>s6_2_1.png" alt="" class='b_first'></div>
                    <div class="swiper-slide"><img src="<%= imagessrc%>s6_3_1.png" alt="" class='b_first b_second'></div>
                </div>
                <div class='swiper-pagination swiper-pagination-b swiper-pagination-clickable swiper-pagination-bullets'>
                    <span class='swiper-pagination-bullet'></span>
                    <span class='swiper-pagination-bullet'></span>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buy">
      <div class="mony">
          <p class="mony_top"><strong>￥148</strong><span>￥1399</span></p>
          <p class="mony_bottom">限期5月19日-5月25日期间报名</p>
      </div>
      <span class="go_buy">购 买</span>
  </div>
  <div class="time">
      <div class="time_cont">
          <h3 class="time_tit"><img src="<%= imagessrc%>time_tit.jpg" alt=""></h3>
          <section class='time_item'><span class='time_l'>上课周期</span><span class='time_r'>02月01日-07日20日</span></section>
          <section class='time_item'><span class='time_l'>中教时间</span><span class='time_r'>每周六10:00</span></section>
          <section class='time_item'>
            <span class='time_l'>外教时间（请选择）</span><br>
            <ul class="time_list clearfix">
                <li><span class="list_t">每周一、三</span><br><span class="list_b">19:00</span></li>
                <li><span class="list_t">每周一、四</span><br><span class="list_b">19:00</span></li>
                <li><span class="list_t">每周四、五</span><br><span class="list_b">19:00</span></li>
            </ul>
          </section>
            <section class="time_text">确 定</section>
      </div>
  </div>
</body>
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>
