<% include ../common/top.ejs %>
<body>
<img src="<%= imagessrc%>share_small01.jpg" width="0" heigth="0" class="sha-bj-img">
<header class="sha-hd">
  <ul>
    <li>
      <img src="<%= imagessrc%>share_logo.png">
    </li>
    <li>外教1对1<span>在线英语教育领导品牌</span></li>
    <li><a href="javascript:;">官网首页</a></li>
  </ul>
</header>
<section class="sha-bg">
  <header>
    <img src="<%= imagessrc%>share_img06.png" class="sha-img01">
    <nav>
      <p>第<span>133</span>位</p>
      <h3>小伙伴们尽情膜拜吧!</h3>
    </nav>
  </header>
  <article>
    <ul class="sha-word">
      <li>第125位<img src="<%= imagessrc%>3.jpg">夏日么夏日么夏日么夏日么夏日么夏日么</li>
      <li>
        <p>已完成<span><em>236</em>节</span></p>
      </li>
      <li>
        <p>累计说英语<span><em>65</em>天</span></p>
      </li>
      <li>
        <p>对话过<span><em>21</em>位外教</span></p>
      </li>
    </ul>
    <ul class="sha-icon">
      <li><img src="<%= imagessrc%>share_01.png"></li>
      <li><img src="<%= imagessrc%>share_02.png"></li>
      <li><img src="<%= imagessrc%>share_03.png"></li>
    </ul> 
  </article>
</section>
<footer class="sha-ft" id="container" data-init="rem">
  <p>每天25分钟，轻松开口说英语</p>
  <p>现在就注册，来和我一起学英语吧！</p>
  <form method="POST" id="RegForm" action="share">
    <ul>
      <li><input type="number" placeholder="请输入手机号" id="sha-tel"></li>
      <li><input type="text" placeholder="设置您的密码" id="sha-psd"></li>
      <li><a href="javascript:;" id="sha-reg">注 册</a></li>
    </ul> 
  </form>  
</footer>
</body>
<% include ../common/bottom.ejs %>