<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index_old" id="container">
<!-- 顶部 -->
<% include w_header.ejs %>
<!-- banner图 -->
<% include w_banner.ejs %>
<!-- <div class="hfls-nav">
  <img src="<%= imagessrc%>hfls_banner.jpg">
</div> -->
<!-- 英高与51Talk战略合作公告 -->
<div class="hfls-02">
  <div class="hfls-txt01">
   <h3>英高与51Talk战略合作公告</h3>
  </div>
  <div class="hfls-txt02">
    <span>尊敬的家长们，同学们，大家好！</span>
    <p>首先，衷心地感谢多年来各位家长和同学们对我校的支持和信任！值此新年到来之际，英高外语学校全体教职员工祝福家长们万事如意，祝愿同学们在期末考试中取得理想的成绩！
在2016年到来之际，我校成功地实现了将线下与线上课程的完美结合，将营口地区的英语民办培训事业推向了一个崭新的高度！继首次在营口地区引用典范英语教材Oxford Reading Tree之后，又一次成为了营口地区英语线上培训的领头羊！2016年，我们将带领大家全面开启——在线1对1真人外教课程！同我们合作的线上培训机构是经过了三年的考察+一年的试用及比较后选择的全网络最优秀、可信的线上龙头企业51talk——无忧英语（今年刚刚荣膺“德勤高科技”、“高成长中国50强”等诸多荣誉），开创了营口地区网络授课的先河！欢迎大家查询官网，了解背景！我们的目的——打造线上线下优质化教学环境，提供最便利学习方法，缩短与北京、上海等各大城市学员的教学软件差距，让孩子们爱上英语，使用英语，解放为了考试而学习的孩子们，从而实现语言学习的终极目标——应用与生活！</p>
  </div>
</div>

<!-- 青少年开始 -->
<div class="tegrs">
   <div class="hfls-txt03">
     <img src="<%= imagessrc%>hfls_adv.png" alt="">
   </div>
  <!-- 1对1外教 -->
  <div class="ten-fri">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>t_tit.png" alt=""></p>
      <p class="tit02">新鲜的英语世界激发孩子的好奇心，有趣可亲的外教耐心鼓励，在孩子学习语言的最佳时期，让孩子享受英语环境，轻松建立英文思维，感受欧美文化</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr01.jpg" alt=""></dt>
        <dd class="ten-dd01">
          <i></i>
          <span>
              <h4>1对1上课</h4>
              <em>老师将给予您的孩子100%的专注力</em>
          </span>
        </dd>
        <dd class="ten-dd02">
          <i></i>
          <span>
              <h4>专业外教</h4>
              <em>发音纯正，经验丰富，更懂孩子。</em>
          </span>
        </dd>
        <dd class="ten-dd03">
          <i></i>
          <span>
              <h4>多开口说</h4>
              <em>超过50%的开口机会</em>
          </span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 在线学习 -->
  <div class="ten-fri ten-le">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>hfls_tit01.png" alt=""></p> 
      <p class="tit02">有了强大在线上课软件，外教随叫随到，和孩子面对面上国际课程。</p>
      <p class="tit02">也许你忍得了堵车，但孩子被大班老师冷落，能忍吗？有51Talk，这些不再是问题。</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr02.jpg" alt=""></dt>
        <dd class="ten-dd01 ten-dd04">
          <i></i>
           <span>
              <h4>高频学习</h4>
              <em>每节课25分钟短时多次更容易坚持</em>
          </span>
        </dd>
        <dd class="ten-dd02 ten-dd05">
          <i></i>
           <span>
              <h4>安全便捷</h4>
              <em>无需接送在家学英语，安全放心</em>
          </span>
        </dd>
        <dd class="ten-dd03 ten-dd06">
          <i></i>
           <span>
              <h4>互动性强</h4>
              <em>多媒体网络资源身临其境面对面学习</em>
          </span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 专业有趣的课程 -->
  <div class="ten-fri ten-ln">
    <div class="centerMth">
      <p class="tit01"><img src="<%= imagessrc%>hfls_tit02.png" alt=""></p>
      <p class="tit02">51Talk依据3~15岁年龄段孩子的知识结构、学习能力和兴趣所在，<br>
      参照CEFR标准，与国际青少课程同步，精心研发出适合中国孩子的英语学习课程。</p>
      <dl class="ten-dl">
        <dt><img src="<%= imagessrc%>ten_chr03.png" alt=""></dt>
        <dd class="ten-dd01 ten-dd07">
          <i></i>
          <span>
              <h4>针对性强</h4>
              <em>无需接送在家学英语，安全放心</em>
          </span>
        </dd>
        <dd class="ten-dd02 ten-dd08">
          <i></i>
           <span>
              <h4>知识趣味</h4>
              <em>让知识变得有趣，让孩子爱上学习</em>
          </span>
        </dd>
        <dd class="ten-dd03 ten-dd09">
          <i></i>
          <span>
              <h4>欧美同步</h4>
              <em>欧美同步课程，培养国际视野</em>
          </span>
        </dd>
      </dl>
    </div>
  </div>
  <!-- 我们有哪些特色课程 -->
  <div class="FeatureC">
      <img class="hfls-txt04" src="<%= imagessrc%>hfls_spe.png" alt="">
      <div class="gden">
         <div>
           <h3>典范英语</h3>
         </div>
         <div class="hfls_famliy">
            <div class="hfls_txt01">
               <p>多年来，作为英语教育战线的前沿工作者，我们一直在寻找一本集生动，趣味，知识，人文于一体的教材！在接受了典范英语第十三期和十四期的校长，教师培训交流研讨后，我校于去年有幸成为了典范英语营口地区加盟校！我们希望将这本英国本土教材Oxford Reading Tree推而广之，让更多的孩子了解英国本土文化，吸纳地道口语表达，最终实现英语技能的全面发展！整体输入，自然输出是我们追求的最高境界！经过一年的授课之后，我们学员的综合能力在很大程度上得到了提升！孩子们的听说读写能力更是超出了我们的预期效果！为此 , 我们倍感欣慰！在今后的教学教研过程中，我们会将典范的成功教学案例应用于我校的其它基础课程中，让优质课堂普遍英高外语，让优秀学员成就更好的英高外语！一花狂放不是春，百花齐放春满园！期待真正的桃李天下！英高外语加油！</p>
            </div>
         </div>
      </div>

       <div class="gden gden01">
         <div>
           <h3>游学项目</h3>
         </div>
         <div class="hfls_famliy hfls_study">
            <div class="hfls_txt01">
               <p>人们说：读万卷书不如行万里路。为了开拓孩子们的视野，我们分别在去年冬天和今年夏天带着本校的学员和家长一起去香港，游伦敦。感受到了书本中了解不到的当地风土人情，亲近自然的同时，丰收了美景，更重要的是通过游学，让孩子们见证了自己的英语实力和不足！充分体现了我校的办学理念———实用教学，情境教学！今年冬天的冬令营——澳大利亚！——救世军领袖营！——准备开拔！想去体会澳洲的寄宿家庭和学伴制贴身小帮手吗？想零距离接触考拉，了解澳洲的动物为什么都有袋吗？快加入我们的行列。游学活动大大丰富了我校的办学形式，发展了学生对外面世界的认识，开阔了个人的眼界，刺激孩子们学习英语的源动力和兴致！希望每次的活动都为我们留下美好的回忆，让经历伴我们成长，快加入我们的队伍吧！</p>
            </div>
         </div>
      </div>

  </div>

  <!-- 推荐51talk -->
  <div class="talk">
    <h3 class="t-h3"> 名人推荐</h3>
    <ul class="talk-list">
      <li class="icon-lina hover"><div class="u-mask"></div></li>
      <li class="icon-lj"><div class="u-mask"></div></li>
      <li class="icon-lxp"><div class="u-mask"></div></li>
    </ul> 
  </div>
  <!-- 学员故事 -->
  <div class="ten-stu">
    <div class="centerMth">
      <p class="stu-tit"> 他们都在推荐51talk</p>
      <a href="javascript:;" class="more">更多孩子的学习故事></a>
      <ul>
        <li>
          <a href="javascript:;">
            <img src="<%= imagessrc%>ten_gs01.png" alt="" class="s-img">
            <p class="s-p">学英语和看动画片一样好玩</p>
            <span class="s-r">——张子周 Joanna</span>
            <span class="s-l">在51Talk学习4年，她每天都开心地和外教聊天、讲英语、玩耍，有时开心得还会和老师一起手舞足蹈</span>
          </a>
           <!-- 视频播放 -->
            <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
              <a href="javascript:;" class="video"><i></i></a>
            </div>
        </li>
        <li>
          <a href="javascript:;">
            <img src="<%= imagessrc%>ten_gs02.png" alt="" class="s-img">
            <p class="s-p">英语让“希望之星”自信闪耀</p>
            <span class="s-r">——陈泽华 Vic</span>
            <span class="s-l">51Talk学习2年，从Lv.2到Lv.11, 英语让这个腼腆的男孩在"希望之星"的赛场光芒四射</span>
          </a>
          <!-- 视频播放 -->
          <div class="video_play" data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780" data-height="">
            <a href="javascript:;" class="video"><i></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- 英高外语学校简介 -->
<div class="hfls_intro">
    <h3>英高外语学校简介</h3>
    <div class="hfls_intro01">
       <p>英高外语学校自建校以来，用自己独特的教学方法，为各小学，初中、高中培养了许多优秀的英语人才。我们的自然拼读起步
教学法，受到了所有在校生及家长的好评和广泛的社会关注；我们的新概念扩充式教学法让学生们的基本功深厚扎实，一次通
透的学习即可满足初中三年所需要的所有语法要求，真正实现了新概念（NEW CONCEPT ENGLISH)的教学宗旨及要求。随着小
学，初中英语课本的改版及教育体制改革的变化，我们融听，说，读，写于一体的教学方法让我们的学员在次次考试中脱颖而
出，在无需准备的情况下拿高分，长自信，为将来的中高考打下坚实基础！英语学习重在规划，我们会把这种语境式教学的优
势维护壮大！许多年来，我校教师潜心研究教学，不断精心调整教学方案，逐渐完善教学体制，为省实验，东北育才，本溪高
中，市实验高中，市一高中，等各大初高中学校培养了诸多英语高才生。我们会继续努力，为学生开创更广阔的英语学习天地，
为营口的教育事业贡献自己的一份力量！孔子曰：不愤不启，不悱不发！苏格拉底语录：“教育不是灌输，而是点燃火焰”！
我们的祖先和教育界的先知，圣人都对教育的本质做出了共同的诠释！这更加明确了我们的教育方向，引领学生大于教育学生，
启发式教学优于灌输式教学！我们愿意做学生的领路人，点燃他们心中对知识的渴望！为孩子们提供最优秀的教育软件，带领
孩子们玩在英语世界，乐在英语世界，留中国心，做世界人！</p>

    </div>
</div>


<!-- 首页右侧 在线客服+微信 -->
<% include ../common/www/ntkf.ejs %>
<!-- 青少年结束 -->
<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
