<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>学习交流</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
    <section id="container" data-init="index" class="invitation">
    	<section class="top">
    		<img src="<%= imagessrc%>top.png" alt="">
    		<span class="code"></span>
    	</section>
    	<section class="con">
    		<section class="record">
    			<img src="<%= imagessrc%>r_title.png" alt="">
    			<section class="center hide">
    				<img src="<%= imagessrc%>no_tick.png" alt="">
    			</section>
    			<section class="r-list">
    				<dl>
    					<dt><span>朋友</span><span>状态</span><span>为您赢取奖励</span></dt>
    					<dd><span><em></em>13580007898</span><span>已注册</span><span>等待中</span></dd>
    					<dd><span><em></em>13580007898</span><span>已注册</span><span>等待中</span></dd>
    					<dd><span><em></em>13580007898</span><span>已注册</span><span>等待中</span></dd>
    				</dl>
    			</section>
    		</section>
    		<section class="record">
    			<img src="<%= imagessrc%>rule_title.png" alt="">
				<ul class="list">
					<li>1. 活动仅面向所有会员。</li>
					<li>2. 2016年9月1日起，付费学员每邀请1位好友注册得1次卡，好友付费，再得10次卡，无上限，邀请越多，赚越多。体验学员每邀请1位好友注册也能得1次卡，好友付费，体验学员没有奖励。</li>
					<li>3. 被邀请的用户注册成功得1节体验课，购买课程，获得3次卡奖励。</li>
					<li>4. 获赠的次卡会在您的好友付费次日，定时自动发送给您和您的好友，充值信息请在“站内信”中查看。</li>
					<li>5. 赠送的次卡不可退款。</li>
					<li>注：自己邀请自己是不会送课的哦！我们将会进行人工核查。</li>
					<li>本活动最终解释权归51Talk所有。</li>
				</ul>
    		</section>
    	</section>
    	<section class="in-code hide">
    		<img src="<%= imagessrc%>code.jpg" alt="">
    	</section>
    </section> 
</body>
<% include ../common/bottom.ejs %>