<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="" />
  <meta name="description" content=""/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
  <title></title>
</head>
<body>
  <div class="reservation_details" data-init="index">
    <h3 class="details_tit">Home > Reservation Details</h3>
    <ul class="details">
      <li>
        <dl>
          <dt><img src="<%= imagessrc%>list_img.jpg" alt=""></dt>
          <dd class='dd_top'>09:30-10:30 <span>lv12</span></dd>
          <dd><a href="javascript:;">Lesson 2 What’s the magic word?</a></dd>
          <dd>Unit 3 Modern tools for modern men</dd>
          <dd><span class="stu_id">ID:187923</span>一对一外教全程托管 6月班</dd>
        </dl>
      </li>
      <li>
        <dl>
          <dt><img src="<%= imagessrc%>list_img.jpg" alt=""></dt>
          <dd class='dd_top'>09:30-10:30 <span>lv12</span></dd>
          <dd><a href="javascript:;">Lesson 2 What’s the magic word?</a></dd>
          <dd>Unit 3 Modern tools for modern men</dd>
          <dd><span class="stu_id">ID:187923</span>一对一外教全程托管 6月班</dd>
        </dl>
        <div class="describe">
          <p>Learning objective: <br>In this lesson, you will learn to talk about the type of news you like to read.</p>
          <p>New Words: <br>discover,politics,space exploration,come true,be reflected in</p>
          <p>Grammar: <br>Prepositions used to express ways/method</p>
        </div>
      </li>
      <li>
        <dl>
          <dt><img src="<%= imagessrc%>list_img.jpg" alt=""></dt>
          <dd class='dd_top'>09:30-10:30 <span>lv12</span></dd>
          <dd><a href="javascript:;">Lesson 2 What’s the magic word?</a></dd>
          <dd>Unit 3 Modern tools for modern men</dd>
          <dd><span class="stu_id">ID:187923</span>一对一外教全程托管 6月班</dd>
        </dl>
      </li>
    </ul>
  </div>
</body>
<script src="<%= jssrc%>"></script>
</html>
