<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="pri-main"  id="container" data-init="back_carnival">
  <!-- banner -->
  <div class="banner"></div>
  <!-- 学员抽奖开始 -->
  <div class="pri-list01">
    <div class="widthMain">
      <div class="lt">
          <div class="prize_list">
              <ul class="names">
                  <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                  <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                  <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
              </ul>
          </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1. 活动时间：09月23日11：00：00 - 10月09日 23：59：59</li>
            <li>2. 图片仅供参考，以实物为准</li>
            <li>3. 抽中课程或实物奖品的同学，需要在09月23日 - 10月09日期间购买5000元以上套餐，活动结束后，奖品由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
      </div>
      <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
        <ul class="l_grid clearfix">
          <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>list01.png" alt=""></li>
          <li class="l_prize l_prize-1"><img src="<%= imagessrc%>list02.png" alt=""></li>
          <li class="l_prize l_prize-2"><img src="<%= imagessrc%>list03.png" alt=""></li>
          <li class="l_prize l_prize-7"><img src="<%= imagessrc%>list04.png" alt=""></li>
          <li class="pointer"></li>
          <li class="l_prize l_prize-3"><img src="<%= imagessrc%>list05.png" alt=""></li>
          <li class="l_prize l_prize-6"><img src="<%= imagessrc%>list06.png" alt=""></li>
          <li class="l_prize l_prize-5"><img src="<%= imagessrc%>list07.png" alt=""></li>
          <li class="l_prize l_prize-4"><img src="<%= imagessrc%>list08.png" alt=""></li>
        </ul>
      </div>
    </div>
    <a href="javascript:;" class="u-btn" id="prize_log"></a>
  </div>
  <!-- 学员抽奖结束 -->
  <!-- 课程大放价 -->
  <div class="pri-list02">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <div class="pri-list03">
    <div class="widthMain">
      <div class="caption-wrap">
        <img src="<%= imagessrc%>teacher_tit.png" alt="">
      </div>
      <!-- 老师列表1 -->
      <div class="teacher-wrap t-list01">
        <h3 class="tit">游在亚洲</h3>
        <div class="teacher-base">
          <img src="<%= imagessrc%>teacher01.jpg" class="head">
          <p class="name">冯宇</p>
          <p class="other-name">英语教学界有衣品<br/>的魅力声优大叔</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月23日  18:00-18:50</p>
              <p>游在泰国：Thailand</p>
            </div>
            <p class="details-text">课程介绍：萨瓦迪卡，别样的海岛风情， 色味俱佳的泰国美食还有充满神秘色彩的佛教文化。 当然去泰国最不能错过的就是和lady boys照相了， 千万别被他们的美丽外貌所迷惑，他们可是真爷们儿！
            </p>
          </a>
        </div>
        <div class="details u-mleft-37">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月30日  18:00-18:50</p>
              <p>游在巴厘岛：Bali</p>
            </div>
            <p class="details-text">课程介绍：风景如画的库塔海滩， 美味绝伦的印尼美食还有充满神秘色彩印度教文化。情人崖，海神庙，圣泉寺，逛累了就到宝格丽酒店喝个惬意的下午茶，再来个热石massage。 这才是度假的正确打开方式！
            </p>
          </a>
        </div>
        <img src="<%= imagessrc%>building01.png" class="building-1">
      </div>
      <!-- 老师列表2 -->
      <div class="teacher-wrap t-list02">
        <h3 class="tit">爱上欧洲</h3>
        <div class="teacher-base">
          <img src="<%= imagessrc%>teacher02.jpg" class="head">
          <p class="name">唐长志</p>
          <p class="other-name">英伦秒嗓雅思男神</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月23日 14:00-14:50</p>
              <p>玩欧洲学口语：不一样的乌克兰</p>
            </div>
            <p class="details-text">课程介绍：大长腿、高颜值、物价低是人们对乌克兰的传统印象，其实不然，通过短短50分钟，唐老湿带你了解真正的乌克兰，而且我们也可以从中学到一些地道的旅游口语表达。
            </p>
          </a>
        </div>
        <div class="details u-mleft-37">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月28日   15:00-15:50</p>
              <p>爱上不一样的词汇：十一游欧洲</p>
            </div>
            <p class="details-text">课程介绍：十一，是玩耍的日子。不知各位小伙伴有没有计划出去旅游呢？出不了门？这堂课，唐老湿就以欧洲为例，带着各位童鞋学习旅游时我们要掌握的词汇表达。
            </p>
          </a>
        </div>
        <img src="<%= imagessrc%>building02.png" class="building-2">
        <img src="<%= imagessrc%>building03.png" class="building-3">
      </div>
      <!-- 老师列表3 -->
      <div class="teacher-wrap t-list03">
        <h3 class="tit">学在北美</h3>
        <div class="teacher-base">
          <img src="<%= imagessrc%>teacher03.jpg" class="head">
          <p class="name">吕宇珺</p>
          <p class="other-name">弹琴画画有韧性的<br/>文艺小花</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月24日   9:00-9:50</p>
              <p>小花老师带你探险美国西部</p>
            </div>
            <p class="details-text">课程介绍：说到美国西部，大家很容易想到硅谷。然而十九世纪的美国西部却是一片荒芜。一代代美国人前往探险……
            </p>
          </a>
        </div>
        <div class="teacher-base u-mleft-63">
          <img src="<%= imagessrc%>teacher04.jpg" class="head">
          <p class="name">梁孜瑜</p>
          <p class="other-name">才貌双全的美少女<br/>战士</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>10月4日  10:00-10:50</p>
              <p>新概念一：跟着孜孜老师读美国顶级大学</p>
            </div>
            <p class="details-text">课程介绍：美国著名学府居多，波士顿、洛杉矶、华盛顿等大学城，本课孜孜老师跟你聊聊美国大学院校排名、名人、历史那些事！
            </p>
          </a>
        </div>
        <img src="<%= imagessrc%>building04.png" class="building-4">
      </div>
      <!-- 老师列表4 -->
      <div class="teacher-wrap t-list04">
        <h3 class="tit">玩转欧洲</h3>
        <div class="teacher-base">
          <img src="<%= imagessrc%>teacher05.jpg" class="head">
          <p class="name">张晓琴</p>
          <p class="other-name">不会卖萌的<br/>Amanda姐姐</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月24日   11:00-11:50</p>
              <p>南希带你游澳洲：Fancy Nancy—Australia Tour</p>
            </div>
            <p class="details-text">课程介绍：漂亮的南希今天要和Amanda老师一起带着宝贝们去看看澳洲的风光，了解一下澳大利亚的民俗风情、著名景点，以及小朋友们最喜欢的澳洲动物一览！
            </p>
          </a>
        </div>
        <div class="teacher-base u-mleft-63">
          <img src="<%= imagessrc%>teacher06.jpg" class="head">
          <p class="name">蟹老板</p>
          <p class="other-name">弹吉他唱情歌的<br/>不忧郁小王子</p>
        </div>
        <div class="details">
          <a href="javascript:;">
            <div class="time_country">
              <p>9月26日  10:00—10:50</p>
              <p>发音雕琢：澳洲篇</p>
            </div>
            <p class="details-text">课程介绍：跟着蟹老板一起了解澳洲和大洋洲的区别，识读澳大利亚口音的特点认识，认识澳大利亚明星动物袋鼠和考拉以及澳大利亚的邻国新西兰。
            </p>
          </a>
        </div>
        <img src="<%= imagessrc%>building05.png" class="building-5">
        <img src="<%= imagessrc%>building06.png" class="building-6">
      </div>
    </div>
  </div>
  <!-- 推荐送次卡 -->
  <div class="pri-list04">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 美国小学 -->
  <div class="pri-list05">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
</div>
<!-- 弹层 -->
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">400元通用代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>prize_01.png" alt="">
                <img src="<%= imagessrc%>prize_02.png" alt="">
                <img src="<%= imagessrc%>prize_03.png" alt="">
                <img src="<%= imagessrc%>prize_05.png" alt="">
                <img src="<%= imagessrc%>prize_08.png" alt="">
                <img src="<%= imagessrc%>prize_07.png" alt="">
                <img src="<%= imagessrc%>prize_06.png" alt="">
                <img src="<%= imagessrc%>prize_04.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>400元通用代金券</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.全部中奖名单将在8月16日在学习社区公布</li>
      <li>4.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
<script src="<%= jssrc%>"></script>
</body>
</html>




