<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
	 <div  class="topPart">
			<p>
					Want to earn up to <span>$22</span> an hour <br />
					from home by teaching English to <br />
					kids with a flexible schedule?
			</p>
			<a href="http://www.51talk.com/ph/landing_usa.php?id=11" class="e-get">Get Started</a>
	 </div>
	 	 <div class="bottomPart">
	 	 		<a href="http://www.51talk.com/ph/landing_usa.php?id=11" target="_blank"><img src="<%=imagessrc%>e-bg.jpg"  /></a>
	 	 		<div class="btn-logo">
		 	 		<ul>
		 	 				<li style="float:left;">
		 	 					<a href="https://www.51talk.com/na" target="_blank">
		 	 						<img src="<%=imagessrc%>e-usa.png"  class="e-usa" />
		 	 					</a>
		 	 				</li>
		 	 				<li class="e-fb">
		 	 					<a href="https://www.facebook.com/51Talk-US-151039771990173/" target="_blank">
		 	 						<img src="<%=imagessrc%>e-facebook.png"  class="e-facebook" />
		 	 					</a>
		 	 				</li>
		 	 				<li style="float:right;">
		 	 					<a href="https://twitter.com/51TalkUS" target="_blank">
		 	 						<img src="<%=imagessrc%>e-twitter.png"  class="e-twitter" />
		 	 					</a>
		 	 				</li>
		 	 		</ul>
		 	 	</div>
	 	 </div>
</body>
</html>