<% include ../common/top.ejs %>
<body>
	<div class="g_teenagers" id="container" data-init="teenagers">
		<div class="g_min">
			<div class="g_top minWidth">
				<div class="m_logo">
					<img _src="<%= imagessrc%>/p_logo.png" alt="" class="f_logo">
					<span class="banWord">中国最大的在线英语教育品牌</span>
					<span class="f_phone"><img _src="<%= imagessrc%>/p_iphone.png" alt="" class="u_icon">4000-51-51-51</span>
				</div>
				<div class="m_login">
					<form action="" id="t-regForm">
						<div class="f_login">
							<div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
							<div class="f_loginB">
								<div class="f_mail">
									<span>邮箱：</span><input class="jsCheck" type="text"  name="user_name" placeholder="请输入家长邮箱">
								</div>
								<div class="f_phoneN">
									<span>手机：</span><input class="jsCheck" type="text"  name="mobile" placeholder="请输入家长手机">
								</div>
								<div class="f_loginP">
									<span>密码：</span><input class="jsCheck" type="password"  name="password" placeholder="请设置您的密码">
								</div>
								<div class="f_loginBt">
									<input type="button" class="jsSubmit" value="获取免费体验课程">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="g_content">
				<div class="r_represent">
					<img _src="<%= imagessrc%>/spe_num.gif" alt="" class="repImg">
					<img _src="<%= imagessrc%>/spe_title01.gif" alt="" class="repImg">
					<img _src="<%= imagessrc%>/spe_list.gif" alt="" class="repImg">
					<img _src="<%= imagessrc%>/spe_title02.gif" alt="" class="repImg">
					<div class="clickStepTag pic_guide picGuide1">
              <ul>
                  <li i="1"></li>
                  <li i="2"></li>
                  <li i="3"></li>
              </ul>
              <div class="showStep showStep1" >
                  <form name="regFormTwo" method="POST" action="/user/do_login.php" id="m-regForm" >
                      <p class="f_18 f_y" style="padding-top:20px; margin-bottom:25px;">登录51Talk会员中心，开始英语突破之旅</p>
                      <p><input name="user_name" id="user_name" type="text" class="index_input jsCheck" value="" placeholder="请输入邮箱地址"  /></p>
                      <p><input name="password" type="password" id="password" class="index_input jsCheck" value="" placeholder="请填写密码" /><a class="dl_a jsSubmit" href="javascript:;" id="submitReg"><font class="f_l">登录</font> <font class="f_r">&gt;</font></a></p>
                      <p><a href="/user/get_pass.php" class="f_l m_r20">忘记密码</a><a href="/user/user_register.php" target="_blank" class="f_c">新用户点此注册</a></p>
                      <a href="/user/user_register.php" target="_blank" class="btn_a"><font class="f_l">现在就来体验</font> <font class="f_r">></font></a>
                  </form>
              </div>
              <div class="showStep showStep2" style="display:none;"><img _src="http://static.51talk.com/images/new_web/ban_2.png" /><a href="/user/user_register.php" target="_blank" class="btn_a"><font class="f_l">现在就来体验</font> <font class="f_r">></font></a></div>
              <div class="showStep showStep3" style="display:none;"><img _src="http://static.51talk.com/images/new_web/box_3.png" style="margin:25px;" /><a href="/user/user_register.php" target="_blank" class="btn_a"><font class="f_l">现在就来体验</font> <font class="f_r">></font></a></div>
          </div>
          <img _src="<%= imagessrc%>/spe_title03.gif" alt="" class="repImg">
					<img _src="<%= imagessrc%>/spe_star.gif" alt="" class="repBomImg">
					<img _src="<%= imagessrc%>/spe_main.gif" alt="" class="repBomImg">
					<a href="#" class="repBtn">立即免费体验</a>
				</div>
				<div class="m_mh">
					<div class="m_mm  minWidth">
	          <div class="m_honor">
	          	<h3>51Talk的荣誉</h3>
	            <ul class="f_honor">
	                <li class="borderN"><a href="#" target="_blank"><img class="ulImg3" _src="<%= imagessrc%>/Daily.png" /></a><br /><span class="span_h">2014最具成长性教育品牌<br/>中国日报</span></li>
	                <li><a href="#" target="_blank"><img class="ulImg3" _src="<%= imagessrc%>/NetEase.png" /></a><br /><span class="span_h">最具影响力在线教育品牌<br />网易</span></li>
	                <li><a href="#" target="_blank"><img class="ulImg3" _src="<%= imagessrc%>/Beijing_News.png" /></a><br /><span class="span_h">年度最具成长力品牌<br/>新京报</span></li>
	                <li><a href="#" target="_blank"><img class="ulImg3" _src="<%= imagessrc%>/51Sina.png" /></a><br /><span class="span_h">最具品牌知名度外语教育机构<br />新浪网</span></li>
	            </ul>
	          </div>
						<div class="m_media">
							<h3>媒体报道</h3>
							<div>
								<a href="#"><img _src="<%= imagessrc%>/cctv.png" alt=""></a>
								<a href="#"><img _src="<%= imagessrc%>/cy.png" alt=""></a>
								<a href="#"><img _src="<%= imagessrc%>/ifeng.png" alt=""></a>
								<a href="#"><img _src="<%= imagessrc%>/qq.png" alt=""></a>
								<a href="#"><img _src="<%= imagessrc%>/sina.png" alt=""></a>
								<a href="#"><img _src="<%= imagessrc%>/soh.png" alt=""></a>
							</div>
						</div>
						<div class="m_company">
							<h3>合作企业</h3>
							<ul class="f_company">
								<li>
									<a href="#"><img _src="<%= imagessrc%>/xiaomi.png" alt=""></a>
								</li>
								<li>
									<a href="#"><img _src="<%= imagessrc%>/jd.png" alt=""></a>
								</li>
								<li>
									<a href="#"><img _src="<%= imagessrc%>/cheyipai.png" alt=""></a>
								</li>
								<li>
									<a href="#"><img _src="<%= imagessrc%>/51sony.png" alt=""></a>
								</li>
								<li>
									<a href="#"><img _src="<%= imagessrc%>/51sany.png" alt=""></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="g_bottom">
				<form action="" id="b-regForm">
					<div class="g_bottomT minWidth">
						<div class="f_bM"><input class="jsCheck" type="text" name="user_name" placeholder="请输入您的邮箱"></div>
						<div class="f_bN"><input class="jsCheck" type="text" name="mobile" placeholder="请输入您的手机号码"></div>
						<div class="f_bW"><input class="jsCheck" type="passworder" name="password" placeholder="请设置您的密码"></div>
						<a href="javascript:;" class="jsSubmit">马上注册，体验免费外教课</a>
					</div>
				</form>
				<p class="piped">Copyrigh&copy;北京大生知行科技有限公司<i>|</i>
	      <a href="#" target="_blank">隐私声明</a><i>|</i>
	      <a href="#" target="_blank">用户协议</a><i>|</i>
	      京ICP证110696号&nbsp;京ICP备11031999号
	      <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253020514'%3E%3C/span%3E%3Cscript _src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1253020514%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	    	</p>
			</div>
		</div>
	</div>
</body>
<% include ../common/uc_bottom.ejs %>