<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk无忧英语,网上真人外教一对一在线英语教育第一品牌</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
	<div class="red_search"  id="container" data-init="share">
		<img src="<%= imagessrc%>share.jpg" alt="" width="0" height="0">
		<div class="search_top">
			<img src="<%= imagessrc%>search_top.jpg" alt="">
			<div class="search_top_b">
				<img src="<%= imagessrc%>search_top_b.jpg" alt="">
				<form  id="reg1_form">
					<ul class="search_list">
						<li><input type="tel" id="reg1_tel" placeholder="输入您的手机号"></li>
						<li><input type="password" id="reg1_passwd" placeholder="设置您的密码"></li>
						<li><a id="reg1" href="javascript:;">赶紧领回家</a></li>
					</ul>
				</form>
			</div>
		</div>
		<div class="search_cont">
			<h3 class="search_tit">如果你有以下情况</h3>
			<div class="part1">
				<div class="drop_down"><img src="<%= imagessrc%>drop_down.png" alt=""></div>
				<img src="<%= imagessrc%>search_part1_text.png" alt="" class="text1">
				<img src="<%= imagessrc%>search_part1.jpg" alt="">
				<div class="center">
					<div class="paopao paopao1"><img src="<%= imagessrc%>search_paopao.png" alt=""></div>
				</div>
			</div>
			<div class="part2">
				<img src="<%= imagessrc%>search_part2_text.png" alt="" class="text2">
				<img src="<%= imagessrc%>search_part2.jpg" alt="">
				<div class="center">
					<div class="paopao paopao2"><img src="<%= imagessrc%>search_paopao2.png" alt=""></div>
				</div>
			</div>
			<div class="part3">
				<img src="<%= imagessrc%>search_part3_text.png" alt="" class="text3">
				<img src="<%= imagessrc%>search_part3.jpg" alt="">
				<div class="center">
					<div class="paopao paopao3"><img src="<%= imagessrc%>search_paopao3.png" alt=""></div>
				</div>
			</div>
		</div>
		<div class="search_free">
			<img src="<%= imagessrc%>search_part4.jpg" alt="">
			<form  id="reg2_form">
				<ul class="search_list">
					<li><input type="tel" id="reg2_tel" placeholder="输入您的手机号"></li>
					<li><input type="password" id="reg2_passwd" placeholder="设置您的密码"></li>
					<li><a id="reg2" href="javascript:;">免费领取礼包</a></li>
				</ul>
			</form>
			<p>www.51talk.com</p>
		</div>
	</div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script> 
</html>