<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<!-- 导航 -->
<div class="m-banner-1">
	<!-- 成人 -->
	<img src="<%= imagessrc%>banner_ct.jpg" alt="" width="1920" height="600" />
	<!-- 青少 -->
	<!-- <img src="<%= imagessrc%>banner_ct_youth.jpg" alt="" width="1920" height="600" /> -->
</div>

<!-- 青少和成人的 m-screen部分背景颜色不同  通过f-bgw 来控制-->
<div class="m-screen f-bgw">
	<div class="m-md">
		<div class="m-package clearfix">
			<div class="m-lt">
				<img src="<%= imagessrc%>package.jpg" alt="" >
			</div>
			<div class="m-rt">
				<ul class="m-list">
					<!-- 大小套餐价格区分> -->
					<!-- <li class="u-price-4999"><span class="u-price">5199</span></li> -->
					<li class="u-price-8399"><span class="u-price">8699</span></li>
					<li class="u-pk-tt">零基础中教组合套餐</li>
					<!-- 大小套文案区分> -->
					<!-- <li class="u-txt">72节中教小班课+超长学习有效期</li> -->
					<li class="u-txt">72节中教小班课+96次外教1对1次卡+超长学习有效期</li>
					<li class="u-enjoy"></li>
					<li><a class="u-btn" href="javascript:;">立即购买</a></li>
				</ul>
			</div>
		</div>
		<div class="m-word">
			<img class="u-word" src="<%= imagessrc%>word.jpg" alt="" width="1000" height="353">
			<ul class="m-des clearfix">
				<li class="m-list">
					<h3>中教小班课：</h3>
					<p>轻松的课堂气氛，超强阵容的高颜值中教老师，全程无障碍沟通，随时为您解决英语学习中的困惑，不再“闹太套”</p>
				</li>
				<li class="u-line"></li>
				<li class="m-list">
					<h3>外教1对1：</h3>
					<p>随时随地预约上课，切实提高口语运用技能，锻炼大胆开口说，满足您旅行，职场，教育等场合畅通交流需求</p>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-1" title="独创的神奇五步教学法，学到的不仅是语音"></h2>
		<!-- 青少大套餐第一个标题 -->
		<!-- <h2 class="u-tt-1-yb" title="中外教超豪华名师阵容，打造极致青少零基础课程"></h2> -->
		<!-- 青少小套餐第一个标题 -->
		<!-- <h2 class="u-tt-1-yl" title="24次自然拼读课程，48次经典英语课程"></h2> -->
		<ul class="m-tab-step clearfix">
			<li class="m-list">
				<div class="num1"></div>
				<h3 class="u-txt">发音奥妙巧揭示</h3>
			</li>
			<li class="m-list">
				<div class="num2"></div>
				<h3 class="u-txt">音标拼读认单词</h3>
			</li>
			<li class="m-list">
				<div class="num3"></div>
				<h3 class="u-txt">实用短句显身手</h3>
			</li>
			<li class="m-list">
				<div class="num4"></div>
				<h3 class="u-txt">趣味韵律炼神嘴</h3>
			</li>
			<li class="m-list last">
				<div class="num5"></div>
				<h3 class="u-txt">生活场景真运用</h3>
			</li>
		</ul>
		<!-- 成人 -->
		<ul class="m-tab-rel">
			<li><img src="<%= imagessrc%>step_1.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="<%= imagessrc%>step_2.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="<%= imagessrc%>step_3.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="<%= imagessrc%>step_4.jpg" alt="" width="1000" height="571"></li>
			<li class="hide"><img src="<%= imagessrc%>step_5.jpg" alt="" width="1000" height="571"></li>
		</ul>
		<!-- 青少 -->
		<!-- <ul class="m-tab-rel">
			<li><img src="<%= imagessrc%>step_1_youth.jpg" alt="" width="1000" height="571"></li>
		</ul> -->
	</div>
</div>
<div class="m-screen f-bgw">
	<div class="m-md">
		<h2 class="u-tt-2" title="精致的教材设计，丰富的学习内容"></h2>
		<!-- 成人部分 -->
		<div class="clearfix">
			<div class="m-silder">
				<ul class="m-img-bg">
					<li><img src="<%= imagessrc%>silder_1.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_2.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_3.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_4.jpg" alt="" width="470" height="268" ></li>
				</ul>
				<ul class="m-img-lt clearfix">
					<li><img src="<%= imagessrc%>silder_1.jpg" alt="" ><div class="u-mask hover"></div></li>
					<li><img src="<%= imagessrc%>silder_2.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="<%= imagessrc%>silder_3.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="<%= imagessrc%>silder_4.jpg" alt="" ><div class="u-mask"></div></li>
				</ul>
			</div>
			<ul class="m-silder-txt">
				<li><i class="u-point-1"></i><span>原新东方顶级名师、学术外教、资深开发师设计课程</span></li>
				<li><i class="u-point-2"></i><span>激情燃烧72学时班课 = 24次语音+48次《经典英语》</span></li>
				<li><i class="u-point-3"></i><span>最适合互联网学习的教材和课程设计，没有之一</span></li>
				<li><i class="u-point-4"></i><span>帮您轻松过渡到全外教《经典英语》，对话世界</span></li>
			</ul>
		</div>
		<!-- 青少部分 -->
		<!-- <div class="clearfix">
			<div class="m-silder">
				<ul class="m-img-bg">
					<li><img src="<%= imagessrc%>silder_1_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_2_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_3_youth.jpg" alt="" width="470" height="268" ></li>
					<li class="hide"><img src="<%= imagessrc%>silder_4_youth.jpg" alt="" width="470" height="268" ></li>
				</ul>
				<ul class="m-img-lt clearfix">
					<li><img src="<%= imagessrc%>silder_1_youth.jpg" alt="" ><div class="u-mask  hover"></div></li>
					<li><img src="<%= imagessrc%>silder_2_youth.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="<%= imagessrc%>silder_3_youth.jpg" alt="" ><div class="u-mask"></div></li>
					<li><img src="<%= imagessrc%>silder_4_youth.jpg" alt="" ><div class="u-mask"></div></li>
				</ul>
			</div>
			<ul class="m-silder-txt">
				<li><i class="u-point-1"></i><span>原新东方顶级名师、学术外教、资深开发师设计课程</span></li>
				<li><i class="u-point-2"></i><span>激情燃烧72学时班课 = 24次语音+48次《经典英语》</span></li>
				<li><i class="u-point-3"></i><span>最适合互联网学习的教材和课程设计，没有之一</span></li>
				<li><i class="u-point-4"></i><span>帮您轻松过渡到全外教《经典青少英语》，对话世界</span></li>
			</ul>
		</div> -->
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-3" title="完善的知识架构，系统的课程设置"></h2>
		<h3 class="u-txt-tt">原新东方顶级名师、学术外教、资深开发师设计课程</h3>
		<!-- 成人 -->
		<div class="m-step-set">
			<img class="step-set-1" src="<%= imagessrc%>step_set_1.png" alt="" width="1000" height="415">
			<!-- 两栏的情况 -->
			<!-- <img class="step-set-2" src="<%= imagessrc%>step_set_2.png" alt="" width="600" height="415"> -->
		</div>
		<!-- 青少 -->
		<!-- <div class="m-step-set">
			<img class="step-set-1" src="<%= imagessrc%>step_set_1_youth.png" alt="" width="1000" height="415">
			两栏的情况
			<img class="step-set-2" src="<%= imagessrc%>step_set_2_youth.png" alt="" width="600" height="415">
		</div> -->
	</div>
</div>
<div class="m-screen f-bgw">
	<div class="m-md">
		<h2 class="u-tt-4" title="优质的师资力量，暖心的教学服务"></h2>
		<ul class="m-teachers clearfix">
			<li>
				<img src="<%= imagessrc%>teacher_1.jpg" alt="">
				<h3>发音清晰，口语纯正，语言流利</h3>
			</li>
			<li>
				<img src="<%= imagessrc%>teacher_2.jpg" alt="">
				<h3>教学经验丰富，课堂气氛活跃</h3>
			</li>
			<li class="last">
				<img src="<%= imagessrc%>teacher_3.jpg" alt="">
				<h3>耐心细致，认真负责，幽默生动</h3>
			</li>
		</ul>
	</div>
</div>
<div class="m-screen">
	<div class="m-md">
		<h2 class="u-tt-5" title="系统的学习机制，灵活的时间安排"></h2>
		<div class="m-time-set">
			<img src="<%= imagessrc%>time_set.png" alt="" width="1000" height="179">
		</div>
	</div>
</div>
<div class="m-banner-2">
	<!-- 8399套餐的图 -->
	<img src="<%= imagessrc%>learn_8399.jpg" alt="" width="1920" height="638" />
	<span>8699</span>
	<!-- <img src="<%= imagessrc%>learn_8399_youth.jpg" alt="" width="1920" height="638" /> -->
	<!-- 4999套餐的图 -->
	<!-- <img src="<%= imagessrc%>learn_4999.jpg" alt="" width="1920" height="638" /> -->
	<!-- <span>5199</span> -->
	<!-- <img src="<%= imagessrc%>learn_4999_youth.jpg" alt="" width="1920" height="638" /> -->
</div>

<div class="m-banner-3">
	<img src="<%= imagessrc%>learn_2.jpg" alt="" width="1920" height="460" />
	<a class="u-buy-btn" href="javascript:;"></a>
</div>
<% include ../common/www/w_footer_reg.ejs %>
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
