<% include ../common/top.ejs %>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="pri-main"  id="container" data-init="back_carnival">
  <!-- banner -->
  <div class="banner"></div>
  <!-- 学员抽奖开始 -->
  <div class="pri-list01">
    <div class="widthMain">
      <div class="lt">
          <div class="prize_list">
              <ul class="names">
                  <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                  <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                  <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                  <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                  <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                  <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
              </ul>
          </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>活动规则： 1.活动时间：8月5日11：00：00——8月14日 23：59：59</li>
            <li>2.抽中课程或实物奖品的同学，需要在8月5日—8月14日期间购买4000元以上套餐，活动结束后，奖品由客服联系寄出。
            </li>
          </ul>
          <p class="rota_more">更多详情 ></p>
      </div>
      <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
        <ul class="l_grid clearfix">
          <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>list01.png" alt=""></li>
          <li class="l_prize l_prize-1"><img src="<%= imagessrc%>list02.png" alt=""></li>
          <li class="l_prize l_prize-2"><img src="<%= imagessrc%>list03.png" alt=""></li>
          <li class="l_prize l_prize-7"><img src="<%= imagessrc%>list04.png" alt=""></li>
          <li class="pointer"></li>
          <li class="l_prize l_prize-3"><img src="<%= imagessrc%>list05.png" alt=""></li>
          <li class="l_prize l_prize-6"><img src="<%= imagessrc%>list06.png" alt=""></li>
          <li class="l_prize l_prize-5"><img src="<%= imagessrc%>list07.png" alt=""></li>
          <li class="l_prize l_prize-4"><img src="<%= imagessrc%>list08.png" alt=""></li>
        </ul>
      </div>
    </div>
    <a href="javascript:;" class="u-btn" id="prize_log"></a>
  </div>
  <!-- 学员抽奖结束 -->
  <!-- 老师名课开始 -->
  <div class="pri-list02">
    <div class="widthMain">
      <ul class="m-list">
        <li>
          <img src="<%= imagessrc%>teacher_1.jpg" alt="">
         <ul class="m-list01">
           <li class="tit"><span>梁孜瑜</span> | 用艺人的姿态教授英语课程的女神</li>
           <li><a href="javascript:;">8月21日 10：00—10：50</a></li>
           <li><a href="javascript:;">奥运-梁孜瑜</a></li>
           <li><a href="javascript:;">8月21日 10：00—10：50</a></li>
           <li><a href="javascript:;">新概念一册-梁孜瑜</a></li>
           <li><a href="javascript:;">8月21日 11：00—11：50</a></li>
           <li><a href="javascript:;">新概念一册-梁孜瑜</a></li>
            <ul class="m-list01-ul">
              <li>&gt;51Talk托福写作、新概念英语、语法名师。</li>
              <li>&gt;原北京新东方学校资深教师，高分学员数量部门第一</li>
              <li>&gt;曾任新东方北美VIP托福写作教研组组长</li>
              <li>&gt;曾任新东方《成人英语教师培训班》授课教师</li>
            </ul>
         </ul>
        </li>
        <li>
          <img src="<%= imagessrc%>teacher_2.jpg" alt="">
          <ul class="m-list01">
            <li class="tit"><span>蟹老板</span> | 弹吉他唱情歌的不犹豫小王子</li>
            <li><a href="javascript:;">8月20日 09：00—09：50</a></li>
            <li><a href="javascript:;">奥运-谢昕呈</a></li>
            <li><a href="javascript:;">8月21日 09：00—09：50</a></li>
            <li><a href="javascript:;">奥运-谢昕呈</a></li>
            <li><a href="javascript:;">8月22日 10：00—10：50</a></li>
            <li><a href="javascript:;">谢昕呈3.0版-发音</a></li>
            <ul class="m-list01-ul">
              <li>&gt;51Talk托福写作、新概念英语、语法名师。</li>
              <li>&gt;原北京新东方学校资深教师，高分学员数量部门第一</li>
              <li>&gt;曾任新东方北美VIP托福写作教研组组长</li>
              <li>&gt;曾任新东方《成人英语教师培训班》授课教师</li>
            </ul>
         </ul>
        </li>
        <li>
          <img src="<%= imagessrc%>teacher_3.jpg" alt="">
          <ul class="m-list01">
            <li class="tit"><span>唐长志</span> | 英伦妙嗓，雅思男神</li>
            <li><a href="javascript:;">8月19日 14：00—14：50</a></li>
            <li><a href="javascript:;">奥运-长志</a></li>
            <li><a href="javascript:;">8月25日 10：00—10：50</a></li>
            <li><a href="javascript:;">奥运-长志</a></li>
            <li><a href="javascript:;">8月26日 14：00—14：50</a></li>
            <li><a href="javascript:;">奥运-长志</a></li>
            <ul class="m-list01-ul">
              <li>&gt;51Talk托福写作、新概念英语、语法名师。</li>
              <li>&gt;原北京新东方学校资深教师，高分学员数量部门第一</li>
              <li>&gt;曾任新东方北美VIP托福写作教研组组长</li>
              <li>&gt;曾任新东方《成人英语教师培训班》授课教师</li>
            </ul>
          </ul>
        </li>
        <li>
          <img src="<%= imagessrc%>teacher_4.jpg" alt="">
          <ul class="m-list01">
            <li class="tit"><span>曲琼琼</span> | 搞笑版温柔女神</li>
            <li><a href="javascript:;">8月26日 09：00—09：50</a></li>
            <li><a href="javascript:;">Q谈语法</a></li>
            <ul class="m-list01-ul">
              <li>&gt;51Talk托福写作、新概念英语、语法名师。</li>
              <li>&gt;原北京新东方学校资深教师，高分学员数量部门第一</li>
              <li>&gt;曾任新东方北美VIP托福写作教研组组长</li>
              <li>&gt;曾任新东方《成人英语教师培训班》授课教师</li>
            </ul>
          </ul>
        </li>
      </ul>
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 推荐送次卡 -->
  <div class="pri-list03">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 课程大放价 -->
  <div class="pri-list04">
    <div class="widthMain">
      <p class="u-tit">爆款课程大放价： <span>180次卡套餐再减200元</span></p>
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 美国小学 -->
  <div class="pri-list05">
    <div class="widthMain">
    </div>
    <a href="javascript:;" class="u-btn"></a>
  </div>
  <!-- 底部logo提示 -->
  <div class="pri-list06">
    <div class="widthMain">
      <img src="<%= imagessrc%>footer_tit.png">
    </div>
  </div>
</div>
<!-- 弹层 -->
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">400元通用代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>prize_01.png" alt="">
                <img src="<%= imagessrc%>prize_02.png" alt="">
                <img src="<%= imagessrc%>prize_03.png" alt="">
                <img src="<%= imagessrc%>prize_05.png" alt="">
                <img src="<%= imagessrc%>prize_08.png" alt="">
                <img src="<%= imagessrc%>prize_07.png" alt="">
                <img src="<%= imagessrc%>prize_06.png" alt="">
                <img src="<%= imagessrc%>prize_04.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>400元通用代金券</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.全部中奖名单将在8月16日在学习社区公布</li>
      <li>4.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
<script src="<%= jssrc%>"></script>
</body>
</html>




