<% include ../common/top.ejs %>
<body>
<img src="<%= imagessrc%>rew_icon.png" width="0" height="0" style="float:left;">
<section class="section-wrap container" id="container" data-init="index">
  <div class="sec">
    <div class="section section-1 li">
      <div class="title active">
        <dl class="rew-dl animat">
          <dt>
            <img src="<%= imagessrc%>img_01.jpg" alt="" class="dl-img">
            <i class="lt"><img src="<%= imagessrc%>rew_nav01_lt.png" alt=""></i>
            <i class="rt"><img src="<%= imagessrc%>rew_nav01_rt.png" alt=""></i>
          </dt>
          <dd>hhl2015</dd>
        </dl>
        <div class="rew-tit animat">
          <div class="tit01">
            <p><span>2013</span>年<span>06</span>月<span>12</span>日</p>
            <p>
              我和51Talk相识了,<br>
              这是我们认识的<br>
              第<span>695</span>天
            </p>
          </div>
          <div class="tit02" style="display:none;">
            <p>啊哦！小5没有找到<br>你在2015年的<br>1对1上课记录<br>2016年多多上课吧！<br></p>
          </div>
        </div>
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-2 li">
      <div class="title">
        <div class="rew-sec">
          <img src="<%= imagessrc%>rem_tit.png" alt="" class="dl-img02 animat">  
          <p class="animat">我完成了<span>366586</span>节1对1外教课</p>
          <p class="animat">I have spoken English <span>234126</span> mins.</p>
          <div class="rew-times rew-lev03">
            <div class="rew-tit02 animat">
              总时长超越了<span>58%</span>的小伙伴
              <img src="<%= imagessrc%>rew_nav02_bj.png" alt="" class="tit-img"> 
            </div>
          </div>
          <div class="rew-bom"><img src="<%= imagessrc%>rew_up02.png"></div>
        </div>
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-3 li">
      <div class="title">
        <div class="rew-sec">
          <img src="<%= imagessrc%>rem_tit.png" alt="" class="dl-img02 animat"> 
          <p class="animat">我共升级<span>36</span>times</p>
          <p class="animat">From level3 to level7</p>
          <div class="rew-times rew-times05">
            <ul class="s_bg">
              <li class="wugui-h">
              </li>
              <li class="motuo-h">
                <div class="rew-tit02 animat">
                  升级速度超越了<span>58%</span>的小伙伴,<br>明明可以靠脸吃饭，我却要学英语。
                  <img src="<%= imagessrc%>rew_nav03_bj.png" alt="" class="tit-img add-tit-img"> 
                </div>
              </li>
              <li class="qiche"></li>
              <li class="feiji"></li>
              <li class="ufo-h"></li>
            </ul>
          </div>
          <div class="rew-bom"><img src="<%= imagessrc%>rew_up02.png"></div> 
        </div>
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-4 li">
      <div class="title">
         <div class="rew-sec">
          <img src="<%= imagessrc%>rem_tit.png" alt="" class="dl-img02 animat"> 
          <p class="animat">我最常上课的时间</p>
          <img src="<%= imagessrc%>rew_img03.png" alt="" class="td-img01"> 
          <p class="sec-tit animat">孔子曰，晚上的3小时，将决定你成为怎样的人。It's said by Confucius! 嘘...</p>
          <div class="rew-bom"><img src="<%= imagessrc%>rew_up02.png"></div>
         </div> 
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-5 li">
      <div class="title">
         <div class="rew-sec">
            <img src="<%= imagessrc%>rem_tit.png" alt="" class="dl-img02 animat"> 
            <p>Use<span>51Talk</span>APP</p>
            <img src="<%= imagessrc%>rew_nav05.png" alt="" class="rew-icon animat"> 
            <div class="word animat"><p>领取红包</p><span>15</span>times</div>
            <div class="rew-bom"><img src="<%= imagessrc%>rew_up02.png"></div>
         </div> 
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-6 li">
      <div class="title">
         <div class="rew-sec">
            <img src="<%= imagessrc%>rem_tit.png" alt="" class="dl-img02 animat"> 
            <p>对话过<span>7</span>位老师</p>
            <p class="head">
              <span>Favorite</span>
            </p>
            <ul class="sec06-ul">
              <li>
                <img src="<%= imagessrc%>1.jpg" class="sec06-img">
                <span>Satiy</span>
                <span class="star"></span>
                <span>教课经验：6年</span>
              </li>
              <li>
                <img src="<%= imagessrc%>1.jpg" class="sec06-img">
                <span>Satiy</span>
                <span class="star sa1"></span>
                <span>教课经验：6年</span>
              </li>
              <li>
                <img src="<%= imagessrc%>1.jpg" class="sec06-img">
                <span>Satiy</span>
                <span class="star sa1s"></span>
                <span>教课经验：6年</span>
              </li>
            </ul> 
            <div class="rew-bom"><img src="<%= imagessrc%>rew_up02.png"></div>         
          </div> 
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-7 li">
      <div class="metal metal1"></div>
      <div class="title">
         <div class="rew-last">
            <p class="word">2015的英语修行<br>我是一个不折不扣的“<span>口语大师</span>”</p>
            <p class="head">
              <span><img src="<%= imagessrc%>rew_yr.png" class="rew-ln"></span>
            </p>
            <p class="word">Our dreams are on the way.<br>Miracles keep happening.</p>
            <div class="btn"><a href="javascript:;">右上分享晒笔记</a></div>
            <div class="rew-bom"><img src="<%= imagessrc%>rew_up01.png"></div>     
          </div> 
      </div>
      <div class="arrow span"></div>
    </div>
    <div class="section section-8 li">
      <div class="metal metal1"></div>
      <div class="title">
         <div class="rew-last">
            <p class="word h3-tit">2015的英语修行<br>我是一个不折不扣的“<span>口语大师</span>”</p>
            <p class="head"></p>
            <p class="word">2016，邀请你跟我一起学英语！<br>还有真人外教免费帮测试英语水平哦！</p>
            <form action="active" id="RegForm">
              <ul class="dl-input">
                <li><input type="number" placeholder="请输入您的手机号" id="dl-tel"></li>
                <li><input type="password" placeholder="设置您的密码" id="dl_password"></li>
              </ul>
              <div class="btn" id="sha-reg"><a href="javascript:;">免费领取红包</a></div>     
            </form>
            <div class="rew-bom"><img src="<%= imagessrc%>rew_up01.png"></div> 
          </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="arrow-img" style="display:none;"><img src="<%= imagessrc%>rew_bj.png" alt=""></div>
<div class="arrow"></div> -->
</body>
<% include ../common/bottom.ejs %>
