<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>成人师资服务</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
		<section data-init="brand" class="adultTeacher">
  		  <header>
            <img src="<%=imagessrc%>adult_teacher/logo.jpg" class="width100" />
        </header>
        <hgroup>
             <div class="video_bg adult_teaching">
                <img src="<%=imagessrc%>adult_teacher/adult_teaching.jpg" class="width100" />
             </div>
        </hgroup>
        <hgroup class="lists">
            <div class="list">
              <div class="lf">8000</div>
              <div class="ri">超过<i></i>8000<i></i>名严格考核优选的外教团队</div>
            </div>
            <div class="list">
              <div class="lf">3%</div>
              <div class="ri">只录取<i></i>TOP3%<i></i>优秀人才，发音标准，经验丰富</div>
            </div>
            <div class="list">
              <div class="lf">评价</div>
              <div class="ri">学员参与评价，优胜劣汰</div>
            </div>
        </hgroup>
        <hgroup class="morechange"> 
          <img src="<%=imagessrc%>adult_teacher/morechange.jpg" class="width100 title" />
          <div class="list">
            <div class="compare">
               <img src="<%=imagessrc%>adult_teacher/compare.jpg" class="width100" />
            </div>
            <div class="feature">
              沉浸纯英语语言环境，60%交流比例，摆脱哑巴英语和中式思维。
            </div>
          </div>
          <div class="video_bg adult_exchange">
            <img src="<%=imagessrc%>adult_teacher/adult_exchange.jpg" class="width100" />
           </div>
        </hgroup>
        <hgroup class="min25">
           <img src="<%=imagessrc%>adult_teacher/25min.jpg" class="width100 title" />
           <img src="<%=imagessrc%>adult_teacher/device.jpg" class="width100" />
           <p>
             碎片时间想学就学，容易坚持<br />
              可在电脑、手机端和pad三端上课
           </p>
        </hgroup>
        <hgroup class="overbalance">
           <img src="<%=imagessrc%>adult_teacher/overbalance.jpg" class="width100 title" />
           <img src="<%=imagessrc%>adult_teacher/overbalance_bg.jpg" class="width100" />
        </hgroup>
        <hgroup class="freeclass">
          <img src="<%=imagessrc%>adult_teacher/freeclass.jpg" class="width100 title" />
          <img src="<%=imagessrc%>adult_teacher/freeclass_show.jpg" class="width100 title" />
        </hgroup>
        <hgroup class="coe">
           <img src="<%=imagessrc%>adult_teacher/coe.jpg" class="width100 title" />
           <img src="<%=imagessrc%>adult_teacher/coe_per.jpg" class="width100 coe_per" />
           <img src="<%=imagessrc%>adult_teacher/lina.jpg" class="width100" />
        </hgroup>
		</section>
		<a href="javascript:;" class="red lightred">查看课程价格</a>
    <section class="mask mask_adult_teaching"></section>
    <img src="<%=imagessrc%>close.png" class="close" />
    <section class="videomodule videomodule_adult_teaching">
       <script src="https://p.bokecc.com/player?vid=C7027C5B258937D39C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
    </section>
    <section class="videomodule videomodule_adult_exchange">
       <script src="https://p.bokecc.com/player?vid=24FFCA41567CB23E9C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
    </section>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>