<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>美小师资体系</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
    <section class="usTeacher" data-init="brand">
        <hgroup>
          <img src="<%=imagessrc%>us_teacher/top1.jpg" class="width100" />
        </hgroup>
        <hgroup class="us_teaching">
          <img src="<%=imagessrc%>us_teacher/us_teaching.jpg" class="width100" />
        </hgroup>
        <hgroup>
          <img src="<%=imagessrc%>us_teacher/top3.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching01.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching02.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching03.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching04.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching05.jpg" class="width100" />
          <img src="<%=imagessrc%>us_teacher/us_teaching06.jpg" class="width100" />
        </hgroup>
        <hgroup class="footer"></hgroup>
        <a href="javascript:;" class="red darktred">查看课程价格</a>
    </section>
    <section class="mask mask_us_teaching"></section>
    <img src="<%=imagessrc%>close.png" class="close" />
    <section class="videomodule videomodule_us_teaching">
     <script src="https://p.bokecc.com/player?vid=49AE8DCBCA7C413C9C33DC5901307461&siteid=9A0993B2384AB21D&autoStart=true&width=100%&height=225&playerid=BAD0FF479A897840&playertype=2" type="text/javascript"></script>
    </section>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>