<% include ../common/top.ejs %>
<body class="ac-tem-choice ac-tem-stu" data-init="acChoice" swfHref="" audioPath="" page-tag="choice1,stu,play">
	<div class="ac-tem">
		<!-- <div class="ac-tem-tit">
			<span class="ac-tem-tit-bg"></span>
			<div class="ac-tem-tit-in ac-tem-wrap clearfix">
				<a href="javascript:void(0);" class="ac-close ac-pair-spirts fr">Go back to class</a>
			</div>
		</div> -->
	    <div class="ac-tem-con ac-tem-wrap">
	    	<div class="ac-tem-info">
				<ul class="clearfix">
	            	<li class="ac-timmer" left-time="3600">
	            		<span></span>
	            	</li>
	            	<!-- <li class="ac-beans">
                        <span>+999</span>
                    </li> -->
	            </ul>
	    	</div>
	        <div class="ac-tem-content">
                <!-- 排名 -->
                <div class="ac-tem-ranking">题目</div>
                <!-- 答题区域 -->
                <div class="choice-wrap">
                    <div class="choice-content">
                        <div class="choice-content-in">

                            <!-- 样式一 -->
                            <div class="hide">
                                <h5 class="choice-tit">
                                    <span>I was born on May 10th.I was born on May 10th.</span><span class="play-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </h5>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con">
                                        <ul class="clearfix">
                                            <li class="choice-sel" data-choice="A">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">A</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="B">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">B</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="C">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">C</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="D">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">D</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式二 -->
                            <div class="hide">
                                <div class="choice-tit">
                                    <span class="play-btn-wrap bigger-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con">
                                        <ul class="clearfix">
                                            <li class="choice-sel" data-choice="A">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">A</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="B">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">B</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="C">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">C</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="D">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">D</dd>
                                                    <dd>
                                                        <span class="choice-btn"></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式三 -->
                            <div class="hide">
                                <div class="choice-tit">
                                    <span class="play-btn-wrap bigger-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the is is is is is is</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>
                            
                            <!-- 样式四 -->
                            <div class="hide">
                                <div class="choice-tit">
                                    <div class="choice-tit-img">
                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                    </div>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式五 -->
                            <div class="hide">
                                <div class="choice-tit">
                                    <span>I was born on May 10th.I was born on May 10th.</span><span class="play-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                           <!-- 样式六 -->
                            <div class="hide1">
                                <div class="choice-tit">
                                    <span>I was born on May 10th. I was born on May 10th.</span>
                                    <div class="choice-tit-img">
                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                    </div>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>


                        </div>
                    </div>
                    <div class="ac-tem-send">
                        <input type="button" class="ac-btn ac-submit">
                    </div>
                    <i class="choice-grass"></i>
                    <div class="choice-dialog">
                        <div class="choice-dialog-in"></div>
                    </div>
                </div>
            </div>
	    </div>
	</div>
</body>
<% include ../common/bottom.ejs %>