<% include ../common/top.ejs %>
<body class="ac-tem-choice ac-tem-stu ac-tem-read" data-init="acRead" swfHref="" audioPath="" page-tag="read,stu,play">
    <div class="ac-tem">
        <!-- <div class="ac-tem-tit">
            <span class="ac-tem-tit-bg"></span>
            <div class="ac-tem-tit-in ac-tem-wrap clearfix">
                <a href="javascript:void(0);" class="ac-close ac-pair-spirts fr">Go back to class</a>
            </div>
        </div> -->
        <div class="ac-tem-con ac-tem-wrap">
            <div class="ac-tem-info">
                <ul class="clearfix">
                    <li class="ac-timmer" left-time="60">
                        <span></span>
                    </li>
                    <!-- <li class="ac-beans">
                        <span>+999</span>
                    </li> -->
                </ul>
            </div>
            <div class="ac-tem-content">
                <!-- 排名 -->
                <div class="ac-tem-ranking">
                    <div class="ac-tem-ranking-bg"></div>
                    <p>题目</p>
                </div>
                <!-- 答题区域 -->
                <div class="choice-wrap">
                    <div id="result-score">
                        <!-- <div class="result-score r-level1 show">
                            <div class="text">100<span>分</span></div>
                        </div> -->
                    </div>
                    <div class="choice-content">
                        <div class="read-content clearfix">
                            <div class="read-content-l fl more-read">
                                <span class="read-content-cover"></span>
                                <div class="read-content-img img-box">
                                    <ul id="imgList" class="clearfix">
                                        <li>
                                            <img src="<%= imagessrc%>ac-follow.jpg" />
                                        </li>
                                        <li>
                                            <img src="<%= imagessrc%>ac-follow.jpg" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="d-icons" id="indexImg">
                                    
                                </div>
                                <!-- <div class="comment-result">
                                    <span class="success"></span>
                                    <span class="fail"></span>
                                </div> -->
                            </div>
                            <div id="player"></div>
                            <div class="stu-read-content-r fl" id="aiPanel">
                                <ul class="ai-ul">
                                    <li class="play">
                                        <i></i>
                                    </li>
                                    <li class="record">
                                        <i></i>
                                    </li>
                                    <li class="replay">
                                        <i></i>
                                    </li>
                                </ul>
                                <ul class="ai-tip">
                                    <li>
                                        <p></p>
                                    </li>
                                    <li class="li-record">
                                        <p></p>
                                        <div class="tip-timmer"><span>3</span></div>
                                    </li>
                                    <li class="li-replay">
                                        <p></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="next-btn" id="nextBtn"><a href="javascript:;"></a></div>
                            <div class="submit-btn-box" id="submitBtn">
                                <form action="">
                                    <input class="submit-btn" type="submit" value=""/>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ac-tem-send">
                    </div>
                    <div class="ac-read-setting">
                        <div class="ac-follow-tip" swf-src="<%= imagessrc%>ac-follow-tip.swf">
                            <!-- <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="178" height="100" wmode="transparent" quality="high" allowScriptAccess="always">
                                <param name="movie" value="<%= imagessrc%>ac-follow-tip.swf" />
                                <param name="allowScriptAccess" value="always" />         
                                <param name="quality" value="high" />
                                <param name="wmode" value="transparent" />      
                                <embed src="<%= imagessrc%>ac-follow-tip.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="178" height="100" wmode="transparent" quality="high" allowScriptAccess="always"></embed>
                            </object> -->
                        </div>
                        <div class="ac-follow-mask"></div>
                        <div id="aiMediaDialogOverlay" class="aiMediaDialogOverlay"> </div>
                        <div id="aiMediaDialog" class="aiMediaDialog">
                            <div class="dialogTitle">
                                设置面板
                                <button class="dialogCloseButton">
                                    X
                                </button>
                            </div>

                            <div class="dialogFlashError">
                                <p class="flashVersion hidden">
                                    您电脑的Flash版本过低，请点击此链接升级。 <br/>
                                    <a href="http://get.adobe.com/flashplayer/" target="_blank">点击下载最新Flash版本</a>
                                </p>
                                <p class="flashPlugin hidden">
                                    您的电脑没有安装或者禁用Flash插件，请确认。<br/>
                                    <a href="http://get.adobe.com/flashplayer/" target="_blank">点击下载最新Flash版本</a>
                                </p>
                            </div>

                            <div class="dialogBody">
                                <div id="recorder">   </div>
                            </div>

                            <div class="dialogInfo">
                                <h5>状态信息</h5>
                                <ul>
                                    <li class="loadFlashPlayer hidden">
                                        <span class="info">正在下载Flash播放器...</span>
                                    </li>
                                    <li class="loadFlashRecorder hidden">
                                        <span class="info">正在下载Flash录音机...</span>
                                    </li>
                                    <li class="connectServerInit hidden">
                                        <span class="error">还没有连接录音服务器</span>
                                    </li>
                                    <li class="connectServerStart hidden">
                                        <span class="info">正在连接录音服务器，请稍候...</span>
                                    </li>
                                    <li class="connectServerSuccess hidden">
                                        <span class="success">连接录音服务器成功</span>
                                    </li>
                                    <li class="connectServerError hidden">
                                        <span class="error">连接录音服务器失败，请<a href="javascript:aiPanel.recorder.reconnect();">重试</a></span>
                                    </li>
                                    <li class="micStatusAllow hidden">
                                        <span class="success">Flash可以访问麦克风</span>
                                    </li>
                                    <li class="micStatusDisallow hidden">
                                        <span class="error">Flash不能访问麦克风，请设置</span>
                                    </li>
                                    <li class="micStatusError hidden">
                                        <span class="error">没有找到录音设备，请检查</span>
                                    </li>
                                    <li class="mmscfgError hidden">
                                        <span class="error">Flash被禁止访问麦克风，请手动删除 mms.cfg文件，然后重试</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="dialogButton">
                                <button class="okButton">确定</button>
                            </div>
                        </div>


                    </div>
                    <i class="choice-grass"></i>
                </div>
            </div>
        </div>
    </div>
<div class="choice-dialog"></div>
<form method="post" name="audioFollow">
    <input type="hidden" name="b2s_course_id" value="b2s_course_id"/>
    <input type="hidden" name="q_id" value="q_id"/>
    <input type="hidden" name="user_id" value="user_id"/>
    <input type="hidden" name="appoint_id" value="appoint_id"/>
    <input type="hidden" name="audio_url" value=""/>
    <input type="hidden" name="score" value="0"/>
    <input type="hidden" name="current_index" value="1"/>
    <input type="hidden" name="the_end" value="0" />
</form>
<script type="text/javascript" src="http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/load_core.js"></script>
<script type="text/javascript">
    // var sourceConfig = {
    //     audioUrl : "http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/Examples/static/mp3/en/past.mp3",
    //     refText : "past."
    // }

    var sourceConfig = [
        {
            index:1,
            audioUrl : "http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/Examples/static/mp3/en/past.mp3",
            refText : "past"
        },
        {
            index:2,
            audioUrl : "http://sdk.cloud.chivox.com/chivoxsdk-js/v3.0/Examples/static/mp3/en/past.mp3",
            refText : "hello"
        }
    ]
</script>
</body>
<% include ../common/bottom.ejs %>