<% include ../common/top.ejs %>
<body class="ac-tem-choice ac-tem-tea" data-init="acChoice" swfHref="" audioPath="" page-tag="choice,tea,result">
    <div class="ac-tem">
        <div class="ac-tem-tit">
            <span class="ac-tem-tit-bg"></span>
            <div class="ac-tem-tit-in ac-tem-wrap clearfix">
                <a href="javascript:void(0);" class="ac-close ac-pair-spirts fr">Go back to class</a>
            </div>
        </div>
        <div class="ac-tem-con ac-tem-wrap">
            <div class="ac-tem-info">
                <ul class="clearfix">
                    <li class="ac-timmer z2001" left-time="5">
                        <span></span>
                    </li>
                    <!-- <li class="ac-beans">
                        <span>+999</span>
                    </li> -->
                </ul>
            </div>
            <div class="ac-tem-content">
                <!-- 排名 -->
                <div class="ac-tem-ranking">
                    <div class="ac-tem-ranking-bg"></div>
                    <p>题目</p>
                </div>
                <!-- 答题区域 -->
                <div class="choice-wrap">
                    <div class="choice-content">
                        <div class="choice-content-in">

                            <!-- 样式一 -->
                            <div class="hide1 choice-content-inner">
                                <h5 class="choice-tit">
                                    <span>I was born on May 10th.I was born on May 10th.I was born on May 10th.I was born on May 10th.</span><span class="play-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </h5>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con">
                                        <ul class="clearfix">
                                            <li class="choice-sel" data-choice="A">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">A</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="B">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">B</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="C">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">C</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="D">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">D</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式二 -->
                            <div class="hide choice-content-inner">
                                <div class="choice-tit">
                                    <span class="play-btn-wrap bigger-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con">
                                        <ul class="clearfix">
                                            <li class="choice-sel" data-choice="A">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">A</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="B">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">B</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="C">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">C</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li class="choice-sel" data-choice="D">
                                                <dl>
                                                    <dt>
                                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                                    </dt>
                                                    <dd class="dd-text">D</dd>
                                                    <dd>
                                                        <span class="choice-btn"><i></i></span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式三 -->
                            <div class="hide choice-content-inner">
                                <div class="choice-tit">
                                    <span class="play-btn-wrap bigger-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the is is is is is is</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>
                            
                            <!-- 样式四 -->
                            <div class="hide choice-content-inner">
                                <div class="choice-tit">
                                    <div class="choice-tit-img">
                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                    </div>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                            <!-- 样式五 -->
                            <div class="hide choice-content-inner">
                                <div class="choice-tit">
                                    <span>I was born on May 10th.I was born on May 10th.</span><span class="play-btn-wrap"><i class="play-btn" yinpin="/images/html/ac_voice_share/horse.mp3"></i><em class="play-tip"></em></span>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>

                           <!-- 样式六 -->
                            <div class="hide choice-content-inner">
                                <div class="choice-tit">
                                    <span>I was born on May 10th. I was born on May 10th.</span>
                                    <div class="choice-tit-img">
                                        <img src="<%= imagessrc%>choice-img.jpg" />
                                    </div>
                                </div>
                                <form action="/ac/stuDialogRs" name="acChoice">
                                    <div class="choice-con-t clearfix">
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="A">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="C">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="B">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                            <li>
                                                <dl class="choice-sel clearfix" data-choice="D">
                                                    <dt class="choice-btn"><i></i></dt>
                                                    <dd>
                                                        <span>what is it in the englist? i see it?</span>
                                                    </dd>
                                                </dl>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="hidden" name="g_section" value="" />
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="ac-tem-send"></div>
                    <i class="choice-grass"></i>
                </div>
            </div>
        </div>
        <div class="ac-tem-result-mask"></div>
        <div class="ac-tem-result-wait">
            <div class="wait-tips">
                <a href="javascript:void(0);" class="wait-tips-close"></a>
                <dl class="wait-tips-in">
                    <dt>Student answering now</dt>
                    <dd><span>Tips：</span>please no speaking, the student is logining his/her voice, the student is logining his/her voice, the student is logining his/her voice</dd>
                </dl>
            </div>
        </div>
        <div class="ac-tem-result-con">
            <div class="ac-tem-result-con-in">
                <ul class="tea-choice-result">
                    <li>
                        <dl class="clearfix">
                            <dt>Student's Answer：</dt>
                            <dd data-flag="choice-result">?</dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="clearfix">
                            <dt>Correct Answer：</dt>
                            <dd>b</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<div class="choice-dialog choice-dialog-tea"></div>
<form name="class-info" action="http://www.baidu.com">
    <input type="hidden" name="q_id" value="100" />
    <input type="hidden" name="b2s_course_id" value="4653" />
</form>
</body>
<% include ../common/bottom.ejs %>