<% include ../common/teen_top.ejs %>

<body>
  <div class="g_teenagers" id="container" data-init="teenagers">
    <div class="g_min tab10">
      <div class="g_top minWidth">
        <div class="m_logo">
          <img src="<%= imagessrc%>/logo1.png" alt="" class="f_logo">
          <div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
        </div>
        <div class="m_header">
          <ul class="f_nav">
            <li class="itemW">5Talk青少英语</li>
            <li class="itemW1"><a href="#">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>          
            <li class="itemW2"><a href="#">3-6岁幼儿</a></li>
            <li class="itemW3"><a href="#">7-9岁儿童</a></li>
            <li class="itemW4"><a href="#" class="itemW10">10-12岁少儿</a></li>
            <li class="itemW5"><a href="#">13-15岁青少年</a></li>
          </ul>
        </div>
        <div class="m_login">
          <div class="m_oto"><strong>外教1对1</strong><span class="s_otoC">15元/课起</span><br/><strong class="s_otoN">在家学英语</strong></div>
          <form action="" id="t-regForm">
            <div class="f_login">
              <div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
              <div class="f_loginB">
                <div class="f_mail">
                  <span>邮箱：</span><input type="text" name="user_name" class="jsCheck" placeholder="请输入家长邮箱">
                </div>
                <div class="f_phoneN">
                  <span>手机：</span><input type="text" name="mobile" class="jsCheck" placeholder="请输入家长手机">
                </div>
                <div class="f_loginP">
                  <span>密码：</span><input type="password"  name="password" class="jsCheck" placeholder="请设置您的密码">
                </div>
                <div class="f_loginBt">
                  <input type="button" class="jsSubmit" value="获取免费体验课程">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="g_content">
        <div class="m_course minWidth a_class">
          <div class="m_cTop">
            <p>51Talk 10-12岁少儿英语课程</p>
            <p><b>小学四~六<span></span>年级英语阅读关键</b></p>
            <hr>
          </div>
          <div class="m_cBt">
            <span class="m_cBg m_cBg10"></span>
            <ul class="m_cc m_cc7">
              <li class="m_c1 m_c110 m_c17">
                <ul>
                  <li><span></span>多文体阅读，教授基础语法</li>
                  <li><span></span>学习策略，如上下文猜测词义，预测下文</li>
                  <li><span></span>少儿英语同步国际语言等级考试标准</li>
                </ul>
              </li>
              <li class="m_c2 m_c110 m_c17">
                <ul>
                  <li><span></span>能参与话题比较广泛的对话</li>
                  <li><span></span>能够独立阅读较长篇幅的英文文章</li>
                  <li><span></span>成绩名列前茅，跻身国内国际重点中学</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="m_freeB add_freeB add_freeB10">
          <div class="m_free  minWidth">
            <div class="figure" id="silderX">
              <div class="fig_img fig_s10">
                <ul class="fig_banner" data-silder="ul">
                  <li><img src="<%= imagessrc%>/banner10-1.jpg" alt=""></li>
                  <li><img src="<%= imagessrc%>/banner10-2.jpg" alt=""></li>
                  <li><img src="<%= imagessrc%>/banner10-3.jpg" alt=""></li>
                </ul>
              </div>
              <ul class="fig_d" data-silder="points" data-class="on10"></ul>
            </div>
            <form action="" id="t-regForm">
              <div class="m_freeL add_freeL">
                <h1 class="m_freeT">特色教材</h1>
                <p class="m_freeTe">原汁原味的美国原版阅读材料，内容丰富，设计精美，由浅入深，循序渐进。除此之外，主体阅读部分在自然拼读、词汇练习的基础上，增加了语法、主题写作以及阅读理解与技巧讲解的部</p>
                <div class="f_freeM f_ml40">
                  <span class="f_m3"></span>
                  <b>邮箱：</b>
                  <input type="text" name="user_name" class="jsCheck">
                </div>
                <div class="f_freeP f_ml40">
                  <span class="f_t3"></span>
                  <b>手机：</b>
                  <input type="text" name="mobile" class="jsCheck">
                </div>
                <div class="f_freeW f_ml40">
                  <span class="f_w3"></span>
                  <b>密码：</b>
                  <input type="password" name="password" class="jsCheck">
                </div>
                <div class="f_freeB">
                  <input type="button" value="立即体验" class="btn_reg2 s_10 jsSubmit">
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="m_evaluation">
          <div class="m_ev minWidth">
            <h1 class="m_courseT">学员评价</h1>
            <p class="m_courseTe">51Talk Students Comment</p>
            <div class="m_courseL s_cb"></div>
            <div class="m_student">
              <div class="m_studentI m_studentI10 f_p1">
                <p class="m_studentE">孩子现在上五年级，平常也比较忙，课余时间有限，所以一天上一节课，25分钟，挺合适的。刚开始学的时候可能觉得有点短，但是现在还可以，可以作为学习的补充。我们就是想给孩子营造一点英语氛围，像51Talk这种全英文环境对于学习英语非常有帮助。我也推荐过给朋友，让他们的孩子也在这里学习英语。</p>
                <dl class="s_dl10">
                  <dt><img src="<%= imagessrc%>/Jimmy.png" alt=""></dt>
                  <dd><span>Jimmy</span><br/>10岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI10 f_p2">
                <p class="m_studentE m_s1">我给Linda选择了包月课程，因为包月不仅便宜，而且还可以敦促她每天都坚持上课。最开始我们都会跟着Linda一起上课，现在她都可以自己上课了。努力的付出最终换来了回报。以前Linda上课时，发音很不标准，而且学东西也慢。经过这半年时间的学习，Linda现在可以很快的就跟着老师读下来新单词，发音照比以前标准很多，学东西也快了。</p>
                <dl class="s_dl10">
                  <dt><img src="<%= imagessrc%>/Linda (2).png" alt=""></dt>
                  <dd><span>Linda</span><br/>11岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI10 f_p3">
                <p class="m_studentE">我觉得现在小学生在学校学习就很累了，如果还要背着书包跑出去继续上补习班，真的是一件很痛苦的事情，孩子也没有那么多的精力。现在Anna天天可以在家上网学习，我觉得51Talk真的是现代社会的一个“伟大的发明”，超级给力。从去年到现在，Anna已经习惯了回家先上课，而且特别喜欢51Talk老师的课。</p>
                <dl class="s_dl10">
                  <dt><img src="<%= imagessrc%>/Anna.png" alt=""></dt>
                  <dd><span>Anna</span><br/>12岁</dd>
                </dl>
              </div>
              <div class="m_studentI m_studentI10 f_p4">
                <p class="m_studentE m_s1">孩子已经六年级，马上升初中了，我们作家长的对他的学习也特别的关心，希望他英语的口语能力能得到锻炼和提高，于是我就在网上搜索在线的英语学校，很幸运的找到了51Talk。以前报过那种线下的英语补习班，一周就去一次，路上就要花费很多时间，到补习班了只学习两个小时，效果很一般。但是在这里，不出家门就可以一对一跟外教交流，真的很方便。</p>
                <dl class="s_dl10">
                  <dt><img src="<%= imagessrc%>/Mickey.png" alt=""></dt>
                  <dd><span>Mickey</span><br/>11岁</dd>  
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="m_mh">
          <div class="m_mm  minWidth">
            <div class="m_media">
              <h3>媒体报道</h3>
              <div>
                <a href="#"><img src="<%= imagessrc%>/cctv.png" alt=""></a>
                <a href="#"><img src="<%= imagessrc%>/cy.png" alt=""></a>
                <a href="#"><img src="<%= imagessrc%>/ifeng.png" alt=""></a>
                <a href="#"><img src="<%= imagessrc%>/qq.png" alt=""></a>
                <a href="#"><img src="<%= imagessrc%>/sina.png" alt=""></a>
                <a href="#"><img src="<%= imagessrc%>/soh.png" alt=""></a>
              </div>
            </div>
            <div class="m_honor">
              <h3><span>51Talker的荣誉</span><a href="#">更多公司荣誉&gt;</a></h3>
              <ul class="f_honor">
                <li>
                  <img src="<%= imagessrc%>/h_1.png" alt="">
                  <p><a>在线教育诚信品牌<br/>2013</a></p>
                </li>
                <li>
                  <img src="<%= imagessrc%>/h_2.png" alt="">
                  <p><a>十年知名在线教育机构<br/>2013</a></p>
                </li>
                <li>
                  <img src="<%= imagessrc%>/h_3.png" alt="">
                  <p><a>年度创新成长企业100强<br/>2013</a></p>
                </li>
                <li>
                  <img src="<%= imagessrc%>/h_4.png" alt="">
                  <p><a>最具口碑影响力教育机构<br/>2013 中国教育盛典</a></p>
                </li>
                <li>
                  <img src="<%= imagessrc%>/h_5.png" alt="">
                  <p><a>最受网友喜爱口语培训机构<br/>Top5-2013</a></p>
                </li>
                <li>
                  <img src="<%= imagessrc%>/h_6.png" alt="">
                  <p><a>最佳网络影响力<br/>Top10-2013</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="g_bottom">
        <form action="" id="b-regForm">
          <div class="g_bottomT minWidth">
            <p>开始测试英语水平：</p>
            <div class="f_bM"><span>邮&nbsp;&nbsp;&nbsp;箱</span><input class="jsCheck" type="text" name="user_name"></div>
            <div class="f_bW"><span>密&nbsp;&nbsp;&nbsp;码</span><input class="jsCheck" type="passworder" name="password"></div>
            <div class="f_bN"><span>手机号</span><input class="jsCheck" type="text" name="mobile"></div>
            <a href="javascript:;" class="jsSubmit">进入测试 <span>&gt;</span></a>
            <img src="<%= imagessrc%>/logo1.png" alt="">
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
<% include ../common/teen_bottom.ejs %>