<% include ../common/teen_top.ejs %>
<body>
	<div class="g_teenagers" id="container" data-init="teenagers">
		<div class="g_min">
			<div class="g_top minWidth">
				<div class="m_logo">
					<img src="<%= imagessrc%>/logo1.png" alt="" class="f_logo">
					<div class="f_phone"><span class="u_icon"></span>4000-51-51-51</div>
				</div>
				<div class="m_header">
					<ul class="f_nav">
						<li class="itemW">51Talk青少英语</li>
						<li class="itemW1"><a href="#" class="itemW11">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>                           
						<li class="itemW2"><a href="#">3-6岁幼儿</a></li>
						<li class="itemW3"><a href="#">7-9岁儿童</a></li>
						<li class="itemW4"><a href="#">10-12岁少儿</a></li>
						<li class="itemW5"><a href="#">13-15岁青少年</a></li>
					</ul>
				</div>
				<div class="m_login">
					<div class="m_oto"><strong>外教1对1</strong><span class="s_otoC">15元/课起</span><br/><strong class="s_otoN">在家学英语</strong></div>
					<form action="" id="t-regForm">
						<div class="f_login">
							<div class="f_loginT">注册，免费学习188元外教1对1体验课</div>
							<div class="f_loginB">
								<div class="f_mail">
									<span>邮箱：</span><input class="jsCheck" type="text"  name="user_name" placeholder="请输入家长邮箱">
								</div>
								<div class="f_phoneN">
									<span>手机：</span><input class="jsCheck" type="text"  name="mobile" placeholder="请输入家长手机">
								</div>
								<div class="f_loginP">
									<span>密码：</span><input class="jsCheck" type="password"  name="password" placeholder="请设置您的密码">
								</div>
								<div class="f_loginBt">
									<input type="button" class="jsSubmit" value="获取免费体验课程">
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="g_content">
				<div class="m_course minWidth">
					<h1 class="m_courseT">青少课程体系</h1>
					<p class="m_courseTe">Junior English Classes</p>
					<div class="m_courseL"></div>
					<ul class="m_courseList">
						<li class="m_courseI itemW21"> 
							<img src="<%= imagessrc%>/index30.png" alt="">
							<h3 class="m_courseIt">3-6岁幼儿英语课程<br /><span>零基础</span></h3>
							<ul class="m_courseLl">
								<li><span class="m_icon"></span>自然拼读教学 - 最快、最简单和最有效的儿童语言学习法。</li>
								<li><span class="m_icon"></span>培养孩子英语语感，自信表达，提高兴趣。</li>
							</ul>
							<a href="#" class="m_more1">查看详情&gt;&gt;</a>
						</li>
						<li class="m_courseI itemW31">
							<img src="<%= imagessrc%>/index31.png" alt="">
							<h3 class="m_courseIt">7-9岁儿童英语课程<br /><span>小学1-3年级</span></h3>
							<ul class="m_courseLl">
								<li><span class="m_icon1"></span>自然拼读法，教学英语发音与拼字。</li>
								<li><span class="m_icon1"></span>多主题阅读，注重趣味与实用。</li>
								<li><span class="m_icon1"></span>同步并超越小学英语教学大纲。</li>
							</ul>
							<a href="#" class="m_more2">查看详情&gt;&gt;</a>
						</li>
						<li class="m_courseI itemW41">
							<img src="<%= imagessrc%>/index32.png" alt="">
							<h3 class="m_courseIt">10-12岁少儿英语课程<br /><span>小学4-6年级</span></h3>
							<ul class="m_courseLl">
								<li><span class="m_icon2"></span>多文体阅读，教授基础语法。</li>
								<li><span class="m_icon2"></span>学习策略，如上下文猜测词义，预测下文。</li>
								<li><span class="m_icon2"></span>少儿英语同步国际语言等级考试标准。</li>
							</ul>
							<a href="#" class="m_more3">查看详情&gt;&gt;</a>
						</li>
						<li class="m_courseI itemW51">
							<img src="<%= imagessrc%>/index33.png" alt="">
							<h3 class="m_courseIt">13-15岁青少年英语课程<br /><span>初中7-9年级</span></h3>
							<ul class="m_courseLl">
								<li><span class="m_icon3"></span>多学科阅读，扩展知识面。</li>
								<li><span class="m_icon3"></span>教授多元文化，了解外国礼仪。</li>
								<li><span class="m_icon3"></span>雅思，托福考试策略。</li>
							</ul>
							<a href="#" class="m_more4">查看详情&gt;&gt;</a>
						</li>
					</ul>
				</div>
				<div class="m_freeB">
					<div class="m_free  minWidth">
						<img src="<%= imagessrc%>/index34.png" alt="">
						<form action="" id="m-regForm">
							<div class="m_freeL">
								<h1 class="m_freeT">免费公开课</h1>
								<p class="m_freeTe">FREE OPEN COURSE</p>
								<div class="f_freeM">
									<span class="f_m"></span>
									<b>邮箱：</b>
									<input class="jsCheck" type="text" name="user_name">
								</div>
								<div class="f_freeP">
									<span class="f_t"></span>
									<b>手机：</b>
									<input class="jsCheck" type="text" name="mobile">
								</div>
								<div class="f_freeW">
									<span class="f_w"></span>
									<b>密码：</b>
									<input class="jsCheck" type="password" name="password">
								</div>
								<div class="f_freeB">
									<input type="button" value="立即体验" class="btn_reg2 jsSubmit">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="m_choice51 minWidth">
					<div class="m_choice51L">
						<div class="m_51t"><span class="m_51t2">传统线下班学习模式</span><span class="m_51t1">51Talk</span></div>
						<table width="672" border="0" cellspacing="0" cellpadding="0">
							<tr class="s_tr2">
								<th class="s_th1">学习模式</th>
								<th class="s_th2 s_tR">真人外教1对1在线实时互动</th>
								<th class="s_th1">普通教室上课</th>
							</tr>
							<tr class="s_tr1">
								<td>课程价格</td>
								<td class="s_tR">低至15元一节课</td>
								<td>300元以上</td>
							</tr>
							<tr class="s_tr2">
								<td>学生人数</td>
								<td class="s_tR">外教1对1</td>
								<td>中教1对8-12</td>
							</tr>
							<tr class="s_tr1">
								<td>上课时间</td>
								<td class="s_tR">弹性，提前0.5小时预约</td>
								<td>固定，学生不自由</td>
							</tr>
							<tr class="s_tr2">
								<td>师资情况</td>
								<td class="s_tR">专业外籍教练，亲和力强</td>
								<td>中教，很少时间外教</td>
							</tr>
							<tr class="s_tr1">
								<td>孩子辛苦情况</td>
								<td class="s_tR">在家学习，无需来回奔波</td>
								<td>往返培训点，天热、辛苦</td>
							</tr>
							<tr class="s_tr2">
								<td>父母的时间安排 </td>
								<td class="s_tR">灵活，帮孩子预约即可</td>
								<td>固定，需要往返接送孩子</td>
							</tr>
							<tr class="s_tr1">
								<td>公开课学习资源</td>
								<td class="s_tR">有，且免费</td>
								<td>无</td>
							</tr>
							<tr class="s_tr2">
								<td>学习追踪</td>
								<td class="s_tR">专属学习顾问</td>
								<td>无</td>
							</tr>
							<tr class="s_tr1">
								<td>学习效果</td>
								<td class="s_tR">56%时间输出，自如对话</td>
								<td>不确定</td>
							</tr>
						</table>
					</div>
					<div class="m_choice51R">
						<img src="<%= imagessrc%>/index35.png" alt="">
						<a href="#">马上预约体验课</a>
					</div>
				</div>
				<div class="m_evaluation">
					<div class="m_ev minWidth">
						<h1 class="m_courseT">学员评价</h1>
						<p class="m_courseTe">51Talk Students Comment</p>
						<div class="m_courseL s_c"></div>
						<div class="m_student">
							<div class="m_studentI f_p1">
								<p class="m_studentE">孩子上五年级了，学英语也挺长时间了，单词语法都还可以，但口语比较弱。在51Talk，外教会鼓励孩子在课上多说多练，孩子有了充足的口语练习时间，口语进步很大。现在，他已经克服了心理障碍，敢于开口讲英语了。而且在这里，他感到学英语是一种乐趣，每次都很期待上外教课，作为家长，我们感到很高兴。</p>
								<dl>
									<dt><img src="<%= imagessrc%>/Fish.png" alt=""></dt>
									<dd><span>Fish</span><br/>五年级</dd>
								</dl>
							</div>
							<div class="m_studentI f_p2">
								<p class="m_studentE m_s1">我一直很重视Moon的教育问题，之前也参加过一些英语培训班，在51Talk学习了这么久，发现这里才是最适合孩子学习的平台。上课的时候，Liza老师非常有耐心，也很了解小孩子的心理，引导孩子在课上积极表达、锻炼口语，还跟孩子分享很多课本之外的知识。现在孩子已经能自己在网上约课上课了，自主性非常强，作为母亲非常欣慰。</p>
								<dl>
									<dt><img src="<%= imagessrc%>/Moon.png" alt=""></dt>
									<dd><span>Moon</span><br/>二年级</dd>
								</dl>
							</div>
							<div class="m_studentI f_p3">
								<p class="m_studentE">我从小就学英语，主要是应试类的，为了提高自己的口语，我选择了主打口语培训的51Talk。在这里，我找到了适合的老师，她们对我帮助真的很大。由于学业重，我选的次卡套餐，上起课来很方便。现在我经常用英语和妈妈对话，口语提高了很多，相信在以后的中考和高考听力中，我也能取得好成绩。</p>
								<dl>
									<dt><img src="<%= imagessrc%>/Bella.png" alt=""></dt>
									<dd><span>Bella</span><br/>初中生</dd>
								</dl>
							</div>
							<div class="m_studentI f_p4">
								<p class="m_studentE m_s1">我从7岁开始在51talk学习，现已有了一年的时间啦！51talk不仅帮助我每天提供了一个浸入式的英文环境，还可以让我同来自北上广深的小伙伴们一样，学习最棒的英文课程！一年下来，我已经顺利地完成了L2-L9的课程，自己英文的听说能力得到了很大的提升！因此，我屡屡在各项英语比赛中获奖，更是取得了代表江西省去北京参加“希望之星”全国总决赛的好成绩！</p>
								<dl>
									<dt><img src="<%= imagessrc%>/Vic.png" alt=""></dt>
									<dd><span>Vic</span><br/>CCTV希望之星英语风采大赛-江西省冠军</dd>  
								</dl>
							</div>
						</div>
					</div>
				</div>
				<div class="m_mh">
					<div class="m_mm  minWidth">
						<div class="m_media">
							<h3>媒体报道</h3>
							<div>
								<a href="#"><img src="<%= imagessrc%>/cctv.png" alt=""></a>
								<a href="#"><img src="<%= imagessrc%>/cy.png" alt=""></a>
								<a href="#"><img src="<%= imagessrc%>/ifeng.png" alt=""></a>
								<a href="#"><img src="<%= imagessrc%>/qq.png" alt=""></a>
								<a href="#"><img src="<%= imagessrc%>/sina.png" alt=""></a>
								<a href="#"><img src="<%= imagessrc%>/soh.png" alt=""></a>
							</div>
						</div>
						<div class="m_honor">
							<h3><span>51Talker的荣誉</span><a href="#">更多公司荣誉&gt;</a></h3>
							<ul class="f_honor">
								<li>
									<img src="<%= imagessrc%>/h_1.png" alt="">
									<p><a>在线教育诚信品牌<br/>2013</a></p>
								</li>
								<li>
									<img src="<%= imagessrc%>/h_2.png" alt="">
									<p><a>十年知名在线教育机构<br/>2013</a></p>
								</li>
								<li>
									<img src="<%= imagessrc%>/h_3.png" alt="">
									<p><a>年度创新成长企业100强<br/>2013</a></p>
								</li>
								<li>
									<img src="<%= imagessrc%>/h_4.png" alt="">
									<p><a>最具口碑影响力教育机构<br/>2013 中国教育盛典</a></p>
								</li>
								<li>
									<img src="<%= imagessrc%>/h_5.png" alt="">
									<p><a>最受网友喜爱口语培训机构<br/>Top5-2013</a></p>
								</li>
								<li>
									<img src="<%= imagessrc%>/h_6.png" alt="">
									<p><a>最佳网络影响力<br/>Top10-2013</a></p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="g_bottom">
				<form action="" id="b-regForm">
					<div class="g_bottomT minWidth">
						<p>开始测试英语水平：</p>
						<div class="f_bM"><span>邮&nbsp;&nbsp;&nbsp;箱</span><input class="jsCheck" type="text" name="user_name"></div>
						<div class="f_bW"><span>密&nbsp;&nbsp;&nbsp;码</span><input class="jsCheck" type="passworder" name="password"></div>
						<div class="f_bN"><span>手机号</span><input class="jsCheck" type="text" name="mobile"></div>
						<a href="javascript:;" class="jsSubmit">进入测试 <span>&gt;</span></a>
						<img src="<%= imagessrc%>/logo1.png" alt="">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<% include ../common/teen_bottom.ejs %>