<% include ../common/top.ejs %>
<body>
	<header class="header" id="container" data-init="index">
		<a name="ceshi" id="ceshi" style=""></a>
		<img src="<%= imagessrc%>header.jpg"  class="banner" alt="">
		<section class="desc">
			<h2 class="title">不拿绿卡</h2>
			<h3 class="advantage">在家上"美国小学"</h3>
			<p class="feature">100%北美外教/5-12岁孩子适用/全程教学服务</p>
		</section>
		<form action="http://wap.51talk.com/index/doRegister" method="post" id="register" class="register">
			<input type="tel" name="mobile" placeholder="手机号" class="telephone">
			<input type="password" name="password" placeholder="密码" class="password">
			<input type="text" name="introNum" placeholder="推荐人联系方式" class="introNum">
			<input type="hidden" name="register_from" value="3001">
			<input type="button" value="立即领取免费试听课程" class="regbutton">
		</form>
		<section class="recommend">
			<p class="tips">*您的个人信息将完全保密,试听课不收取任何费用,请放心体验。</p>
			<span class="arrow"></span>
		</section>
	</header>
	<section class="features">
		<div class="caption">
			<h2 class="subtitle">51Talk美国小学</h2>
			<h3 class="title">随身的趣味学堂</h3>
		</div>
		<div class="slides swipe" id="slider">
			<ul class="pictures swipe-wrap">
				<li>
					<img alt="" src="<%= imagessrc%>p_01.png">
					<div class="text">
						<p class="feature">全程同步</p>
						<p class="desc">【 原汁原味北美小学课程内容 】</p>
					</div>
				</li>
				<li>
					<img alt="" src="<%= imagessrc%>p_02.png">
					<div class="text">
						<p class="feature">1对1北美外教</p>
						<p class="desc">【 优选顶尖的2.5%北美真人外教】</p>
					</div>
				</li>
				<li>
					<img alt="" src="<%= imagessrc%>p_03.png">
					<div class="text">
						<p class="feature">1对1北美外教</p>
						<p class="desc">【 优选顶尖的2.5%北美真人外教】</p>
					</div>
				</li>
				<li>
					<img alt="" src="<%= imagessrc%>p_04.png">
					<div class="text">
						<p class="feature">1对1北美外教</p>
						<p class="desc">【 优选顶尖的2.5%北美真人外教】</p>
					</div>
				</li>
			</ul>
			<ol class="indexes">
				<li class="index active"></li>
				<li class="index"></li>
				<li class="index"></li>
				<li class="index">
				</li>
			</ol>
		</div>
	</section>


	<section class="teacher">
		<div class="caption">
			<h2 class="subtitle">全程同步 </h2>
			<h3 class="title">美国小学教师</h3>
			<img class="flag" src="<%= imagessrc%>flag.png">
		</div>
		<ul class="infos">
			<li class="info">
				<div class="norm">
					<p class="ratio">2.5<span class="percent">%</span></p>
					<p class="name">教师录取率</p>
				</div>
				<p class="desc">教师全部具有专业的国际少儿英语教学经验 </p>
			</li>
			<li class="info">
				<div class="norm">
					<p class="ratio">100<span class="percent">%</span></p>
					<p class="name">持教师资格证</p>
				</div>
				<p class="desc">教师100%持有TESOL/TEFL等专业英语教学资质 </p>
			</li>
			<li class="info">
				<div class="norm">
					<p class="ratio">100<span class="percent">%</span></p>
					<p class="name">本科及以上学历</p>
				</div>
				<p class="desc">本科占比80%,硕士占比20% </p>
			</li>
		</ul>
	</section>


	<section class="textbook">
		<div class="caption">
			<h2 class="subtitle">全程同步</h2>
			<h3 class="title">美国小学教材</h3>
			<img class="ccss" src="<%= imagessrc%>ccss.png">
		</div>
		<div class="descs">
			<p class="desc">我们依照美国共同州核心课标CCSS，以培养学生综合语言应用能力和21世纪核心能力为总目标。 </p><p class="desc">内容涵盖生活常识、天文、地理、历史、人文、动植物、童话等各个方面。让孩子们在学习英语时，丰富知识，拓展视野。 
			</p>
		</div>
	</section>

	<section class="stars">
		<div class="caption">
			<h2 class="subtitle">51Talk 中国在线教育</h2>
			<h3 class="title">赴美上市第一股</h3>
		</div>
		<div id="stars" class="slides">
			<ul class="pictures">
				<li>
					<img alt="" src="<%= imagessrc%>s1.png">
					<div class="text">
						<p class="feature">51talk 品牌代言人</p>
						<p class="desc">[国际网坛巨星]</p>
						<p class="words">学英语和打网球一样，要和真人外教一对一的练。51Talk做到了让每个人都拥有这样的语言环境。</p>
					</div>
				</li>
				<li>
					<img alt="" src="<%= imagessrc%>s2.png">
					<div class="text">
						<p class="feature">徐小平</p>
						<p class="desc">[51talk天使投资人]</p>
						<p class="words">要想全球Walk,请来51Talk</p>
					</div>
				</li>
			</ul>
			<ol class="indexes">
				<li class="index active"></li>
				<li class="index"></li>
			</ol>
		</div>
	</section>
	
	<section class="fixbar">
		<p class="tip">宝宝的英语在同龄人中处于什么水平</p>
		<div class="bird">
			<a href="#ceshi" class="gotop">免费测一下</a>
		</div>
	</section>
	<section class="mask">
		<section class="share-guide">
			<section class="share-guide__arr"></section>
			<section class="share-guide__info">
				<img src="<%=imagessrc%>share_info.png">
			</section>
			<section class="share-guide__close"></section>
		</section>
		<section class="share-guide-reopen">
			<section class="share-guide-reopen__info">
				<img src="<%=imagessrc%>share_reopen.png">
			</section>
			<section class="share-guide__close"></section>
		</section>
	</section>
</body>
<% include ../common/bottom.ejs %>