<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath %>adult/w_adult.css">
</head>
<body>
<!-- 公共区域 -->
<%- include("../common/w_nav.ejs",{
  wrapClass:"adult-nav-list",
  navList:[
    {
      className:"crt",
      text:"51Talk成人英语",
      url:"http://adult.51talk.com/"
    },
    {
      className:"",
      text:"学习理念",
      url:"http://www.51talk.com/index/feature"
    },
    {
      className:"",
      text:"课程体系",
      url:"http://www.51talk.com/index/system"
    },
    {
      className:"",
      text:"外教师资",
      url:"http://www.51talk.com/index/teachers"
    },
    {
      className:"",
      text:"学习体系",
      url:"http://www.51talk.com/index/guide"
    },
    {
      className:"",
      text:"名师课堂",
      url:"http://www.51talk.com/index/multiClass"
    }
  ],
  isIndex:false, //判断是否为首页
  isNorth:false //判断是否为美小

  }) %>
  <div>
    <% include ../common/w_banner.ejs %>
  </div>
<!-- /公共区域 -->
<!-- 成人开始 -->
<div class="adult" data-init="adult/index" id="container">
  <div class="at-nav">
    <ul class="centerMth">
      <li class="on">成人英语课程</li>
      <li><a href="w_youth.html">青少英语课程</a></li>
    </ul>
  </div>
  <div class="at-main">
    <div class="centerMth add-adult-top">
      <h3><img data-src="<%=imagessrc%>adult/add-part1.png" width="315" height="38" src="<%=imagessrc%>common/deafult.png"></h3>
      <p>51Talk独有16级英语考评体系，籍此，我们可以为你，<br>
为每一名学员提供更有针对性的定制化教学。<br>
同时，精准的考评使你的成长清晰可量化，<br>
更有助于燃起你学习的动力与激情。</p>
      <div class="tz-img"><img data-src="<%=imagessrc%>adult/ten_z_img01.png" width="1000" height="600" src="<%=imagessrc%>common/deafult.png"></div>
      <div class="tz-an"><a href="javascript:;" class="tz-btn">现在就来体验</a></div>
    </div>
    <div class="add-set-class">
      <div class="centerMth t-xq">
        <div class="t-lt">
          <p class="t-img"><img data-src="<%=imagessrc%>adult/ten_rt_tit.png" width="755" height="98" src="<%=imagessrc%>common/deafult.png"></p>
          <p class="t-word t-word1">在51Talk，专业的课程教研团队为学员精心设计了系统化提升、丰富多元，同时又能够满足学员个性化需求的课程。</p>
          <p class="t-word">除了系统性地学习适合自己英语水平的“经典英语”主修课程之外，您还可以根据自己的实际需求，选择“商务”、“雅思”、“面试口语”等专业课程。另外，学习不该是件枯燥的事儿，快来和外教一起聊一聊新一季“破产姐妹”里的故事吧！</p>
        </div>
        <div class="t-rt"><img data-src="<%=imagessrc%>adult/ten_rt.png" width="334" height="313" src="<%=imagessrc%>common/deafult.png"></div>
      </div>
    </div>
    <div class="z-class">
      <div class="centerMth">
        <div class="z-lt"><img data-src="<%=imagessrc%>adult/ten_z.jpg" width="465" height="465" src="<%=imagessrc%>common/deafult.png"></div>
        <div class="z-rt">
          <img data-src="<%=imagessrc%>adult/ten_z_tit.png" width="300" height="79" src="<%=imagessrc%>common/deafult.png">
          <p class="z-word">超过80%的学员选择的51Talk经典英语，帮你有效提升英语综合应用能力！无论为了满足日常沟通，还是工作和职业发展；无论你处于英语学习的哪个阶段，51Talk都有信心帮你达成目标。
          </p>
          <p class="z-word z-word1">来自全球的拥有超过10年教学经验的专业教研团队，依照欧洲语言现代教学大纲(CEFR)，花费超过500小时以上精心打造的更适合中国英语学习者的课程体系，听说读写全面覆盖的教学内容，实用而有趣的教材设计针对不同阶段学员水平，从零基础入门到精通的16个级别的英语晋升阶梯，正在等待你的攀升!</p>
          <a href="javascript:;" class="t-js">详情介绍 ></a>
        </div>
      </div>  
    </div>
    <div class="y_major">
      <div class="major_cont">
        <h3 class="youth_tit"><img data-src="<%=imagessrc%>adult/y_top2.png" width="117" height="36" src="<%=imagessrc%>common/deafult.png"></h3>
        <ul class="major_list">
          <li>
            <a href="#"><img data-src="<%=imagessrc%>adult/y_top2_4.jpg" width="184" height="250" src="<%=imagessrc%>common/deafult.png"></a>
            <h3><a href="http://baidu.com" target="_blank">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img data-src="<%=imagessrc%>adult/y_top2_5.jpg" width="184" height="250" src="<%=imagessrc%>common/deafult.png"></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img data-src="<%=imagessrc%>adult/y_top2_2.jpg" width="184" height="250" src="<%=imagessrc%>common/deafult.png"></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li>
            <a href="#"><img data-src="<%=imagessrc%>adult/y_top2_3.jpg" width="184" height="250" src="<%=imagessrc%>common/deafult.png"></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
          <li class="mr0">
            <a href="#"><img data-src="<%=imagessrc%>adult/y_top2_1.jpg" width="184" height="250" src="<%=imagessrc%>common/deafult.png"></a>
            <h3><a href="#">详情介绍></a></h3>
          </li>
        </ul>
        <div class="tz-an"><a href="javascript:;" class="tz-btn">现在就来体验</a></div>
      </div>
    </div>
    <div class="y_selective">
      <div class="selective_cont">
        <h3 class="youth_tit"><img data-src="<%=imagessrc%>adult/y_top3.png" width="117" height="37" src="<%=imagessrc%>common/deafult.png"></h3>
        <ul class="selective_list">
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp0"></span>
              <h3>生活口语</h3>
              <p>Daily English</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp1"></span>
              <h3>综合英语</h3>
              <p>Comprehensive English</p>
            </a>
          </li>
          <li>
            <a  class="selective_img_b">
              <span href="#" class="selective_img y_bgp2"></span>
              <h3>自由会话</h3>
              <p>Freetalk</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp3"></span>
              <h3>旅游英语</h3>
              <p>Travel English</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp4"></span>
              <h3>看漫画说英语</h3>
              <p>Cartoon English</p>
            </a>
          </li>
        </ul>
        <ul class="selective_list">
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp5"></span>
              <h3>英语习语会话</h3>
              <p>Idioms Conversation</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp6"></span>
              <h3>学唱英文歌</h3>
              <p>English Songs</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp7"></span>
              <h3>美剧进行时</h3>
              <p>TV Shows</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b">
              <span href="#" class="selective_img y_bgp8"></span>
              <h3>热点聚焦</h3>
              <p>English News</p>
            </a>
          </li>
          <li>
            <a href="#" class="selective_img_b selective_img_hover">
              <span href="#" class="selective_img y_bgp9"></span>
              <h3>敬请期待</h3>
              <p>Coming soon</p>
            </a>
          </li>
        </ul>
        <div class="tz-an tz-an1"><a href="javascript:;" class="tz-btn tz-btn-blue">现在就来体验</a></div>
      </div>
    </div>
    <div class="y_select_img openClass">
      <div class="centerMth p-jc centerMth-pb">
        <p class="p-tit"><img data-src="<%=imagessrc%>adult/ten_t_tit.png" width="157" height="38" src="<%=imagessrc%>common/deafult.png"></p>
        <img data-src="<%=imagessrc%>adult/ten_z_img02.png" width="1002" height="1003" src="<%=imagessrc%>common/deafult.png" usemap="#a_level_r1" name="level_r1">
        <map name="a_level_r1" class="usemap">
          <area shape="poly" coords="0,260,1000,260,1000,300,0,300,0,260" href="javascript:;" target="_blank" alt="新概念英语" data-tips="新概念英语" title="新概念英语">
          <area shape="poly" coords="0,330,1000,330,1000,370,0,370,0,330" href="javascript:;" target="_blank" alt="体验商务英语教程" data-tips="体验商务英语教程" title="体验商务英语教程">
          <area shape="poly" coords="0,371,1000,371,1000,411,0,411,0,371" href="javascript:;" target="_blank" alt="商务会话" data-tips="商务会话" title="商务会话">
          <area shape="poly" coords="0,412,1000,412,1000,452,0,452,0,412" href="javascript:;" target="_blank" alt="面试英语" data-tips="面试英语" title="面试英语">
          <area shape="poly" coords="0,482,1000,482,1000,522,0,522,0,482" href="javascript:;" target="_blank" alt="雅思口语" data-tips="雅思口语" title="雅思口语">
          <area shape="poly" coords="0,523,1000,523,1000,563,0,563,0,523" href="javascript:;" target="_blank" alt="新托福口语" data-tips="新托福口语" title="新托福口语">
          <area shape="poly" coords="0,593,1000,593,1000,633,0,633,0,593" href="javascript:;" target="_blank" alt="自由会话" data-tips="自由会话" title="自由会话">
          <area shape="poly" coords="0,634,1000,634,1000,674,0,674,0,634" href="javascript:;" target="_blank" alt="学唱英文歌" data-tips="学唱英文歌" title="学唱英文歌">
          <area shape="poly" coords="0,675,1000,675,1000,715,0,715,0,675" href="javascript:;" target="_blank" alt="生活口语" data-tips="生活口语" title="生活口语">
          <area shape="poly" coords="0,716,1000,716,1000,756,0,756,0,716" href="javascript:;" target="_blank" alt="文化话题英语" data-tips="文化话题英语" title="文化话题英语">
          <area shape="poly" coords="0,757,1000,757,1000,797,0,797,0,757" href="javascript:;" target="_blank" alt="英语习题" data-tips="英语习题" title="英语习题">
          <area shape="poly" coords="0,799,1000,799,1000,839,0,839,0,799" href="javascript:;" target="_blank" alt="时事英语" data-tips="时事英语" title="时事英语">
          <area shape="poly" coords="0,840,1000,840,1000,880,0,880,0,840" href="javascript:;" target="_blank" alt="看漫画说英语" data-tips="看漫画说英语" title="看漫画说英语">
          <area shape="poly" coords="0,881,1000,881,1000,921,0,921,0,881" href="javascript:;" target="_blank" alt="旅游英语" data-tips="旅游英语" title="旅游英语">
          <area shape="poly" coords="0,922,1000,922,1000,962,0,962,0,922" href="javascript:;" target="_blank" alt="美剧进行时" data-tips="美剧进行时" title="美剧进行时">
        </map>
      </div>
    </div>
  </div>
</div>
<!-- 成人结束 -->
<!-- 尾部 -->
<!-- right side bar -->
<% include ../common/w_side_bar.ejs %>
<!-- /right side bar-->
<% include ../common/w_footer_home.ejs %>
</body>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
</html>