<%include ../common/top.ejs%>
<body>
	<div class="introduction" data-init="introduction_usa">
		<!--#引了个头，北美项目的-->
		<%include ../common/usa_header.ejs%>
		<!--banner区域-->
		<div class="banner"></div>
		<!--主体内容-->
		<div class="container">
			<!--全程同步美国小学-->
			<div class="sync">
				<h2 class="title" title="全程同步美国小学"></h2>
				<div class="wrap">
					<div class="slider">
						<ul class="slider-wrap clearfix">
							<li><img src="<%=imagessrc%>sync_01.jpg"></li>
							<li><img src="<%=imagessrc%>sync_02.jpg"></li>
							<li><img src="<%=imagessrc%>sync_03.jpg"></li>
							<li><img src="<%=imagessrc%>sync_04.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="content">
						<i class="icon"></i>
						<p>根据最新美国共同州立标准CCSS编写</p>
						<p>以培养学生综合语言应用能力和21世纪核心能力为总目标</p>
						<p>语言与知识同步，成功靠阅读实现</p>
					</div>
				</div>
			</div>
			<!--同步美国小学教师-->
			<div class="sync-teacher">
				<h2 class="title" title="同步美国小学教师"></h2>
				<!--51talk美国小学教师列表-->
				<div class="teacher-lst">
					<ul class="clearfix">
						<li>
							<div class="andrew header"></div>
							<h3 class="name">Andrew</h3>
							<h4 class="address">美国  加州</h4>
							<h5 class="school"><i class="icon"></i>阿姆斯特丹大学</h5>
							<div class="base">
								<p>美国小学教师</p>
								<p>4年教学经验</p>
								<p>喜欢音乐、阅读，标准孩子王</p>
							</div>
						</li>
						<li>
							<div class="gianne header"></div>
							<h3 class="name">Gianne</h3>
							<h4 class="address">美国  堪萨斯</h4>
							<h5 class="school"><i class="icon"></i>旧金山州立大学</h5>
							<div class="base">
								<p>美国小学教师</p>
								<p>12年教学经验</p>
								<p>做妈妈和做老师同样优秀</p>
							</div>
						</li>
						<li>
							<div class="nicole header"></div>
							<h3 class="name">Nicole</h3>
							<h4 class="address">美国  新泽西州</h4>
							<h5 class="school"><i class="icon"></i>西东大学</h5>
							<div class="base">
								<p>美国小学教师</p>
								<p>7年教学经验</p>
								<p>教育学硕士，全能教师</p>
							</div>
						</li>
						<li>
							<div class="rhonda header"></div>
							<h3 class="name">Rhonda</h3>
							<h4 class="address">美国  弗吉尼亚</h4>
							<h5 class="school"><i class="icon"></i>纽约大学</h5>
							<div class="base">
								<p>美国小学教师</p>
								<p>9年教学经验</p>
								<p>曾在英国小学任教</p>
							</div>
						</li>
					</ul>
				</div>
				<!--51talk美国小学教师具备素质-->
				<div class="teacher-wrap">
					<div class="tab-lst">
						<ul class="clearfix">
							<li class="rate hover">
								<a href="javascript:;"></a>
								<div class="arr"></div>
							</li>
							<li class="cert">
								<a href="javascript:;"></a>
								<div class="arr"></div>
							</li>
							<li class="education">
								<a href="javascript:;"></a>
								<div class="arr"></div>
							</li>
							<li class="from">
								<a href="javascript:;"></a>
								<div class="arr"></div>
							</li>
						</ul>
						<div class="img-lst">
							<div class="base"><img src="<%=imagessrc%>base_01.jpg"></div>
							<div class="base" style="display:none;"><img src="<%=imagessrc%>base_02.jpg"></div>
							<div class="base" style="display:none;"><img src="<%=imagessrc%>base_03.jpg"></div>
							<div class="base" style="display:none;"><img src="<%=imagessrc%>base_04.jpg"></div>
						</div>
					</div>
				</div>
			</div>
			<!--同步美国小学课程体系-->
			<div class="sync-course">
				<h2 class="title" title="同步美国小学课程体系"></h2>
				<div class="wrap">
					<img src="<%=imagessrc%>course.jpg" alt="美国小学课程体系" title="美国小学课程体系">
				</div>
			</div>
			<!--同步美国小学教材-->
			<div class="sync-textbook">
				<div class="wrap">
					<h2 class="title" title="同步美国小学教材"></h2>
					<div class="con clearfix">
						<div class="describe">
							<p>
								51talk 美国小学课程选用全球最权威的原版英文分级教材——Reading A-Z作为阅读级别教材。全球有超过155个国家都在同步使用这套教材，现在51talk将这套教材引进中国，带给中国的小朋友们。
							</p>
							<p>
								Reading A-Z教材内容涵盖广泛：常识、天文、地理、历史、人文、动植物、童话等各个方面。可以让孩子们在学习英语的同时，丰富知识，拓展视野。
							</p>
							<p>
								Reading A-Z教材从初级的练拼读，慢慢过渡到阅读理解，到段落理解，由浅入深循序渐进，易于每个学习阶段的学生逐级掌握好英文阅读；通过思维导图的认知，让学生能更好的理解文章的题材和结构，逐步提升学生的写作能力，通过多种形式全方位提升学生的听说读写综合技能，51talk坚信，阅读是通往成功的途径。
							</p>
						</div>
						<div class="slider">
							<div class="icon"></div>
							<div class="img-lst">
								<ul class="slider-wrap clearfix">
									<li><img src="<%=imagessrc%>textbook_01.png"></li>
									<li><img src="<%=imagessrc%>textbook_02.png"></li>
									<li><img src="<%=imagessrc%>textbook_03.png"></li>
									<li><img src="<%=imagessrc%>textbook_04.png"></li>
								</ul>
							</div>
							<div class="point">
								<a href="javascript:;" class="current"></a>
								<a href="javascript:;"></a>
								<a href="javascript:;"></a>
								<a href="javascript:;"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--51talk教学流程-->
			<div class="teaching-process">
				<h2 class="title" title="51Talk教学流程"></h2>
				<div class="des">
					<h3>K级别6 步活动教学法：将 25 分钟教学时长拆解成 6 个步骤，每一个步骤</h3>
					<h3>都有明确的教学目标，从而保持孩子注意力，让每一分钟的学习格外高效。</h3>
				</div>
				<div class="wrap">
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>step_01.jpg" alt="课前热身" title="课前热身"></li>
						<li><img src="<%=imagessrc%>step_02.jpg" alt="字母阅读" title="字母阅读"></li>
						<li><img src="<%=imagessrc%>step_03.jpg" alt="字母活动" title="字母活动"></li>
						<li><img src="<%=imagessrc%>step_04.jpg" alt="绘本阅读" title="绘本阅读"></li>
						<li><img src="<%=imagessrc%>step_05.jpg" alt="阅读活动" title="阅读活动"></li>
						<li><img src="<%=imagessrc%>step_06.jpg" alt="复习巩固" title="复习巩固"></li>
					</ul>
				</div>
			</div>
			<!--51talk课堂展示-->
			<div class="class-show">
				<h2 class="title" title="51Talk课堂展示"></h2>
				<div class="wrap">
					<embed src="<%=imagessrc%>show.swf"width="925" height="445" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
				</div>
			</div>
			<!--51talk家长说-->
			<div class="parents">
				<h2 class="title" title="51Talk家长说"></h2>
				<div class="wrap">
					<ul class="clearfix">
						<li>
							<img src="<%=imagessrc%>parents_01.jpg">
							<p>“孩子才开始接触英语。我让身边的美国同事听了一下，他们说，孩子固定上课的几个老师在美国人当中也是口音相当标准的，我就放心了”</p>
							<div class="sign">
								<p>——国企爸爸</p>
								<p>Rick</p>
							</div>
						</li>
						<li>
							<img src="<%=imagessrc%>parents_02.jpg">
							<p>“我想让她从现在就开始接触原汁原味的英文原版书。跟同事孩子一起玩的时候，她经常问出不一样的问题，这种潜移默化的美式思维培养是我觉得最重要的。”</p>
							<div class="sign">
								<p>——白领妈妈</p>
								<p>Cyndi</p>
							</div>
						</li>
						<li>
							<img src="<%=imagessrc%>parents_03.jpg">
							<p>“老师很负责任，会认真耐心地纠正错误；另外会给孩子很多机会开口说话。现在孩子经常跟我说学校的英语考试太简单了，学校老师也经常表扬他。”</p>
							<div class="sign">
								<p>——外企爸爸</p>
								<p>Jeffery</p>
							</div>
						</li>
						<li>
							<img src="<%=imagessrc%>parents_04.jpg">
							<p>“我们每天给孩子约课，现在她已经能在说中文的时候下意识地说出英文句子了，我觉得很惊喜。更重要的是，跟线下将近1000元一节的外教课相比，价格便宜太多。”</p>
							<div class="sign">
								<p>——全职妈妈</p>
								<p>Summer</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--51talk专属优势-->
			<div class="advantage">
				<h2 class="title" title="51Talk专属优势"></h2>
				<div class="adv-wrap">
					<ul class="clearfix">
						<li class="adv-course hover">
							<div class="mask"></div>
						</li>
						<li class="adv-time">
							<div class="mask"></div>
						</li>
						<li class="adv-classroom">
							<div class="mask"></div>
						</li>
					</ul>
				</div>
				<a href="javascript:;" class="buy">我要购买课程</a>
			</div>
		</div>
		<!--新的底部，只有媒体图标没有链接-->
		<div class="media-footer"></div>
	</div>
	<script src="<%= jssrc%>"></script>
</body>
</html>