<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index_old" id="container">
<!-- 顶部 -->
<% include w_header.ejs %>
<!-- 导航 -->
<% include w_nav.ejs %>
<!-- banner图 -->
<div class="cs_banner">
  <div class="cs_banner01">
  <div class="cs_bannerCon">
      <h3>51Talk经典英语</h3>
      <h3>Classic English</h3>
      <p>超过80%的学员选择的51Talk经典英语，帮你有效提升英语综合应用能力！无论为了满足日常沟通，还是工作和职业发展；无论你处于英语学习的哪个阶段，51Talk都有信心帮你达成目标。来自全球的拥有超过10年教学经验的专业教研团队，依照欧洲语言现代教学大纲(CEFR)，花费超过500小时以上精心打造的最适合中国英语学习者的课程体系，听说读写全面覆盖的教学内容，实用而有趣的教材设计针对不同阶段学员水平，从零基础入门到精通的16个级别的英语晋升阶梯，正在等待你的攀升!</p>
    </div>
   <!-- banner部位菜单 -->
    <% include w_list.ejs %>
  </div>
</div>
 <!-- banner图结束 -->
<div class="main">
  <div class="mainIn">
      <div class="cs_level">
          <ul>
            <li><img src="<%= imagessrc%>/cs_level01.png" alt=""><i class="activei00"></i></li>
            <li><img src="<%= imagessrc%>/cs_level02.png" alt=""><i class=" "></i></li>
            <li><img src="<%= imagessrc%>/cs_level03.png" alt=""><i class=" "></i></li>
            <li><img src="<%= imagessrc%>/cs_level04.png" alt=""><i class=" "></i></li>
            <li><img src="<%= imagessrc%>/cs_level05.png" alt=""><i class=" "></i></li>
            <li style="cursor:default"><img src="<%= imagessrc%>/cs_level06.png" alt=""><i class=" " ></i></li>
          </ul>
      </div>


      <div class="cs_levelCon">
         <div class="cs_levelCon01">
             <div class="cs_levelCon01_tit">
                <p>起步英语：较为基本的日常用于对话的训练，能够不畏惧张口说英语，勇于亮出自己的牙</p>
                <p style="display:none">生存英语：更为复杂的日常用语与对话训练，了解英语基本结构和语法，能够使用英语基本交流。</p>
                <p style="display:none">交际英语：能够轻松应对英语日常对话与讨论，用词和语法基本正确，但表达较为有限。</p>
                <p style="display:none"> 工作英语：能够使用多种表达方式流畅自如的进行英语对话与交流，能使用正确的策略进行询问并使用较丰富的词汇表达。</p>
                <p style="display:none"> 专业英语：能够有效的使用英语进行沟通跟交流，词汇和表达方式丰富，语流（Flow）顺畅。</p>
                <p style="display:none">类母语：英语语言使用水平达到类母语水平，不仅可以自如表达，且有观点有逻辑</p>
             </div>
             <div class="cs_picPlay">
                <ul>
                  <li><img src="<%= imagessrc%>/cs_picPlay0001.jpg" alt=""></li>
                  <li style="display:none"><img src="<%= imagessrc%>/cs_picPlay0002.jpg" alt=""></li>
                  <li style="display:none"><img src="<%= imagessrc%>/cs_picPlay0003.jpg" alt=""></li>
                  <li style="display:none"><img src="<%= imagessrc%>/cs_picPlay0004.jpg" alt=""></li>
                  <li style="display:none"><img src="<%= imagessrc%>/cs_picPlay0005.jpg" alt=""></li>
                  <li style="display:none" class="lastImg">
                    <img src="<%= imagessrc%>/cs_certif.png" alt="">
                    <a href="javascript::">马上预约上课</a>
                  </li>
                </ul>
             </div>
             <div class="cs_switch">
               <ul>
                  <li><i class="activei"></i></li>
                  <li><i></i></li>
                  <li><i></i></li>
                  <li><i></i></li>
                  <li><i></i></li>
                 <!--  <li><i></i></li> -->
               </ul>
             </div>
            <div class="cs_change">
              <a href="javascript:;" class="gt"></a>
              <a href="javascript:;" class="lt"></a>
            </div>
          </div>
      </div>
      <div class="cs_levelCon cs_levelConBot" >
      <!-- 第一部分 -->
         <div class="cs_levelCon01">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>

               </div>
            </div>
         </div>
         <!-- 第二部分 -->
         <div class="cs_levelCon01" style="display:none;">
            <div class="cs_txt">
               <h3>经典英语 - 初级 Elementary</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：初级学员Level4-6水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者已能应对日常性任务，例如去商场购物、邮局寄东西、银行开户；能够顺利使用公共交通从A地抵达B地；能够听懂简单电视广播节目的主旨大意；可以读懂报纸或网络的新闻标题即大意；看懂与工作直接相关的简短邮件和信件；可以写出描述日常活动、个人喜好、家庭介绍和简单经历的小文章。但使用的多为简单的词组或不连贯的句子。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>

               </div>
            </div>
         </div>
         <!-- 第三部分 -->
         <div class="cs_levelCon01" style="display:none;">
            <div class="cs_txt">
               <h3>经典英语 - 中级 Intermediate</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：中级学员Level7-9水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者已能流畅使用英语应对生活中各种不同情境，进行全方位的交流和交际：与母语使用者探讨国际国内大事，描述自己的心情和体会，使用英语交朋友，无需帮助即可背包走天下，订酒店、订机票火车票，旅途中可以听懂看懂导游词和景点介绍，阅读各种产品的英文说明等。但描述多简明扼要，无法详述细节。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>

               </div>
            </div>
         </div>
         <!-- 第四部分 -->
         <div class="cs_levelCon01" style="display:none;">
            <div class="cs_txt">
               <h3>经典英语 - 中高级 Upper Inter</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：中高级学员Level10-12水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够自如使用英语满足工作中的各种交流需求，例如进行工作沟通，召开包括电视电话等形式在内的各种会议，在无准备的情况下对即时信息进行反馈，进行产品介绍和各种演讲演示，流利使用较为复杂的词汇和表达陈述自己的观点。阅读并书写各类工作邮件、会议记录等，可以快速看懂各类文章和报告的主旨大意。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>

               </div>
            </div>
         </div>
         <!-- 第五部分 -->
         <div class="cs_levelCon01" style="display:none;">
            <div class="cs_txt">
               <h3>经典英语 - 高级 Advanced</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level13-15水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                 <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够使用英语轻松与母语使用者进行日常交流、工作会议、商务谈判和学术研讨，就自己的工作和学习领域内外的各种话题随时与人进行讨论或发表演讲；可以基本无障碍看懂英语电视、电影，听得懂并能够使用许多英语习语和俚语；能够基本无障碍在英语国家的大学中进行学习，使用英语完成报告和论文。</p>
                </div>
                 
                

               </div>
            </div>
         </div>
         <!-- 第六部分 -->
         <div class="cs_levelCon01" style="display:none;">
            <div class="cs_txt">
               <h3>经典英语 - 专家级 Expert</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level16水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                 <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者英语水平完全类似于受过良好教育的母语使用者，雅思听说读写均在8分以上。能发表组织严密、语言明晰且流畅的讲话，同时熟练掌握了丰富的表达，讲话时语法始终正确。</p>
                </div>
                 
                

               </div>
            </div>
         </div>
         <!-- 第六部分结束 -->
      </div>

      <div class="cs_reserBtn">
          <a href="javascript:;" id="abc">马上预约上课</a>
      </div>
  </div>
</div>

<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
