<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51talk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index_old" id="container">
<!-- 顶部 -->
<% include w_header.ejs %>
<!-- 导航 -->
<% include w_nav.ejs %>
<!-- banner图 -->
<div class="cs_banner">
  <div class="cs_banner01 cs_banner01en">
    <div class="cs_bannerCon">
      <h3>商务英语</h3>
      <h3>Business English</h3>
      <p>商务英语课程教材由业内广受好评的《体验商务英语综合教程 Market Leader》51Talk专业学术团队自主研发的“商务情景会话”组成。《Market Leader》致力于综合提高职场人的商务英语，主要集中在听、说两个方面进行课堂练习。“商务情景会话180篇”摒弃传统说教模式，还原真实商务场景，提供实用口语表达。本课程共分为初中高三个级别内容涵盖商务英语中电话、邮件、会议、出差、报告、谈判等30个常见的主题，再现了180个真实商务会话场景。</p>
    </div>
   <!-- banner部位菜单 -->
    <% include w_list.ejs %>
  </div>
</div>
 <!-- banner图结束 -->

<div class="main main02 ">
  <div class="mainIn main02In mainIn01"> 
      <!-- 图片按钮 -->
      <div class="cs02_book" >
          <ul>
            <li><img pdf_dir="" pdf_url="" buy_url="" src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com" src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="" pdf_url="" buy_url="http://www.baidu.com"  class="imgBig" src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
          </ul>
      </div>
      <div class="cs_levelCon">
     
        <!-- 第一本书 -->
         <div class="cs_levelCon01">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第二本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner第二本书</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第3本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner第3本书</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第4本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner第3本书</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第5本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第6本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
        
        </div>
      </div>
      
      <!-- 按钮 -->
      <div class="cs02_btn" >
          <ul>
            <li class="cs02_btn_pdf_dir"><a href="javascript:;">教材目录</a></li>
            <li class="cs02_btn_pdf_url"><a href="javascript:;">教材内容</a></li>
            <li class="cs02_btn_buy_url"><a href="javascript:;">预览购买教材</a></li>
          </ul>
      </div>
  </div>
</div>
<!-- 灰色背景 -->
<div class="main main02 mainGray">
  <div class="mainIn main02In mainIn02"> 
      <!-- 图片按钮 -->
      <div class="cs02_book">
          <ul>
            <li><img pdf_dir="" pdf_url="" buy_url=" "  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  class="imgBig" src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
          </ul>
      </div>
      <div class="cs_levelCon">
         
         <!-- 第一本书 -->
         <div class="cs_levelCon01">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第二本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第3本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第4本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第5本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第6本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
       
        </div>
      </div>
      <!-- 按钮 -->
      <div class="cs02_btn">
          <ul>
            <li class="cs02_btn_pdf_dir"><a href="javascript:;">教材目录</a></li>
            <li class="cs02_btn_pdf_url"><a href="javascript:;">教材内容</a></li>
            <li class="cs02_btn_buy_url"><a href="javascript:;">预览购买教材</a></li>
          </ul>
      </div>
  </div>
</div>
<!-- 灰色背景结束 -->
<!-- 白色背景 -->
<div class="main main02">
  <div class="mainIn main02In mainIn03"> 
      <!-- 图片按钮 -->
      <div class="cs02_book">
          <ul>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
            <li><img src="<%= imagessrc%>/Let's01.jpg" alt=""></li>
            <li><img pdf_dir="http://www.baidu.com" pdf_url="http://www.baidu.com" buy_url="http://www.baidu.com"  class="imgBig" src="<%= imagessrc%>/Let's02.jpg" alt=""></li>
          </ul>
      </div>
      <div class="cs_levelCon">
         
          <!-- 第一本书 -->
         <div class="cs_levelCon01">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第二本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第3本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第4本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第5本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         <!-- 第6本书 -->
         <div class="cs_levelCon01" style="display:none">
            <div class="cs_txt">
               <h3>经典英语 - 入门 Beginner</h3>
               <div class="cs_txtbot">
                 <!-- <img src="<%= imagessrc%>/cs_txt.png" alt=""> -->
                <dl class="cs_tit">
                  <dt>Lv</dt>
                  <dd>适合水平：入门学员Level1-3水平</dd>
                </dl>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材特色</h3>
                </div>
                <div class="cs_h3Con">
                  <h3>1. 强化语言应用场景（Context）</h3>
                  <p>口语的提高除了需要大量可理解输入之外，还需要通过各种方式为学习者构建语言应用的场景。《经典英语》系列课程通过角色个性化、内容场景化和图片风趣化的设计，营造鲜活的对话场景，帮助学员真正习得不同场景中的英语表达</p>
                  <h3>2. 引入“语块”（Chunk）学习理念</h3>
                  <p>为了帮助学生逃脱“背过的单词千千万，面对老外依然张口结舌”的窘境，《经典英语》系列课程引入二语习得的先进理论，强调“语块“学习，即在单词之外更重固定搭配及常用表达的学习。研究和实践证明“语块”学习符合大脑记忆、存储与调用规律，真正提升词汇和表达的学习效率，提升使用英语交流时的反应速度和输出质量，帮助中国学生告别“背单词，单背词”。</p>
                  <h3>3. 创新应用语音识别技术</h3>
                  <p>跟读地道美音，获得精准机器评测，跟口语练习无反馈的时代大声说Bye bye。</p>
                </div>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>目标达成</h3>
                </div>
                <div class="cs_h3Con">
                  <p>这一阶段的学习者能够应对简单的日常对话，例如购买生活用品、问路、表达时间；可以看懂并书写简单的通知、明信片，在图片的帮助下读懂几句话的小故事。但总体表达能力以简单的、孤立的词为主。</p>
                </div>
                <ul>
                  <li style="margin-right:280px;">
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>预计学习时间</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>48个课时（1课时为25分钟）</p>
                      </div>
                  </li>
                  <li>
                      <div class="cs_h3">
                        <h3><span>|&nbsp;</span>辅助学习</h3>
                      </div>
                      <div class="cs_h3Con">
                        <p>课前预习（含对话录音）、课后复习</p>
                      </div>
                  </li>
                </ul>
                <div class="cs_h3">
                  <h3><span>|&nbsp;</span>教材预览</h3>
                </div>
                <div class="cs_h3Con cs_h3Conbook">
                   <ul>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230" style="margin-right:15px;" ></li>
                     <li><img src="<%= imagessrc%>/Let's02030.jpg" alt="" height="230"></li>
                   </ul>
                </div>


               </div>
            </div>
         
         </div>
         
        </div>
      </div>
      <!-- 按钮 -->
    <div class="cs02_btn">
        <ul>
           <li class="cs02_btn_pdf_dir"><a href="javascript:;">教材目录</a></li>
            <li class="cs02_btn_pdf_url"><a href="javascript:;">教材内容</a></li>
            <li class="cs02_btn_buy_url"><a href="javascript:;">预览购买教材</a></li>
        </ul>
    </div>
  </div>
</div>
<!-- 白色背景结束 -->


<!-- 尾部 -->
<% include ../common/www/w_footer_reg.ejs %>
<% include w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
