<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51Talk App</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
   <section class="container" data-init="reg">
     <hgroup>
        <img src="<%=imagessrc%>banner_top1.jpg" class="width100">
     </hgroup>
     <hgroup class="banner_top2">
        <img src="<%=imagessrc%>banner_top2.jpg" class="width100">
        <div class="form1_reg">
          <form>
            <h2>马上领取价值<span>288元</span>的1对1外教体验课</h2>
            <div class="list">
              <input type="text" placeholder="请输入手机号" class="phone" />
            </div>
            <div class="list">
              <input type="text" placeholder="请输入图片验证码" class="code imgCode" />
              <div class="imgCode rp">
                <div class="codeInfo rpIn">
                  
                </div>
              </div>
            </div>
            <div class="list">
              <input type="text" placeholder="请输入短信验证码" class="code inforCode" />
              <div class="rp">
                <div class="rpIn sendCode">
                    发送验证码
                </div>
              </div>
            </div>
            <div class="list">
               <a href="javascript:;" class="subBtn">领取体验课</a>
            </div>
          </form>
        </div>
     </hgroup>
     <hgroup class="course">
       <h1>更多学员选择的专业在线英语教育平台</h1>
       <div class="line"></div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic1.png" class="width100" />
         </div>
         <div class="rt">
           <h3>美国小学课程</h3>
           <p>适合4-12岁学生，百分之百北美老师，为中国孩子量身定制的美式教育，培养具有国际竞争力的全球小公民。</p>
         </div>
       </div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic2.png" class="width100" />
         </div>
         <div class="rt">
           <h3>青少年英语课程</h3>
           <p>适合4-15岁，幼儿园及中小学生，经验丰富的专业外教，沉浸式高效学习。寓教于乐，成绩能力双提升！</p>
         </div>
       </div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic3.png" class="width100" />
         </div>
         <div class="rt">
           <h3>成人英语课程</h3>
           <p>适合16岁以上人群，更有针对性的定制化教学，轻松有效提升商务留学、考试及综合英语能力。</p>
         </div>
       </div>
     </hgroup>
     <hgroup class="advantage3">
       <h1>51Talk无忧英语的三大核心优势</h1>
       <div class="line"></div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic4.png" class="width100" />
         </div>
         <div class="rt">
           <h3>8000+金牌外教团队</h3>
           <p>经验丰富的外教团队，优中选优，录取率仅3%；1对1教学，为您提供VIP专属服务。</p>
         </div>
       </div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic5.png" class="width100" />
         </div>
         <div class="rt">
           <h3>超强教材研发实力</h3>
           <p>10年以上教学经验的课程研发团队超过10万小时精心投入，专业打造适合中国学习者的系统教材！</p>
         </div>
       </div>
       <div class="introList">
         <div class="lf">
           <img src="<%=imagessrc%>introPic6.png" class="width100" />
         </div>
         <div class="rt">
           <h3>随时随地轻松提升</h3>
           <p>功能强大的在线教室AC(AirClass) 无缝衔接手机、Pad、电脑 三端,足不出户约课、预习、上课、复习</p>
         </div>
       </div>
     </hgroup>
    <hgroup class="footer">
      <img src="<%=imagessrc%>logo.png" />
      <p>北京大生知行科技有限公司  |  客服电话：4000-51-51-51  </p>
    </hgroup>
    <hgroup class="error">
      <div class="infor"></div>
    </hgroup>
   </section>
</body>
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>