<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>teenager/teenager.css">

</head>
<body>
	<!-- 顶部 -->

	<%- include("../common/w_nav.ejs",{
  wrapClass:"teenager-nav-list",
  navList:[
    {
      className:"crt",
      text:"51Talk美国小学",
      url:"javascript:;"
    },
    {
      className:"",
      text:"教学理念",
      url:"javascript:;"
    },
    {
      className:"",
      text:"课程体系",
      url:"javascript:;"
    },
    {
      className:"",
      text:"外教师资",
      url:"javascript:;"
    },
    {
      className:"",
      text:"学习体系",
      url:"javascript:;"
    },
    {
      className:"",
      text:"名师课堂",
      url:"javascript:;"
    }
  ],
  isIndex:false, //判断是否为首页
  isNorth:true //判断是否为美小
  }) %>

	<div>
		<% include ../common/w_banner.ejs %>
	</div>
	<div class="teenager-page" data-init="teenager/index" id="container">
		
		<div class="t-part">
			<div class="p-center">
				<img data-src="<%=imagessrc%>teenager/t_2_01.png" alt="" class="t-img2" src="<%=imagessrc%>common/deafult.png">
				<h3 class="t-p-tit">外教1对1 给孩子提供“沉浸式”英语环境</h3>
				<p class="t-p-text">在语言学习的敏感期，通过和专业外教1对1沉浸式学习，真正像母语一样习得英语<br>让孩子学会用英语思考，英语随时随地脱口而出</p>
				<div class="over-hide">
					<ul class="t-list clearfix" data-teen="move2">
						<li>
							<img data-src="<%=imagessrc%>teenager/t_2_02.png" alt="" height="339" width="340" src="<%=imagessrc%>common/deafult.png">
							<p class="t-list-text">VIP待遇，外教的注意力<br>100%关注一个孩子</p>
						</li>
						<li>
							<img data-src="<%=imagessrc%>teenager/t_2_03.png" alt="" height="339" width="340" src="<%=imagessrc%>common/deafult.png">
							<p class="t-list-text">优选青少教学经验丰富<br>发音纯正的专业外教</p>
						</li>
						<li>
							<img data-src="<%=imagessrc%>teenager/t_2_04.png" alt="" height="339" width="352" src="<%=imagessrc%>common/deafult.png">
							<p class="t-list-text">循循善诱、鼓励孩子勇敢开口<br>保证50%以上的时间强互动练习</p>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="t-part part3">
			<div class="p-center">
				<h3 class="t-p-tit">在线学习无需接送 在家也能上的国际学校</h3>
				<p class="t-p-text">通过51Talk强大而便捷的在线授课平台，孩子可以足不出户，随时随地和外教学习国际课程</p>
				<div class="over-hide">
					<ul class="part3-list clearfix">
						<li>
							<img data-src="<%=imagessrc%>teenager/t_3_02.png" alt="" height="229" width="243" src="<%=imagessrc%>common/deafult.png">
							<p class="part3-text">无需舟车劳顿，即可享受<br>纯英文浸入式语言环境</p>
						</li>
						<li>
							<img data-src="<%=imagessrc%>teenager/t_3_03.png" alt="" height="229" width="243" src="<%=imagessrc%>common/deafult.png">
							<p class="part3-text">在线教室AC，可在三端<br>上课：电脑PC端、移动APP和移动PAD</p>
						</li>
						<li>
							<img data-src="<%=imagessrc%>teenager/t_3_04.png" alt="" height="229" width="243" src="<%=imagessrc%>common/deafult.png">
							<p class="part3-text">时光机功能、家长伴读功能记录和见证孩子点滴成长和进步</p>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="t-part part4" data-teen="move3">
			<div class="p-center">
				<img data-src="<%=imagessrc%>teenager/t_4_02.png" alt="" class="t-img4" height="193" width="156" src="<%=imagessrc%>common/deafult.png">
				<h3 class="t-p-tit">专业有趣的课程 依托北美教育研究基地</h3>
				<h3 class="t-p-tit">超过200位强大的国际化专家团队联手打造权威教材</h3>
				<p class="t-p-text">基于4-12岁年龄段孩子的认知发展规律、尤其是语言能力发展，参照欧洲共同语言框架<br>体系（CEFR）标准全面覆盖国家新课标（中小学阶段）、YLE剑桥少儿英语考试的英语学习课程</p>
				<div class="over-hide">
					<ul class="t4-list clearfix">
						<li class="child">
							<div class="t4-icon"></div>
							<p class="t4-text">英语听、说、读、写<br>语言技能的全面提升</p>
						</li>
						<li class="child2">
							<div class="t4-icon"></div>
							<p class="t4-text">言形式和<br>知识的熟练掌握</p>
						</li>
						<li class="chil3">
							<div class="t4-icon"></div>
							<p class="t4-text">教学法为核心<br>语言使用为导向</p>
						</li>
						<li class="child4">
							<div class="t4-icon"></div>
							<p class="t4-text">CLIL Approach <br>知识相结合的<br>内容及教学法</p>
						</li>
						<li class="child5">
							<div class="t4-icon"></div>
							<p class="t4-text">21世纪小公民所<br>必备的核心素养</p>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<!--下载 -->
	<div class="index-m6">
	    <div class="wrap-box centerMth">
	        <h2>心动？行动！</h2>
	        <p>立即注册，与全球80万会员一起学英语</p>
	        <div>
	            <a href="javascript:;" class="regBtn">注册会员</a>
	        </div>
	        <h3>已经是我们的会员？<a href="javascript:;">立即登录 ></a></h3>
	    </div>

	</div>
	<!--下载 -->

	<!--扫码关注 -->
	<div class="m-weixin">
	    <h2>7X24小时，课程顾问为您服务</h2>
	    <div class="tel">400·51·51·51</div>
	    <div class="tit">关注我们的公众号，获取每日英语学习资讯，并享受更多优惠！</div>
	    <div class="list">
	        <ul>
	            <li>
	                <img data-src="<%=imagessrc%>common/usa_code.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
	                <div class="name">美国小学课程</div>
	            </li>
	            <li>
	                <img data-src="<%=imagessrc%>common/teen.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
	                <div class="name">无忧英语 · 青少课程</div>
	            </li>
	            <li>
	                <img data-src="<%=imagessrc%>common/d_code.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
	                <div class="name">无忧英语 · 成人课程</div>
	            </li>
	        </ul>
	    </div>
	</div>
	<!--扫码关注 -->
<!-- right side bar -->
<% include ../common/w_side_bar.ejs %>
<!-- /right side bar-->
	<% include ../common/w_footer_home.ejs %>
</body>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
</html>
