<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="keywords" content="{<info.keywords>}" />
	<meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
	<link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
  <link rel="stylesheet" type="text/css" href="<%= cssPath %>teenager/w_foreignTeachers.css">
	<!--[if IE 6]><script src="../js/lib/DD_belatedPNG_0.0.8a.min.js"></script><![endif]-->
</head>
<body data-init="index">
<!-- 公共区域 -->
<%- include("../common/w_nav.ejs",{
  wrapClass:"teenager-nav-list",
  navList:[
    {
      className:"crt",
      text:"51Talk美国小学",
      url:"http://junior.51talk.com/"
    },
    {
      className:"",
      text:"学习理念",
      url:"http://junior.51talk.com/index/feature"
    },
    {
      className:"",
      text:"青少课程",
      url:"http://junior.51talk.com/index/system"
    },
    {
      className:"",
      text:"外教师资",
      url:"http://junior.51talk.com/index/teachers"
    },
    {
      className:"",
      text:"上课流程",
      url:"http://junior.51talk.com/index/guide"
    }
  ],
  isIndex:false, //判断是否为首页
  isNorth:false //判断是否为美小

  }) %>
  <div>
    <% include ../common/w_banner.ejs %>
  </div>
<!-- /公共区域 -->
<!-- 学习概念 -->
<div class="teachers ten_teacherT_list" data-init="teenager/index" id="container">
	<div class="teacherT">
		<h3 class="teacherT_tit"><img data-src="<%=imagessrc%>teenager/t_top1.png" width="758" height="98" src="<%=imagessrc%>common/deafult.png"></h3>
		<p class="teacherT_text"><a href="#">让孩子体验跟外教学英语<span class="teacher_icon"></span></a></p>
		<ul class="teacherT_list">
			<li>
				<div class="teacherT_img teacherT_img1"></div>
				<h3>只用顶尖的3%</h3>
				<p>以英语为官方语言国家的名牌大<br>学毕业，严格把控3%的优秀老师<br>通过率</p>
			</li>
			<li>
				<div class="teacherT_img teacherT_img2"></div>
				<h3>专业的青少老师培训体系</h3>
				<p>超过100小时的专业培训，包括<br>儿童心理学，第二语言习得以及<br>针对少儿的教学技巧等</p>
			</li>
			<li>
				<div class="teacherT_img teacherT_img3"></div>
				<h3>学员评价机制，优胜劣汰</h3>
				<p>基于孩子和家长对老师的真实<br>反馈与评价，对教师优胜劣汰</p>
			</li>
		</ul>
	</div>
	<div class="teacherB openClass">
		<div class="teacherB_width">
			<h3 class="teacherT_tit"><img data-src="<%=imagessrc%>teenager/t_top2.png" width="771" height="98" src="<%=imagessrc%>common/deafult.png"></h3>
			<p class="teacherT_text"><a href="#">让孩子体验跟外教学英语<span class="teacher_icon"></span></a></p>
			<div class="teacherB_cont">
				<ul class="teacherB_list">
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_1.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Ritch</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_2.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Jon</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_3.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Hazel</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_4.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Melrick</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_5.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Paul</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_6.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Monica</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_7.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Rolly</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_8.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Alissa</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_9.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Josh</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_10.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Kat</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_11.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Marky</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
					<li>
						<div class="teacherB_img">
							<a href="javascript:;" data-vedioSrc="http://media.51talk.com/upload/media/Ritch.flv"><img data-src="<%=imagessrc%>teenager/t_b_12.jpg" width="140" height="140" src="<%=imagessrc%>common/deafult.png"><span></span></a>
						</div>
						<h3>Nadine</h3>
						<p class="teacherB_star"><span></span><span></span><span></span><span></span><span></span></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- right side bar -->
<% include ../common/w_side_bar.ejs %>
<!-- /right side bar-->
  <% include ../common/w_footer_home.ejs %>
</body>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
</html>
