<% include ../common/top.ejs %>
<body>
	<section class="subject" id="container" data-init="">
		<section class="sub-top">
			<img src="<%= imagessrc%>top.jpg" alt="">
		</section>
		<section class="sub-item">
			<img src="<%= imagessrc%>item1_t.png" alt="">
			<p class="item1-text">小学英语全能拔高口语集训课程是一门全面提高1-5年级学员听说读写能力的课程，采用最前沿的CLIL（学科与语言融合）教学法和MI（多元职能）理念，帮助学员提高成绩的同时，建立英文思维，流利交流，让孩子拥有演说家的风采！</p>
			<section class="img-item1">
				<img src="<%= imagessrc%>item1.jpg" alt="">
			</section>
		</section>
		<section class="sub-item sub-item2">
			<img src="<%= imagessrc%>item2_t.png" alt="">
			<section class="item-bottom">
				<img src="<%= imagessrc%>item2_1.jpg" alt="">
				<p class="item2-text1">绘本、歌曲、亲子游戏、互动课堂，学习兴趣大增！</p>
				<img src="<%= imagessrc%>item2_2.jpg" alt="">
				<p>学员、家长、教师三方配合，学习效果立竿见影！</p>
			</section>
		</section>
		<section class="sub-item sub-item3">
			<img src="<%= imagessrc%>item3_t.png" alt="">
			<img src="<%= imagessrc%>item3.jpg" alt="">
		</section>
		<section class="sub-item sub-item4">
			<img src="<%= imagessrc%>item4_t.png" alt="">
			<section class="img-item4">
				<img src="<%= imagessrc%>item4.jpg" alt="">
			</section>
		</section>
		<section class="sub-item sub-item5">
			<section class="img-item1"><img src="<%= imagessrc%>item5_t.png" alt=""></section>
			<section class="img-item2"><img src="<%= imagessrc%>item5.jpg" alt=""></section>
		</section>
		<section class="sub-item sub-item6">
			<img src="<%= imagessrc%>item6_t.png" alt="">
			<section class="img-item6"><img src="<%= imagessrc%>item6.jpg" alt=""></section>
		</section>
		<section class="sub-item sub-item7">
			<img src="<%= imagessrc%>item7_t.png" alt="">
			<section class="img-item7">
				<dl>
					<dt><span>Q：</span>外教口语集训班使用的是什么教材？</dt>
					<dd><span>A：</span>咱们教材是一年四季难度逐层递进，它参考CEFR框架并结合了课标及剑桥考试要求，并设计了不同的游戏，调动孩子眼、手、脑、口；玩中学，学中玩。让孩子爱上英语！ </dd>
				</dl>
				<dl>
					<dt><span>Q：</span>课程如何安排？</dt>
					<dd><span>A：</span>为期2周，共8次课（2次中教课+6次外教课）。中教对重难点进行讲解；外教锻炼孩子听说能力。强烈建议中教课后再预约当周3节外教课！</dd>
				</dl>
				<dl>
					<dt><span>Q：</span>老师是谁呢？</dt>
					<dd><span>A：</span>一位固定的中教老师+外教老师（根据孩子喜好预约即可），中外教结合效果最佳！</dd>
				</dl>
				<dl>
					<dt><span>Q：</span>怎么上课？</dt>
					<dd><span>A：</span>学习必备神器：有摄像头的电脑、能说话的耳机、安装好AC即可（课前统一通知）。</dd>
				</dl>
			</section>
		</section>
		<section class="sub-bottom">
			<!-- <img src="<%= imagessrc%>very_good.jpg" alt=""> -->
			<p><span>原价<strong>￥480</strong></span><span>现价<em>￥</em><strong>48</strong></span><a href="javascript:;"></a></p>
		</section>
	</section>
</body>
<% include ../common/bottom.ejs %>