<% include ../common/top.ejs %>
<body>
<img src="<%= imagessrc%>year_ic_img.jpg" width="0" height="0" style="float:left;">
<div class="year" id="container" data-init="reg">
    <div class="section section1">
        <img src="<%= imagessrc%>wx_nav2.jpg" alt="" class="yr-nav">
        <div class="form">
          <form method="POST" id="RegForm01" action="share">
            <ul class="yr-form">
              <li><input type="number" placeholder="请输入手机号" id="sha-tel01"></li>
              <li><input type="password" placeholder="设置您的密码" id="sha-psd01"></li>
              <li><a href="javascript:;" id="sha-reg01"></a></li>
            </ul>
          </form>  
        </div>
        <div class="nav-img"><a href="javascript:;"><img src="<%= imagessrc%>icon-down.png" alt="" class="sec-img01"></a></div>
    </div>
    <div class="section section2">
      <h3 class="h-tit"><img src="<%= imagessrc%>wx_tit01.png" alt="" class="yr-text"></h3>
      <img src="<%= imagessrc%>wx_img01.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section3">
      <h3><img src="<%= imagessrc%>wx_tit02.png" alt="" class="yr-text"></h3>
      <img src="<%= imagessrc%>wx_img02.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section4">
      <h3><img src="<%= imagessrc%>wx_tit03.png" alt="" class="yr-text"></h3>
      <img src="<%= imagessrc%>wx_img03.jpg" alt="" class="yr-img01">
    </div>
    <div class="section section5">
      <img src="<%= imagessrc%>year_fr_img2.jpg" alt="" class="fr-img">
      <div class="form">
        <form id="RegForm02" action="share">
          <ul class="yr-form">
            <li><input type="number" placeholder="输入您的手机号" id="sha-tel02"></li>
            <li><input type="password" placeholder="设置您的密码" id="sha-psd02"></li>
            <li><a href="javascript:;" id="sha-reg02" class="sha-reg02"></a></li>
          </ul>
        </form>
        <!-- <p>www.51talk.com</p> -->
        <p class="bottom_tit"></p>
      </div>
    </div>
</div>
</body>
<% include ../common/bottom.ejs %>