<% include ../common/top.ejs %>
<body>
<div id="container" data-init="teenagers" class="landing_page1">
 <div class="t_page_top">
   <div class="top_1 comWidth">
     <h3 class="top_tit">Top earning teachers can earn <br> as much as <span class="top_c">Php 80,000</span> monthly.</h3>
     <p class="top_link"><a href="javascript:;">JOIN US</a></p>
   </div>
 </div>
 <div class="t_star">
   <div class="s_inner comWidth">
     <h3 class="s_inner_tit">Who we are?</h3>
     <p class="s_inner_text"> 51Talk is the leading online English education company in China and in the Philippines, <br>
with both the most customers and the largest foreign teacher number. <br>
 51Talk aims at providing a comprehensive, <br>
all-in-one online education platform through its unique foreign teacher 1 to 1 teaching model.
</p>
    <div class="s_img">
      <img src="<%= imagessrc%>/s_li.png" alt="">
      <h3 class="s_i_tit">51Talk Investors and Partner</h3>
      <div class="s_i_img"><img src="<%= imagessrc%>/s_bottom.png" alt=""></div>
      <h3 class="s_i_tit">51Talk Award</h3>
      <ul class="s_i_text">
        <li> > The Deloitte Technology Fast 50 China list, 2015</li>
        <li>> Awarded the Philippine Golden Globe for Business Excellence for Best Online Teaching Platform (National Awards), 2016</li>
        <li>> The only online English education company recommended by CCTV “Brand Story”</li>
      </ul>
    </div>
   </div>
 </div>
 <div class="why_jion">
   <div class="w_center comWidth">
     <h3 class="s_inner_tit">Why You Should Join 51Talk</h3>
     <p class="s_inner_t">As a Home-Based Online English Teacher</p>
     <ul class="w_jion_c">
       <li>
         <dl>
           <dt><img src="<%= imagessrc%>/w_c1.jpg" alt=""></dt>
           <dd>
             <h3 class="w_tit">Earn More</h3>
             <p class="w_text">Earn as much as <br>Php 80,000 monthly.</p>
           </dd>
         </dl>
       </li>
       <li>
         <dl>
           <dt><img src="<%= imagessrc%>/w_c2.jpg" alt=""></dt>
           <dd>
             <h3 class="w_tit">Experience Comfort <br>and Convenience</h3>
             <p class="w_text">Teach, learn and earn <br>right from the comfort <br>of your home.</p>
           </dd>
         </dl>
       </li>
       <li>
         <dl>
           <dt><img src="<%= imagessrc%>/w_c3.jpg" alt=""></dt>
           <dd>
             <h3 class="w_tit">Level Up <br>and Learn</h3>
             <p class="w_text">Maximize your learning<br>experience with<br>our free trainings.</p>
           </dd>
         </dl>
       </li>
       <li>
         <dl>
           <dt><img src="<%= imagessrc%>/w_c4.jpg" alt=""></dt>
           <dd>
             <h3 class="w_tit">Discover a <br>Different Culture</h3>
             <p class="w_text">Explore a new culture<br>through interesting<br>exchanges between you <br>and our <br>Asian learners.</p>
           </dd>
         </dl>
       </li>
     </ul>
   </div>
 </div>
 <div class="w_require">
   <div class="req_cont comWidth">
     <h3 class="s_inner_tit">What We Require</h3>
     <ul class="req_list">
       <li>Graduate of a 4-year college/university course, especially in Education, Communication Arts, a language-related degree or <br> any course accepted for the LET (Licensure Examination for Teachers)</li>
       <li>Good command of the English language with neutral or American accent</li>
       <li>ESL teaching experience (kids/adults) is an advantage</li>
       <li>LET passers or with TESOL/TEFL/CELTA/TKT/CETYL certificate or equivalent can qualify for premium pay</li>
       <li>Available to teach an average of 16 hours per week during these peak hours: <br>7pm-11pm (Mon-Fri)   9am-11pm (Sat-Sun)  </li>
       <li>Desktop computer or laptop</li>
       <li>Wired DSL Internet Connection - at least 2 Mbps</li>
     </ul>
   </div>
 </div>
 <div class="join_now">
   <div class="join_cont comWidth">
     <h3 class="s_inner_tit">51Talk e-Educators’ Testimonials</h3>
     <p class="s_inner_t">Be inspired by our successful teachers’ experiences in online English teaching.
</p>
    <img src="<%= imagessrc%>/join_n.png" alt="" class="join_img">
    <p class="join_t"><a href="javascript:;">JOIN US</a></p>
   </div>
 </div>
</div>
</body>
<% include ../common/bottom.ejs %>