<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>无忧英语课堂</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body id="container" data-init="review">
<div id="page-wrap" class="page-wrap">
	<div class="section page page1">
		<div class="content content-1">
			<img src="<%= imagessrc%>/page1_icon2.png" alt="" class='star'>
			<img src="<%= imagessrc%>/page1_icon3.png" alt="" class='red_eyes a-hide u-animation2' data-animate='u-animation2'>
			<img src="<%= imagessrc%>/page1_icon4.png" alt="" class='yellow_eyes a-hide u-animation3' data-animate='u-animation3'>
			<img src="<%= imagessrc%>/page1_icon1.png" alt="" class='astronaut a-hide u-animation1' data-animate='u-animation1'>
			<img src="<%= imagessrc%>/page1_icon7.png" alt="" class='page1_tit a-hide u-animation4' data-animate='u-animation4'>
			<img src="<%= imagessrc%>/page1_icon6.png" alt="" class='page1_text a-hide u-animation4' data-animate='u-animation4'>
			<a href="javascript:;" class='page1_button'></a>
		</div>
		<img src="<%= imagessrc%>/page1_icon5.png" alt="" class='bg1'>
	</div>
	<div class="section page page2">
		<div class="content content-2">
			<img src="<%= imagessrc%>/page2_icon2.png" alt="" class='page2_tit a-hide' data-animate='u-animation5'>
			<img src="<%= imagessrc%>/page2_icon3.png" alt="" class='page2_text a-hide' data-animate='u-animation5'>
			<img src="<%= imagessrc%>/page2_icon1.png" alt="" class='page2_astronaut'>
			<div class="list1 a-hide"  data-animate='u-animation6'>
				<img src="<%= imagessrc%>/page2_icon6.png" alt="" class='page2_con1'>
				<img src="<%= imagessrc%>/page2_bg.png" alt="" class='page2_bg'>
				<p>闯关解锁课程模式，体验游戏化教学场景寓教于乐，轻松掌握。</p>
			</div>
			<div class="list2 a-hide" data-animate='u-animation6'>
				<img src="<%= imagessrc%>/page2_icon7.png" alt="" class='page2_con1'>
				<img src="<%= imagessrc%>/page2_bg.png" alt="" class='page2_bg'>
				<p>鲜明的课程状态区分，不同时间段提示不一样的学习步骤所有课程状态全部智能化呈现在你眼前。</p>
			</div>
			<div class="list3 a-hide"  data-animate='u-animation6'>
				<img src="<%= imagessrc%>/page2_icon4.png" alt="" class='page2_con1'>
				<img src="<%= imagessrc%>/page2_bg.png" alt="" class='page2_bg'>
				<p>无忧英语青少课堂会带给您更好的学习体验，你会发现每时每刻都在与老师处于生动的互动中。</p>
			</div>
			<div class="list4 a-hide"  data-animate='u-animation6'>
				<img src="<%= imagessrc%>/page2_icon5.png" alt="" class='page2_con1'>
				<img src="<%= imagessrc%>/page2_bg.png" alt="" class='page2_bg'>
				<p>专为青少学员量身打造全新的在线教室，让学员专注于上课，专注于老师，更快的提升学习效果。</p>
			</div>
		</div>
	</div>
	<div class="section page page3">
		<div class="content content-3">
			<img src="<%= imagessrc%>/page3_icon5.png" alt="" class='page3_tit a-hide'  data-animate='u-animation7'>
			<div class="page3_cont clearfix a-hide" data-animate='u-animation8'>
				<div class="page3_list1">
					<img src="<%= imagessrc%>/page3_icon1.png" alt="" class='page3_img'>
					<img src="<%= imagessrc%>/page3_bg1.png" alt="" class='page3_bg1'>
					<img src="<%= imagessrc%>/page3_bg2.png" alt="" class='page3_bg2'>
					<p>提前掌握本节课的单词、句子以及课前视频部分，根据读音标准智能打分。</p>
				</div>
				<div class="page3_list1">
					<img src="<%= imagessrc%>/page3_icon2.png" alt="" class='page3_img'>
					<img src="<%= imagessrc%>/page3_bg1.png" alt="" class='page3_bg1'>
					<img src="<%= imagessrc%>/page3_bg2.png" alt="" class='page3_bg2'>
					<p>一对一面对面授课，课前1小时可以预览教材、听儿歌，让上课更有趣更生动宝贝可以自由绘画、擦除，与老师互动更方便。</p>
				</div>
				<div class="page3_list1">
					<img src="<%= imagessrc%>/page3_icon3.png" alt="" class='page3_img'>
					<img src="<%= imagessrc%>/page3_bg1.png" alt="" class='page3_bg1'>
					<img src="<%= imagessrc%>/page3_bg2.png" alt="" class='page3_bg2'>
					<p>巩固本节课涉及的知识点巩固本节课涉及的知识点，游戏化答题过程，轻松掌握。</p>
				</div>
				<div class="page3_list1 margin_none">
					<img src="<%= imagessrc%>/page3_icon4.png" alt="" class='page3_img'>
					<img src="<%= imagessrc%>/page3_bg1.png" alt="" class='page3_bg1'>
					<img src="<%= imagessrc%>/page3_bg2.png" alt="" class='page3_bg2'>
					<p>预习中掌握不熟的单词预习中掌握不熟的单词可以一键添加生词本，加强巩固练习。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section page page4">
		<div class="content content-4">
			<div class="page4_top a-hide" data-animate='u-animation7'>
				<img src="<%= imagessrc%>/page4_icon1.png" alt="" class="page4_tit">
				<br>
				<img src="<%= imagessrc%>/page4_icon2.png" alt="" class="page4_text">
			</div>
			<div class="video">
				<div class="video_cont">
					<div class="g-mncw g-screenshot-ac">
	          <div class="g-screenshot">
	            <div class="cls-top" data-vedio="<%= imagessrc%>/igs.mp4" data-width="740" data-height="520">
	              <div class="m-s-m"></div>
	              <div class="video_play" data-vediosrc="<%= imagessrc%>/igs.mp4" data-width="740" data-height="520" data-source="<%= imagessrc%>/igs.mp4">
	                <a href="javascript:;" class="video"><i></i></a>
	              </div>
	            </div>
	          </div>
	        </div>
				</div>
				<img src="<%= imagessrc%>/page4_icon4.png" alt="" class="video_text"></img>
			</div>
		</div>
	</div>
	<div class="section page page5">
		<div class="content content-5">
			<img src="<%= imagessrc%>/page5_tit.png" alt="" class='page5_tit a-hide' data-animate="u-animation5">
			<br>
			<img src="<%= imagessrc%>/page5_text.png" alt="" class='page5_text a-hide' data-animate="u-animation5">
			<br>
			<a href="javascript:;" class='page1_button'></a>
		</div>
	</div>
</div>

<script src="<%= jssrc%>"></script>
<script type="text/javascript" src="../../../js/html/lib/diffview/jquery.fullPage.js"></script>
<script type="text/javascript" src="../../../js/html/lib/ckplayer/ckplayer.min.js"></script>
</body>
</html>
