<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>openclass/classdetails.css">
</head>
<body>
<!-- 顶部 -->
<%- include("../common/w_nav.ejs",{
  wrapClass:"adult-nav-list",
  navList:[
    {
      className:"crt",
      text:"青少公开课",
      url:"javascript:;"
    },
    {
      className:"",
      text:"成人公开课",
      url:"javascript:;"
    }
  ],
  isIndex:false, //判断是否为首页
  isNorth:false //判断是否为美小
  }) %>
<div class="openclass-page" data-init="openclass/partydetails" id="container" >
  <div class="main cls-homepage">
    <div class="wrapper fn-clear">
      <div class="m-left">
        <div class="part">
          <div class="u-caption">
            <a href="http://bbs.51talk.com/Forum/index" class="title">&lt; 返回课程列表</a>
            <a href="javascript:;" class="wechat_share_top">分 享</a>
          </div>
        </div>

        <div class="part-content">
          <div class="clist-li">
            <div class="clist-left">
              <img src="<%= imagessrc%>openclass/kclb.jpg" height="300" width="400" alt="">
              <span class="recommend2"></span>
            </div>
            <div class="clist-right">
              <div class="clist-r-top">
                <h4 class="oc_tit"><span class="jian">荐</span><a href="#">读原版《父母效能训练》，做最可爱的父母|大家都说是父母错，可又有谁来帮过（中）</a></h4>
                <ul class="class-list">
                  <li>上课时间：<span>2016-10-25<strong>周三</strong>18:00-18:50</span></li>
                  <li>主讲老师：俞肖潇</li>
                  <li>适应级别：Level 6 以上 </li>
                </ul>
                <p class="meta"><span class="meta-type">青少</span><span class="meta-type">语 法</span><span class="meta-type">青少</span><span class="meta-type">青少</span></p>
              </div>
              <div class="status">
                <p class="status-left">
                  <span class="status-cost">￥<strong>88</strong></span><span class="cost-price">原价:<em>￥168</em></span><span class="cost-up">付费用户福利</span>
                </p>
                <p class="status-right">
                  <span class="f-tar"><em class="o-color">798人</em>已预约</span>
                  <span class="f-tar" style="display:none;">，</span>
                  <a data-pay class="u-cancel" href="javascript:;" data-id="31997495" style="display:none;">取消课程</a>
                  <a data-pay="0" class="u-btn sm jsSignUp" data-id="31997495" href="javascript:;" target="_blank">马上预约</a>
                </p>
              </div>
            </div>
          </div>
          <div class="teacher-list">
            <h3 class="cm-tit">教师介绍</h3>
            <dl class="teacher-details">
              <dt>
                <img src="<%= imagessrc%>openclass/teacher_img.jpg" alt="">
                <i class="cover cover-90"></i>
              </dt>
              <dd>
                <h3 class="tea-tit">俞肖潇</h3>
                <p class="tea-text">俞肖潇老师是英国爱丁堡大学硕士。生长于香港，自幼接受全英语教育。原北京新东方英语学习部口语教师。有十多年教授托福、雅思、商务英语、学术英语、海外日常口语、面试面签口语等课程经验。</p>
              </dd>
            </dl>
          </div>
          <div class="teacher-list">
            <h3 class="cm-tit">课程简介</h3>
            <ul class="p-class-list">
              <li>我就只跟你说问候这事儿。</li>
              <li>如果你还摆脱不了 “How are you?” “I’m fine. Thank you. And you?” “I’m fine too, thanks.” 这个三角关系......</li>
              <li>如果你以为现在还是维多利亚时代，所有人见面都会欠身说一句充满英伦范儿的 “How do you do?”......</li>
              <li>如果人家老美问你 “Hey man! What’s up?”你无比激动地想回一句“哟哟，切克闹”......</li>
              <li>你极度需要老少咸宜、居家旅行必备的“Touchstone剑桥口语 ”！</li>
              <li>See what see? I say you! You give me stop!</li>
              <li>还没有说你们满嘴的Chinglish呢！赶紧来！</li>
              <li>Touchstone（剑桥标准英语教程）分为Level1，Level2，Level3还有Level4，帮助英语学习者日逐步驾驭常口语到商务口语。</li>
              <li>这本教材以对剑桥国际语料库北美语料库(Cambridge International Corpus of North American English)的研究为基础，为学员分析最新、最常用的美语。</li>
            </ul>
          </div>
        </div>
        <!-- /js二级回复框 -->
        <div class="itemSub" id="replay2" style="display:none;">
          <div class="avatar">
              <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
              <i class="cover"></i>
          </div>
          <div class="comment-r" style="margin-left:70px;margin-top:16px;position: relative;z-index:1;">
            <h3 class="c-c-tit"><span>我的留言</span></h3>
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="top_id" value="19555">
            <input type="hidden" name="parent_id" value="0">
            <input type="hidden" name="content">
            
            <script id="editor2" type="text/plain" style="width:100%;height:143px;"></script>
            <div class="u-submit">
                <a class="button submit jsReply" href="javascript:;" data-id="84047" data-name="Mixell">取消</a>
                <a class="button ueSubmit2" id="ueSubmit2" href="javascript:;" data-type="1">发表</a>
            </div>
          </div>  
        </div>
        <!-- /js二级回复框end-->
        <!-- 回帖区 -->
        <div class="m-comment">
            <h3 class="cm-tit">课程留言（3）</h3>
            <form action="/ajax/reply" method="post" id="replyForm">
              <div class="cmtItem bg-gray" style="border-bottom: none;">
                  <div class="itemMain">
                      <div class="avatar">
                        <img src="http://static.51talk.com/static/image/menber/up/avatar.png?v=1481278377797" height="60" width="60" alt="默认头像">
                        <i class="cover"></i>
                      </div>
                      <div class="container paddingTop" style="height: 213px;position: relative;z-index:1;">
                          <h3 class="c-c-tit"><span>我的评论</span></h3>
                          <script  type="text/javascript" src='http://bbs.51talk.com/js/ueditor/ueditor.config.js'></script>
                          <script  type="text/javascript" src='http://bbs.51talk.com/js/ueditor/ueditor.all.min.js'></script>
                          <script id="editor" type="text/plain" style="width:100%;height:143px;"></script>

                          <input type="hidden" name="type" value="1">
                          <input type="hidden" name="top_id" value="19032">
                          <input type="hidden" name="parent_id" value="0">
                          <input type="hidden" name="content">
                          <div class="u-submit">
                              <a class="button submit jsReply2" href="javascript:;" data-id="84047" data-name="Mixell">取消</a> 
                              <a class="button submit" id="ueSubmit" href="javascript:;" data-type="1">发表</a>

                              <div class="fn-left" style="display:none;">
                                  验证码：
                                  <input type="text" name="verify_code" class="input" id="verifyCode">
                                  <img title="点击刷新" class="jsCode" src="/index/Code/4nvt1snkme9u464iqrvieamrl1" align="absbottom" onclick="this.src = '/index/Code/4nvt1snkme9u464iqrvieamrl1/v//' + Math.random();">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </form>
            <div class="cmtItem">
              <div class="item-list">
                <div class="itemMain">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/0331/20160331071751211_avatar.jpg?v=1481278377797' height="60" width="60" alt="头像"/>
                        <i class="cover cover-f"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07</h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                      <div class="c-c-reply"><a href="javascript:;" class="thumbs-up star-icon" data-fornum_id=""><span class="icon-meta icon-praise"></span><b>4680</b> </a><span class="reply-text">回复</span><span class="jsDelete" data-id="127035">删除</span></div>
                    </div>
                </div>
                <div class="itemSub">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07<span class="jsDelete" data-id="127035">删除</span></h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                    </div>
                </div>
                <div class="itemSub last">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07</h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!-- left end -->
      
    </div>
  </div>
</div>
    <!-- 现金支付弹窗 -->
<div class="cs_masknew" style="display: none;"></div>
<div class="cs_mask" style="display: none;">
    <h3>请填写退款信息</h3>
    <div class="cs_main">
        <form>
          <ul>
            <li>
              <div class="cs_list cs_left">请输入收款人姓名：</div>
              <div class="cs_list cs_center">
                <input type="text" name="username" />
              </div>
              <div class="cs_list cs_right">
                <span class="cs_tip">需与银行开户姓名保持一致</span>
                <span class="cs_username">需与银行开户姓名保持一致</span>
              </div>
            </li>
            <li>
              <div class="cs_list cs_left">收款账户开户行：</div>
              <div class="cs_list cs_center">
                <input type="text" name="bank" />
              </div>
              <div class="cs_list cs_right">
                <span class="cs_bank">请输入收款账户开户行</span>
              </div>
            </li>
            <li>
              <div class="cs_list cs_left">收款账户支行：</div>
              <div class="cs_list cs_center">
                <input type="text" name="bankname" />
              </div>
              <div class="cs_list cs_right">
                <span class="cs_bankname">请输入收款账户支行</span>
              </div>
            </li>
            <li>
              <div class="cs_list cs_left">请输入收款账号：</div>
              <div class="cs_list cs_center">
                <input type="text" name="accountid" />
              </div>
              <div class="cs_list cs_right">
                <span class="cs_id">请输入收款账号</span>
              </div>
            </li>
            <a href="javascript:;" class="cs_submit" ajax-url="/Ajax/getUserBankInfo">确定</a> 
          </ul>
        </form>
    </div>
    <p class="cs_tip">
      请您确保输入信息准确无误，我们将按照您填写的退款信息进行打款。<br />
我们会在3个工作日内处理您的退款申请并退款。退款到账时间以银行为准。<br />
请放心，您的信息不会被泄露到第三方。
    </p>
    <a class="cs_close" href="javsctipt:;"></a>
</div>
<!-- 微信分享弹窗 2017.3.4 zhangtian -->
<div class="wechat_share" style="display: none;">
  <div class="wechat_mask"></div>
  <div class="wechat_cont">
    <a href="javascript:;" class="wechat_close"></a>
    <h3 class="wechat_tit">分享到微信</h3>
    <div class="wechat_img">
      <img src="<%= imagessrc%>openclass/wechat_share.jpg" alt="">
    </div>
    <p class="wechat_text">打开微信，点击底部的“发现” <br>使用“扫一扫”即可将网页分享至朋友圈</p>
  </div>
</div>
<% include ../common/w_footer_home.ejs %>   
</body> 
</html>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
