<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>openclass/partydetails.css">
</head>
<body>
<!-- 顶部 -->
<%- include("../common/w_nav.ejs",{
  wrapClass:"wrap-nav-index",
  isIndex:true, //判断是否为首页
  isNorth:false //判断是否为美小
  }) %>
<div class="openclass-page" data-init="openclass/partydetails" id="container" >
  <div class="main cls-homepage">
    <div class="wrapper fn-clear">
      <div class="m-left">
        <div class="part">
          <div class="u-caption">
            <a href="http://bbs.51talk.com/Forum/index" class="title">&lt; 返回学习社区</a>
            <!-- <a href="http://bbs.51talk.com/Forum/publish" class="attach u-btn blue">发帖</a> -->
          </div>
        </div>
        <div class="part-content">
          <div class="tit-box">
            <div class="u-tit">
              <span class="s-fc3">51Talk战略投资美国小学，建立全球首家美国教学研究基地</span>
               <i class="top">顶</i><i class="recommend">荐</i><i class="hot">热</i><i class="course">课</i><i class="pic">图</i>
            </div>
            <!-- u-tit end -->
            <div class="u-msg">
              <div class="u-msg-left">
                <div class="avatar">
                  <img src="http://static.51talk.com/static/image/menber/up/avatar.png?v=1481278377797" height="30" width="30" alt="默认头像">
                  <i class="cover3"></i>
                </div>
                <i class="s-fc4">Admin - nico</i>&nbsp;&nbsp;2016-01-04 15:04 发表于&nbsp;&nbsp;[&nbsp;<a href='http://bbs.51talk.com/Forum/index/9' class="group-tit">资料共享</a>&nbsp;]
              </div>
              <span class="meta">
                <i class="icon-meta icon-view"></i>&nbsp;1200&nbsp;&nbsp;<i class="icon-meta icon-comment"></i>&nbsp;899&nbsp;&nbsp;
              </span>
            </div>
            <!-- u-msg end -->
          </div>
          <div class="cont-inner">
            <p class="cont-inner-t">11月11日，一场聚集了数千位国内外企业学者专家的顶级教育行业盛会“芥末堆GET 2016全球教育科技大会”在北京召开，51Talk作为在线教育行业领导企业，成为大会的钻石合作伙伴，并联合芥末堆举办了智·领·K12新主张 《中国少儿英语在线教育行业报告》发布暨51Talk K12美国教育研究基地发布会 。</p>
            <div class="cont-img"><img src="<%= imagessrc%>openclass/cont_img1.jpg" alt=""></div>
            <p class="cont-inner-t">    当众多同行挣扎在生死边缘，当业界普遍认为在线教育行业已进入资本寒冬51Talk却在今年6月逆势成为全球首家赴美上市的在线教育公司，并实现运营现金流转正。新东方联合创始人、天使投资人徐小平认为：“51Talk的上市标志着<strong>中国在线教育真正进入元年</strong>”。</p>
            <div class="cont-img"><img src="<%= imagessrc%>openclass/cont_img2.jpg" alt=""></div>
            <p class="cont-inner-t"><strong>战略投资AISU 建立K12美国教育研究基地</strong></p>
            <p class="cont-inner-t">在“智·领·K12新主张”分论坛现场，51Talk宣布战略投资位于美国盐湖城的美国国际学校(American International School of Utah，AISU)，成为中国首家在美国拥有实体教育基地的在线英语教育品牌！
            </p>
            <p class="cont-inner-t">这是51Talk上市后首次战略投资，作为51Talk在美国的K12教育研究基地，AISU将与51Talk明星产品线“51Talk美国小学”开展包括师资培训、课程及教材开发、学生交流和增值服务等全方位的深度战略合作，51Talk因此成为中国第一家真正在美国拥有实体教育研究基地的K12在线英语教育公司。</p>
            <p class="cont-inner-t">51Talk美国小学旨在打造适合中国孩子的美式教育，将优质的美式教育资源输送到中国孩子身边。AISU是被AdvancEd认证的从幼儿园到高中一体化的纯正美国本土教育机构。双方的合作让51Talk美国小学具有纯正的美式教育基因。</p>
            <div class="cont-img"><img src="<%= imagessrc%>openclass/cont_img3.jpg" alt=""></div>
            <p class="cont-inner-t"><strong>战略投资AISU 建立K12美国教育研究基地</strong></p>
            <p class="cont-inner-t">在“智·领·K12新主张”分论坛现场，51Talk宣布战略投资位于美国盐湖城的美国国际学校(American International School of Utah，AISU)，成为中国首家在美国拥有实体教育基地的在线英语教育品牌！
            </p>
            <p class="cont-inner-t">这是51Talk上市后首次战略投资，作为51Talk在美国的K12教育研究基地，AISU将与51Talk明星产品线“51Talk美国小学”开展包括师资培训、课程及教材开发、学生交流和增值服务等全方位的深度战略合作，51Talk因此成为中国第一家真正在美国拥有实体教育研究基地的K12在线英语教育公司。</p>
            <p class="cont-inner-t last">51Talk美国小学旨在打造适合中国孩子的美式教育，将优质的美式教育资源输送到中国孩子身边。AISU是被AdvancEd认证的从幼儿园到高中一体化的纯正美国本土教育机构。双方的合作让51Talk美国小学具有纯正的美式教育基因。</p>
          </div>
          <div class="u-msg m-b34">
            <div class="u-msg-left"><i class="s-fc4">Admin - nico</i>&nbsp;&nbsp;2016-01-04 15:04 重新编辑</div>
            <div class="u-msg-right">
              <a class="title" href="/Forum/publish?edit=19723">编辑</a>
              <a class="title jsOperate" href="javascript:;" type="del">删除</a>
            </div>
          </div>
        </div>
        <div class="add-share">
          <div class="share-icon"><span class="sha-lt sha-pra" data-fornum_id="7364" data-share_num="7" data-num="0"><i class="icon-meta icon-get"></i>赞（<b>2879</b>）</span></div>
          <div class="share-icon share-rlt sha-fx">
            <a href="javascript:;">
              <span class="sha-lt"><i class="icon-meta icon-share"></i><b>分享</b></span>
            </a>
            <strong class="bdsharebuttonbox new-bdshare bdshare-button-style0-16" data-bd-bind="1481521384659">
              <a href="#" class="bds_weixin share_num" data-fornum_id="7364" data-share_num="5" data-cmd="weixin" title="分享到微信"></a>
              <a href="#" class="bds_tsina share_num" data-fornum_id="7364" data-share_num="5" data-cmd="tsina" title="分享到新浪微博"></a>
              <a href="#" class="bds_qzone share_num" data-fornum_id="7364" data-share_num="5" data-cmd="qzone" title="分享到QQ空间"></a>
              <a href="#" class="bds_sqq share_num" data-fornum_id="7364" data-share_num="5" data-cmd="sqq" title="分享到QQ好友"></a>
              <a href="#" class="bds_tieba share_num" data-fornum_id="7364" data-share_num="5" data-cmd="tieba" title="分享到百度贴吧"></a>
              <a href="#" class="bds_douban share_num" data-fornum_id="7364" data-share_num="5" data-cmd="douban" title="分享到豆瓣网"></a>
              <span class="share-s"></span>
            </strong>
          </div>
          
        </div>
        <!-- /js二级回复框 -->
        <div class="itemSub" id="replay2" style="display:none;">
          <div class="avatar">
              <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
              <i class="cover"></i>
          </div>
          <div class="comment-r" style="margin-left:70px;margin-top:16px;position: relative;z-index:1;">
            <h3 class="c-c-tit"><span>我的留言</span></h3>
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="top_id" value="19555">
            <input type="hidden" name="parent_id" value="0">
            <input type="hidden" name="content">
            
            <form action="/ajax/reply" method="post" id="replyForm2">
              <script id="editor2" type="text/plain" style="width:100%;height:143px;"></script>
            </form>
            <div class="u-submit">
                <a class="button submit jsReply3" href="javascript:;" data-id="84047" data-name="Mixell">取消</a>
                <a class="button ueSubmit2" id="ueSubmit2" href="javascript:;" data-type="1">发表</a>
            </div>
          </div>  
        </div>
        <!-- /js二级回复框end-->
        <!-- 回帖区 -->
        <div class="m-comment">
            <h3 class="cm-tit">评 论（3）</h3>
            <div class="cmtItem">
              <div class="item-list">
                <div class="itemMain">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/0331/20160331071751211_avatar.jpg?v=1481278377797' height="60" width="60" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <dl class="container">
                        <dt class="cont-left">
                          <div>
                            <form action="/ajax/reply" method="post" id="replyForm3">
                              <input name="parent_id" id="ueSubmit3" placeholder="请输入您要发表的评论..."></input>
                            </form>
                          </div>
                        </dt>
                        <dd class="cont-right">
                          <a href="javascript:;" class="r-publish">发表</a>
                        </dd>
                    </dl>
                </div>
              </div>
              <div class="item-list">
                <div class="itemMain">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/0331/20160331071751211_avatar.jpg?v=1481278377797' height="60" width="60" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07</h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                      <div class="c-c-reply"><a href="javascript:;" class="thumbs-up star-icon" data-fornum_id=""><span class="icon-meta icon-praise"></span><b>4680</b> </a><span class="reply-text">回复</span><span class="jsDelete" data-id="127035">删除</span></div>
                    </div>
                </div>
                <div class="itemSub last">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07<span class="jsDelete" data-id="127035">删除</span></h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                    </div>
                </div>
              </div>
              <div class="item-list">
                <div class="itemMain">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/0331/20160331071751211_avatar.jpg?v=1481278377797' height="60" width="60" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07</h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                      <div class="c-c-reply"><a href="javascript:;" class="thumbs-up star-icon" data-fornum_id=""><span class="icon-meta icon-praise"></span><b>4680</b> </a><span class="reply-text">回复</span><span class="jsDelete" data-id="127035">删除</span></div>
                    </div>
                </div>
                <div class="itemSub last">
                    <div class="avatar">
                        <img src='http://static.51talk.com/upload/avatar/2016/1206/20161206201413635_avatar.jpg?v=1481278377797' height="50" width="50" alt="头像"/>
                        <i class="cover"></i>
                    </div>
                    <div class="comment-cont">
                      <h3 class="c-c-tit"><span>Jackie</span> 2016-06-13 14:02:07<span class="jsDelete" data-id="127035">删除</span></h3>
                      <p class="c-c-text">For a survey course, this module does a fantastic job of presenting the various struggles and discourses in the Muslim world, as well as contextualizing its inherent problems both historically and within present-day. It does so objectively, without sacrificing important reflection in the name of political correctness.</p>
                    </div>
                </div>
              </div>
            </div>
            <div class="u-link">
              <div class="inner">
                <a class="a1" href="#">上一页</a>
                <a class="cur" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">…</a>
                <a href="#">10</a>
                <a class="a2" href="#">下一页</a>
              </div>
            </div>
            <form action="/ajax/reply" method="post" id="replyForm">
              <div class="cmtItem bg-gray" style="border-bottom: none;">
                  <div class="itemMain">
                      <div class="avatar">
                        <img src="http://static.51talk.com/static/image/menber/up/avatar.png?v=1481278377797" height="60" width="60" alt="默认头像">
                        <i class="cover cover2"></i>
                      </div>
                      <div class="container paddingTop" style="height: 213px;position: relative;z-index:1;">
                          <h3 class="c-c-tit"><span>我的评论</span></h3>
                          <script  type="text/javascript" src='http://bbs.51talk.com/js/ueditor/ueditor.config.js'></script>
                          <script  type="text/javascript" src='http://bbs.51talk.com/js/ueditor/ueditor.all.min.js'></script>
                          <script id="editor" type="text/plain" style="width:100%;height:143px;"></script>

                          <input type="hidden" name="type" value="1">
                          <input type="hidden" name="top_id" value="19032">
                          <input type="hidden" name="parent_id" value="0">
                          <input type="hidden" name="content">
                          <div class="u-submit">
                              <a class="button submit jsReply2" href="javascript:;" data-id="84047" data-name="Mixell">取消</a> 
                              <a class="button submit" id="ueSubmit" href="javascript:;" data-type="1">发表</a>

                              <div class="fn-left" style="display:none;">
                                  验证码：
                                  <input type="text" name="verify_code" class="input" id="verifyCode">
                                  <img title="点击刷新" class="jsCode" src="/index/Code/4nvt1snkme9u464iqrvieamrl1" align="absbottom" onclick="this.src = '/index/Code/4nvt1snkme9u464iqrvieamrl1/v//' + Math.random();">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
        </div>
      </div>
      <!-- left end -->
      <div class="sidebar">
        <div class="us-box">
          <div class="u-caption">
            <h4 class="title">热门讨论</h4>
          </div>
          <div class="us-pic">
            <a href="#"><img src="<%= imagessrc%>openclass/banner_side_1.png" height="186" width="270" alt=""></a>
          </div>
          <div class="us-txt">
            <ul class="us-list">
              <li><span></span><a href="#">海外生存必备口语</a></li>
              <li><span></span><a href="#">口语烂透了怎么办？</a></li>
              <li><span></span><a href="#">线下一对一效果如何？</a></li>
              <li><span></span><a href="#">出国留学前应做的语言功课 Niall Ferguson</a></li>
              <li><span></span><a href="#">海外生存必备口语</a></li>
              <li><span></span><a href="#">口语烂透了怎么办？</a></li>
              <li><span></span><a href="#">线下一对一效果如何？</a></li>
              <li><span></span><a href="#">出国留学前应做的语言功课 Niall Ferguson</a></li>
              <li><span></span><a href="#">【获奖公布】为你的英语祈福2015，抢定制马克杯！</a></li>
            </ul>
          </div>
        </div>
        
        <!-- us-box end -->
      </div>
      <!-- sidebar end -->
    </div>
  </div>
</div>
<% include ../common/w_footer_home.ejs %>   
</body> 
</html>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
