<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>加入51TALK, 与名人对话，免费学英语！</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body>
    <div class="cartoonNet" data-init="cartoonNet">
        <div class="cn_header">
           <!-- <img src="<%=imagessrc%>icon.png" alt=""  class="cn_logo" /> -->
           <i></i>
           <span><em></em>4000-51-51-51</span>
        </div>
        <!-- <div class="cn_banner"></div> -->
        <div class="cn_title">
            51动漫频道
        </div>
          <!-- 立即注册 -->
          <div class="reg">
            <div class="centerMth">
              <form action="" name="form" id="formBottom">
                <ul class="reg-ul">
                  <li><span style="font-size:16px;" id="abcd">立即注册</span></li>
                  <li class="reg-on"><input class="f_l jsCheck f_email" type="text" name="email" placeholder="请填写邮箱"></li>
                  <li><input class="f_l f_r jsCheck f_password" type="password" name="password" placeholder="请填写密码" ></li>
                  <li><input class="f_l f_r jsCheck f_mobile" type="text" name="mobile" placeholder="请填写手机号码" ></li>
                  <li><input class="f_l f_r jsCheck f_mobile" type="text" name="mobile" placeholder="推荐人手机号/推荐码"></li>
                  <li><label class="jscheckbox" ><input  type="checkbox" id="jscheckbox" checked ><a href="javascript:;">已同意用户协议</a></label></li>
                  <li class="reg-li"><a  href="javascript:;"class="reg-btn jsSubmit" style="width:105px;">立即注册</a></li>
                </ul>
              </form>
            </div>
          </div>
        <div class="cn_white"></div>
        <div class="cn_nav">
          <div class="cn_navIn">
             <a href="javasctipt:;" class="cn_active">英语故事</a>
             <a href="javasctipt:;">英语动漫</a>
             <a href="javasctipt:;">四格漫画</a>
             <a href="javasctipt:;"  class="border0">动漫图片</a>
             
          </div>
        </div>
        <div class="cn_main">
        <!-- page one -->
        <div class="g-list cn_page cn_page1" style="display: ">
            <div class="list-width">
              <ul class="clearfix">
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_1.jpg" alt="">
                  <p class="l-text1">The Boy Who Cried Wolf</p> 
                  <p class="l-text1 l-text2">狼来了的故事</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_2.jpg" alt="">
                  <p class="l-text1">The Simple Farmer and His Donkey</p>
                  <p class="l-text1 l-text2">农户和他的驴子</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_3.jpg" alt="">
                  <p class="l-text1">The Golden Eggs</p></a>
                  <p class="l-text1 l-text2">狼来了的故事</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_4.jpg" alt="">
                  <p class="l-text1">The Fox and the Rooster</p>
                  <p class="l-text1 l-text2">农户和他的驴子</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_5.jpg" alt="">
                  <p class="l-text1">The Bundle of Sticks</p>
                  <p class="l-text1 l-text2">狼来了的故事</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_6.jpg" alt="">
                  <p class="l-text1">The Donkey in the well</p>
                  <p class="l-text1 l-text2">农户和他的驴子</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_7.jpg" alt="">
                  <p class="l-text1">The Tortoise and the Hare</p>
                  <p class="l-text1 l-text2">狼来了的故事</p> </a>
                </li>
                <li>
                  <a href="javascript:;"><img src="<%= imagessrc%>/l_8.jpg" alt="">
                  <p class="l-text1">The Value of Stories</p>
                  <p class="l-text1 l-text2">农户和他的驴子</p> </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="cn_page cn_page2" style="display: none">
            <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">英语动漫1 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
            <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
             <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
          </div>
          <!-- page 3-->
          <div class="cn_page cn_page3" style="display:none">
            <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">四格漫画1 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
              <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
             <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
          </div>
          <!-- page 4 -->
          <div class="cn_page cn_page4" style="display:none ">
            <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片1 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
             <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
             <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
             <div class="cn_picList">
                <div class="cn_picLists cn_picList_left">
                    <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片1 </a></div>
                </div>
                <div class="cn_picLists cn_picList_center">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片2 </a></div>
                </div>
                <div class="cn_picLists cn_picList_right">
                   <div class="cn_picList_img">
                        <a href="javascript:;"><img src="<%=imagessrc%>cn_pic.jpg" alt="" height="265" width="300" /></a>
                    </div>
                    <div class="cn_picList_txt"><a href="javascript:;">动漫图片3</a> </div>
                </div>
            </div>
          </div>
         
          
        </div>
        <div class="cn_footer">
          <p>Copyright©北京大生知行科技有限公司    京ICP备11031999号</p>
        </div>
          
       

    </div>
<script src="<%= jssrc%>"></script>
</body>
</html>