<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>2015 学习回顾</title>
    <link rel="stylesheet" href="<%= csslink%>">
</head>
<body id="scroll">
	<div id="bg1" data-0="background-position:0px 0px;" data-end="background-position:0 -38px;"></div>
	<div id="bg2" data-0="background-position:0px 0px;" data-end="background-position:0 -382px;"></div>
	<div id="container" data-init="review">
		<div id="h-title" class="" data-0="top:0%;display:block;" data-120="top:-100%;display:none;">
			<div class="h-container">
				<img class="avtor" src="<%= imagessrc%>/avtor.jpg" width="100" height="100">
				<a class="h-bg" href="javascript:;"></a>
				<a class="h-tit" href="javascript:;"></a>
				<div class="info">
					<div class="i-null hide">
						<p>啊哦！小5没有找到</p>
						<p>你在2015年的1对1上课记录</p>
						<p>2016年多多上课吧！</p>
					</div>
					<div class="i-data">
						<p><span>2013</span>年<span>06</span>月<span>12</span>日</p>
						<p>因为一个梦想，我们和51Talk相识了</p>
						<p>这是我们认识的第<span>695</span>天</p>
					</div>
					<div class="h-btn">
						<a href="javascript:;">去约课</a>
					</div>
				</div>
				<div class="h-name">yangfengxxxxxxxxxxxxxxx</div>
			</div>
		</div>
		<div id="c-sum" data-0="top:100%;" data-120="top:0%;display:block;" data-220="top:-100%;display:none;">
			<div class="c-container">
				<img class="c_t1" src="<%= imagessrc%>/c_t1.png">
				<div class="c_info">
					<p>我完成了<span>36</span>节1对1外教课</p>
					<p>I have spoken English <span>234</span> mins.</p>
				</div>
				<div class="c_process">
					<ul>
						<li class="c_grey_1"></li>
						<li class="c_grey_1"></li>
						<li class="c_grey_1"></li>
						<li class="c_grey_1"></li>
						<li class="c_b_1">
							<div class="tips tips_r">
								<p>总时长超越了<span>58%</span>的小伙伴</p>
								<!-- <p>说过的英语可以写成一部《xxx》</p> -->
							</div>
							<span class="star"></span>
						</li>
						<li class="c_grey_1"></li>
						<li class="c_grey_2"></li>
						<li class="c_grey_2"></li>
						<li class="c_grey_2"></li>
						<li class="c_grey_2"></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="c-step" data-120="top:100%;" data-220="top:0%;display:block;" data-320="top:-100%;display:none;">
			<div class="s-container">
				<img class="s_t1" src="<%= imagessrc%>/c_t1.png">
				<div class="s_info">
					<p>我共升级<span>4</span>times</p>
					<p>From level3 to level7</p>
				</div>
				<div class="s_process">
					<ul class="s_bg">
						<li class="wugui-h">"</li>
						<li class="motuo-h">
							<div class="tips">
								<p>升级速度超越了<span>56%</span>的小伙伴</p>
								<p>明明可以靠脸吃饭，我却要学英语。</p>
							</div>
						</li>
						<li class="qiche"></li>
						<li class="feiji"></li>
						<li class="ufo-h"></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="c-time" data-220="top:100%;" data-320="top:0%; display:block;" data-420="top:-100%;display:none;">
			<div class="c-container">
				<img class="c_t1" src="<%= imagessrc%>/c_t1.png">
				<div class="c_info">
					<p>我最长上课的时间</p>
					<img src="<%= imagessrc%>/morning.png">
					<!-- <img src="<%= imagessrc%>/afternoon.png"> -->
					<!-- <img src="<%= imagessrc%>/evening.png"> -->
					<p class="small">孔子曰，晚上的3小时，将决定你成为怎样的人。</p>
					<p class="small">It's said by Confucius！嘘</p>
				</div>
			</div>
		</div>
		<div id="phone" data-320="top:100%;" data-420="top:0%; display:block;" data-520="top:-100%;display:none;">
			<div class="p-container">
				<img class="c_t1" src="<%= imagessrc%>/c_t1.png">
				<div class="p-info">
					<span class="app">Use 51Tlak APP</span>
					<span class="red_p">领取红包</span>
					<span class="num">15</span>
					<span class="time">times</span>
				</div>
			</div>
		</div>
		<div id="teacher" data-420="top:100%;" data-520="top:0%; display:block;" data-620="top:-100%;display:none;">
			<div class="t-container">
				<img class="t_t1" src="<%= imagessrc%>/c_t1.png">
				<div class="t_info">
					<p>对话过<span>7</span>位老师</p>
					<p>----------------<span> </span> Favorite <span> </span>---------------</p>
					<ul class="list">
						<li>
							<img class="avtor" src="<%= imagessrc%>/tavtor.jpg">
							<p class="name">Saicy</p>
							<a class="star sa1"></a>
							<p class="time">教课经验：6年</p>
						</li>
						<li>
							<img class="avtor" src="<%= imagessrc%>/tavtor.jpg">
							<p class="name">Saicy</p>
							<a class="star sa2s"></a>
							<p class="time">教课经验：6年</p>
						</li>
						<li>
							<img class="avtor" src="<%= imagessrc%>/tavtor.jpg">
							<p class="name">Saicy</p>
							<a class="star sa3"></a>
							<p class="time">教课经验：6年</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="summary" data-520="top:130%;" data-620="top:0%; display:block;">
			<div class="s-container">
				<a class="metal metal1" href="javascript:;"></a>
				<div class="s-info">
					<p>2015的英语修行</p>
					<p>我是一个不折不扣的 "口语大师"</p>
					<span class="t2016"></span>
					<p>Our dreams are on the way.</p>
					<p>Miracles keep happening.</p>
				</div>
					<div class="share share_b bdsharebuttonbox">分享到：<a class="sina" data-cmd="tsina" title="分享到新浪微博"></a><a class="qzone" data-cmd="qzone" title="分享到QQ空间"></a></div>
					<div class="qrcode">
						<img src="<%= imagessrc%>/expcode.png">
					</div>
			</div>
		</div>
	</div>
	<ul class="section-btn">
	  <li class="on" ></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	  <li></li>
	</ul>
	<a class="arrow"></a>
	<script type="text/javascript" src="/js/html/lib/diffview/skrollr.min.js"></script>
	<script src="<%= jssrc%>"></script>
	<script type="text/javascript">
		var shareContent = "@51talk 无忧英语-51Talk外教和服务挺不错，我向我的好友推荐了51Talk！你也来试试吧！";
		var shareLink = "http://www.51talk.com?66";
		window._bd_share_config={"common":{"bdSnsKey":{},"bdText":shareContent,"bdMini":"2","bdMiniList":false,"bdPic":"http://static.51talk.com/images/web_new/home/banner/student1.jpg;http://static.51talk.com/images/web_new/home/banner/index.jpg;http://static.51talk.com/images/web_new/home/show/4.png;http://static.51talk.com/images/web_new/home/show/11_07.png","bdUrl": shareLink,"bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
	</script>
</body>
</html>
