<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />-->
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>全部套餐</title>
    <script src="<%= jsPath%>flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">


<section class="box-wrap">
   <div class="m-tit">
       <img class="cardType" src="<%= imagessrc%>timesCard.png" />次卡套餐 <img src="<%= imagessrc%>question.png" class="question" question="describe1" />
   </div>
   <a class="m-box" href="">
       <div class="class-type"><span>¥7388</span>180次次卡+48课时优选公开课</div>
       <div class="class-time"><span>¥8488</span>有效期360天</div>
   </a>
   <a class="m-box" href="">
       <div class="class-type"><span>¥10588</span>240次次卡＋72课时优选公开课</div>
       <div class="class-time"><span>¥12588</span>有效期360天</div>
   </a>
</section>

<section class="box-wrap">
   <div class="m-tit">
       <img class="cardType" src="<%= imagessrc%>monthCard.png" />包月套餐 <img question="describe2" src="<%= imagessrc%>question.png" class="question" />
   </div>
   <a class="m-box" href="">
       <div class="class-type"><span>¥7666</span>6个月包月</div>
       <div class="class-time"><span></span>有效期180天</div>
   </a>
   <a class="m-box" href="">
       <div class="class-type"><span>¥12266</span>12个月包月</div>
       <div class="class-time"><span></span>有效期360天</div>
   </a>
   <a class="m-box" href="">
       <div class="class-type"><span>¥21366</span>24个月包月</div>
       <div class="class-time"><span></span>有效期360天</div>
   </a>
</section>
<section class="box-wrap">
   <div class="m-tit">
       <img class="cardType" src="<%= imagessrc%>chinaTeacher.png" />中教零基础套餐 <img question="describe3" src="<%= imagessrc%>question.png" class="question" />
   </div>
   <a class="m-box dotted" href="">
       <div class="class-type"><span>¥6499</span>零基础入门套餐</div>
       <div class="class-time"><span></span>有效期180天</div>
   </a>
   <div class="details-list solid">
       <ul>
           <li><span>24节</span>中教发音课（打基础）</li>
           <li><span>48节</span>中教零基础课（做准备）</li>
           <li><img src="<%= imagessrc%>song.png" />16级经典英语 + 14门精选教材</li>
           <li><img src="<%= imagessrc%>song.png" />EFL预习复习学习系统</li>
       </ul>
   </div>
   <a class="m-box dotted" href="">
       <div class="class-type"><span>¥10799</span>零基础进阶套餐</div>
       <div class="class-time"><span></span>有效期360天</div>
   </a>
    <div class="details-list">
       <ul>
           <li><span>24节</span>中教发音课（打基础）</li>
           <li><span>48节</span>中教零基础课（做准备）</li>
            <li><span>96节</span>外教课程</li>
           <li><img src="<%= imagessrc%>song.png" />16级经典英语 + 14门精选教材</li>
           <li><img src="<%= imagessrc%>song.png" />EFL预习复习学习系统</li>
       </ul>
   </div>
</section>


<section class="box-wrap">
   <div class="m-tit">
       <img class="cardType" src="<%= imagessrc%>monthCard.png" /> <img question="describe4" src="<%= imagessrc%>question.png" class="question" />
       <div class="o-tit"><p class="t1">专项课学习套餐</p><p class="t2">专项授课，重点突破！</p></div>
   </div>
   <a class="m-box dotted" href="">
       <div class="class-type"><span>¥1499</span>语音专项课30节</div>
       <div class="class-time"><span></span>有效期：45天</div>
   </a>
    <div class="details-list">
       <ul>
           <li><img src="<%= imagessrc%>song.png" />课后练习礼包</li>
       </ul>
   </div>
</section>

<section class="box-wrap">
   <div class="m-tit">
       <img class="cardType" src="<%= imagessrc%>monthCard.png" />青少经典英语学习套餐 <img src="<%= imagessrc%>question.png" class="question" question="describe5" />
   </div>
   <a class="m-box dotted" href="">
       <div class="class-type"><span>¥5888</span>18单元青少经典英语+48节名师精品课</div>
       <div class="class-time"><span>¥6688</span>有效期360天</div>
   </a>
    <div class="details-list solid">
       <ul>
           <li><img src="<%= imagessrc%>song.png" />36节免费课程</li>
       </ul>
   </div>
   <a class="m-box dotted" href="">
       <div class="class-type"><span>¥8488</span>27单元青少经典英语+72节名师精品课</div>
       <div class="class-time"><span>¥9788</span>有效期540天</div>
   </a>
    <div class="details-list solid">
       <ul>
           <li><img src="<%= imagessrc%>song.png" />54节免费课程</li>
       </ul>
   </div>
</section>

<div class="mask hide"></div>

<div class="dialog describe1 hide">
    <div class="wrap">
        <div class="main-tit">套餐特点</div>
        <div class="des-tit">次卡特惠方案的优势：</div>
        <ul>
            <li>1、一天可预约多节课程</li>
            <li>2、可一次性预约未来两周的多节课程</li>
            <li>3、次卡的有效期限相对较长。</li>
        </ul>
        <div class="des-tit">适合以下用户：</div>
        <ul>
            <li>1、希望在有时间的时候一天之内上多节课、进行集中学习 </li>
            <li>2、希望能跟自己喜欢的外教较固定地长期学习。</li>
        </ul>
        <div class="des-tit">特别提示：</div>
        <ul>
            <li>次卡到期时未使用的课程将失效，有效期无法延长。</li>
        </ul>
        <div class="des-tit">优选公开课说明：</div>
        <ul>
            <li>课时可以预约优选公开课，优选公开课每月至少预约4课时。优选公开课是大班授课，无论您是否参加都要开班，所以如果您每月预约优选公开课不足4课时，无法为您后补。建议您每周预约1节优选公开课。</li>
        </ul>
    </div>
    <div class="btn">我知道了</div>
</div>

    <div class="dialog describe2 hide">
        <div class="wrap">
            <div class="main-tit">套餐特点</div>
            <div class="des-tit">包月特惠方案的优势：</div>
            <ul>
                <li>每天都可以预约一节25分钟的课程。</li>
                <li>包月特惠方案适合以下用户：希望每天都能上课，让自己不要犯懒，尽量每天都上课！ 希望在短时间内快速培养语感、提高英语口语能力。</li>
            </ul>
            <div class="des-tit">特别提示：</div>
            <ul>
                <li>1、有效期内一天上一节课，没上课的天数不进行补偿，学习期间有定量的请假机会  </li>
                <li>2、一天一节课，当天课程结束后可预约次日课程。</li>
            </ul>
        </div>
        <div class="btn">我知道了</div>
    </div>

    <div class="dialog describe3 hide">
        <div class="wrap">
            <div class="main-tit">套餐特点</div>
            <div class="des-tit" style="color:red">推荐您选择进阶套餐，上完基础课立即巩固和练习，学习效果更显著！</div>
            <div class="des-tit">零基础中教课的优势：</div>
            <ul>
                <li>1）中教课程不多于7人（青少不多于5人）小班课，一节课50分钟；</li>
                <li>2）选择你喜欢上课的班级上课。</li>
            </ul>
            <div class="des-tit">适合以下用户：</div>
            <ul>
                <li>1）没学过英语，学过但不能与外教进行交流，无法顺畅上外教课的学员； </li>
                <li>2）希望能跟自己喜欢的老师固定时间长期学习英语基础，为接下来的外教课打下良好基础。</li>
            </ul>
            <div class="des-tit">特别提示：</div>
            <ul>
                <li>付费后一周选定班级，第二周开始根据班级开课时间上课。请按照您的班级课表按时出席上课，如有特殊情况无法上课，您可以自助申请补课。</li>
            </ul>
            <div class="des-tit">次卡说明：</div>
            <ul>
                <li>您在上中教课时，可以随时用次卡预约外教的各种课程，但中教课的上课时间无法约其他外教课程。</li>
            </ul>
        </div>
        <div class="btn">我知道了</div>
    </div>

    <div class="dialog describe4 hide">
        <div class="wrap">
            <div class="main-tit">套餐特点</div>
            <div class="des-tit">专项课程优势:</div>
            <ul>
                <li>上课时间自由，有效期内任意预约，教材购买后可随时学习。英语干货高度凝练，另有超值礼包免费赠送。</li>
            </ul>
            <div class="des-tit">专项课适合以下用户：</div>
            <ul>
                <li>希望在短时间内重点突破语音，语法，词汇及写作障碍的学员。</li>
            </ul>
            <div class="des-tit">特别提示：</div>
            <ul>
                <li>专项课学习有对应的上课数，在课程有效期内，请合理的分配剩余上课数，如因自身原因不能上课，请及时取消课程，自身缺席课程无法补课。</li>
            </ul>
        </div>
        <div class="btn">我知道了</div>
    </div>   

    <div class="dialog describe5 hide">
        <div class="wrap">
            <div class="main-tit">套餐特点</div>
            <div class="des-tit">套餐说明:</div>
            <ul>
                <li>1、针对青少学员，一天可预约多节课程 </li>
                <li>2、学习套餐9单元、18单元、27单元有效期分别为180天、360天、540天。</li>
            </ul>
            <div class="des-tit">特别提示：</div>
            <ul>
                <li>课程到期时未使用的课程将失效，有效期无法延长。</li>
            </ul>
            <div class="des-tit">优选公开课说明：</div>
            <ul>
                <li>精品课课时可以预约优选公开课，优选公开课每30天至少上4课时，因为优选公开课是大班授课，无论您是否参加都要开班，所以如果您30天内上优选公开课不足4课时，无法为您后补。建议您每周预约1节优选公开课。
                </li>
            </ul>
        </div>
        <div class="btn">我知道了</div>
    </div> 
</body>

<script id="seajsnode" src="<%= jssrc%>"></script>
</html>
