<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>详情页</title>
    <script src="<%= jsPath %>flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink %>">
</head>
<body>
<div class="detailPage">
    <img src="<%= imagessrc %>d__01.jpg"/>
    <img src="<%= imagessrc %>d__02.png"/>
    <img src="<%= imagessrc %>d__03.png"/>
    <img src="<%= imagessrc %>d__04.png"/>
    <img src="<%= imagessrc %>d__05.png"/>
    <img src="<%= imagessrc %>d__06.png"/>
    <img src="<%= imagessrc %>d__07.png"/>
    <img src="<%= imagessrc %>d__08.png"/>
    <img src="<%= imagessrc %>d__09.png"/>
    <img src="<%= imagessrc %>d__10.jpg"/>
    <div class="joinus">
        <a href="javascript:;">我要参赛</a>
    </div>
</div>
</body>
<script id="seajsnode" src="<%= jssrc %>"></script>
</html>