<% include ../common/top.ejs %>
<body>

<div class="container">
	<div class="header">
		<div class="content_app">
			<div class="logo_app">
				<a href="http://www.51talk.com" target="_blank"><img src="<%= imagessrc%>/logo.gif" target="_blank"></a>
			</div>
			<div class="phone_app">
				<a href="http://www.51talk.com" target="_blank">官网首页</a>
				<a href="http://www.51talk.com/user/mypage_top.php" target="_blank">会员中心</a>
			</div>
		</div>
	</div>
	<div class="main">
		<div class="nav">
			<div class="link">
				<div class="rt"><img src="<%= imagessrc%>/code.png"></div>
				<div class="lt">
					<a href="https://itunes.apple.com/cn/app/51talk-wu-you-ying-yu/id802818882?mt=8"><img src="<%= imagessrc%>/iphone.gif"></a>
					<a href="http://ac.51talk.com/apk/51Talk.apk"><img src="<%= imagessrc%>/android.gif"></a>
				</div>	
			</div>
		</div>
		<p><img src="<%= imagessrc%>/banner1.gif"></p>
		<p><img src="<%= imagessrc%>/banner2.gif"></p>
		<p><img src="<%= imagessrc%>/banner3.gif"></p>
		<p><img src="<%= imagessrc%>/banner4.gif"></p>
	</div>
</div>
<% include ../common/uc_footer.ejs %>
</body>
<% include ../common/bottom.ejs %>