<% include ../common/top.ejs %>
<body data-init="summer_landing">
	<% include ../common/www/w_header.ejs %>
	<div class="summer-banner">
		<div class="banner-wrap">
			<a class="sign-btn" href="javascript:;" title="立即报名"></a>
		</div>
	</div>
	<div class="summer-tabs">
		<ul class="clearfix">
			<li class="current"><em>小学低年级</em><span>（一至三年级）</span></li>
			<li><em>小学高年级</em><span>（四至六年级）</span></li>
			<li><em>初高中</em><span>（初一至高三）</span></li>
		</ul>
	</div>
	<div class="summer-container">
		<div class="low-grades switch">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst">
					<h3>80课时暑期<em>集训课</em> - <span>集中上课，快速提升听说能力</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>low-grades/primary_l_1.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_2.jpg" alt="自然科学" title="自然科学"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_3.jpg" alt="社会研究" title="社会研究"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_4.jpg" alt="未来领导力" title="未来领导力"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>快乐学英文</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>low-grades/primary_l_5.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_6.jpg" alt="少儿英文歌曲" title="少儿英文歌曲"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_7.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="<%=imagessrc%>low-grades/primary_l_8.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>• 小学一年级至三年级     • 想要利用暑假夯实英语听说，学习口语精华话题</p>
					<p>• 想要双管齐下，同时拓展词汇量和英文知识面     • 想要巩固并提高听说能力的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>玩中学</h3>
							<p>活泼的教学方法</p>
							<p>充分调动积极性</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>省时间</h3>
							<p>足不出户</p>
							<p>节约时间成本</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="<%=imagessrc%>low-grades/show_01.jpg"></li>
							<li><img src="<%=imagessrc%>low-grades/show_02.jpg"></li>
							<li><img src="<%=imagessrc%>low-grades/show_03.jpg"></li>
							<li><img src="<%=imagessrc%>low-grades/show_04.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天50分钟</em>高密度集中上课；学习效率更高，记忆更深刻！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>小学低年级</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>4</em>课时</td>
									<td class="pad-left-50"><em>生活口语</em></td>
								</tr>
								<tr>
									<td><em>5</em>课时</td>
									<td class="pad-left-50"><em>自然科学/社会研究</em></td>
								</tr>
								<tr>
									<td><em>1</em>课时</td>
									<td class="pad-left-50"><em>未来领导力</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="senior-grades switch" style="display:none;">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst">
					<h3>80课时暑期<em>集训课</em> - <span>短时高频，集中提高阅读能力和考试成绩</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>senior-grades/primary_h_1.jpg" alt="语法" title="语法"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_2.jpg" alt="阅读" title="阅读"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_3.jpg" alt="口语" title="口语"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_4.jpg" alt="未来领导力" title="未来领导力"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>浸泡英语环境</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>senior-grades/primary_h_5.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_6.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_7.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="<%=imagessrc%>senior-grades/primary_h_8.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>• 小学四年级至六年级学生     • 想利用暑假巩固语法知识点、梳理语法体系、提高成绩</p>
					<p>• 想学习阅读方法，提高阅读能力     • 想强化听说的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>选材新</h3>
							<p>15个多元主题</p>
							<p>强化听说，培养英文思维</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>提升快</h3>
							<p>文章+语法点+核心词汇</p>
							<p>系统串讲，提升阅读能力</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="<%=imagessrc%>senior-grades/tm1.jpg"></li>
							<li><img src="<%=imagessrc%>senior-grades/tm2.jpg"></li>
							<li><img src="<%=imagessrc%>senior-grades/tm3.jpg"></li>
							<li><img src="<%=imagessrc%>senior-grades/tm4.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天50分钟</em>高频度浸泡精华课程；层层巩固，知识掌握更扎实！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>小学高年级</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>5</em>课时</td>
									<td class="pad-left-50"><em>语法</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>阅读/口语</em></td>
								</tr>
								<tr>
									<td><em>1</em>课时</td>
									<td class="pad-left-50"><em>未来领导力</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="high-grades switch" style="display:none;">
			<!-- 课程简介 -->
			<div class="description">
				<h2 title="课程简介"></h2>
				<div class="period-lst high-period">
					<h3>80课时暑期<em>集训课</em> - <span>短时高效，突破口语，掌握学科知识 !</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>high-grades/junior_b_1.jpg" alt="语法" title="语法"></li>
						<li><img src="<%=imagessrc%>high-grades/junior_b_2.jpg" alt="阅读" title="阅读"></li>
					</ul>
				</div>
				<div class="period-lst">
					<h3>30课时自由<em>兴趣课</em> - <span>学习异国文化，提升综合技能</span></h3>
					<ul class="clearfix">
						<li><img src="<%=imagessrc%>high-grades/junior_s_1.jpg" alt="牛津阅读数" title="牛津阅读数"></li>
						<li><img src="<%=imagessrc%>high-grades/junior_s_2.jpg" alt="自由会话" title="自由会话"></li>
						<li><img src="<%=imagessrc%>high-grades/junior_s_3.jpg" alt="生活口语" title="生活口语"></li>
						<li><img src="<%=imagessrc%>high-grades/junior_s_4.jpg" alt="综合英语" title="综合英语"></li>
					</ul>
				</div>
				<div class="crowd">
					<h4>适合人群</h4>
					<p>初一至高三学生，同时适用备战小升初     • 想利用暑假突击口语，实现英语表达力的飞跃</p>
					<p>• 想结合课堂教学，用英语巩固物理、化学、历史等学科知识的学员</p>
				</div>
				<a href="javascript:;" class="go-sign">马上体验</a>
			</div>
			<!-- 课程优势 -->
			<div class="advantage">
				<h2 title="课程优势"></h2>
				<div class="advantage-wrap">
					<ul class="clearfix">
						<li>
							<div class="icons wj"></div>
							<h3>纯外教</h3>
							<p>全英文外教授课</p>
							<p>提供沉浸式学习环境</p>
						</li>
						<li>
							<div class="icons gx"></div>
							<h3>个性化</h3>
							<p>外教一对一授课</p>
							<p>及时反馈问题</p>
						</li>
						<li>
							<div class="icons play"></div>
							<h3>效率高</h3>
							<p>暑期集中上课</p>
							<p>效率更高</p>
						</li>
						<li>
							<div class="icons time"></div>
							<h3>提分快</h3>
							<p>科学课程搭配方案</p>
							<p>提高更快</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- 教材展示 -->
			<div class="textbook-show">
				<h2 title="教材展示"></h2>
				<div class="show-wrap">
					<div class="arr arr-left"></div>
					<div class="slider-con">
						<ul class="clearfix">
							<li><img src="<%=imagessrc%>high-grades/tm1.jpg"></li>
							<li><img src="<%=imagessrc%>high-grades/tm2.jpg"></li>
							<li><img src="<%=imagessrc%>high-grades/tm3.jpg"></li>
							<li><img src="<%=imagessrc%>high-grades/tm4.jpg"></li>
						</ul>
						<div class="point">
							<a href="javascript:;" class="current"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
							<a href="javascript:;"></a>
						</div>
					</div>
					<div class="arr arr-right"></div>
				</div>
				<a class="go-sign" href="javascript:;">马上体验</a>
			</div>
			<!-- 学习计划 -->
			<div class="study-plan">
				<h2 title="学习计划"></h2>
				<h3><em>每天2节课</em>1对1外教浸入式学习；拓展英语知识面；告别哑巴英语！</h3>
				<div class="plan-table">
					<i class="icon"></i>
					<div class="plan-table-wrap">
						<h4>初高中</h4>
						<h5>暑期周学习计划：<em>14</em><span>课时/周</span></h5>
						<table class="table">
							<tbody>
								<tr>
									<td width="130"><em>6</em>课时</td>
									<td class="pad-left-50"><em>《经典英语》</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>《新学科英语》</em></td>
								</tr>
								<tr>
									<td><em>4</em>课时</td>
									<td class="pad-left-50"><em>自由兴趣课</em></td>
								</tr>
							</tbody>
						</table>
						<p class="tips">每日学习时长可自由支配，以上为推荐学习计划。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="summer-sale">
		<div class="summer-sale-center">
			<h2 title="暑期套餐大放价，坚持学习奖次卡！"></h2>
			<div class="sale-message">
				<h3>限时优惠价<em>￥3999</em><del>（原价：¥ 4399）</del></h3>
				<h4>【暑期套餐】80次集训课+30次自由兴趣课</h4>
				<div class="sale-tips clearfix">
					<span>7月1日~8月31日期间上完80次课</span>
					<em>加送20次次卡！</em>
				</div>
				<div class="sale-instructions">
					<h6>使用说明：</h6>
					<p>暑期套餐使用有效期为购买当日起至2016年8月31日；</p>
					<p>加送次卡有效期为2016年9月1日—9月30日</p>
				</div>
				<a class="sign-btn" href="javascript:;">立即报名</a>
			</div>
		</div>
	</div>
	<div class="summer-show">
		<div class="summer-show-center">
			<h2 title="一个暑假，变身学霸！"></h2>
			<ul class="clearfix">
				<li>
					<div class="base">
						<img src="<%=imagessrc%>Joanna.png" alt="Joanna" title="Joanna">
						<p>6岁</p>
						<p>小学在读</p>
					</div>
					<div class="show-info">高兴地跟老师一起手舞足蹈中英混血小“芭比”在51Talk学习4年，入围《校园好声音》英文歌香港决赛。</div>
				</li>
				<li>
					<div class="base">
						<img src="<%=imagessrc%>Sam.png" alt="Sam" title="Sam">
						<p>11岁</p>
						<p>小学在读</p>
					</div>
					<div class="show-info">在51Talk坚持学习快7个月，口语学习和英文小说阅读每天各30分钟，学校成绩有很大提升，还在英语演讲比赛获奖。</div>
				</li>
				<li>
					<div class="base">
						<img src="<%=imagessrc%>Eileen.png" alt="Eileen" title="Eileen">
						<p>16岁</p>
						<p>高中在读</p>
					</div>
					<div class="show-info">在51Talk培养了语感,去美国和大家交流没有障碍51Talk的学习让她在美国游学生活中交流“无压力”。</div>
				</li>
			</ul>
			<a class="sign-btn" href="javascript:;" title="立即报名">立即报名</a>
		</div>
	</div>
	<% include ../common/www/w_footer_home.ejs %>
	<script src="<%= jssrc%>"></script>
</body>
</html>