<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}" />
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
  
</head>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<div class="m-banner">
    <img src="<%= imagessrc%>top_banner.jpg" alt="">
    <div class="m-tab">
      <ul>
        <li class="on">
          <p>语音<br>专项课</p>
          <span>帮您治愈英语<br>发音顽症</span>
        </li>
        <li>
          <p>词汇<br>专项课</p>
          <span>让您英语词汇量<br>蹭蹭往上长</span>
        </li>
        <li>
          <p>语法<br>专项课</p>
          <span>教您灵活调遣<br>语法规则</span>
        </li>
        <li>
          <p>写作<br>专项课</p>
          <span>玩转实用文体写作<br>下笔如有神</span>
        </li>
      </ul>
    </div>
</div>
<div class="m-content">
    <div class="u-buy clearfix">
        <img src="<%= imagessrc%>discuss.jpg" alt="" class="left-img">
        <div class="right-buy">
            <!-- <img src="<%= imagessrc%>price.jpg" alt="" class="price"> -->
            <span class="price">¥&nbsp;1499</span>
            <h3>语音专项课套餐</h3>
            <p>专业1对1外教授课+超值练习礼包</p>
            <img src="<%= imagessrc%>gift.jpg" alt="" class="gift">
            <a href="#" target="_blank" class="buy-btn">立即购买</a>
        </div>
    </div>
    <div class="voice">
        <div class="title"></div>
        <ul class="list clearfix" id="playList">
            <li>
                <span>您之前可能是这样发音的</span>
                <img src="<%= imagessrc%>lesson1.jpg" alt="">
                <a href="javascript:;" class="green-begin"></a>
            </li>
            <li>
                <span>您之前可能是这样发音的</span>
                <img src="<%= imagessrc%>lesson2.jpg" alt="">
                <a href="javascript:;" class="green-begin"></a>
            </li>
            <li class="last">
                <span>您之前可能是这样发音的</span>
                <img src="<%= imagessrc%>lesson3.jpg" alt="">
                <a href="javascript:;" class="red-begin"></a>
            </li>
        </ul>
    </div>
</div>
<div class="m-content hide">
    <div class="u-buy clearfix">
        <img src="<%= imagessrc%>dis_img02.jpg" alt="" class="left-img">
        <div class="right-buy">
            <!-- <img src="<%= imagessrc%>price.jpg" alt="" class="price"> -->
            <span class="price">¥&nbsp;1499</span>
            <h3>词汇专项课套餐</h3>
            <p>专业1对1外教授课+超值练习礼包</p>
            <img src="<%= imagessrc%>gift.jpg" alt="" class="gift">
            <a href="#" target="_blank" class="buy-btn">立即购买</a>
        </div>
    </div>
    <div class="voice">
        <div class="title pf-tit02"></div>
        <ul class="list clearfix" id="playList">
            <li>
                <img src="<%= imagessrc%>ch_img01.png" alt="">
                <span class="ch-tit">单词的排列组合</span>
            </li>
            <li>
                <img src="<%= imagessrc%>ch_img02.png" alt="">
                <span class="ch-tit">给力的构词法猜词</span>
            </li>
            <li class="last">
                <img src="<%= imagessrc%>ch_img03.png" alt="">
                <span class="ch-tit">跟电子词典说再见</span>
            </li>
        </ul>
    </div>
</div>
<div class="m-content hide">
    <div class="u-buy clearfix">
        <img src="<%= imagessrc%>dis_img03.jpg" alt="" class="left-img">
        <div class="right-buy">
            <!-- <img src="<%= imagessrc%>price.jpg" alt="" class="price"> -->
            <span class="price">¥&nbsp;1499</span>
            <h3>语法专项课套餐</h3>
            <p>专业1对1外教授课+超值练习礼包</p>
            <img src="<%= imagessrc%>gift.jpg" alt="" class="gift">
            <a href="#" target="_blank" class="buy-btn">立即购买</a>
        </div>
    </div>
    <div class="voice">
        <div class="title pf-tit03"></div>
        <ul class="list clearfix" id="playList">
            <li>
                <img src="<%= imagessrc%>yf_img01.png" alt="">
                <span class="ch-tit">还在背主谓宾?</span>
            </li>
            <li>
                <img src="<%= imagessrc%>yf_img02.png" alt="">
                <span class="ch-tit">庖丁解牛拆分句子结构</span>
            </li>
            <li class="last">
                <img src="<%= imagessrc%>yf_img03.png" alt="">
                <span class="ch-tit">彻底拿下您的语法宿敌</span>
            </li>
        </ul>
    </div>
</div>
<div class="m-content hide">
    <div class="u-buy clearfix">
        <img src="<%= imagessrc%>dis_img04.jpg" alt="" class="left-img">
        <div class="right-buy">
            <!-- <img src="<%= imagessrc%>price.jpg" alt="" class="price"> -->
            <span class="price">¥&nbsp;1499</span>
            <h3>语法专项课套餐</h3>
            <p>专业1对1外教授课+超值练习礼包</p>
            <img src="<%= imagessrc%>gift.jpg" alt="" class="gift">
            <a href="#" target="_blank" class="buy-btn">立即购买</a>
        </div>
    </div>
    <div class="voice">
        <div class="title pf-tit04"></div>
        <ul class="list clearfix" id="playList">
            <li>
                <img src="<%= imagessrc%>write_img01.png" alt="">
                <span class="ch-tit">拿笔却想不出半个词?</span>
            </li>
            <li>
                <img src="<%= imagessrc%>write_img02.png" alt="">
                <span class="ch-tit">思维导图让您脑洞大开</span>
            </li>
            <li class="last">
                <img src="<%= imagessrc%>write_img03.png" alt="">
                <span class="ch-tit">五步写作法让您言之有理</span>
            </li>
        </ul>
    </div>
</div>
<div class="m-adv">
    <div class="main">
        <div class="title"></div>
        <div class="detail clearfix">
            <img src="<%= imagessrc%>adv.jpg" alt="">
            <ul class="adv-list">
                <li>由英语教研专家与培训大咖组成的51Talk多国学术团队自主开发</li>
                <li>最适合互联网学习的语音专项突破一对一教材</li>
                <li>从纠音入手，通过辨音，最后达到“标准美音”的教学目标</li>
            </ul>
        </div>
    </div>
</div>
<div class="m-teacher">
    <div class="title"></div>
    <ul class="tea-imgs clearfix">
        <li>
            <img src="<%= imagessrc%>team1.jpg" alt="">
            <p>层层选拔、千里挑一的星级外教团队</p>
        </li>
        <li>
            <img src="<%= imagessrc%>team2.jpg" alt="">
            <p>标准美音、内外兼修的人气名师</p>
        </li>
        <li>
            <img src="<%= imagessrc%>team3.jpg" alt="">
            <p>经过语音教学专家多轮全方位培训</p>
        </li>
    </ul>
</div>
<div class="m-learn">
    <div class="learn">
        <div class="title"></div>
        <div class="learn-list">
            <img src="<%= imagessrc%>learn1.jpg" alt="">
            <img src="<%= imagessrc%>learn2.jpg" alt="">
            <img src="<%= imagessrc%>learn3.jpg" alt="">
        </div>
    </div>
</div>
<div class="m-banner m-banner2">
    <img src="<%= imagessrc%>b_banner.jpg" alt="">
    <a href="" target="_blank">现在购买即享受超值现金大礼包，还等什么，立即抢购</a>
</div>
<!-- <audio src="<%= imagessrc%>swf/1.mp3"></audio> -->
<audio src="<%= imagessrc%>swf/1.mp3" controls="controls" id="audio"></audio>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
</html>