<% include ../common/top.ejs %>
<body>
<% include ../common/subject_www/s_nav.ejs %>
<div class="s_banner"> 
  <div class="centerMth">
    <img src="<%= imagessrc%>fine_tea_ads.jpg" alt="" class="banner_img">
    <% include ../common/subject_www/s_banner.ejs %>
  </div>
</div>
<div class="best-tea" data-init="index">
  <div class="best-item01">
    <h3 class="best-title">名师风采 - 中教</h3>
    <div class="item-item">
      <div class="item-lt">
        <dl class="item-t-dl">
          <dt><img src="<%= imagessrc%>fine_tea_name1.jpg" class="m-bj-img"></dt>
          <dd class="f-t">周楠</dd>
          <dd class="d-t">Vanessa</dd>
          <dd>温柔可爱、青春无敌的“星星老师”毕业院校：河北工业大学 英语专业</dd>
        </dl>
        <dl class="item-b-dl">
          <dt><img src="<%= imagessrc%>fine_tea_name2.jpg" class="m-bj-img"></dt>
          <dd class="f-t">吴周楠</dd>
          <dd class="d-t">Vanessa</dd>
          <dd>温柔可爱、青春无敌的“星星老师”毕业院校：河北工业大学 英语专业</dd>
        </dl>
      </div> 
      <div class="item-rt">
        <div class="item-top-img"></div>
        <div class="item-bom-img"></div>
        <ul>
          <li>
            <span class="r-d r-dot01"></span>
            <div class="r-tit">
              <h3>重点高校教师</h3>
              <span>专业扎实，均毕业于知名院校，100%英语或教育专业，50%老师具备海外留学经历，接受专业培训60小时+，对第二语言教学方法有良好认知。</span>
            </div>
          </li>
          <li>
            <span class="r-d r-dot02"></span>
            <div class="r-tit">
              <h3>严格选聘制度</h3>
              <span>老师需要通过一轮面试、两轮复试、封闭训练、岗前培训等难关,优秀的教师能有更好的教学效果，51talk的小学中教老师经验丰富，80%来自知名线下教育机构，熟悉小学各年龄段孩子的认知特点和习惯，熟知各年级英语能力要求及少儿英语考试。</span>
            </div>
          </li>
          <li>
            <span class="r-d r-dot03"></span>
            <div class="r-tit">
              <h3>完善的教学备课制度</h3>
              <span>老师上课前要备好每一堂课，须细心指导学生学习和批准作业,好的教学经验定期分享让更多学生受益，51talk的老师极具亲和力，善于鼓励引导学生，提倡兴趣驱动，会学会用，帮助学生建立英文思维。</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="best-item02">
    <div class="centerMth">
      <h3 class="best-title">名师风采 - 外教</h3> 
      <ul class="video-list" data-vedio="http://media.51talk.com/upload/media/lina.flv" data-width="780">
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_ritch.jpg">
          </span>
          <span class="ts">Ritch</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_jon.jpg">
          </span>
          <span class="ts">Jon</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_hazel.jpg">
          </span>
          <span class="ts">Hazel</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_melrick.jpg">
          </span>
          <span class="ts">Melrick</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_paul.jpg">
          </span>
          <span class="ts">Paul</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_monica.jpg">
          </span>
          <span class="ts">Monica</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_rolly.jpg">
          </span>
          <span class="ts">Rolly</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_alissa.jpg">
          </span>
          <span class="ts">Alissa</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_josh.jpg">
          </span>
          <span class="ts">Josh</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_kat.jpg">
          </span>
          <span class="ts">Kat</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_marky.jpg">
          </span>
          <span class="ts">Marky</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
        <li data-vedioSrc="http://media.51talk.com/upload/media/lina.flv" data-width="780">
          <span>
            <i class="video-img"></i>
            <img src="<%= imagessrc%>fine_tea_nadline.jpg">
          </span>
          <span class="ts">Nadline</span>
          <span>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
            <i class="star"></i>
          </span>
        </li>
      </ul> 
    </div>
  </div>
  <div class="best-item03">
    <h3 class="item03-tt">签约流程：简历筛选 > 复试 > 培训 > 比赛 > 审核</h3>
    <p class="item03-ts">签约率  1.5％</p>
    <p class="item03-tt">真正的百里挑一！</p>
  </div>
  <div class="best-item04">
    <p class="item04-tt">60小时 课前培训＋60小时  听课讲评</p>
    <p class="item04-ts">确保每一位老师的课堂都精彩纷呈</p> 
  </div>
  <div class="best-item05">
    <ul>
      <li>
        <dl>
          <dt><i class="i-img01"></i></dt>
          <dd class="d-tt">教材研发团队</dd>
          <dd>51talk小学英语研发中心汇集了数位少儿英语教学精英，认知语言学专家，同时邀请了数位奋战在一线的英语教育专家及学者，经过反复研讨、试验，最终推出了小学英语classic english junior的教材，数年优异的教学效果和学子间树立的良好口碑，完善的设计体系及综合测评体系，已经帮助无数莘莘学子提高英语水平，在各种赛事中取得骄人成绩，为祖国培养了无数的栋梁之才，帮他们完成梦想，助他们顺利进入各所名牌中学。</dd>
        </dl>
      </li>
      <li>
        <dl class="dt-img">
          <dt><i class="i-img02"></i></dt>
          <dd class="d-tt">教师培训团队</dd>
          <dd>51Talk 小学英语教师招聘培训团队由拥有多年一线国内外教学和培训经验专家、TESOL、CELTYL等相关专业证书持有者、少儿心理专家、家庭教育高级指导师、英美高校访问学者组成。他们设计并执行了一套结合51Talk青少战略要点和青少年学习发展趋势而专门打造的培训体系。所有教师都经过招聘团队严格的层层筛选，再经过培训团队定期严谨、系统、专业的培训体系打磨培养，使得教师团队发挥专业特长，获得家长和学员的一致好评，并多次获得优秀教师、金牌教师等称号。</dd>
        </dl>
      </li>
    </ul> 
  </div>
</div>
<% include ../common/subject_www/s_footer_home.ejs %>
</body>
<% include ../common/bottom.ejs %>
<script src="http://static.51talk.com/js/new_user/ckplayer/ckplayer.js?v=1439877955695"></script>