<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<% include ../common/subject_www/s_nav.ejs %>
<div class="s_banner"> 
  <div class="centerMth">
    <img src="<%= imagessrc%>cls_ads.jpg" class="banner_img">
    <% include ../common/subject_www/s_banner.ejs %>
  </div>
</div>
<div class="classRoom">
	<div class="r_item1 centerMth">
		<h3 class="r_tit">缤纷课堂</h3>
		<p class="r_text">COLORFUL CLASSROOM</p>
		<div class="r_cont clearfix">
			<div class="cont">
				<h3 class="cont_tit">外教1V1上课形式</h3>
				<img src="<%= imagessrc%>cls_lt_img.png">
				<ul class="cont_list">
					<li><span class="cont_icon"></span><span>沉浸式教学 地道表达一网打尽</span></li>
					<li><span class="cont_icon"></span><span>时空无限制 千名外教全天任选</span></li>
					<li><span class="cont_icon"></span><span>全程个性化 有效互动效果显著</span></li>
				</ul>
			</div>
			<div class="cont">
				<h3 class="cont_tit">中教1V10上课形式</h3>
				<img src="<%= imagessrc%>cls_rt_img.png">
				<ul class="cont_list">
					<li><span class="cont_icon"></span><span>双语授课 由浅入深科学讲解</span></li>
					<li><span class="cont_icon"></span><span>翻转课堂 兴趣能力双重保障</span></li>
					<li><span class="cont_icon"></span><span>跟踪反馈 课中课后联动教学</span></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="r_item2 centerMth">
		<img src="<%= imagessrc%>cls_bj.jpg" class="item2_img">
		<h3 class="r_tit">增值服务</h3>
		<p class="r_text">VALUE-ADDED SERVICES</p>
		<ul class="item2_list">
			<li>
				<span class="item2_i"></span>
				<p class="item2_text">免费公开课</p>
			</li>
			<li>
				<span class="item2_i2"></span>
				<p class="item2_text">微信群作业日日练</p>
			</li>
			<li>
				<span class="item2_i3"></span>
				<p class="item2_text">歌谣学唱</p>
			</li>
			<li>
				<span class="item2_i4"></span>
				<p class="item2_text">专业测评＋报告</p>
			</li>
		</ul>
		<ul class="item2_list">
			<li>
				<span class="item2_i5"></span>
				<p class="item2_text">免费公开课</p>
			</li>
			<li>
				<span class="item2_i6"></span>
				<p class="item2_text">微信群作业日日练</p>
			</li>
			<li>
				<span class="item2_i7"></span>
				<p class="item2_text">歌谣学唱</p>
			</li>
			<li>
				<span class="item2_i8"></span>
				<p class="item2_text">专业测评＋报告</p>
			</li>
		</ul>
	</div>
</div>
<% include ../common/subject_www/s_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
