<% include ../common/top.ejs %>
<body data-init="index">
<% include ../common/subject_www/s_nav.ejs %>
<div class="s_banner"> 
  <div class="centerMth">
    <img src="<%= imagessrc%>home_ads.jpg" alt="" class="banner_img">
    <% include ../common/subject_www/s_banner.ejs %>
  </div>
</div>
<div class="homepage" data-init="index">
<!-- little-stu -->
<div class="stu">
  <div class="h-tit">
    <h3 class="s-t">我们培养听说读写的全能小学员</h3> 
    <p class="t-s"><span>中外教师联合授课</span></p>
  </div>
  <div class="home-relat">
    <div class="radiu-text">
      <ul class="r-list">
        <li class="t-img01"></li>
        <li class="t-img02"></li>
        <li class="t-img03">高能</li>
        <li class="t-img04">高分</li>
        <li class="t-img05"></li>
        <li class="t-img06"></li>
      </ul>
      <span class="t-add"></span>
    </div>
  </div>
  <div class="s-img">
    <span class="lt"></span>
    <span class="rt"></span> 
  </div>
</div>
<!-- /little-stu -->
<!-- learning -->
<div class="learning">
  <div class="h-tit">
    <h3 class="s-t">我们让学习更有效</h3> 
    <p class="t-s"><span>分层教学</span></p>
  </div>
  <div class="home-relat">
    <ul class="lea-list">
      <li class="l-img01">
        <i></i>
        <span>入学测试</span>
        <span class="ft">按学员水平分班</span>
      </li>
      <li class="l-img02"><i></i></li>
      <li class="l-img03"><img src="<%= imagessrc%>home_e_lt.png"></li>
      <li class="l-img04">
        <img src="<%= imagessrc%>home_e_rt.png">
      </li>
      <li class="l-img05"><i></i></li>
      <li class="l-img06">
        <img src="<%= imagessrc%>home_bom.png">
      </li>
    </ul>  
  </div>
</div>
<!-- /learning -->
<!-- mark -->
<div class="mark">
  <div class="h-tit">
    <h3 class="s-t">我们让提分看得见</h3> 
    <p class="t-s"><span>专属优质教学服务</span></p>
    <p class="t-t">讲 - 练 - 测 - 考 - 评</p>
  </div>
  <div class="home-relat mark-relat">
    <img src="<%= imagessrc%>home_tbj.png" class="m-bj-img">
    <ul class="mark-list">
      <li class="m-img01"><i></i></li>
      <li class="m-img02"><i></i></li>
      <li class="m-img03"><i></i></li>
      <li class="m-img04"><i></i></li>
      <li class="m-img05"><i></i></li>
      <li class="m-img06"><i></i></li>
    </ul>
  </div>
</div>
<!-- /mark -->
<!-- service -->
<div class="service">
  <h3 class="sce-h3">服务保障</h3> 
  <div class="home-relat">
    <ul class="ser-list">
      <li class="l-list01">
        <i></i>
        <span class="t-t">安心付费</span>
        <span class="s-t">不满意？随时退！<br>每学期2次转班，2次调课<br>专属微信群</span>
      </li>
      <li class="l-list02">
        <i></i>
        <span class="t-t">EFL学习系统</span>
        <span class="s-t">预习＋上课＋复习<br>保证学习效果</span>
      </li>
      <li class="l-list03">
        <i></i>
        <span class="t-t">专属成长档案</span>
        <span class="s-t">记录孩子进步的点点滴滴制定专属<br>于您的私人学习规划，进步看得<br>见！</span>
      </li>
    </ul>
  </div>
</div>
<!-- /service -->
</div>
<% include ../common/subject_www/s_footer_home.ejs %>
</body>
<% include ../common/bottom.ejs %>