<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body data-init="index">
<% include ../common/subject_www/s_nav.ejs %>
<div class="s_banner"> 
  <div class="centerMth">
    <img src="<%= imagessrc%>sys_ads.jpg" alt="" class="banner_img">
    <% include ../common/subject_www/s_banner.ejs %>
  </div>
</div>
<div class="system">
  <div class="s_item1 centerMth">
    <h3 class="r_tit">课程规划</h3>
    <img src="<%= imagessrc%>sys_plan.png" alt="" class="s_img1">
    <p class="s_text">每个年级全年课时安排</p>
    <img src="<%= imagessrc%>sys_time.png" alt="" class="s_img2">
  </div>
  <div class="s_item2">
    <div class="centerMth">
      <h3 class="r_tit">课程规划</h3>
      <img src="<%= imagessrc%>sys_outline.png" alt="" class="s_img3">
    </div>
  </div>
  <div class="s_item3">
    <div class="centerMth s_item3_stu">
      <h3 class="r_tit">教材主题</h3>
      <ul class="s_list1">
        <li><span class="s_l_icon1"></span><p class="s_list_text">玩具</p></li>
        <li><span class="s_l_icon2"></span><p class="s_list_text">形状</p></li>
        <li><span class="s_l_icon3"></span><p class="s_list_text">交通</p></li>
        <li><span class="s_l_icon4"></span><p class="s_list_text">食物</p></li>
        <li><span class="s_l_icon5"></span><p class="s_list_text">时间</p></li>
        <li><span class="s_l_icon6"></span><p class="s_list_text">数字</p></li>
        <li><span class="s_l_icon7"></span><p class="s_list_text">颜色</p></li>
        <li><span class="s_l_icon8"></span><p class="s_list_text">友谊</p></li>
      </ul>
      <ul class="s_list1 s_list2">
        <li><span class="s_l_icon9"></span><p class="s_list_text">学校</p></li>
        <li><span class="s_l_icon10"></span><p class="s_list_text">衣物</p></li>
        <li><span class="s_l_icon11"></span><p class="s_list_text">运动休闲</p></li>
        <li><span class="s_l_icon12"></span><p class="s_list_text">动物</p></li>
        <li><span class="s_l_icon13"></span><p class="s_list_text">家庭</p></li>
        <li><span class="s_l_icon14"></span><p class="s_list_text">个人信息</p></li>
        <li><span class="s_l_icon15"></span><p class="s_list_text">身体部位</p></li>
        <li><span class="s_l_icon16"></span><p class="s_list_text">方位</p></li>
      </ul>
      <div class="s_bottom">
        <h3 class="s_b_tit">540个主题</h3>
        <p class="s_b_text">低年级: 校园、生活 ； 高年级: 神话、故事</p>
      </div>
    </div>
  </div>
  <div class="s_item4">
    <div class="centerMth">
      <h3 class="r_tit">教材展示</h3>
      <div class="s_tab_list">
        <ul class="process_b_l">
          <li class="p_list_c"><img src="<%= imagessrc%>sys_fig.jpg" title="1"></li>
          <li class="p_list_r"><img src="<%= imagessrc%>sys_fig.jpg" title="2"></li>
          <li class="p_list_l"><img src="<%= imagessrc%>sys_fig.jpg" title="3"></li>
        </ul>
        <p class="spot_list"><span class="spot_blue"></span><span></span><span></span></p>
      </div>
      <div class="s_bottom">
        <h3 class="s_b_tit">原创绘本、情景故事</h3>
        <p class="s_b_text">教材所有绘本故事为国际教育团队原创，英语教学专家审定，是地道的英语学习素材</p>
      </div>
    </div>
  </div>
</div>
<% include ../common/subject_www/s_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
