<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{<info.keywords>}" />
  <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
  <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>
<% include ../common/subject_www/s_nav.ejs %>
<div class="s_banner"> 
  <div class="centerMth">
    <img src="<%= imagessrc%>tea_idea_ads.jpg" alt="" class="banner_img">
    <% include ../common/subject_www/s_banner.ejs %>
  </div>
</div>
<div class="teaching">
	<div class="r_item1 centerMth">
		<h3 class="r_tit">课程目标</h3>
		<p class="r_text">流利使用英语，全面提高听/说/读/写各项能力</p>
		<div class="t_center clearfix">
			<img src="<%= imagessrc%>tea_idea_img.jpg" alt="" class="center_l">
			<ul class="center_r">
				<li><span></span>全面达到欧洲课程标准，及最新课标要求及最新课标的知识运用能力</li>
				<li><span></span>同步实现少儿口语的交际能力，及最新课标培养多文化思维人才</li>
				<li><span></span>熟练掌握国内外考试常用句型，考点及知及最新课标识</li>
			</ul>
		</div>
		<p class="t_text">CE Junior是一门中外教育专家联合开发的同步欧美最新课程标准</p>
	</div>
	<div class="r_item2 centerMth">
		<img src="<%= imagessrc%>cls_bj.jpg" alt="" class="item2_img">
		<h3 class="r_tit">教学方法</h3>
		<p class="r_text">TEACHING METHODS</p>
		<div class="t_methods">
			<dl class="methods_l">
				<dt>传统新概念教学</dt>
				<dd>
					<ul class="method_list">
						<li>
							<span class="m_list_l"></span>
							<div class="m_list_r">
								<h3 class="m_tit">以教师中心</h3>
								<p class="m_text">大班授课，教师主导</p>
							</div>
						</li>
						<li class="bgfff">
							<span class="m_list_l2"></span>
							<div class="m_list_r">
								<h3 class="m_tit">应试向导</h3>
								<p class="m_text">重答案，轻思维；重分数，轻能力</p>
							</div>
						</li>
						<li class="b_radius">
							<span class="m_list_l3"></span>
							<div class="m_list_r">
								<h3 class="m_tit">翻译教学法</h3>
								<p class="m_text">英语技能，英语思维欠缺</p>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
			<dl class="methods_l">
				<dt class="titBlue">科学SDC教学法</dt>
				<dd>
					<ul class="method_list">
						<li class="bgfff">
							<span class="m_list_l4"></span>
							<div class="m_list_r">
								<h3 class="m_tit">以学生为中心教学</h3>
								<p class="m_text">1对1模式，100%互动</p>
							</div>
						</li>
						<li class="bgBlue">
							<span class="m_list_l5"></span>
							<div class="m_list_r">
								<h3 class="m_tit">英语能力及考试成绩双丰收</h3>
								<p class="m_text">听说练习，思维锻炼；真题模拟，双重保证</p>
							</div>
						</li>
						<li class="bgfff b2_radius">
							<span class="m_list_l6"></span>
							<div class="m_list_r">
								<h3 class="m_tit">情景式教学</h3>
								<p class="m_text">情景式讲解，全程英文沉浸，学习效果翻倍</p>
							</div>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
	<div class="r_item3 centerMth">
		<img src="<%= imagessrc%>tea_idea_lt.jpg" alt="" class="item3_img1">
		<img src="<%= imagessrc%>tea_idea_rt.jpg" alt="" class="item3_img1 item3_img2">
		<h3 class="r_tit">教学优势</h3>
		<p class="r_text">TEACHING ADVANTAGE</p>
		<div class="t_advantage">
			<div class="t_ad_left">
				<h3 class="t_ad_tit">突破听说提素质<span></span></h3>
				<ul class="t_ad_list">
					<li>积累语言知识，提升语言交流能力</li>
					<li>促进对不同文化的理解，培养多文化交流技能</li>
					<li>综合培养思维和语言能力</li>
					<li>同步实现语言能力的提高和学科知识的增长</li>
				</ul>
			</div>
			<div class="t_ad_left t_ad_right">
				<h3 class="t_ad_tit">听说读写会考试<span></span></h3>
				<ul class="t_ad_list">
					<li>紧贴新课标，小升初、中考知识100%覆盖</li>
					<li>结合青少年学习特点，对模块内容进行科学拆分</li>
					<li>学习内容循序渐进，帮助学员巩固吸收</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="r_item4 centerMth">
		<h3 class="r_tit">教学流程</h3>
		<p class="r_text">TEACHING PROCESS</p>
		<div class="t_process_t">
			<ul class="process_t_l">
				<li class="p_t_l1 p_t_bg">
					<h3 class="p_t_tit">讲 解</h3>
					<p class="p_t_text">PRESENTATION</p>
				</li>
				<li class="p_t_l2">
					<h3 class="p_t_tit">练 习</h3>
					<p class="p_t_text">PRACTICE</p>
				</li>
				<li class="p_t_l3">
					<h3 class="p_t_tit">成 果</h3>
					<p class="p_t_text">PRODUCTION</p>
				</li>
			</ul>
			<ul class="process_b_l">
				<li class="p_list_c" title="1"><img src="<%= imagessrc%>tea_idea_fig1.png"><div class="p_mask"></div></li>
				<li class="p_list_r" title="2"><img src="<%= imagessrc%>tea_idea_fig2.png"><div class="p_mask"></div></li>
				<li class="p_list_l" title="3"><img src="<%= imagessrc%>tea_idea_fig3.png"><div class="p_mask"></div></li>
			</ul>
		</div>
	</div>
</div>
<% include ../common/subject_www/s_footer_home.ejs %>
<script src="<%= jssrc%>"></script>
</body>
