<!DOCTYPE html>
<html>
<head>
    <title>英语学习，口语学习首选的英语学习网站，51talk无忧英语，外教一对一，在线学英语！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{<info.keywords>}"/>
    <meta name="description" content="51tailk无忧英语专业提供网络英语外教一对一培训教学,专注于真人英语外教一对一培训,让您足不出户,网上平价学英语.英语外教一对一培训服务热线4000-51-51-51"/>
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>common/commons.css">
    <link rel="stylesheet" type="text/css" href="<%= cssPath %>north_america/north_america.css">
</head>
<body>
<!-- 顶部 -->

<%- include("../common/w_nav.ejs",{
  wrapClass:"north-nav-list",
  navList:[
    {
      className:"crt",
      text:"51Talk美国小学",
      url:"javascript:;"
    },
    {
      className:"",
      text:"教学理念",
      url:"javascript:;"
    },
    {
      className:"",
      text:"课程体系",
      url:"javascript:;"
    },
    {
      className:"",
      text:"外教师资",
      url:"javascript:;"
    },
    {
      className:"",
      text:"学习体系",
      url:"javascript:;"
    },
    {
      className:"",
      text:"名师课堂",
      url:"javascript:;"
    }
  ],
  isIndex:false, //判断是否为首页
  isNorth:true //判断是否为美小
  }) %>
<% include ../common/w_banner.ejs %>
<div class="north_america" id="container" data-init="north_america/north">
<!-- banner img-->
  <div class="north-banner">
    <h3 class="america-title">美国小学</h3>
    <img data-src="<%= imagessrc%>north_america/america_tit01.png" width="288" height="23" class="america-img" src="<%=imagessrc%>common/deafult.png">
    <div class="m-silder-youth">
      <div class="m-silder-box">
        <ul class="m-silder-list">
          <li><img data-src="<%= imagessrc%>north_america/america_b_img01.jpg" width="785" height="478" src="<%=imagessrc%>common/deafult.png"></li>
          <li><img data-src="<%= imagessrc%>north_america/america_b_img02.jpg" width="785" height="521" src="<%=imagessrc%>common/deafult.png"></li>
          <li><img data-src="<%= imagessrc%>north_america/america_b_img03.jpg" width="752" height="475" src="<%=imagessrc%>common/deafult.png"></li>
        </ul>
      </div>
      <a href="javascript:;" class="u-text-icon u-next" data-silder="next"></a>
      <a href="javascript:;" class="u-text-icon u-prev" data-silder="prev"></a>
      <ul class="u-dots">
        <li class="silder-crt"></li>
        <li></li>
        <li></li>
      </ul> 
    </div>
  </div>
<!-- /banner img-->
<!-- ads01 -->
  <div class="north-ads">
    <h3 class="america-title">更多学员效果见证的专业英语学习方案</h3>
    <p class="title">全球8000+优质外教， 为您提供专业高效的英语解决方案</p>
  </div>
<!-- /ads01 -->
<!-- education -->
  <div class="north-education">
    <h3 class="america-title">更多父母选择的美式精英教育</h3>
    <img data-src="<%= imagessrc%>north_america/america_tit01.png" width="288" height="23" class="america-img" src="<%=imagessrc%>common/deafult.png">
    <div class="edu-tit">
      <div class="animation-e">
        <p class="tit">美国纽交所上市公司<br>国内最大在线青少英语培训品牌</p>
        <img data-src="<%= imagessrc%>north_america/america_t_img.jpg" width="1200" height="209" src="<%=imagessrc%>common/deafult.png">
      </div>
    </div>
    <div class="edu-list">
      <ul>
        <li>
          <div class="animation-edu01">
            <img data-src="<%= imagessrc%>north_america/america_tea_img01.jpg" width="362" height="156" src="<%=imagessrc%>common/deafult.png">
            <p class="title">严选优质北美师资</p>
            <span class="content">
              全部来自美国和加拿大母语外教<br>100%持有教学资格证书及多年外语教学实践经验<br>100%青少教学经验
            </span>
          </div>
        </li>
        <li>
          <div class="animation-edu02">
            <img data-src="<%= imagessrc%>north_america/america_tea_img02.jpg" width="362" height="156" src="<%=imagessrc%>common/deafult.png">
            <p class="title">引进美国原版课程</p>
            <span class="content">
              同步美国小学课程<br>独家引进全球最权威的Reading A-Z分级阅读资源
            </span>
          </div>
        </li>
        <li>
          <div class="animation-edu03">
            <img data-src="<%= imagessrc%>north_america/america_tea_img03.jpg" width="362" height="156" src="<%=imagessrc%>common/deafult.png">
            <p class="title">在线个性化高效学习系统</p>
            <span class="content">
              独创EFL闭环学习系统，学、练、测<br>三维学习，确保孩子的学习效果
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
<!-- /education -->
<!-- service -->
  <div class="north-service">
    <div class="america-width">
      <h3 class="america-title">5对1的金牌VIP学习服务支持</h3>
      <img data-src="<%= imagessrc%>north_america/america_tit01.png" width="288" height="23" class="america-img" src="<%=imagessrc%>common/deafult.png">  
      <div class="ser-list">
        <ul>
          <li>
            <img data-src="<%= imagessrc%>north_america/america_ser_img01.jpg" width="190" height="190" src="<%=imagessrc%>common/deafult.png">
            <p class="title">金牌美教1v1</p>
            <span class="content">沉浸式个性化学习<br>给孩子最专注的教学</span>
          </li>
          <li>
            <img data-src="<%= imagessrc%>north_america/america_ser_img02.jpg" width="190" height="190" src="<%=imagessrc%>common/deafult.png">
            <p class="title">贴心助教服务</p>
            <span class="content">经验丰富的中教为孩子提<br>供答疑解惑的贴心辅导</span>
          </li>
          <li>
            <img data-src="<%= imagessrc%>north_america/america_ser_img03.jpg" width="190" height="190" src="<%=imagessrc%>common/deafult.png">
            <p class="title">权威学术课程</p>
            <span class="content">200+国际学术专家团队，<br>更懂孩子，更懂教育</span>
          </li>
          <li>
            <img data-src="<%= imagessrc%>north_america/america_ser_img04.jpg" width="190" height="190" src="<%=imagessrc%>common/deafult.png">
            <p class="title">五星产品体验</p>
            <span class="content">产品专家打造最方便实用<br>的一站式学习平台，更有<br>家长伴课功能实时了解孩<br>子学习进度</span>
          </li>
          <li>
            <img data-src="<%= imagessrc%>north_america/america_ser_img05.jpg" width="190" height="190" src="<%=imagessrc%>common/deafult.png">
            <p class="title">青少专家分享</p>
            <span class="content">中外青少年教育专家、大<br>咖定期分享国际教育趋势<br>教育经验与心得，孩子教<br>育不再忧虑！</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- /service -->
<!-- learning -->
  <div class="north-learning">
    <h3 class="america-title">帮孩子有效达成学习目标</h3>
    <img data-src="<%= imagessrc%>north_america/america_tit01.png" width="288" height="23" class="america-img" src="<%=imagessrc%>common/deafult.png">
    <div class="lear-img">
      <img data-src="<%= imagessrc%>north_america/america_bj02.png" width="456" height="455" class="america-bg02" src="<%=imagessrc%>common/deafult.png"> 
      <div class="america-bg01">
        <img data-src="<%= imagessrc%>north_america/america_line01.png" width="93" height="253" class="line01" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_line02.png" width="290" height="67" class="line02" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_line03.png" width="68" height="314" class="line03" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_line04.png" width="294" height="58" class="line04" src="<%=imagessrc%>common/deafult.png"> 
        <img data-src="<%= imagessrc%>north_america/america_m_tit01.png" width="108" height="108" class="m-tit01" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_m_tit02.png" width="108" height="108" class="m-tit02" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_m_tit03.png" width="108" height="108" class="m-tit03" src="<%=imagessrc%>common/deafult.png">
        <img data-src="<%= imagessrc%>north_america/america_m_tit04.png" width="108" height="108" class="m-tit04" src="<%=imagessrc%>common/deafult.png">     
      </div>
    </div>
  </div>
<!-- /learning -->
<!-- more -->
  <div class="north-more">
    <h3 class="america-title">更多学员好评成果验证</h3>
    <img data-src="<%= imagessrc%>north_america/america_tit02.png" width="368" height="23" class="america-img" src="<%=imagessrc%>common/deafult.png"> 
    <div class="more-list">
      <ul>
        <li>
          <span class="num">1000+</span>
          <span class="name">北美金牌教师</span>
        </li>
        <li>
          <span class="num">18000+</span>
          <span class="name">注册学员</span>  
        </li>
        <li>
          <span class="num">100%</span>
          <span class="name">美国／加拿大国籍教师</span>  
        </li>
      </ul>
    </div> 
  </div>
<!-- /more -->
</div>
<!--媒体关注-->
<div class="m-medium">
    <h2>媒体关注</h2>

    <div class="des"><a href="javascript:;"><img src="<%=imagessrc%>north_america/america_tit03.png"  alt=""></a></div>
    <div class="list list1 centerMth">
        <ul class="clearfix">
            <li class="radius1">
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/wangyi.png" src="<%=imagessrc%>common/deafult.png"></a>
                
            </li>
            <li>
               <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/sinan.png" src="<%=imagessrc%>common/deafult.png"></a>
               
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/jiemodui.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/36kr.png" src="<%=imagessrc%>common/deafult.png"></a>
                
            </li>
            <li class="radius4">
               <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/tencent.png" src="<%=imagessrc%>common/deafult.png"></a>
               
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/touzhijia.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/fenghuangkeji.png" src="<%=imagessrc%>common/deafult.png"></a>
                
            </li>
            <li>
               <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/fenghuangwang.png" src="<%=imagessrc%>common/deafult.png"></a>
               
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/wangyijiaoyu.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/jingjiribao.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li class="radius2">
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/xinjinbao.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li >
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/hexun.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/donews.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li>
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/chuangyebang.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
            <li class="radius3">
                <a href="javascript:;"><span></span><img class="fade_in" width=140 height=50 data-src="<%=imagessrc%>common/medium/renminwang.png" src="<%=imagessrc%>common/deafult.png"></a>
            </li>
        </ul>
    </div>
    <div class="list list2  centerMth hide">
        <ul class="clearfix">
            <li class="radius5">
                <a href="javascript:;">
                    <span>
                        <img class="fade_in" width=141 height=99 data-src="<%=imagessrc%>common/medium/rongyi1.png" src="<%=imagessrc%>common/deafult.png">

                    </span>
                    <p>2015高科技高成长中国50强</br>德勤</p>
                </a>
                
            </li>
            <li>
               <a href="javascript:;">
                    <span>
                        <img class="fade_in" width=141 height=99 data-src="<%=imagessrc%>common/medium/rongyi2.png" src="<%=imagessrc%>common/deafult.png">
                    </span>
                    <p>2014最具成长性教育品牌</br>中国日报</p>
                </a>
               
            </li>
            <li>
                <a href="javascript:;">
                    <span>
                        <img class="fade_in" width=141 height=99 data-src="<%=imagessrc%>common/medium/rongyi3.png" src="<%=imagessrc%>common/deafult.png">
                    </span>
                    <p>最具影响力在线教育品牌</br>网易</p>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <span>
                        <img class="fade_in" width=141 height=99 data-src="<%=imagessrc%>common/medium/rongyi4.png" src="<%=imagessrc%>common/deafult.png">
                    </span>
                    <p>年度最具成长力品牌</br>新京报</p>
                </a>
                
            </li>
            <li class="radius6">
               <a href="javascript:;">
                    <span>
                        <img class="fade_in" width=141 height=99 data-src="<%=imagessrc%>common/medium/rongyi4.png" src="<%=imagessrc%>common/deafult.png">
                    </span>
                    <p>最具品牌知名度外语教育机构</br>新浪网</p>
                </a>
               
            </li>
        </ul>        
    </div>
</div>
<!--媒体关注-->
<!--扫码关注 -->
<div class="m-weixin">
    <h2>7X24小时，课程顾问为您服务</h2>
    <div class="tel">400·51·51·51</div>
    <div class="tit">关注我们的公众号，获取每日英语学习资讯，并享受更多优惠！</div>
    <div class="list">
      <ul>
        <li>
            <img data-src="<%=imagessrc%>common/usa_code.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
            <div class="name">美国小学课程</div>
        </li>
        <li>
            <img data-src="<%=imagessrc%>common/teen.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
            <div class="name">无忧英语 · 青少课程</div>
        </li>
        <li>
            <img data-src="<%=imagessrc%>common/d_code.png" width="194" height="195" src="<%=imagessrc%>common/deafult.png">
            <div class="name">无忧英语 · 成人课程</div>
        </li>
      </ul>
    </div>
</div>
<!--扫码关注 -->
<% include ../common/w_footer_home.ejs %>
<!-- right side bar -->
<% include ../common/w_side_bar.ejs %>
<!-- /right side bar-->
</body> 
</html>
<script src="<%= jsPath%>common/jquery.min.js"></script>
<script src="<%= jsPath%>vendor.js" id="seajsnode"></script>
<script>
  $(function(){
    $('.bar-list li').hover(function(){
        $(".b-hover").show();
        var index = $(this).index();
        if(index==0){
          $(".b-hover").removeClass("b-hover02").removeClass("b-hover03");
        }
        if(index==1){
          $(".b-hover").addClass("b-hover02").removeClass("b-hover03");
        }
        if(index==2){
          $(".b-hover").addClass("b-hover03").removeClass("b-hover02");
        }
        $('.b-hover').animate({
            top: index * 100
        },100)
    },function(){
      $(".b-hover").hide();
    })
  })  
</script>

