<% include ../common/top.ejs %>
<script type="text/javascript" src="../../../js/html/project/l_festival/jquery.min.js"></script>
<body>
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="pri-main">
    <div class="banner">
      <div class="widthMain1030" id="widthMain1030">
      </div>
    </div>
    <div class="rota">
      <div class="widthMain">
        <div class="lt">
            <div class="prize_list">
                <ul class="names">
                    <li><span>absefd01</span>学员抽中<b>3张次卡</b></li>
                    <li><span>songyueyang02</span>学员抽中<b>100元代金卷</b></li>
                    <li><span>二爷03</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU04</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋05</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷06</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU07</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋08</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋09</span>学员抽中<b>3张次卡</b></li>
                    <li><span>二爷10</span>学员抽中<b>500元代金卷</b></li>
                    <li><span>LULU11</span>学员抽中<b>3张次卡</b></li>
                    <li><span>柳文锋12</span>学员抽中<b>3张次卡</b></li>
                </ul>
            </div>
          <ul class="tit">
            <li>活动规则：</li>
            <li>1.活动时间：09月09日11：00：00 - 09月18日 23：59：59</li>
            <li>2.iPhone7图片仅供参考，以实物为准</li>
            <li>3.抽中课程或实物奖品的同学，需要在09月09日 - 09月18日期间购买5000元以上
套餐，活动结束后，奖品由客服联系寄出。</li>
          </ul>
          <p class="rota_more">更多详情 ></p>
        </div>
        <div class="dial-bg" id="lottery" prize_site="" prize_id="" nick_name="" prize_name="">
          <ul class="l_grid clearfix">
            <li class="l_prize l_prize-0 l_now"><img src="<%= imagessrc%>djq3.png" alt=""></li>
            <li class="l_prize l_prize-1"><img src="<%= imagessrc%>sjb.png" alt=""></li>
            <li class="l_prize l_prize-2"><img src="<%= imagessrc%>mini.png" alt=""></li>
            <li class="l_prize l_prize-7"><img src="<%= imagessrc%>jdk5.png" alt=""></li>
            <li class="pointer"></li>
            <li class="l_prize l_prize-3"><img src="<%= imagessrc%>jdk3.png" alt=""></li>
            <li class="l_prize l_prize-6"><img src="<%= imagessrc%>jpb.png" alt=""></li>
            <li class="l_prize l_prize-5"><img src="<%= imagessrc%>jdk.png" alt=""></li>
            <li class="l_prize l_prize-4"><img src="<%= imagessrc%>djq5.png" alt=""></li>
          </ul>
        </div>
      </div>
      <a href="javascript:;" class="l_btn" id="prize_log"></a>
    </div>
    <div class="pri-list02">
      <div class="widthMain">
        <ul class="pri-list02-l clearfix">
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
          <li><a href="javascript:;"></a></li>
        </ul>
      </div>  
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list03">
      <div class="widthMain">
        <ul class="pri-list03-l clearfix">
          <li>
            <div class="pri-audio" date-num="0" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="1" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="2" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="3" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="4" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="5" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="6" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="pri-audio" date-num="7" date-src="">
              <a href="javascript:;" class="pri-start"></a>
              <div class="pri-right">
                <div class="pri-r-width">
                  <a href="javscript:;"></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <audio src="" id="audio">
        Your browser does not support the audio element.
        </audio>
      </div>
    </div>
    <div class="pri-list04"> 
      <div class="widthMain">
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list05">
      <div class="widthMain">
        
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
    <div class="pri-list06">
      <div class="widthMain">
      </div>
      <a href="javascript:;" target="_blank" class="l_btn"></a>
    </div>
</div>
<div class="dialog" id="dialog">
    <div class="info">
        <div class="box">
            <a href="javascript:;" class="close"></a>
            <h3>恭喜获得：<span class="prizeName">350元代金券</span></h3>
            <div class="detail">
                <img src="<%= imagessrc%>djq3_2.png" alt="">
                <img src="<%= imagessrc%>sjb2.png" alt="">
                <img src="<%= imagessrc%>mini2.png" alt="">
                <img src="<%= imagessrc%>jdk3_2.png" alt="">
                <img src="<%= imagessrc%>djq5_2.png" alt="">
                <img src="<%= imagessrc%>jdk2.png" alt="">
                <img src="<%= imagessrc%>jpb2.png" alt="">
                <img src="<%= imagessrc%>jdk5_2.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- 我的抽奖记录和未抽奖 -->
<div class="dialog2" id="dialog2">
    <div class="tip tip-1">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text2">
            <h3>您还没有参与抽奖，快去抽奖吧！</h3>
        </div>
    </div>
    <div class="tip tip-2">
        <a href="javascript:;" class="close"></a>
        <div class="gold_box"></div>
        <div class="text text1">
            <p>您已获得</p>
            <h3>迪士尼亲子票2张</h3>
        </div>
    </div>
</div>
<!-- 更多规则 -->
<div class="dialog3" id="dialog3">
  <div class="tip">
    <a href="javascript:;" class="close"></a>
    <h3>更多规则</h3>
    <p class="line"></p>
    <ul class="details">
      <li>1.每位同学仅有1次抽奖机会（新注册同学预约完成体验课才能抽奖哦）</li>
      <li>2.关于代金券：</li>
      <li>
        <ul>
          <li>• 代金券仅限在购买课程时使用，有效期至本活动结束</li>
          <li>• 代金券将在中奖后10分钟内发到您站内信</li>
        </ul>
      </li>
      <li>3.全部中奖名单将在9月19日在学习社区公布</li>
      <li>4.本活动最终解释权归51Talk所有</li>
    </ul>
  </div>
</div>

<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<!-- 系统通知 -->
<div class="sysInfo">
  <div class="dtInfo">
    <p class="tit">系统通知</p>
    <p class="test">
      请先登录访问
      <a href="/user/user_login.php?from_url=/activity/dodisney" class="down" id="down" target="_blank">我知道了</a>
    </p>
  </div> 
</div>
</body>
</html>
<script type="text/javascript" src="../../../js/html/project/teacher_day/battle.js"></script>