<% include ../common/top.ejs %>
<body>
<header class="header" id="container" data-init="needLogin">
    <img src="<%= imagessrc%>merry_nav.jpg">
    <a href="javascript:;" class="logo">
        <img src="<%= imagessrc%>logo.png" class="logoImg" title="51Talk">
    </a>
</header>
<section class="draw">
    <section class="share_names" style="display:block;">
        <ul class="name_list">
            <li>中奖名单：Elisabeth 学员抽中歌帝梵巧克力</li>
            <li>中奖名单：Elisabeth 学员抽中￥1000</li>
            <li>中奖名单：Elisabeth 学员抽中施华洛世奇水晶挂饰</li>
        </ul>
        <a href="javascript:;" class="rule" id="rule">活动规则></a>
    </section>
    <section class="dial-bg" id="lottery">
        <a href="./register.html">
            <ul class="l_grid clearfix">
                <li class="l_prize c-0 l_now"><span class="p-img"><img src="<%= imagessrc%>merry_price01.png" alt=""></span></li>
                <li class="l_prize l_prize-1"><span class="p-img"><img src="<%= imagessrc%>merry_price02.png" alt=""></span></li>
                <li class="l_prize l_prize-2"><span class="p-img"><img src="<%= imagessrc%>merry_price03.png" alt=""></span></li>
                <li class="l_prize l_prize-7"><span class="p-img"><img src="<%= imagessrc%>merry_price04.png" alt=""></span></li>
                <li class="pointer"><span class="p-img"><img src="<%= imagessrc%>merry_price09.png"></span></li>
                <li class="l_prize l_prize-3"><span class="p-img"><img src="<%= imagessrc%>merry_price05.png" alt=""></span></li>
                <li class="l_prize l_prize-6"><span class="p-img"><img src="<%= imagessrc%>merry_price06.png" alt=""></span></li>
                <li class="l_prize l_prize-5"><span class="p-img"><img src="<%= imagessrc%>merry_price07.png" alt=""></span></li>
                <li class="l_prize l_prize-4"><span class="p-img"><img src="<%= imagessrc%>merry_price08.png" alt=""></span></li>
            </ul>
        </a>
    </section>
</section>
<section class="draw-list hide" style="background-color:#cb0013;">
    <footer>Copyright©北京大生知行科技有限公司</footer>
</section>
<section class="merry_bj hide"><img src="<%= imagessrc%>merry_bj.png"></section>

<!-- 活动规则 -->
<div class="activity-rule hide" id="rulePanel">
    <div class="mask">
        <p class="nav-t">
            <span>活动规则</span>
            <a href="javascript:;" class="close" ><img src="<%= imagessrc%>merry_del.png"></a>
        </p>
        <ul class="list">
            <li>1. 活动时间：12月16日11:00:00—12月25日 23:59:59。</li>
            <li>2. 每位同学仅有1次抽奖机会，代金券仅限于活动期间购买课程时使用。</li>
            <li>3. 中奖信息将于中奖后10分钟内发至您的站内信。</li>
            <li>4. 图片仅供参考，以实物为准，抽中课程或实物奖品的同学，需要活动期间购买5000元及以上套餐，活动结束后，奖品由客服联系寄出。</li>
            <li>5. 本活动最终解释权归51Talk所有。</li>
        </ul>
    </div>
</div>
<!-- /活动规则 -->

<!--登录-->
<div class="register-panel hide">
    <div class="mask">
        <a href="javascript:;" class="close">
            <img src="<%= imagessrc%>merry_del.png" title="关闭">
        </a>
        <form action="">
            <div class="registerContent">
                <ul class="register">
                    <li>
                        <p>登录或注册后才能抽奖哦<img src="<%= imagessrc%>smile.png"></p>
                    </li>
                    <li>
                        <input type="text" class="txt" placeholder="请输入您的手机号">
                    </li>
                    <li>
                        <input type="text" class="codeTxt" placeholder="请输入验证码">
                        <span class="codeBtn">验证码</span>
                    </li>
                    <li>
                        <input type="text" class="txt" placeholder="请输入您的密码">

                    </li>
                    <li>
                        <a href="javascript:;" class="loginBtn">登录</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<!--/登录-->

</body>
<% include ../common/bottom.ejs %>