<% include ../common/top.ejs %>
<body data-init="index">
<!-- 顶部 -->
<% include ../common/www/w_header.ejs %>
<div class="m-banner">
  <img src="<%= imagessrc%>pri_nav.jpg" alt="">
  <div class="clearbox pri-nav">
    <a href="javascript:;" class="nav-btn" target="_blank">就等你了</a> 
  </div>
</div>
<div class="pri-list">
  <div class="clearbox">
    <h3 class="tit"><span>学习</span>就是使用，<span>实用</span>才是王道<br><span>使用</span>就是学习，<span>练习</span>才能提高</h3>
    <ul class="list">
      <li class="ft">
        <img src="<%= imagessrc%>1.jpg">
        <p class="ts">环游世界</p>
        <span class="tx">带上金句走，全球任我游</span>
      </li>
      <li class="tw">
        <img src="<%= imagessrc%>3.jpg">
        <p class="ts">职场达人</p>
        <span class="tx">英语够狠，事业才稳</span>
      </li>
      <li class="ht">
        <img src="<%= imagessrc%>4.jpg">
        <p class="ts">实用口语</p>
        <span class="tx">真实场景，现学现用</span>
      </li>
      <li class="fs">
        <img src="<%= imagessrc%>2.jpg">
        <p class="ts">学习技巧</p>
        <span class="tx">下一个英语高手就是你！</span>
      </li>
    </ul>
  </div>  
</div>
<div class="pri-funy">
  <div class="funy-img">
    <img src="<%= imagessrc%>pri_img.jpg">
    <div class="clearbox">
      <p class="text">各抒己见，携手同行<span>与同级小伙伴PK，秀口语.掌握更多会话技巧，任性聊</span></p>
    </div>
  </div> 
</div>
<div class="pri-cour">
  <div class="clearbox">
    <h3 class="tit">加量不加价：4月起小班课<span>全新改版</span></h3>
    <p class="ws">更多.更好.更开心<span>（精彩纷呈的海量话题，抢先预览）</span></p>
    <div class="cour">
      <p class="ts">周一至周五<span>课程表</span></p>
      <ul class="cr-list">
        <li>
          <span class="time"><a href="javascript:;">14:00-14:50</a></span>
          <span><a href="javascript:;">教你巧用图片学英语</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">15:00-15:50</a></span>
          <span><a href="javascript:;">必须get的英语演讲技能</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">16:00-16:50</a></span>
          <span><a href="javascript:;">速读英语不再难</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">17:00-17:50</a></span>
          <span><a href="javascript:;">五招帮你克服紧张综合症</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">18:00-18:50</a></span>
          <span><a href="javascript:;">人生中最重要的一课</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">19:00-19:50</a></span>
          <span><a href="javascript:;">假如你是威廉王子，你会?</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">20:00-20:50</a></span>
          <span><a href="javascript:;">那些超级实用的浴室神器</a></span>
          <span><a href="javascript:;">如何直面工作中的难题？</a></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">21:00-21:50</a></span>
          <span><a href="javascript:;">优秀项目leader必备的特质</a></span>
          <span><a href="javascript:;">午饭吃什么?</a></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">22:00-22:50</a></span>
          <span><a href="javascript:;">环游世界 | 如何快速搞定机票</a></span>
          <span><a href="javascript:;">如何直面工作中的难题？</a></span>
        </li>
      </ul>
      <div class="ms-bom"></div>
      <p class="t-bom">周一至周五，每日<span>12节</span></p>
    </div>
    <div class="cour rt-cor">
      <p class="ts">周六至周日<span>课程表</span></p>
      <ul class="cr-list">
        <li>
          <span class="time"><a href="javascript:;">09:00-09:50</a></span>
          <span><a href="javascript:;">这样学英语，有趣又有料</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">10:00-10:50</a></span>
          <span><a href="javascript:;">用英语这样“申请退款”</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">14:00-14:50</a></span>
          <span><a href="javascript:;">如何用英语优雅地询问他人...</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">15:00-15:50</a></span>
          <span><a href="javascript:;">你的周末怎么过？快来分享吧！</a></span>
          <span><a href="javacript:;">2015最佳英文唱片</a></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">16:00-16:50</a></span>
          <span><a href="javascript:;">Puppy love，你如何看？</a></span>
          <span><a href="javascript:;">盘点 | 约会最佳去处</a></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">18:00-18:50</a></span>
          <span><a href="javascript:;">雨中开车安全小贴士</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">19:00-19:50</a></span>
          <span><a href="javascript:;">记英语笔记方法大全</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">20:00-20:50</a></span>
          <span><a href="javascript:;">春夏秋冬，你最中意哪个季节</a></span>
          <span></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">21:00-21:50</a></span>
          <span><a href="javascript:;">见外国客户，要注意哪些？</a></span>
          <span><a href="javascript:;">让员工疯狂的团队活动</a></span>
        </li>
        <li>
          <span class="time"><a href="javascript:;">22:00-22:50</a></span>
          <span><a href="javascript:;">正能量 | 工作中不能有的抱怨</a></span>
          <span><a href="javascript:;">天呐！如此“臭”</a></span>
        </li>
        <li class="rt-last">
          <span class="time"><a href="javascript:;">22:00-22:50</a></span>
          <span><a href="javascript:;">环游世界 | 如何轻松预定酒店？</a></span>
          <span><a href="javascript:;">见外国客户，要注意哪些？</a></span>
        </li>
      </ul>
      <div class="ms-bom"></div>
      <p class="t-bom">周六至周日，每日<span>16节</span></p>
    </div>
  </div>  
</div>
<div class="join">
  <div class="clearbox">
    <p class="tit">还等什么，赶紧加入吧！</p>
    <p class="href"><a href="javascript:;">就等你了</a></p>
  </div>
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
</body>
</html>