<% include ../common/top.ejs %>
<body>
	<section id="container" data-init="eng">
		<article class="top">
			<article class="topT">
				<img src="<%= imagessrc%>eth_nav.jpg"  class="topImg" alt="">
			</article>
			<a href="javascript:;" name="logIn"></a>
			<p class="top_t">注册后，可<span>免费</span>获得价值188元外教1对1体验课，<br>和51Talk每月上百节<span>免费</span>公开课！</p>
			<form id="reg1_form">
				<ul class="OneS_logIn">
		      <li>
		        <input type="number" placeholder="请输入您的手机号" id="reg1_tel">
		      </li>
		      <li>
		        <input type="password" placeholder="请设置您的密码" id="reg1_passwd">        
		      </li>
		      <li class="OneS_last">
		        <a href="javascript:;" class="free" id="reg1" >马上免费体验</a>
		      </li>
		    </ul>
		  </form>
		</article>
		<article class="center bg_c">
			<h3 class="centTit"><span class="c_t_bt">怎样学好英语</span><br><span class="c_t_bb">HOW TO LEARN ENGLISH WELL<i class="c_t_bs"></i></span></h3>
			<ul class="centList">
				<li>外教1对1</li>
				<li>浸泡式环境</li>
				<li>可每天上课</li>
			</ul>
		</article>
		<article class="cer-img">
			<img src="<%= imagessrc%>eth_img01.jpg" alt="">
			<img src="<%= imagessrc%>eth_img02.jpg" alt="">
		</article>
		<article class="centerT">
			<h3 class="centTit"><span class="c_t_bt">星光璀璨</span><br><span class="c_t_bb">THE STARS SHINING<i class="c_t_bs"></i></span></h3>
			<dl>
				<dt><img src="<%= imagessrc%>leij.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">雷&emsp;军<i class="centTL_r"></i></span><span class="centB">小米手机董事长<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk做到25分钟教学15元价钱，这是天大的好事，可以让更多人学好英语！”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="<%= imagessrc%>xux.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">徐小平<i class="centTL_r"></i></span><span class="centB">新东方联合创始人<i class="centB_r"></i></span></h3>
					<p class="centText">“要想全球walk，就来51Talk。让更多的人从51talk物美价廉的教学中获益。”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="<%= imagessrc%>huangj.png" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">黄佳佳<i class="centTL_r"></i></span><span class="centB">51Talk创始人 CEO<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk 致力于让每个人都有平价接受语言学习的机会和对话世界的能力。”</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="<%= imagessrc%>cxu.jpg" alt=""></dt>
				<dd>
					<h3 class="centTL"><span class="centL">蔡&emsp;旭<i class="centTL_r"></i></span><span class="centB">外企职员<i class="centB_r"></i></span></h3>
					<p class="centText">“51Talk不只是让我把英语又捡回来了，工作上也更自信得心应手。”</p>
				</dd>
			</dl>
		</article>
		<article class="centerTt"><img src="<%= imagessrc%>general2.jpg" class="bottomImg" alt=""></article>
		<footer class="footer">
			<a href="#logIn" class="free">马上注册，体验免费外教课</a>
			<p>Copyright©北京大生知行科技有限公司</p>
		</footer>
	</section>
</body>
<% include ../common/bottom.ejs %>










