<% include ../common/top.ejs %>
<link rel="stylesheet" href="../../../less/html/pull_wool24301/jquery.mCustomScrollbar.min.css">
<body>
<div class="container" data-init="pull_wool24301" data-url="http://wap.51talk.com/activity/invite?pid=" data-qqweibo_title="我再51Talk学英语好多天了，邀请你一起来">
 <!--  <div class="word">
    <b>找到3个小伙伴，免费获得<em>12课时</em>!</b>
    <i>邀请好友一起薅</i>
  </div> -->
  <!-- nav -->
  <div class="nav bdsharebuttonbox bdshare-button-style0-16">
    <ul>
      <li class="smsli" onmouseover=handle(); onmouseout=playall(); onClick="dialog('sms')">
        <a href="javascript:void(0)" class="smsP"></a>
        <span class="nav_text">发送短信</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('link')">
        <a href="javascript:void(0)" class="linkP"></a>
        <span class="nav_text">复制链接</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('qq')">
        <a href="javascript:void(0)" data-cmd="sqq" class="bds_tqq" target="_blank"></a>
        <span class="nav_text">QQ好友</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('wechat')" class="wechatSp wcWindow ">
        <a href="javascript:void(0)" data-cmd="weixin" class="bds_weixinF chatWindow"></a>
        <span class="nav_text">微信</span>
      </li>
      <li onmouseover=handle(); onmouseout=playall(); onClick="dialog('sina')" >
        <a href="javascript:void(0)" data-cmd="tsina" class="bds_tsina"></a>
        <span class="nav_text">新浪微博</span>
      </li>
    </ul>
  </div>
  <!-- nav/ -->
  <!--award-->
  <div class="award row">
    <b>奖励标准</b>
    <div class="content bdsharebuttonbox" >
        <h2>每邀请<span>1位</span>好友付费</h2>
        <h3>你将会获得<span>10次卡</span>，多劳多得！</h3>
        <h4>好友额外获得<span>3次卡！</span></h4>
        <em>有些小伙伴已经拿到300多次卡喽~</em>
        <br />
        <a href="javascript:void(0)" data-cmd="weixin" class="chatWindow" title="">点击分享</a>
    </div>
    <div class="ft-bom">好友注册成功得<i>1节课</i> 买课后得<i>3节课</i></div>
    <div class="face"></div>
  </div>
  <!--award/-->
  <!--reward-->
  <div class="reward getReward">
    <b class="b">您本月已免费获得 <font class="font">0张</font> 次卡奖励</b>
    <span class="r-ls">查看历史记录>></span>
    <div class="rew-tab">
      <dl>
        <dd>朋友</dd>
        <dd>状态</dd>
        <dd>为您赢取奖励</dd>
      </dl>
      <div class="others">
        <table>
          <tbody>
            <tr>
              <td><span class="tel"><img src="<%= imagessrc%>choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="<%= imagessrc%>choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="<%= imagessrc%>choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="<%= imagessrc%>choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="<%= imagessrc%>choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="<%= imagessrc%>choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="<%= imagessrc%>choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="<%= imagessrc%>choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr>
              <td><span class="tel"><img src="<%= imagessrc%>choice_1.png"> 13466799465</span>
              </td><td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
            <tr class="act yellow">
              <td><span class="tel"><img src="<%= imagessrc%>choice_2.png"> 13466799465</span></td>
              <td><span class="status">已注册</span></td>
              <td><span class="for">等待中</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="nogift" style="display: none;">
        <img src="<%= imagessrc%>nogift.png" width="417" height="142">
      </div>
    </div>
    <div class="face r-face"></div>
  </div>
  <!--reward/-->
  <!--rules-->
  <div class="reward rules">
    <img src="<%= imagessrc%>bm_icon.png" width="1000" height="36">
    <div class="reward-ct">
      <p>1、薅羊毛活动新规则自10月14日起生效；</p>
      <p>2、活动规则：活动仅面向老会员，付费学员每邀请1位好友付费，得10次卡，邀请无上限，邀请越多，获得奖励越多；</p>
      <p>3、被邀请的用户注册成功得1节体验课，购买课程后将获得3次卡奖励；</p>
      <p>4、获赠的次卡会在您的好友付费次日，定时自动发送给您和您的好友，充值信息请在“站内信”中查看；</p>
      <p>5、赠送的次卡不可退款。</p>
      <p>注：自己邀请自己是不会送课的哦！我们将会进行人工核查！</p>
      <p>本活动最终解释权归51Talk所有。</p>
    </div>
    <b class="xq">详细规则</b>
    <img src="<%= imagessrc%>bm_icon.png" width="1000" height="36" class="btm">
    <div class="face r-face ru-face"></div>
  </div>
  <!--rules/-->
</div>
<!--layer-->
<div class="bg"></div>
<div class="sms">
  <span class="title">短信邀请好友：</span>
  <!-- <img src="images/close.png" onClick="dialog('sms', 'no')"> -->
  <a href="javascript:void(0)" class="cbtn" onClick="dialog('sms', 'no')"></a>
  <div class="smsForm">
    <div class="smsf1">
      <span class="tips"></span>
      <form>
        <ul>
          <li class="info"><input name="name" type="text" placeholder="我的中文名"></li>
          <li class="info"><input name="recommen_name" type="text" placeholder="好友的中文名"></li>
          <li class="info"><input name="recommen_mobile" type="text" placeholder="好友的手机号"></li>
          <li class="inviteBtn">发送短信</li>
        </ul>
      </form>
    </div>
    <div class="smsf2">
        <span class="succ">发送成功</span>
        <span class="sureBtn">确定</span>
    </div>
    <div class="content">
      <span class="smsInfoTitle">短信内容</span>
      <div class="smsCon">
        <span class="smsContent">XXX，</span>
        <br>
        <span class="smsContent">我在51Talk和外教学英语有段时间了，进步很明显，<>点击即可领取专业1对1口语课，还能额外获得3节赠课哦！XXX  </span>
      </div>
    </div>
  </div>
</div>
<div class="link">
  <span class="title">邀请链接：</span>
  <!-- <img src="images/close.png" onClick="dialog('link', 'no')"> -->
  <a href="javascript:void(0)" class="cbtn" onClick="dialog('link', 'no')"></a>
  <div class="linkForm">
    <ul>
      <li class="tips">您的专属邀请链接，复制发给好友：</li>
      <li><input id="shareUrl" name="name" type="text" class="info" value="http://wap.51talk.com/activity/invite?pid="></li>
      <li class="inviteBtn">复制</li>
    </ul>
  </div>
</div>
<div class="alert" type="sms">
  <div class="title"><h4>温馨提示</h4><a id="img_slt"><img src="<%= imagessrc%>slt.png"></a></div>
  <div class="infobox">
    <span class="info"></span>
    <div class="btn">确定</div>
  </div>
</div>
<!--layer/-->
<!-- weChat -->
<div class="weChat-window">
    <h3>微信扫码，分享“您的专属注册页”到朋友圈</h3>
    <p>
        每邀请1位好友成功付费，送你<span>10节</span>课 <br />
        好友付费后将额外获得<span>3节</span>课<br />
        邀请越多，送越多！
    </p>
    <a href="javascript:;" class="wc-close">
      <i></i>
    </a>
    <div class="erwei" id="erwei">
        <!-- <img src="<%= imagessrc%>erwei.png" width="205" height="205" /> -->
    </div>
</div>
<!-- weChat end-->
<!-- 弹出层 -->
<div class="p-layer hide">
  <div class="ly-t">
    <h3>所有历史记录</h3>
    <a href="javascript:;" class="r-hov">
      <i></i>
    </a>
    <div class="t-tab">
      <table>
        <tbody>
          <tr>
            <th>朋友</th>
            <th>状态</th>
            <th>为您赢取奖励</th>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
          <tr>
            <td><i></i>3121586640</td>
            <td>已付费</td>
            <td>10张次卡</td>
          </tr>
        </tbody>
      </table>
      <p class="t-p">没有更多记录了，快去邀请更多好友参与吧</p>
    </div>
  </div> 
</div>
<!-- 弹出层/ -->
</body>
<style type="text/css">
    #bdshare_weixin_qrcode_dialog{opacity: 0;filter:alpha(opacity=0);}
    .bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
        float: none;
        font-size:30px;
        line-height:30px;
        height: 30px;
    }
    .bdshare-button-style0-16 a:hover{
      opacity: 1;filter:alpha(opacity=100);
    }
</style>
<% include ../common/bottom.ejs %>
<script src="../../../js/html/project/pull_wool24301/jquery-ui-1.10.4.min.js"></script>
<script src="../../../js/html/project/pull_wool24301/jquery.mousewheel.min.js"></script>
<script src="../../../js/html/project/pull_wool24301/jquery.mCustomScrollbar.min.js"></script>
 