<% include ../common/top.ejs %>
<body>
<!--购物车-->
<input type="hidden" id="cartType" value="cart">
<input type="hidden" id="cartID" value="">
<input type="hidden" id="actArr" value="">
<input type="hidden" id="downMoney" value="0">
<input type="hidden" id="showAgree" value="n">
<form id="form-cart" name="point_form" action="/pay/order" method="post" target="_blank">
  <div class="m-cart" id="cart" style="right:-255px; " ><!-- right从 0 到 -251  -->
    <input type="hidden" name="cart" value='{"cart":[],"package":"off","earphone":"off"}'>
    <div class="cart-hd"><em class="jsCount">0</em></div>
    <div class="cart-bd"><!-- width从 0 到 251  -->
      <div class="cart-in">
        <div class="title">我的购物车（<em class="jsCount">0</em>）
          <div class="u-pages">
            <a class="prev dis-prev" href="javascript:void(0)">&lt;</a>
            <span class="crt"><em class="jsPageNow">1</em><em>/</em><em class="jsPageCount">1</em></span>
            <a class="next dis-next" href="javascript:void(0)">&gt;</a>
          </div>
        </div>
        <div class="products">
            <div class="jsWrap">
            </div>
        </div>
        <div class="addeds" style="visibility: hidden;">
            <dl class="product">
                <a class="s-fc6" href="#level">立即购买配套教材，学习效果更佳！</a>
            </dl>
            <dl class="product">
                <dt class="added">
                    <label class="u-lab jsPackageLabel">
                        <input class="f-dn" type="checkbox" name="package">

                        <span class="u-txt">+<em class="jsPackage">0</em>元，您还可以选购<a href="javascript:;">电话包</a></span>
                    </label>
                </dt>
            </dl>
            <dl class="product" style="border-top: 1px solid rgb(228, 234, 238);">
                <dt class="added">
                <label class="u-lab jsEarphoneLabel">
                    <input class="f-dn" type="checkbox" name="earphone">
                   
                    <span class="u-txt" data-cart="">+50元，选购高保真耳麦(双插头)</span>
                </label>
                </dt>
            </dl>
            <p class="differ" style="display:none;">补差价金额：
                <em class="jsMinuend">10288</em>&nbsp;-&nbsp;
                <em class="jsMeiosis">3588</em>&nbsp;=&nbsp;
                <em class="jsDifference">6700</em>
            </p>
        </div>
        <div class="total-orders">订单总金额：<em class="jsTotal" data-total="5799">23045</em></div>
        <div class="total-orders-stagin" style="display: none;">金额总计：<em class="jsTotal" data-total="5799"></em></div>
        <div class="submit">
          <input class="button jsSubmit" type="submit" value="提交订单" style="width: 117px;">
        </div>
      </div>
    </div>
  </div>
</form>  
<!-- 顶部 -->
<div class="pri-header">
  <% include ../common/www/w_header.ejs %>
</div>

<div class="container" data-init="index">
  <div class="banner">
      <div class="links">
          <a href="#part1"></a>
          <a href="#part2"></a>
          <a href="#part3"></a>
          <a href="#part4" class="last"></a>
      </div>
  </div>
  <div class="contentBg">
      <div class="content">
          <div class="part1" id="part1">
              <h3 class="title"></h3>
              <div class="lotteryBox">
                  <div class="prizeDetail">
                      <div class="prizeList">
                          <h3 class="prizeTitle">中奖名单</h3>
                          <div class="dots"></div>
                          <ul class="nameList">
                              <li>absefd 学员抽中 歌帝梵巧克力</li>
                              <li>Elisa 学员抽中 乐高积木盒</li>
                              <li>Eason 学员抽中 1400元代金券</li>
                              <li>LULU 学员抽中 彼得兔经典故事集</li>
                              <li>李白 学员抽中 1000元代金券</li>
                              <li>111111111111111111122222222</li>
                          </ul>
                      </div>
                      <div class="rule">
                          <ul class="ruleList">
                              <li>1. 活动时间：12月16日11：00：00—12月25日 23：59：59</li>
                              <li>2. 每位同学仅有1次抽奖机会，代金券仅限于活动期间购买课程时使用</li>
                              <li>3. 中奖信息将于中奖后10分钟内发至您的站内信</li>
                              <li>4. 图片仅供参考，以实物为准，抽中课程或实物奖品的同学，需要活动期间<br/>购买5000元及以上套餐，活动结束后，奖品由客服联系寄出。</li>
                          </ul>
                          <a href="#" class="more">更多细则 >></a>
                      </div>
                  </div>
                  <div class="lottery">
                      <div class="prizeBox">
                          <ul class="prizes" id="prizeList">
                              <li class="active"><span class="prize1"></span></li>
                              <li><span class="prize2"></span></li>
                              <li><span class="prize3"></span></li>
                              <li><span class="prize4"></span></li>
                              <li><span class="prize5" id="pointer"></span></li>
                              <li><span class="prize6"></span></li>
                              <li><span class="prize7"></span></li>
                              <li><span class="prize8"></span></li>
                              <li><span class="prize9"></span></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="snow1"></div>
              <a href="javascript:;" class="btnMore" id="logBtn">我的中奖记录</a>
          </div>
          <div class="part2" id="part2">
              <div class="snow2"></div>
              <div class="blank"></div>
              <h3 class="title"></h3>
              <div class="classBox">
                  <h3 class="label">全年销量Top榜</h3>
                  <ul class="classList clearfix">
                      <li class="clearfix">
                          <img src="<%= imagessrc%>item180.jpg">
                          <div class="item">
                              <h3 class="desc">青少经典英语18单元学习套餐</h3>
                              <p class="price"><span class="cur">￥6648 </span><span class="old">￥7188</span></p>
                          </div>
                          <a href="javascript:;" data-point="nor" data-id="49168" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
                      </li>
                      <li class="clearfix">
                          <img src="<%= imagessrc%>item360.jpg">
                          <div class="item">
                              <h3 class="desc">青少经典英语36单元学习套餐</h3>
                              <p class="price"><span class="cur">￥10388</span><span class="old">￥14988</span></p>
                          </div>
                          <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre hover2"></a>
                      </li>
                      <li class="clearfix">
                          <img src="<%= imagessrc%>point180.jpg">
                          <div class="item">
                              <h3 class="desc">180次次卡学习套餐</h3>
                              <p class="price"><span class="cur">￥6648</span><span class="old">￥7188</span></p>
                          </div>
                          <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
                      </li>
                      <li class="clearfix">
                          <img src="<%= imagessrc%>point270.jpg">
                          <div class="item">
                              <h3 class="desc">270次次卡学习套餐</h3>
                              <p class="price"><span class="cur">￥8688</span><span class="old">￥10888</span></p>
                          </div>
                          <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
                      </li>
                  </ul>
              </div>
              <div class="classBox">
                  <h3 class="label">新手必备推荐</h3>
                  <ul class="classList clearfix">
                      <li class="clearfix por">
                          <img src="<%= imagessrc%>point60.jpg">
                          <div class="item">
                              <h3 class="desc">60次次卡学习套餐</h3>
                              <p class="price"><span class="cur">￥2333</span><span class="old">￥3688</span></p>
                          </div>
                          <span class="half"></span>
                          <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
                      </li>
                      <li class="clearfix">
                          <img src="<%= imagessrc%>month3.jpg">
                          <div class="item">
                              <h3 class="desc">3个月包月学习套餐</h3>
                              <p class="price"><span class="cur">￥2988</span><span class="old">￥4666</span></p>
                          </div>
                          <a href="javascript:;" data-point="nor" data-id="49167" data-cart="{&quot;id&quot;:49167,&quot;price&quot;:&quot;4088&quot;,&quot;package&quot;:&quot;450&quot;,&quot;cash_card&quot;:&quot;0&quot;,&quot;point_type&quot;:&quot;point&quot;,&quot;point_value&quot;:&quot; 90 &quot;,&quot;expire_days&quot;:&quot;180&quot;}" data-text="购&nbsp;买" class="buy u-btn jsPre active"></a>
                      </li>
                  </ul>
              </div>
              <a href="#" class="btnMore">前往查看更多课程</a>
          </div>
          <div class="part3" id="part3">
              <div class="snow3"></div>
              <div class="blank"></div>
              <h3 class="title"></h3>
              <div class="intro">
                  <p>好友成功付费5000元及以上＝您获得10节课＋还有豪华大礼</p>
              </div>
              <div class="gift"></div>
              <a href="#" class="btnMore">了解更多规则</a>
          </div>
          <div class="part4" id="part4">
              <div class="snow4"></div>
              <div class="blank"></div>
              <h3 class="title"></h3>
              <div class="classBox">
                  <ul class="classList clearfix">
                      <li>
                          <img src="<%= imagessrc%>open1.jpg">
                          <p><span>王亚楠&nbsp;</span>|&nbsp;12月19日&nbsp;19:00-19:50</p>
                          <p>Merry Christmas&nbsp;圣诞狂欢夜</p>
                          <h3 class="price"><span class="new">￥29</span><span class="old">原价￥199</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                      <li>        
                          <img src="<%= imagessrc%>open2.jpg">
                          <p><span>梁颖&nbsp;</span>|&nbsp;12月20日&nbsp;14:00-14:50</p>
                          <p>读名著&nbsp;|&nbsp;圣诞特辑：麦琪的礼物</p>
                          <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                      <li>  
                          <img src="<%= imagessrc%>open3.jpg">
                          <p><span>苏佩雯&nbsp;</span>|&nbsp;12月21日&nbsp;22:00—22:50</p>
                          <p>商务口语&nbsp;|&nbsp;圣诞狂欢</p>
                          <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                      <li>   
                          <img src="<%= imagessrc%>open4.jpg">
                          <p><span>Jack&nbsp;</span>|&nbsp;12月23日&nbsp;14:00—14:50</p>
                          <p>圣诞特辑&nbsp;| 玩欧洲 学英语</p>
                          <h3 class="price"><span class="new">￥0</span><span class="old">原价￥0</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                      <li>   
                          <img src="<%= imagessrc%>open1.jpg">
                          <p><span>Michelle&nbsp;</span>|&nbsp;12月24日&nbsp;15:00-15:50</p>
                          <p>圣诞特辑&nbsp;| 槲寄生下吻你没商量！</p>
                          <h3 class="price"><span class="new">￥29</span><span class="old">原价￥199</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                      <li>  
                          <img src="<%= imagessrc%>open1.jpg">
                          <p><span>米桔缇&nbsp;</span>|&nbsp;12月25日&nbsp;19:00-19:50</p>
                          <p>圣诞专题&nbsp;| 如何过最像样的圣诞节</p>
                          <h3 class="price"><span class="new">￥29</span><span class="old">原价￥199</span></h3>
                          <a href="javascript:;" class="order">一键预约</a>
                      </li>
                  </ul>
              </div>
              <a href="#" class="btnMore">查看更多公开课</a>
          </div>
      </div>
  </div>  
</div>
<div class="mask" id="mask"></div>
<div class="prizeLog" id="prizeLog">
    <div class="front">
        <a href="javascript:;" class="btn" id="closeLog"></a>
        <div class="log yesLog">
            <h3>您已获得</h3>
            <p>51Talk纪念U盘</p>
        </div>
        <div class="log noLog">您还没有参与抽奖，快去抽奖吧！</div>
    </div>
</div>
<div class="dialog" id="dialog">
    <div class="box">
        <a href="javascript:;" class="close" id="closeDialog"></a>
        <h3 class="title">恭喜获得：<span id="myPrize"></span></h3>
        <div class="detail" id="prize">
            <img src="<%= imagessrc%>prize1.png">
            <img src="<%= imagessrc%>prize2.png">
            <img src="<%= imagessrc%>prize3.png">
            <img src="<%= imagessrc%>prize4.png">
            <img src="<%= imagessrc%>prize5.png">
            <img src="<%= imagessrc%>prize6.png">
            <img src="<%= imagessrc%>prize7.png">
            <img src="<%= imagessrc%>prize8.png">
            <img src="<%= imagessrc%>prize8.png">
        </div>
    </div>
    
</div>
<!-- 尾部 -->
<% include ../common/www/w_footer_home.ejs %>
<script src="<%= jssrc%>" id="seajsnode"></script>
</body>
</html>




