<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>51Talk-无忧英语_详情页</title>
    <script src="<%= jsPath %>flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink %>">
</head>
<body> 
    <div class="detail">
        <img src="<%=imagessrc%>detail/detail_01.jpg" />
        <img src="<%=imagessrc%>detail/detail_02.jpg" />
        <img src="<%=imagessrc%>detail/detail_03.jpg" />
        <img src="<%=imagessrc%>detail/detail_04.jpg" />
        <img src="<%=imagessrc%>detail/detail_05.jpg" />
        <img src="<%=imagessrc%>detail/detail_06.jpg" />
        <img src="<%=imagessrc%>detail/detail_07.jpg" />
        <img src="<%=imagessrc%>detail/detail_08.jpg" />
        <img src="<%=imagessrc%>detail/detail_09.jpg" />
        <img src="<%=imagessrc%>detail/detail_10.jpg" />
        <img src="<%=imagessrc%>detail/detail_11.jpg" />
        <img src="<%=imagessrc%>detail/detail_12.jpg" />
        <img src="<%=imagessrc%>detail/detail_13.jpg" />
        <img src="<%=imagessrc%>detail/detail_14.jpg" />
        <img src="<%=imagessrc%>detail/detail_15.jpg" />
       <!--  <div class="join">
            <a href="javascript:;">查看视频</a>
        </div> -->
    </div>
     <!-- 导航 -->
    <div class="wap_nav">
        <div class="list"><a href="javascript:;" class="active">首页</a></div>
        <div class="list"><a href="javascript:;">初赛</a></div>
        <div class="list"><a href="javascript:;">复赛视频</a></div>
    </div>
</body>
</html>