<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>1v3_pay_introduce_usa.css">
</head>
<body data-init="payIntroduce1v3" class="pay_introduce_1v1">
    <!--  <div class="intro_title">
       <p>外教1对1课程</p>
        <P>本期限量招生开始啦 !</P>
        <P>专属外教25分钟强互动，专为3-15岁孩子设计</P>
    </div> -->
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_1.jpg">
    </div>

    <!-- 距离开始的状态  disnone 为隐藏样式-->
    <input type="hidden" class="play_time disnone"  start-time="60" end-time="70" systime="65">
    <div class="cfix start_buy disnone">
         <div class="left_content">
            <p class="pac new_stu">新生特惠包</p>
            <P>¥?98<span>&nbsp;&nbsp;<i>¥398</i></span></P>
            <P class="pac_mes">中教预习课2次+美教1对4班课4次</P>
        </div>
        <div class="timmer">
            <p>距离开始仅剩<i class="Tday">0</i>天</p>
            <P><span class="Thor">03</span>:<span class="Tmin">07</span>:<span class="Tsec">03</span></P>
        </div>
    </div>
    <!-- 不能购买的状态  disnone 为隐藏样式-->
    <div class="cfix cannot_buy">
        <div class="left_content">
            <p class="pac new_stu">新生特惠包</p>
            <P>¥148<span>&nbsp;&nbsp;<i>¥398</i></span></P>
            <P class="pac_mes before">本期招生未开始，开始前我们及时通知，感谢等待！</P>
            <P class="pac_mes after disnone">本期招生已结束，请关注APP、微信群新一期招生</P>
        </div>
        <!-- <div class="timmer">
            暂未开始
        </div> -->
    </div>
<!-- 带有倒计时并可购买的样式 -->
    <div class="time_cannot_buy">
        <div class="cfix has_time disnone" money="198" d-money="0" isvip="1" packageid="1" vip-money="298">
            <div class="left_content">
                <p class="pac new_stu">新生特惠包</p>
                <P>¥148<span>&nbsp;&nbsp;<i>¥398</i></span></P>
                <P class="pac_mes">外教1对1课6节＋中教辅导课2节</P>
            </div>
            <div class="timmer" start-time="" end-time="">
                <p>距离结束仅剩<em><i class="Tday">0</i>天</em></p>
                <P><span class="Thor">03</span>:<span class="Tmin">07</span>:<span class="Tsec">03</span></P>
            </div>
        </div>
    </div>

   <!-- choose_class --> 
    <ul class="choose_class_one">
        <!-- 带有倒计时并可购买的样式 -->
        <!-- <li class="cfix has_time disnone" money="198" d-money="0" isvip="1" packageid="1" vip-money="298">
            <div class="left_content">
                <p class="pac new_stu">新生特惠包</p>
                <P>¥?98<span>&nbsp;&nbsp;<i>¥398</i></span></P>
                <P class="pac_mes">外教1对1课6节＋中教辅导课2节</P>
            </div>
            <div class="timmer" start-time="" end-time="">
                <p>距离结束仅剩<em><i class="Tday">0</i></em>天</p>
                <P><span class="Thor">03</span>:<span class="Tmin">07</span>:<span class="Tsec">03</span></P>
            </div>
        </li> -->
        <!-- 正常购买的样式 -->
        <!-- <li class="cfix" money="198" d-money="0" isvip="1" packageid="1" vip-money="298">
            <div class="left_content">
                <p class="pac new_stu">新生特惠包</p>
                <P>¥198<span>&nbsp;&nbsp;<i>¥398</i></span></P>
                <P class="pac_mes">外教1对1课6节＋中教辅导课2节</P>
            </div>
            <p class="choose_btn">
                <span>购买</span><br/>课程
            </p>
        </li> -->
        <!-- <li class="cfix" money="598" d-money="100" isvip="0" packageid="2" vip-money="298">
            <div class="left_content">
                <p class="pac">一个月课程包</p>
                <P >¥598<span>&nbsp;&nbsp;<i>¥748</i>&nbsp; (VIP优惠价 ¥498)</span></P>
                <p class="pac_mes">1对1口语外教课12次＋巩固培优中教课12次</p>
            </div>
            <p class="choose_btn">
                <span>购买</span><br/>课程
            </p>
        </li>
        <li class="cfix" money="1698" d-money="300" isvip="0" packageid="3" vip-money="298">
            <div class="left_content">
                <p class="pac">3个月课程包</p>
                <P>¥1698<span>&nbsp;&nbsp;<i>¥1998</i>&nbsp; (VIP优惠价 ¥1398))</span></P>
                <P class="pac_mes">外教1对1课36节＋中教辅导课12节</P>
            </div>
            <p class="choose_btn" >
                <span>购买</span><br/>课程
            </p>
        </li> -->
    </ul>

    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_2.jpg">
    </div>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_3.jpg">
    </div>
    <p class="usa_intro_text">每周3节一对一北美外教课</p>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_4.jpg">
    </div>
    <p class="usa_intro_text_more">100%北美外教在线1对1的教学模式，为每个孩子制定有针对性的学习方案。科学的上课时间，25分钟一堂课，保证在孩子有限的精力内最高效的学习。此外，孩子还可以使用电脑(iPad或手机) 自由选择上课时间、教材和外教，达到随时随地均可上课。</p>
    <p class="usa_intro_text">每周1节中教辅导课</p>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_5.jpg">
    </div>
    <p class="usa_intro_text_more">专业的中教老师为孩子的学习效果提供保障，从课前、课中、课后，指导学习方法，规划学习计划，实时解答问题，批改作业，定期回访等多项专业贴心服务。</p>
    <div class="intro_tab_new intro_tab_new_usa">
        <img src="<%= imagessrc%>uas_pay_intro_6.jpg">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_7.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_8.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_9.jpg">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="class_introduce">
        <div class="buyed_class">
            <p class="buyed_title">您的1对1课程次卡消耗情况如下</p>
            <p class="buy_class_mes_title">
                <span>课程次数</span>
                <span>课程学习有效期</span>
                <span>课程截至日期</span>
            </p>
            <p class="buy_class_mes_title buy_class_mes">
                <span>15次</span>
                <span>1个月</span>
                <span>2016年12月9日</span>
            </p>
        </div>
        <div class="fix_null"></div>
    </div>


    <div class="to_pay_on disnone">
        <a href="javascript:;"></a>
        <p>立即支付</p>
    </div>
    <!-- <div class="to_class_on">
        <a href="javascript:;"></a>
        <p>去约课</p>
    </div> -->
    <div class="cfix shpping_car disnone">
        <P class="shop_car after">
            已选一门课程
        </P>
        <P class="to_pay"><a href="javascript:;"></a>立即支付</P>
    </div>

    
    <div class="choose_class_pop">
        <!-- <已选择课程弹层 -->
        <div class="choose_class_pop_c">
            <p class="cfix title">
                <span>已选课程 &nbsp;&nbsp;&nbsp;VIP新生特惠包</span>
                <i>￥598</i>
            </p>
            <h3>（外教1对1课6节＋中教辅导课2节）</h3>
            <ul class="free_class">
                <li class="cfix vip_new" moreid="49">
                    <P class="">非VIP学员需同时购买外教精品课</P>
                    <span>+￥198</span>
                </li>
                <!-- <li class="cfix no_change">
                   <p>您已购买VIP精品课，立享优惠</p> 
                   <span>-¥100</span>
                </li> -->
                <li class="cfix change" moreid="44">
                    <P class="">同时购买外教VIP精品课32节</P>
                    <span>+￥298</span>
                </li>
                <li class="cfix class_normal">
                    <p>立享1对1专属外教课优惠</p>
                    <span>-￥100</span>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥796</i>
                </li>
            </ul>
        </div>
        <!-- <未选课程弹层 -->
        <div class="class_to_buy">
            <h4>现在购买，为孩子开启国际化英语学习之旅</h4>
            <table>
                <tr>
                    <th>课程套餐</th>
                    <th>课程次数</th>
                    <th>本期优惠价</th>
                </tr>
                <!-- <tr class="js-not-pop"  money="198" d-money="0" isvip="1" packageid="1" vip-money="298">
                    <td><i class="on_choose"></i><p></p>新生特惠包</td>
                    <td>外教1对1课6节<br/>中教辅导课2节</td>
                    <td class="colo">￥198 <span>￥398</span></td>
                </tr> -->
                <tr class="js-not-pop" money="598" d-money="100" isvip="0" packageid="2" vip-money="298">
                    <td><i class=""></i>1个月课程包</td>
                    <td>外教1对1课12节<br/>中教辅导课4节</td>
                    <td class="colo">￥598 <span>748</span></td>
                </tr>
                <tr class="js-not-pop" money="1698" d-money="300" isvip="0" packageid="4" vip-money="298">
                    <td ><i></i>3个月课程包</td>
                    <td>外教1对1课36节<br/>中教辅导课16节</td>
                    <td class="colo">￥1698 <span>￥1998</span></td>
                </tr>
            </table>
            <ul class="free_class">
                <li class="cfix title">
                    <span>金额</span>
                    <i>￥198</i>
                </li>
               <!--  <li class="cfix vip_new" moreid="44">
                    <P class="">非VIP学员需同时购买外教精品课</P>
                    <span>+￥198</span>
                </li> -->
                <!-- <li class="cfix no_change" money="100">
                   <p>您已购买VIP精品课，立享优惠</p> 
                   <span>-¥100</span>
                </li> -->
                <li class="cfix change" moreid="49">
                    <P class="">同时购买外教VIP精品课32节</P>
                    <span>+￥298</span>
                </li>
                <li class="cfix class_normal">
                    <p>立享1对1专属外教课优惠</p>
                    <span>-￥300</span>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥198</i>
                </li>
            </ul>
        </div>
        <!-- 支付弹层 APP-->
        <!-- <div class="pay-dialog-wrap disnone"></div> -->
        <div class="pay-dialog js_pay_dialog">
          <div class="pay-dialog-tit">
            <div class="pay-dialog-tit-top">支付方式</div>
            <div class="pay-dialog-tit-con js_paySelect">
              <span class="payItems" data-paytype="alipay"><img src="<%= imagessrc%>app-buyvip-icon-alipay.png" /><i>支付宝购买</i></span>
              <span class="payItems js_weixin" data-paytype="weixin"><img src="<%= imagessrc%>app-buyvip-icon-WeChat.png" /><i>微信购买</i></span>
            </div>
          </div>
          <div class="pay-dialog-but pay-dialog-hide js_pay_dialog_hide">
            取消
          </div>
          <input type="hidden" name="packageId" id="packageId" value="6radio">
          <input type="hidden" name="payType" id="payType" value="">
        </div>
        <div class="to_pay_on_pop_car"> 
            <a href="javascript:;"></a>
            <p>立即支付</p>
        </div> 
    </div>
    <!-- form表单 -->
    <form action="" class="js_payform">
       <!--  套餐id -->
        <input class="packageid" name="" value="1" type="hidden">
        <!-- 是否选择的是vip -->
        <input class="isvip" name="" value="1" type="hidden">
        <!-- 是否勾选了多余的32节 -->
        <input class="buymore" name="" value="49" type="hidden">
    </form>


    <!-- 不能购买样式 -->
    <!-- <div class="cannot_buy_btn">
        <a href="javascript:;"></a>
        <p>立即抢购</p>
    </div> -->

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>