<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>1v4_choose_class.css">
</head>
<body data-init="" class="choose_class">
<div class="top_message">
    <p class="font1">购买成功，完成以下三步开始上课</p>
    <p class="font2">您已购2节中教预习课 4节美教1对4班课</p>
    <ul class="surplus-class cfix">
        <li>中教预习课<span class="font3">2课次</span></li>
        <li>上课时间<span class="font3">周六 19:00</span></li>
        <li>剩余美教1对4课<span class="font3">4课次</span></li>
        <li>上课时间<span class="font3">周一/周三 19:00</span></li>
    </ul>
    <div class="btn"><a href="#courseArrangement"></a><span>课程安排</span></div>
</div>
<div class="to_class_content">
    <div class="class_step_before">
        <div class="right_step_1">
            <p class="text_intro">每周1节中教+2节美教，中教课每周固定时间开课，外教课由您自主选择时间</p>
            <a href="javascript:;" class="choose_class_one">选择上课时间</a>
        </div>
        <div class="right_step_2">
            <p class="text_intro">选班完成后，识别班级群二维码，加入班级群，中教老师随时提供服务</p>
        </div>
        <div class="right_step_3">
            <p class="text_intro">下载电脑客户端，登录孩子上课账号，预约课程按时出席</p>
        </div>
        <!-- <a href="" class="choose_class_btn">下载"51Talk无忧英语"预约课程</a> -->
    </div>
    <div class="choose_class_share">
        <a href="#javascript:;"></a>
       <img src="<%= imagessrc%>choose_class_share.png">
    </div>
    <div class="class_step_after">
        <div class="right_step_1">
            <p class="text_intro">每周1节中教+2节美教，上课周期：</p>
            <p class="text_intro_time">2017年3月18日至2017年3月31日</p>
            <p class="text_intro_hint"><span>目前只能在电脑端上课，请前往51Talk官网下载软件AC</span></p>
        </div>
        <div class="right_step_2">
            <p class="text_intro">选班完成后，识别班级群二维码，加入班级群，中教老师随时提供服务。</p>
            <div class="code_box">
                <img src="<%= imagessrc%>load_app.png">
            </div>
            <p class="intro_last_code">截图使用微信识别进入中教班级群</p>
        </div>
        <div class="right_step_3">
            <p class="text_intro">下载电脑客户端，登录孩子上课账号，预约课程按时出席</p>
        </div>
        <!-- <a href="" class="choose_class_btn">下载"51Talk无忧英语"预约课程</a> -->
    </div>
</div>
<div class="class_arrange" id="courseArrangement">
    <table class="">
        <thead>
            <tr>
                <th colspan="2"><span class="class_arrange_tit">课程安排</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">1</span>中教预习课 第1节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 预习美教课1-2节内容</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">2</span>美教1对4班课 第1节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 选定时间后确定教材</p>
                    </div>
                </td>
                <td class="avris" rowspan="2">中教全程微信群辅导</td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">3</span>美教1对4班课 第2节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 选定时间后确定教材</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">4</span>中教预习课 第2节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 预习美教课3-4节内容</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">5</span>美教1对4班课 第3节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 选定时间后确定教材</p>
                    </div>
                </td>
                <td class="avris" rowspan="2">中教全程微信群辅导</td>
            </tr>
            <tr>
                <td>
                    <div class="class_arrange_item">
                        <h3><span class="sequence-1">6</span>美教1对4班课 第4节</h3>
                        <p class="font"><span class="font1">请选择上课时间</span><br>课程内容： 选定时间后确定教材</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- about_class_app -->
<div class="about_class">
    <p class="about_text_1">服务小贴士</p>
    <p class="text_title">关于软件</p>
    <p class="text_mes_show">目前只能在电脑端上课软件AC完成上课，电脑端软件屏幕大，体验好</p>
    <p class="text_mes_show">手机客户端“无忧课堂”暂不支持该课程，升级支持后，我们会第一时间通知您</p>
    <p class="text_title">关于课程</p>
    <p class="text_mes_show">课程将持续两周，包含2次中教课+4次美教课，采取“1+2”的授课模式，固定老师、同学和时间</p>
    <p class="text_mes_show">中教课45分钟/节，每周一节1对12班课，对美教课的重难点进行串讲，起到复习跟预习的作用</p>
    <p class="text_mes_show">中教课无需每次预约，付费后选定上课时间，准时上课即可，中教老师开班前也会在班课群中提前通知上课时间</p>
    <p class="text_mes_show">美教课45分钟/节，每周2节1对4班课，课前对孩子英语水平进行专业测试，保证水平相近的孩子进入同一班级</p>
    <p class="text_title">关于服务</p>
    <p class="text_mes_show">美教1对4全程托管班，中美教课程不能单独退费，并只可在上课前申请退费</p>
    <p class="text_mes_show">调整上课时间或班级，请假缺席均可联系中教老师解决</p>
    <p class="text_mes_show">如有问题请咨询客服电话：4006635151</p>
</div>


<div class="share_pop disnone">
    <img src="<%= imagessrc%>1v4_share.png">
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>