<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_how_class.css">
</head>
<body data-init="" class="app_how_class">
    <img src="<%= imagessrc%>app_to_class_top.png" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_1.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_2.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_3.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_4.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_5.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_6.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_7.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_8.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_9.jpg" class="app_to_class_top">
    <img src="<%= imagessrc%>app_to_class_10.jpg" class="app_to_class_top">
    
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>