<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_answerAnalysis.css">
</head>
<body data-init="app_answerAnalysis">
	<div class="answer-wrap">
		<div class="answer-item paddingBottom">
			<div class="answer-tit">口语</div>
			<div class="answer-question-tit">1.根据题目，读出正确的答案 <span class="color1">(5分)</span></div>
			<div class="answer-question-con1">
				<img class="" src="<%= imagessrc%>app_answerAnalysis-01.png" alt="">
			</div>
			<div class="answer-question-text">It’s sunny today.</div>
			<ul class="answer-answer-con1">
				<li class="no">A.Today is a sunny day</li>
				<li>B.It’s windy today!</li>
				<li class="yes">C.I want to go to the movies</li>
				<li>D.It’s cloudy tomorrw</li>
			</ul>
			<div class="answer-analysis marginT1">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
		</div>
		<div class="answer-item paddingBottom">
			<div class="answer-tit">听力</div>
			<div class="answer-question-tit">2.根据音频选择对应的图片 <span class="color1">(5分)</span></div>
			<div class="answer-question-audio">
				<div class="audio-btn js_audioBtn" data-src="http://duoshuo.51talk.com/storage/forum/comment/20161208/213afc5b55f5d5042ad953a7de83d9aa.aac">
					<span class="audio-btn-in play js_audioStyle"></span>
				</div>
			</div>
			<div class="answer-question-text">It’s sunny today.</div>
			<ul class="answer-answer-con2 cfix">
				<li class="fl"><img src="<%= imagessrc%>app_answerAnalysis-07.png" alt=""><san class="symbol">A</san></li>
				<li class="fl no"><img src="<%= imagessrc%>app_answerAnalysis-06.png" alt=""><san class="symbol">B</san></li>
				<li class="fl yes"><img src="<%= imagessrc%>app_answerAnalysis-08.png" alt=""><san class="symbol">C</san></li>
				<li class="fl"><img src="<%= imagessrc%>app_answerAnalysis-09.png" alt=""><san class="symbol">D</san></li>
			</ul>
			<div class="answer-analysis marginT2">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
			<div class="answer-question-tit">2.根据音频选择对应的图片 <span class="color1">(5分)</span></div>
			<div class="answer-question-audio">
				<div class="audio-btn js_audioBtn" data-src="http://duoshuosta.51talk.com/storage/forum/comment/20161208/4a5f4ca2b1d72b3fcf5e9ff7245c115a.aac">
					<span class="audio-btn-in play js_audioStyle"></span>
				</div>
			</div>
			<div class="answer-question-text">It’s sunny today.</div>
			<ul class="answer-answer-con1">
				<li class="no">A.Today is a sunny day</li>
				<li>B.It’s windy today!</li>
				<li class="yes">C.I want to go to the movies</li>
				<li>D.It’s cloudy tomorrw</li>
			</ul>
			<div class="answer-analysis marginT2">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
		</div>
		<div class="answer-item paddingBottom">
			<div class="answer-tit">基础知识</div>
			<div class="answer-question-tit">3.根据图片判断对错 <span class="color1">(5分)</span></div>
			<div class="answer-question-con1">
				<img class="" src="<%= imagessrc%>app_answerAnalysis-01.png" alt="">
			</div>
			<div class="answer-question-text">It’s sunny today.</div>
			<ul class="answer-answer-con3">
				<li class="yes">YES</li>
				<li class="no">NO</li>
			</ul>
			<div class="answer-analysis marginT3">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
			<div class="answer-question-tit">4.根据图片选择对应的图片或单词 <span class="color1">(5分)</span></div>
			<div class="answer-answer-con4 js_canvasWrap">
				<canvas class="canvas js_canvas" id="suibianxie1" width="" height="">      
				</canvas>
				<ul class="answer-answer-con4-con cfix js_matching" weixincontent='{"id":"36","exam_id":"2","category":"2","type":"5","parent_type":"3","display_order":"5","title":"根据图片选择对应的单词","des_ques":" ","score":"5","stem":{"optionL":"101,201,301,401","optionR":"101,201,301,401"},"meaning":"sunny 晴天 rain 下雨 windy 刮风 cloudy阴天","voice":"","pic":"","options":[{"id":"101","optionL":"http://one.frontend.com/static/source/images/wap/b2s/app-assignment-4.jpg","optionR":"sunny"},{"id":"201","optionL":"http://one.frontend.com/static/source/images/wap/b2s/app-assignment-4.jpg","optionR":"raining"},{"id":"301","optionL":"http://one.frontend.com/static/source/images/wap/b2s/app-assignment-4.jpg","optionR":"cloudy"},{"id":"401","optionL":"http://one.frontend.com/static/source/images/wap/b2s/app-assignment-4.jpg","optionR":"fog"}],"right":"1,2,3,4","created":"1484181578","updated":"1484188124","userAnswer":"101,401,201,301","userIsRight":2}'>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-07.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Rice</span></div>
					</li>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-06.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Hamburger1 Hamburger2 Hamburger HamburgerHamburger3 Hamburger4 Hamburger5 Hamburger6</span></div>
					</li>
					<li class="cfix">
						<div class="matchingL"><span class="matchingL-con">Hamburger1 Hamburger2 Hamburger HamburgerHamburger3 Hamburger4 Hamburger5 Hamburger6</span></div>
						<div class="matchingR"><img src="<%= imagessrc%>app_answerAnalysis-08.png"></div>
					</li>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-09.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Bread</span></div>
					</li>
				</ul>
			</div>
			<div class="answer-analysis marginT1">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
			<div class="answer-question-tit">4.根据图片选择对应的图片或单词 <span class="color1">(5分)</span></div>
			<div class="answer-answer-con4 js_canvasWrap">
				<canvas class="canvas js_canvas qqqqq" id="suibianxie2" width="" height="">      
				</canvas>
				<ul class="answer-answer-con4-con cfix js_matching" weixincontent='{"id":"37","exam_id":"2","category":"2","type":"6","parent_type":"3","display_order":"6","title":"根据单词选择对应的翻译","des_ques":" ","score":"5","stem":{"optionL":"1,2,3,4","optionR":"1,2,3,4"},"meaning":"sunny 晴天 rain 下雨 windy 刮风 cloudy阴天","voice":"","pic":"","options":[{"id":1,"optionL":"dog","optionR":"狗"},{"id":2,"optionL":"cat","optionR":"猫"},{"id":3,"optionL":"monkey","optionR":"猴子"},{"id":4,"optionL":"elephant","optionR":"大象"}],"right":"1,2,3,4","created":"1484181837","updated":"1483697318","userAnswer":"4,1,3,2","userIsRight":2}'>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-07.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Rice</span></div>
					</li>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-06.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Hamburger1 Hamburger2 Hamburger HamburgerHamburger3 Hamburger4 Hamburger5 Hamburger6</span></div>
					</li>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-08.png">
						</div>
						<div class="matchingR"><img src="<%= imagessrc%>app_answerAnalysis-08.png"></div>
					</li>
					<li class="cfix">
						<div class="matchingL">
							<img src="<%= imagessrc%>app_answerAnalysis-09.png">
						</div>
						<div class="matchingR"><span class="matchingR-con">Bread</span></div>
					</li>
				</ul>
			</div>
			<div class="answer-analysis marginT1">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
			<div class="answer-question-tit">5.将以下单词组成通顺的句子 <span class="color1">(5分)</span></div>
			<ul class="answer-question-con2 cfix">
				<li class="on">the</li>
				<li>is</li>
				<li>good</li>
				<li>today</li>
				<li>weather</li>
				<li>very</li>
			</ul>
			<ul class="answer-answer-con5">
				<li class="no">The weather is very good today. <span class="sanityn"></span></li>
				<li class="yes">Today the weather is very good. <span class="sanityn"></span></li>
			</ul>
			<div class="answer-analysis marginT1">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
			<div class="answer-question-tit">6.将单词放到对应的分类中 <span class="color1">(5分)</span></div>
			<ul class="answer-question-con2 cfix">
				<li>the</li>
				<li>is</li>
				<li>good</li>
				<li>today</li>
				<li>weather</li>
				<li>very</li>
			</ul>
			<ul class="answer-answer-con6">
				<li>
					<h3>动物类</h3>
					<ul class="cfix">
						<li class="yes">Monkey</li>
						<li class="yes">Cat</li>
					</ul>
				</li>
				<li>
					<h3>植物类</h3>
					<ul class="cfix">
						<li class="yes">Flower</li>
						<li class="yes">Tree</li>
						<li class="no">Rubber</li>
					</ul>
				</li>
				<li>
					<h3>学习用品</h3>
					<ul class="cfix">
						<li class="yes">Pencil</li>
						<li class="no">Cat</li>
					</ul>
				</li>
				<li>
					<h3>工具类</h3>
					<ul class="cfix">
						<li class="yes">Rubber</li>
					</ul>
				</li>
			</ul>
			<div class="answer-analysis marginT1">解析：sunny 晴天   rain 下雨  windy 刮风 cloudy阴天</div>
			<div class="answer-source"><a href="#"></a>来自课程“辣酱 Hot Sauce”</div>
		</div>
		<div class="answer-item paddingBottom">
			<div class="answer-tit">阅读理解</div>
			<div class="answer-question-tit">读短文，选择正确的答案 <span class="color1">(5分/题)</span></div>
			<div class="answer-question-con3">O. Henry was a pen name used by an American writer of short stories. His real name was William Sydney Porter. He was born in North Carolina in 1862. As a young boy he lived an exciting life. He did not go to school for very long, but he managed to teach himself everything he needed to know. When he was about 20 years old.</div>
			<div class="answer-question-tit">7. How old is Henry?</div>
			<ul class="answer-answer-con1">
				<li class="no">A.Today is a sunny day</li>
				<li>B.It’s windy today!</li>
				<li class="yes">C.I want to go to the movies</li>
				<li>D.It’s cloudy tomorrw</li>
			</ul>
			<div class="answer-question-tit">8. Were is Henry’s home?</div>
			<ul class="answer-answer-con2 cfix">
				<li class="fl"><img src="<%= imagessrc%>app_answerAnalysis-07.png" alt=""><san class="symbol">A</san></li>
				<li class="fl no"><img src="<%= imagessrc%>app_answerAnalysis-06.png" alt=""><san class="symbol">B</san></li>
				<li class="fl yes"><img src="<%= imagessrc%>app_answerAnalysis-08.png" alt=""><san class="symbol">C</san></li>
				<li class="fl"><img src="<%= imagessrc%>app_answerAnalysis-09.png" alt=""><san class="symbol">D</san></li>
			</ul>
			<div class="answer-question-tit">8. Were is Henry’s home?</div>
			<ul class="answer-answer-con3">
				<li class="yes">YES</li>
				<li class="no">NO</li>
			</ul>
		</div>
	</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
    init();
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>