<% include ../common/top.ejs %>
<body class="app_phone_down" data-init="">
    <a href="">
        <img src="<%= imagessrc%>app_phone_top.png">
    </a>
	<div class="app_phone_content" />
		<img src="<%= imagessrc%>app_phone_1.png">
	</div>
    <img src="<%= imagessrc%>app_phone_2.png">
    <img src="<%= imagessrc%>app_phone_3.png">
    <img src="<%= imagessrc%>app_phone_4.png">
    <img src="<%= imagessrc%>app_phone_5.png">
    <div class="none_down">
        <a href="" class="f_down">马上下载</a>
    </div>
</body>
<% include ../common/bottom.ejs %>