<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_experience_class.css">
</head>
<body data-init="app_experience_class" class="experience_class">
    <div class="intro_top_new intro_top_new_after">
        <!-- <div class="experience_class_payed">
           <p>剩余2课次 </p>
           <p>有效期至2017年1月3日</p>
        </div> -->
        <!-- <div class="experience_class_vip">
           <p>2次课 原价186元</p>
           <p class="di-color">VIP学员限200名免费领取</p>
        </div> -->
        <!-- <div class="experience_class_code">
           <p>课程领取码：90b6v</p>
           <p class="di-color">加课程顾问微信为好友，<br/>
兑换课程码</p>
        </div> -->
        <div class="experience_class_pay">2课次 <span>仅<i>48</i>元</span><br/><i>原价498元</i></div>
    </div>
    <div class="intro_section1">
         <img src="<%= imagessrc%>experience_class5.jpg">
         <img src="<%= imagessrc%>experience_class5-1.jpg">
         <!-- <div class="experience_ex_bg">
             <img src="<%= imagessrc%>experience_class8.png">
         </div> -->
        <div class="experience_code_bg">
            <P class="code_num">微信号：<span>54343444</span></P>
            <div class="experience_code_img">
                <img src="<%= imagessrc%>experience_class8.png">
            </div>
             <p>添加专属学习顾问</p>
             <P class="code_num">微信号：54343444</P>
        </div>
         <div class="good_mes">
            <P class="title">学习顾问送福利</P>
            <p class="intro_mes"><span>福利一</span>专属学习顾问帮您约课，学习设备检测</p>
            <p class="intro_mes"><span>福利二</span>解读孩子英语水平报告，定制学习方案</p>
            <p class="intro_mes"><span>福利三</span>督导孩子完成3节课程 ，解答学习问题</p>
         </div>
         <div class="good_mes">
            <P class="title">福利领取步骤</P>
            <p class="intro_mes">1.点击“立即领取”，领取成功后，识别学习顾问微信二维码</p>
            <p class="intro_mes">2.服务号加好友，填写验证信息<i>“无忧课堂学员”</i></p>
            <p class="intro_mes">3.微信告知学习顾问团购码，领取课程享受福利</p>
         </div>
    </div>
    <div class="intro_tab_new">
        <img src="<%= imagessrc%>1v1_pay_introduce-02.png">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="<%= imagessrc%>experience_class1.png">
                    <p class="font1">1对1纯外教</p>
                    <p class="font2">【100%关注一个孩子 】</p>
                </div>
                <div class="swiper-slide">
                    <img src="<%= imagessrc%>experience_class2.png">
                    <p class="font1">25分钟课堂</p>
                    <p class="font2">【 全程强互动让孩子充分发言 】</p>
                </div>
                <div class="swiper-slide">
                    <img src="<%= imagessrc%>experience_class3.png">
                    <p class="font1">青少教室</p>
                    <p class="font2">【 课堂星星奖励调动孩子积极 】</p>
                </div>
                <div class="swiper-slide">
                    <img src="<%= imagessrc%>experience_class4.png">
                    <p class="font1">随时随地</p>
                    <p class="font2">【 自主决定上课时间 】</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="to_pay_fix"></div>
    <div class="to_pay_on" data-href="/aaa">
        <a href="javascript:;"></a>
        <p>我要报名</p>
    </div>

<!-- 支付弹层 APP-->
<div class="pay-dialog-wrap disnone js_dialog_wrap">
    <div class="pay-dialog js_pay_dialog">
        <div class="pay-dialog-tit js_pay-dialog-tit">
            <div class="pay-dialog-tit-top">支付方式</div>
            <div class="pay-dialog-tit-con js_paySelect">
                <span class="payItems" data-paytype="alipay"><img src="<%= imagessrc%>app-buyvip-icon-alipay.png" /><i>支付宝购买</i></span>
                <span class="payItems js_weixin" data-paytype="weixin"><img src="<%= imagessrc%>app-buyvip-icon-WeChat.png" /><i>微信购买</i></span>
            </div>
        </div>
        <div class="pay-dialog-but pay-dialog-hide js_pay_dialog_hide">取消</div>
        <form action="" class="js_payform">
            <input name="x1" value="" type="hidden">
            <!-- 微信 支付宝 -->
            <input name="x2" value="" class="js_paytype" type="hidden">
            <!-- 时间戳 -->
            <input name="x5" value="" class="js_timestamp" type="hidden">
        </form>
    </div>
</div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>