<% include ../common/top.ejs %>
<body class="app_change_introduce" data-init="">
<!-- 老师版班里同学有变动 -->
    <img src="<%= imagessrc%>i_change_1.png">
	<img src="<%= imagessrc%>i_change_2.png">
    <img src="<%= imagessrc%>i_change_3.png">
    <img src="<%= imagessrc%>i_change_4.png">
    <img src="<%= imagessrc%>i_change_5.png">
    <img src="<%= imagessrc%>i_change_6.png">
    <img src="<%= imagessrc%>i_change_7.png">
    <img src="<%= imagessrc%>i_change_8.png">
    <img src="<%= imagessrc%>i_change_9.png">
    <img src="<%= imagessrc%>i_change_10.png">
<!-- 老师版接管新班级 -->
    <img src="<%= imagessrc%>i_change_11.png">
    <img src="<%= imagessrc%>i_change_12.png">
    <img src="<%= imagessrc%>i_change_13.png">
    <img src="<%= imagessrc%>i_change_14.png">
    <img src="<%= imagessrc%>i_change_15.png">
    <img src="<%= imagessrc%>i_change_16.png">
    <img src="<%= imagessrc%>i_change_17.png">
    <a href="javascript:;"><img src="<%= imagessrc%>i_change_00.png"></a>
<!-- 老师转让班级给同事 -->
    <img src="<%= imagessrc%>i_change_18.png">
    <img src="<%= imagessrc%>i_change_19.png">
    <img src="<%= imagessrc%>i_change_20.png">
    <img src="<%= imagessrc%>i_change_21.png">
    <img src="<%= imagessrc%>i_change_22.png">
    <img src="<%= imagessrc%>i_change_23.png">
    <img src="<%= imagessrc%>i_change_24.png">
<!-- 老师版指南 -->
    <img src="<%= imagessrc%>i_change_25.png">
    <img src="<%= imagessrc%>i_change_26.png">
    <img src="<%= imagessrc%>i_change_27.png">
<!-- 学生版指南 -->
    <img src="<%= imagessrc%>i_change_28.png">
    <img src="<%= imagessrc%>i_change_29.png">
    <img src="<%= imagessrc%>i_change_30.png">
    <img src="<%= imagessrc%>i_change_31.png">
    <img src="<%= imagessrc%>i_change_32.png">
    <img src="<%= imagessrc%>i_change_33.png">
    <img src="<%= imagessrc%>i_change_34.png">
    <img src="<%= imagessrc%>i_change_35.png">
    <img src="<%= imagessrc%>i_change_36.png">
</body>
<% include ../common/bottom.ejs %>