<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>app_share.css">
</head>
<body data-init="app_share" class="share-wrap" data-weixinopenid="9999999" data-ajaxurl="/wapnew/Forum/setLikeData" data-auth="http://s.51talk.com/" data-iswexin="1">
	<div class="share-intro">
		<div class="share-intro-tit">
			<h3>见证成长～秀一下自己孩子的学习视频活动开始啦！</h3>
			<p class="cfix"><span class="color1 fl">＃口语秀＃</span><span class="color2 fr">01-23 12:15</span></p>
		</div>
		<p class="font1 js_fontBottom">每个孩子都有努力学习的经历，把孩子的学习拍成视频保留下来，分享出来，让大家一起见证孩子的成长。</p>
		<p class="font1 js_fontBottom">每个孩子都有努力学习的经历，把孩子的学习拍成视频保留下来，分享出来，让大家一起见证孩子的成长。</p>
		<p class="font1 js_fontBottom">每个孩子都有努力学习的经历，把孩子的学习拍成视频保留下来，分享出来，让大家一起见证孩子的成长。</p>
		<div class="intro-audio">
	        <div class="audio-paly js_audioProgress" data-src="http://duoshuosta.51talk.com/storage/forum/postfileupload/2016/10/13/727c144e8d8ca7349baa7f090b3c2e5d.mp3" data-time="110"></div>
	        <div class="audio-bar">
	            <div class="audio-total">
	                <div class="audio-progress js_aProgress">
	                    <div class="audio-point"></div>
	                </div>
	            </div>
	        </div>
	        <div class="audio-time js_aTime">- 00:41</div>
	    </div>
	    <div class="intro-video js_videoBtn" data-src="/images/wap/b2s/1111.mp4" data-videow="144" data-videoh="176">
	    	<img src="<%= imagessrc%>app_share-10.jpg" alt="">
	    	<div class="video-play"></div>
	    </div>
	    <div class="intro-pic"></div>
		<p class="font1 js_fontBottom">活动规则：<br>点击参与，拍下孩子学习的视频或录音上传，获得鲜花量最多的视频或音频我们会给予奖励。</p>
		<p class="font1 js_fontBottom">活动规则：<br>点击参与，拍下孩子学习的视频或录音上传，获得鲜花量最多的视频或音频我们会给予奖励。</p>
		<p class="font1 js_fontBottom"></p>
		<p class="font1 js_fontBottom"></p>
		<p class="font1 js_fontBottom">活动规则：<br>点击参与，拍下孩子学习的视频或录音上传，获得鲜花量最多的视频或音频我们会给予奖励。</p>
	</div>
	<div class="share-hot">
		<div class="share-hot-tit">热门分享</div>
		<ul class="share-hot-items">
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-03.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">23楼 2小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-audio js_audioBtn" data-src="http://duoshuosta.51talk.com/storage/forum/comment/20161208/b4f0c307c301e49372a50de268cdbfbe.aac" data-time="57">
					<div class="time">10''</div>
					<div class="blink"></div>
				</div>
				<div class="item-video js_videoBtn" data-src="/images/wap/b2s/111.mp4" data-videow="640" data-videoh="360">
			    	<img src="<%= imagessrc%>app_share-10.jpg" alt="">
			    	<div class="video-icon"></div>
			    </div>
			    <div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="101">999999</span>
			    </div>
				<div class="item-comment">
					<ul class="comment-items">
						<li><span class="comment-item-name">Thor的妈妈：</span>孩子太可爱了！英文歌唱的棒棒哒～英文歌唱的棒棒哒～</li>
						<li><span class="comment-item-name">Tom的爸爸：</span>有范～</li>
						<li><span class="comment-item-name">jake的爸爸：</span>@Tom的爸爸  很赞！</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-03.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">22楼 5小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-audio js_audioBtn" data-src="http://duoshuo.51talk.com/storage/forum/comment/20161208/884d0060d23ac59e5e6a93b4493c317c.aac" data-time="35">
					<div class="time">15''</div>
					<div class="blink"></div>
				</div>
				<div class="item-pic"><img src="<%= imagessrc%>app_share-05.png" alt=""></div>
				<div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="102">1099</span>
			    </div>
			</li>
			<li class="disnone js_loadHotOther">
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-04.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">24楼 1分钟前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="103">9</span>
			    </div>
			</li>
		</ul>
		<div class="share-hot-load js_loadHot"><span class="icon-arrows">全部</span></div>
	</div>
	<div class="share-hot">
		<div class="share-hot-tit share-hot-tit2">最新分享</div>
		<ul class="share-hot-items">
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-04.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">23楼 2小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-audio js_audioBtn" data-src="http://duoshuo.51talk.com/storage/forum/comment/20161208/213afc5b55f5d5042ad953a7de83d9aa.aac" data-time="28">
					<div class="time">10''</div>
					<div class="blink"></div>
				</div>
				<div class="item-video js_videoBtn" data-src="/images/wap/b2s/1111.mp4" data-videow="144" data-videoh="176">
			    	<img src="<%= imagessrc%>app_share-10.jpg" alt="">
			    	<div class="video-icon"></div>
			    </div>
			    <div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="201">99</span>
			    </div>
				<div class="item-comment">
					<ul class="comment-items">
						<li><span class="comment-item-name">Thor的妈妈：</span>孩子太可爱了！英文歌唱的棒棒哒～英文歌唱的棒棒哒～</li>
						<li><span class="comment-item-name">Tom的爸爸：</span>有范～</li>
						<li><span class="comment-item-name">jake的爸爸：</span>@Tom的爸爸  很赞！</li>
					</ul>
				</div>
			</li>
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-03.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">22楼 5小时前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-audio js_audioBtn" data-src="http://duoshuosta.51talk.com/storage/forum/comment/20161208/4a5f4ca2b1d72b3fcf5e9ff7245c115a.aac" data-time="33">
					<div class="time">15''</div>
					<div class="blink"></div>
				</div>
				<div class="item-pic"><img src="<%= imagessrc%>app_share-05.png" alt=""></div>
				<div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="202">999</span>
			    </div>
			</li>
			<li>
				<div class="item-tit">
					<div class="item-tit-icon"><img src="<%= imagessrc%>app_share-04.png" alt=""></div>
					<h3 class="item-tit-name">Angle的爸爸</h3>
					<p class="item-tit-message cfix">
						<span class="fl icon-location">北京</span>
						<span class="fr">24楼 1分钟前</span>
					</p>
				</div>
				<div class="item-content">我的孩子也来参加唱英文歌活动啦～</div>
				<div class="item-like">
			    	<span class="like-icon js_likeIcon" data-commentid="203">9999</span>
			    </div>
			</li>
		</ul>
		<!-- <div class="share-hot-load js_loadNew"><span class="icon-arrows">全部</span></div> -->
	</div>
	<div class="share-other">
		<div class="share-other-tit"><span>英语咨询</span><span>活动福利</span><span>精彩配音</span></div>
		<div class="share-other-QRCode"><img src="<%= imagessrc%>app_share-21.png" alt=""></div>
		<p class="share-other-text">长按识别二维码<br>关注无忧课堂微信公众号</p>
	</div>
	<div class="share-btn">
		<div class="share-btn-in cfix">
			<div class="share-btn-l fl">
				<img src="<%= imagessrc%>app_share-22.png" alt="">
				<h3>无忧课堂</h3>
				<p>成绩无忧，家长无忧</p>
			</div>
			<div class="share-btn-r fr">
				<a href="#">下载</a>
			</div>
		</div>
	</div>

<div class="dialog disnone js_dialog">
	<div class="dialog-close">
		<video class="js_video" controls preload="auto" webkit-playsinline playsinline src="" ></video>
	</div>
	<!-- <video class="js_video" controls preload="auto" src="" ></video> -->
</div>
	<!-- <video class="js_video" controls preload="auto" autoplay="" src="/images/wap/b2s/1111.mp4" ></video> -->

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>