<% include ../common/top.ejs %>
<body>
	<div class="class_code_introduce">
            <div class="text_title">
                  <img src="<%= imagessrc%>class_code_02.png" alt="">
                  <p>无忧英语小学三年级</p>
            </div>
		
		<img src="<%= imagessrc%>class_code_03.png" alt="">
            <div class="text_title">
                  <img src="<%= imagessrc%>class_code_04.png" alt="">
                  <div class="class_code_img">
                        <img src="<%= imagessrc%>class_code_04.png" alt="">
                  </div>
            </div>
		<img src="<%= imagessrc%>class_code_05.png" alt="">
            <img src="<%= imagessrc%>class_code_06.png" alt="">
		
	</div>
</body>
<% include ../common/bottom.ejs %>