<% include ../common/top.ejs %>
<body data-init="courseInfo">
	<!-- 学生 -->

	<!-- 精品外教课 已购买 即将开课 -->
	<div class="tab-box">
		<ul>
			<li class="cur">
				<a href="">即将开课</a>
			</li>
			<li>
				<a href="">往期课程</a>
			</li>
		</ul>
	</div>
	<!-- 推广上课软件 -->
	<div class="class_software">
		<div class="class_software_fix">
			<div class="cfix class_software_box">
				<p class="title">上课软件直通车<span></span></p>
				<div class="l_ac">
					<img src="<%= imagessrc%>ac_soft.png">
					<a href="#"></a>
				</div>
				<div class="r_class">
					<img src="<%= imagessrc%>class_soft.png">
					<a href=""></a>
				</div>
			</div>
		</div>
		
	</div>

	<div class="course-info-box">
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)" textbook_publish="true" download-url="" paydetail-url="http://www.sohu.com">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 精品外教课 已购买 即将开课 -->

	<!-- 精品外教课 往期课程 -->
	<div class="course-info-box">
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-past">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)" textbook_publish="false" download-url="http://www.baidu.com" paydetail-url="http://www.sohu.com">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 精品外教课 往期课程 -->

	<!-- 精品外教课 未购买 -->
	<div class="course-info-box">
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-nobuy">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
							<em>
								<img src="<%= imagessrc%>lock-icon.png" />
							</em>
						</div>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 精品外教课 未购买 -->

	<!-- 精品外教课 未配课 未购买 -->
	<div class="course-info-box">
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-nobuy">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>pay-detail-img.jpg" />
							<em>
								<img src="<%= imagessrc%>lock-icon.png" />
							</em>
						</div>
						<!-- 角标 -->
						<span class="course-info-tag tag-type2">
							<em>第一课</em>
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">精品外教课</p>
					</dd>
				</dl>
			</li>
		</ul>
		<div class="course-info-config">
			<img src="/images/wap/b2s/config-bg.png">
			<p>更多精品课，正在配置中...</p>
		</div>
	</div>
	<!-- 购买按钮 -->
	<div class="course-info-btn">
		<div class="btn-in">
			<a href="" class="btn">购买精品外教课</a>
		</div>
	</div>
	<!-- 精品外教课 未配课 未购买 -->

	<!-- 精品外教课 未配课 已购买 -->
	<div class="course-info-box">
		<div class="course-info-wait">
			<img src="/images/wap/b2s/wait-box.jpg">
		</div>
		<div class="course-info-tit tit-type2">
			<h5>
				<span>精品外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>pay-detail-img.jpg" />
							<!-- <em>
								<img src="<%= imagessrc%>lock-icon.png" />
							</em> -->
						</div>
						<!-- 角标 -->
						<span class="course-info-tag tag-type2">
							<em>第一课</em>
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">精品外教课</p>
					</dd>
				</dl>
			</li>
		</ul>
		<div class="course-info-config">
			<img src="/images/wap/b2s/config-bg.png">
			<p>更多精品课，正在配置中...</p>
		</div>
	</div>
	<!-- 精品外教课 未配课 已购买 -->

	<!-- 入门外教课 未布置作业 即将开课 -->
	<div class="course-info-box">
		<div class="course-info-tit">
			<h5>
				<span>入门外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 入门外教课 未布置作业 即将开课 -->

	<!-- 入门外教课 未布置作业 往期课程 -->
	<div class="course-info-box">
		<div class="course-info-tit">
			<h5>
				<span>入门外教课</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-past">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 入门外教课 未布置作业 往期课程 -->

	<!-- 入门外教课 已布置作业 即将开课 -->
	<div class="course-info-box">
		<div class="hw-wrap">
			<p class="hw-wrap-tit">刘大宝老师给你布置作业啦！</p>
			<div class="hw-wrap-con">
				<img src="/images/wap/b2s/hw-c-bg.png" alt="">
			</div>
		</div>
		<div class="course-info-tit">
			<h5>
				<span>入门外教课</span>
			</h5>
		</div>
		<ul class="course-info-list">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 角标 -->
						<span class="course-info-tag tag-type2 course-info-tag-vip">
							<!-- <em>作业一</em> -->
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 入门外教课 已布置作业 即将开课 -->

	<!-- 入门外教课 已布置作业 往期课程 -->
	<div class="course-info-box">
		<div class="hw-wrap">
			<p class="hw-wrap-tit">刘大宝老师给你布置作业啦！</p>
			<div class="hw-wrap-con">
				<img src="/images/wap/b2s/hw-c-bg.png" alt="">
			</div>
		</div>
		<div class="course-info-tit">
			<h5>
				<span>入门外教课</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-past">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img.jpg" />
						</div>
						<!-- 角标 -->
						<span class="course-info-tag tag-type2 course-info-tag-vip">
							<!-- <em>作业一</em> -->
						</span>
						<!-- 查看详情 -->
						<a href=""></a>
					</dt>
					<dd>
						<p class="info-list-tit">亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得亲子阅读树《Lost ans Found》失而复得</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
						<p class="info-list-download">
							<a href="javascript:void(0)">下载教材</a>
						</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 入门外教课 已布置作业 往期课程 -->

	<!-- 入门外教课配置中 -->
	<div class="course-info-box">
		<div class="course-info-config course-info-config-basic">
			<img src="/images/wap/b2s/config-bg.png">
			<p>入门外教课，正在配置中...</p>
		</div>
	</div>
	<!-- 入门外教课配置中 -->

	<!-- 家长会 -->
	<div class="course-info-box">
		<div class="course-info-tit">
			<h5>
				<span>家长会</span>
			</h5>
		</div>
		<ul class="course-info-list course-info-list-ppm">
			<li>
				<dl>
					<dt>
						<div class="course-info-img">
							<img src="<%= imagessrc%>class-img-ppm.jpg" />
						</div>
						<!-- 查看详情 -->
						<!-- <a href=""></a> -->
					</dt>
					<dd>
						<p class="info-list-tit">家长会</p>
						<p class="info-list-time">上课时间：2015/12/15<span>19:00-19:30</span></p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
	<!-- 家长会 -->
<!-- <div class="confirm-wrap">
	<div class="confirm-in">
		<div class="confirm-content">
			精品课VIP方可下载，<br/>
			是否成为VIP？
		</div>
		<div class="confirm-btns">
			<a href="javascript:void(0)" cb="cancel" class="btn-cancel">取消</a><a href="javascript:void(0)" cb="sure" class="btn-sure">确定</a>
		</div>
	</div>
</div> -->
</body>
<% include ../common/bottom.ejs %>