<% include ../common/top.ejs %>
<body data-init="effect_payed" class="push_class effect">
    <script type="text/javascript">
        window.onload = function(){
            document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
             document.getElementsByClassName("fontSizeLoding")[0].style.display = "none";
        };
    </script>
    <div class="logo">
        <img src="<%= imagessrc%>logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="effect_content">
        <p class="title"><span>五年级九班 </span>外教辅导课成果反馈</p>
        <div class="tit_img">
            <img src="<%= imagessrc%>e_tit_img.png"/>
        </div>
        <div class="effect_little_box not_pay_box">
            <p class="before_img">第一课</p>
            <p class="lesson_intro">读书 G1 Lesson 1 I read a book</p>
            <p class="before_img class_time">上课时间</p>
            <p class="lesson_intro">2016-06-18 &nbsp;  <span>|</span>  &nbsp; 19:00-19:30</p>
            <a href="javascript:;" class="load_teaching">教材下载</a>
            <a href="javascript:;" class="load_teaching load_vioce">课堂录音</a>
            <p class="introduce_text">坚持和外教学习<span>+25</span>分钟！累积<span>50</span>分钟！</p>
        </div>
        <div class="effect_little_box table_box">
            <p class="before_img learn_tag">学习目标</p>
            <p class="taget_text"><span>1</span>听：能听懂家庭成员的英文表达。</p>
            <p class="taget_text"><span>2</span>说：能够表达和谁读、对谁读。</p>
            <p class="taget_text"><span>3</span>读：能读懂家谱。</p>
            <p class="before_img key_words">核心单词8个</p>
            <div class="cfix key_words_text">
                <span>mom</span>
                <span>mommmmm</span>
                <span>mom</span>
                <span>mom</span>
                <span>mom</span>
                <span>god</span>
            </div>
            <p class="before_img master_grammar">掌握语法点</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
        </div>
        <div class="effect_little_box stu_work_last">
             <p class="before_img class_show">课堂表现</p>
             <div class="cfix payed_class_show">
                <div class="road">
                    <div class="y" data-goto="0.5">
                        <div class="l"><span class="goto-l"></span></div>
                        <div class="r"><span class="goto-r"></span></div>
                    </div>
                    <div class="road_content">
                        <P>答题：2道</P>
                        <p>
                            <span class="rigth_q">1道</span>
                            <span class="error_q">2道</span>
                        </p> 
                    </div>
                </div>
                <div class="win_show">
                    <P class="raduis_row"></P>
                    <P class="win_show_text">战胜本市区全年级</P>
                    <div class="win_show_perent">
                        <p style="width:80%">
                            <i class=""></i>
                        </p>
                    </div>
                    <p class="win_show_row">
                        <i></i>
                        战胜98%同学
                    </p>
                </div>
             </div>
        </div>
        <div class="effect_little_box table_box">
            <p class="before_img learn_tag">作业完成</p>
            <!-- 精品课作业 -->
            <p class="payed_worked"><span> == </span>51Talk精品课作业<span> == <span></p>
            <div class="payed_work_list">
                <div class="payed_work_list_box">
                    <P class="list_1">
                       <span style="height:80%"><i><em>80%</em></i></span>
                    </P>
                    <P class="list_2">
                       <span style="height:20%"><i><em>20%</em></i></span>
                    </P>
                    <P class="list_3">
                       <span style="height:60%"><i><em>60%</em></i></span>
                    </P>
                </div>
                
                <p class="bottom_text">
                    <span class="bottom_t_1"></span>
                    <span class="bottom_t_2">获得15颗星星(共30颗)</span>
                    <span class="bottom_t_3"></span>
                    <span class="bottom_t_4">击败全班46.67%的同学</span>
                </p>
            </div>
            <p class="payed_word_talk">
                词汇掌握：<br/>已掌握单词 <span>gramm</span><span>mm</span><span>mm</span><span>mm</span><span>mm</span><span>mfffm</span>
                <br/>未掌握单词 <span class="next">gramm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span>
            </p>

            <!-- 精品课作业提示 -->
            <div class="effect_work_tips">
                <p class="ef_title">提示</p>
                <p class="effect_work_tips_text">孩子还没作业纪录，提醒他下载无忧课堂APP做作业！</p>
                <p class="effect_work_tips_text_one">孩子上未付费，无法做趣味课外作业。</p>
                <a href="javscript:;">立即下载App</a>
                <a href="javscript:;" class="tips_go_buy">立即购买</a>
            </div>

            <!-- 趣味课作业 -->
            <p class="payed_worked intes_payed_worked"><span> == </span>趣味课外作业<span> == <span></p>
            <div class="payed_work_list">
                <div class="payed_work_list_box">
                    <P class="list_1">
                       <span style="height:80%"><i><em>80%</em></i></span>
                    </P>
                    <P class="list_2">
                       <span style="height:20%"><i><em>20%</em></i></span>
                    </P>
                    <P class="list_3">
                       <span style="height:60%"><i><em>60%</em></i></span>
                    </P>
                </div>
                
                <p class="bottom_text">
                    <span class="bottom_t_1"></span>
                    <span class="bottom_t_2">  获得15颗星星（共30颗） </span>
                    <span class="bottom_t_3"></span>
                    <span class="bottom_t_4">击败全班30%的同学</span>
                </p>
            </div>
            <p class="payed_word_talk">词汇掌握：<br/>已掌握单词 <span>gramm</span><span>mm</span><span>mm</span><span>mm</span><span>mm</span><span>mfffm</span>
                <br/>未掌握单词 <span class="next">gramm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span><span class="next">mm</span></p>
        </div>

        <div class="effect_little_box vip_table table_box">
            <P class="app_text">51Talk外教辅导课专属APP"无忧课堂"</P>
            <div class="app_img_box">
                <img src="<%= imagessrc%>down_app.png" alt="">
            </div>
            <p class="payed_app_text">再也不怕错过上课啦！</p>
            <p class="payed_app_text">课后作业说做就做！</p>
            <p class="payed_app_text">同班同学PK学习榜！</p>
            <div class="cfix payed_app_load">
                <a href="javascript:;" class="payed_app_load_teaching">下载</a>
            </div>
            
        </div>

        <div class="effect_little_box table_box">
            <p class="before_img learn_tag">跟你一起听课的还有</p>
            <ul class="cfix payed_listen_stu">
                <li>
                    <img src="<%= imagessrc%>account-headicon-agent.png" alt="">
                    <p>张三</p>
                </li>
                <li>
                    <img src="<%= imagessrc%>account-headicon-agent.png" alt="">
                    <p>张三</p>
                </li>
                <li>
                    <img src="<%= imagessrc%>account-headicon-agent.png" alt="">
                    <p>张三</p>
                </li>
                <li>
                    <img src="<%= imagessrc%>account-headicon-agent.png" alt="">
                    <p>张三</p>
                </li>
                <li>
                    <img src="<%= imagessrc%>account-headicon-agent.png" alt="">
                    <p>张三</p>
                </li>

            </ul>
            <a href="javascript:;"><p class="payed_invite_stu">邀请好友一起学习</p></a>
        </div>
        <div class="banner_img">
            <a href=""><img src="<%= imagessrc%>banner.jpg" alt=""></a>
        </div>    
        <div class="share_box"></div>

        
    </div>
    <div class="share_btn share-btn">分享学习成果</div>

<!-- loading -->
    <div class="fontSizeLoding">
        <img src="<%= imagessrc%>eff_loading.gif">
    </div>
<!-- 分享弹层 -->
     <div class="stu-audio-dialog">
            <div class="arrows">
                <img src="<%= imagessrc%>stu-audio-dialog01.png" alt="">
            </div>
            <!-- <div class="share-WeChat">
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog02.png" alt=""></a></dt>
                    <dd>微信好友</dd>
                </dl>
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog03.png" alt=""></a></dt>
                    <dd>朋友圈</dd>
                </dl>
            </div> -->
            <div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
            <div class="share-bottom">
                <div class="share-qq">
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog04.png" alt=""></a></dt>
                        <dd>QQ好友</dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog05.png" alt=""></a></dt>
                        <dd>QQ空间</dd>
                    </dl>
                </div>
                <div class="share-cancel">取&nbsp;消</div>
            </div>
    </div>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>