<% include ../common/top.ejs %>
<body data-init="effect_not_payed" class="push_class effect">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    </script>
    <div class="logo">
        <img src="<%= imagessrc%>logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="effect_content">
        <p class="title">五年级九班外教辅导课成果反馈</p>
        <div class="tit_img">
            <img src="<%= imagessrc%>e_tit_img.png"/>
        </div>
        <div class="effect_little_box not_pay_box">
            <p class="before_img">第一课</p>
            <p class="lesson_intro">读书 G1 Lesson 1 I read a book</p>
            <p class="before_img class_time">上课时间</p>
            <p class="lesson_intro">2016-06-18 &nbsp;  <span>|</span>  &nbsp; 19:00-19:30</p>
            <a href="javascript:;" class="load_teaching">教材下载</a>
            <a href="javascript:;" class="load_teaching load_vioce">课堂录音</a>
            <p class="introduce_text">坚持和外教学习<span>+25</span>分钟！累积<span>50</span>分钟！</p>
        </div>
         <div class="effect_little_box table_box">
            <p class="before_img learn_tag">学习目标</p>
            <p class="taget_text"><span>1</span>听：能听懂家庭成员的英文表达。</p>
            <p class="taget_text"><span>2</span>说：能够表达和谁读、对谁读。</p>
            <p class="taget_text"><span>3</span>读：能读懂家谱。</p>
            <p class="before_img key_words">核心单词8个</p>
            <div class="cfix key_words_text">
                <span>mom</span>
                <span>mommmmm</span>
                <span>mom</span>
                <span>mom</span>
                <span>mom</span>
                <span>god</span>
            </div>
            <p class="before_img master_grammar">掌握语法点</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
        </div>
        <div class="effect_little_box stu_work_last">
             <p class="before_img class_show">课后完成作业</p>
             <p class="donot_work">孩子还没有做作业!</p>
            <!--  <a href="javascript:;" class="stu_eff_load">无忧课堂</a>
             <span >词汇复习，跟读发音免费学哦！</span> -->
             <p class="dont_down">词汇复习，跟读发音免费学哦！</p>
             <div class="cfix line_box">
                 <p>60.33%同学做作业 </p>
                 <p>跟读发音准确度65.33% </p>
                 <p>词汇掌握提升70.33%</p>
             </div>
        </div>
        <div class="effect_little_box stu_do_better">
            <img src="<%= imagessrc%>stu_do_better.png">
            <div class="cfix part_show">
                 <div class="road">
                    <div class="y" data-goto="0.5">
                        <div class="l"><span class="goto-l"></span></div>
                        <div class="r"><span class="goto-r"></span></div>
                    </div>
                    <div class="road_content road_content_not_payed">
                        <P class="not">答题：<span>2道</span></P>
                    </div>
                </div>
                <div class="win_show">
                    <P class="raduis_row"></P>
                    <P class="win_show_text win_show_text_not_payed">本市区全年级已有<span>76590</span>名同学参与</P>
                    <div class="win_show_perent ">
                        <p style="width:80%">
                            <i class=""></i>
                        </p>
                    </div>
                    <p class="win_show_row">
                        <i></i>
                        战胜98%同学
                    </p>
                </div>
            </div>
        </div>
        <div class="effect_little_box vip_table table_box">
            <P class="stu_how_text">还有<span>48节</span>外教辅导课会继续学习，付费学员将享受以下特权：</P>
            <table>
              <thead>
                <tr>
                  <th width="50%" align="left">课程服务</th>
                  <th width="25%">普通学员</th>
                  <th width="25%" class="color1">特权学员</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="color2">外教授课</td>
                  <td><span class="icon-yes"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
                <tr>
                  <td>同步课标拓展教材</td>
                  <td><span class="icon-yes"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
                <tr>
                  <td>精品课作业</td>
                  <td><span class="icon-yes"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
                <tr>
                  <td>上课举手发言</td>
                  <td><span class="icon-no"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
                <tr>
                  <td>上课答题</td>
                  <td><span class="icon-no"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
                <tr>
                  <td>趣味课外作业</td>
                  <td><span class="icon-no"></span></td>
                  <td><span class="icon-yes"></span></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="share_box"></div>
        <div class="share_btn share-btn">分享学习成果</div>
    </div>
<!-- 分享弹层 -->
     <div class="stu-audio-dialog">
            <div class="arrows">
                <img src="<%= imagessrc%>stu-audio-dialog01.png" alt="">
            </div>
            <!-- <div class="share-WeChat">
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog02.png" alt=""></a></dt>
                    <dd>微信好友</dd>
                </dl>
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog03.png" alt=""></a></dt>
                    <dd>朋友圈</dd>
                </dl>
            </div> -->
            <div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
            <div class="share-bottom share_none">
                <!-- <div class="share-qq">
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog04.png" alt=""></a></dt>
                        <dd>QQ好友</dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog05.png" alt=""></a></dt>
                        <dd>QQ空间</dd>
                    </dl>
                </div> -->
                <div class="share-cancel">取&nbsp;消</div>
            </div>
    </div>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>