<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>introduce1v3_more2.css">
</head>
<body data-init="introduce1v3_more2" class="introduce1v3_more2">
    <!--  <div class="intro_title">
       <p>外教1对1课程</p>
        <P>本期限量招生开始啦 !</P>
        <P>专属外教25分钟强互动，专为3-15岁孩子设计</P>
    </div> -->
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_1.jpg">
    </div>
   <!-- 团购 -->
    <div class="screen_more" start-time="" endtime="">
        <img class="show_content" src="<%= imagessrc%>more_02.png">
        <p class="endplay disnone"> 本次团购时间已到期，请重新开团</p>
        <p class="more_timer" starttime="12" endtime="20">剩余<em>2</em>个名额 &nbsp;&nbsp; <span class="hou">23</span>  <span class="min">56</span>  <span class="sec">32</span>  后结束</p>
        <ul class="cfix">
            <li>
                <img src="<%= imagessrc%>1v4_more_2.png">
                <p>ids</p>
            </li>
            <li>
                <img src="<%= imagessrc%>1v4_more_5.png">
            </li>
            <li>
                <img src="<%= imagessrc%>1v4_more_5.png">
            </li>
        </ul>
        <P class="to_more js-tobuy">立即参团</P>
        <img class="need_know" src="<%= imagessrc%>1v4_more_6.png">
        <p class="know_text">1. 该活动仅限新用户参加，即未购买过美教1对4精品班的用户</p>
        <p class="know_text">2. 无忧课堂未覆盖学校的用户暂时不能参加该活动</p>
    </div>
    <!-- 团购end -->

    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_2.jpg">
    </div>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_3.jpg">
    </div>
    <p class="usa_intro_text">每周3节一对一北美外教课</p>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_4.jpg">
    </div>
    <p class="usa_intro_text_more">100%北美外教在线1对1的教学模式，为每个孩子制定有针对性的学习方案。科学的上课时间，25分钟一堂课，保证在孩子有限的精力内最高效的学习。此外，孩子还可以使用电脑(iPad或手机) 自由选择上课时间、教材和外教，达到随时随地均可上课。</p>
    <p class="usa_intro_text">每周1节中教辅导课</p>
    <div class="intro_top_new">
        <img src="<%= imagessrc%>uas_pay_intro_5.jpg">
    </div>
    <p class="usa_intro_text_more">专业的中教老师为孩子的学习效果提供保障，从课前、课中、课后，指导学习方法，规划学习计划，实时解答问题，批改作业，定期回访等多项专业贴心服务。</p>
    <div class="intro_tab_new intro_tab_new_usa">
        <img src="<%= imagessrc%>uas_pay_intro_6.jpg">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_7.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_8.jpg">
                </div>
                <div class="swiper-slide">
                    <img class="usa_img" src="<%= imagessrc%>uas_pay_intro_9.jpg">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="class_introduce">
        <div class="buyed_class">
            <p class="buyed_title">您的1对1课程次卡消耗情况如下</p>
            <p class="buy_class_mes_title">
                <span>课程次数</span>
                <span>课程学习有效期</span>
                <span>课程截至日期</span>
            </p>
            <p class="buy_class_mes_title buy_class_mes">
                <span>15次</span>
                <span>1个月</span>
                <span>2016年12月9日</span>
            </p>
        </div>
        <div class="fix_null"></div>
    </div>


    <div class="to_pay_on js-tobuy" data-loginajaxurl="http://www.51kt.com/" data-currentpageurl="">
        <a href="javascript:;"></a>
        <p>立即参团</p>
    </div>

    
    <div class="choose_class_pop">
        <!-- <未选课程弹层 -->
        <div class="class_to_buy">
            <h4>现在购买，为孩子开启国际化英语学习之旅</h4>
            <table>
                <tr>
                    <th>课程套餐</th>
                    <th>课程次数</th>
                    <th>本期优惠价</th>
                </tr>
                <tr class="js-not-pop" money="598" d-money="100" isvip="0" packageid="2" vip-money="298">
                    <td><i class="on_choose"></i>1个月课程包</td>
                    <td>外教1对1课12节<br/>中教辅导课4节</td>
                    <td class="colo">￥598 <span>748</span></td>
                </tr>
            </table>
            <ul class="free_class">
                <li class="cfix title">
                    <span>金额</span>
                    <i>￥198</i>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥198</i>
                </li>
            </ul>
        </div>
         <div class="to_pay_btn">
            <a href="javascript:;"></a>
            <p>立即支付</p>
        </div>
    </div>
    <!-- form表单 -->
    <form action="" class="js_payform">
       <!--  套餐id -->
        <input class="packageid" name="" value="1" type="hidden">
        <!-- 是否选择的是vip -->
        <input class="isvip" name="" value="1" type="hidden">
        <!-- 是否勾选了多余的32节 -->
        <input class="buymore" name="" value="49" type="hidden">
    </form>


    <!-- 不能购买样式 -->
    <!-- <div class="cannot_buy_btn">
        <a href="javascript:;"></a>
        <p>立即抢购</p>
    </div> -->
<div class="more_end_pop disnone">
    <div class="content">
        <p class="rad"></p>
        <P class="endtext">本次团购时间已到，请重新开团</P>
        <p class="to_btn js-tobuy">重新开团</p>
    </div>
</div>

<div class="share_pop disnone">
    <img src="<%= imagessrc%>1v4_share.png">
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>