<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>introduce1v4.css">
</head>
<body data-init="introduce1v4" class="introduce1v4">
    <div class="screen1">
        <div class="screen1-specil">
            <img class="screen1-img" src="<%= imagessrc%>1v4_16.png">
        </div>
        <img class="screen1-img" src="<%= imagessrc%>introduce1v4-02.jpg">
        <div class="screen1-con">
            <img class="screen1-img2" src="<%= imagessrc%>introduce1v4-03.png">
            <div class="screen1-con-btn">4次外教课+2次中教预习课</div>
        </div>
        <img class="screen1-animation" src="<%= imagessrc%>introduce1v4-09.png">
    </div>
    <div class="screen2">
        <img class="screen2-img" src="<%= imagessrc%>introduce1v4-05.png">
        <div class="screen2-con">
            <img class="screen2-img2" src="<%= imagessrc%>introduce1v4-06.png">
            <div class="screen2-con-text">100%拥有教学资质证书<br>严格的择优和培训制度<br>深谙ESL教学法，课程设计理念</div>
        </div>
        <img class="screen2-animation" src="<%= imagessrc%>introduce1v4-010.png">
    </div>
    <div class="screen3">
        <img class="screen3-img" src="<%= imagessrc%>introduce1v4-07.jpg">
        <div class="screen3-con">
            <img class="screen3-img2" src="<%= imagessrc%>introduce1v4-08.png">
            <div class="screen3-con-text">交互式教学模板，孩子与老师双向反馈<br>趣味互动化教学，让孩子寓教于乐<br>单独辅导学生学习，让每个孩子都被重视</div>
        </div>
        <img class="screen3-animation" src="<%= imagessrc%>introduce1v4-011.png">
        <img class="screen3-animation2" src="<%= imagessrc%>introduce1v4-012.png">
    </div>

    <div class="part_one">
        <div class="bg_box">
            <div class="move_box">
                
            </div>
        </div>
        <P class="img_title"><img src="<%= imagessrc%>1v4_6.png"></P>
    </div>
    <div class="part_two">
        <P class="title_text">固定同级学伴，组队PK超强互动<br/>“互进式”的学习氛围，孩子越学越起劲<br/>在竞争与合作中，激发孩子领导力潜能</P>
        <P class="img_title"><img src="<%= imagessrc%>1v4_8.png"></P>
        <p class="text_int">全方位跟进学员学习，专业私属教学服务<br/>科学的教育理念和家辅方案，让父母安心放心<br/>全程英语班主任式教学，让孩子德才兼备</p>
    </div>
    <div class="part_three">
        <div class="people">
            
        </div>
    </div>
    <div class="part_four">
        <img src="<%= imagessrc%>1v4_12.png" class="tite">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="s_box">
                        <div class="pic_one"> <img src="<%= imagessrc%>1v4_13.png" class="tite"></div>
                        <div class="bot_img">
                            <p class="text_1">51Talk  品牌代言人</p>
                            <P class="text_2">国际网坛巨星</P>
                            <P class="text_3">“ 学英语和打网球一样，要和真人外教练。<br/>51Talk做到了让每个人都拥有这样的语言环境。”</P>
                        </div>
                    </div>      
                </div>
                <div class="swiper-slide">
                    <div class="s_box">
                        <div class="pic_one"> <img src="<%= imagessrc%>1v4_14.png" class="tite"></div>
                        <div class="bot_img">
                            <p class="text_1">徐小平</p>
                            <P class="text_2">新东方联合创始人</P>
                            <P class="text_3">“要想全球Walk，请来51Talk ”</P>
                        </div>
                    </div>      
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="null"></div>
     <!-- 正常购买按钮 -->
    <div class="bottom_box cfix js-tobuy">
        <div class="left_box">
            <P class="l1">￥148 <span>￥原价699 </span><i></i></P>
        </div>
        <div class="right_box">购买</div>
    </div>

    <!-- 限时购买  暂未开始 -->
    <div class="bottom_not_buy cfix disnone" ajax-url="">
        <div class="left_box">
            <P class="l1">￥148 <span>￥原价699 </span><i></i></P>
            <P class="l2 before disnone">本期招生未开始，招生开始前我们将及时通知，感谢您的耐心。</P>
            <P class="l2 after ">本期招生已结束，请关注无忧课堂APP/班级家长群/服务号的新一期招生信息。</P>
        </div>
        <!-- <div class="right_box">报名暂未开始</div> -->
    </div>

    <!-- 限时购买  倒计时中 如果不用倒计时 endtime为空即可   disnone为隐藏样式-->
    <div class="bottom_timer cfix js-tobuy disnone" endtime="0" nowtime="0" starttime="6">
        <div class="left_box">
            <P class="l1">￥148 <span>￥原价699 </span><i></i></P>
            <P class="l2">距离结束仅剩<span class="day"></span>&nbsp;&nbsp;<span class="hor">00</span>:<span class="min">00</span>:<span class="sec">00</span></P>
        </div>
        <div class="right_box">购买</div>
    </div>

    <!-- 课程弹层 -->
    <div class="all_dio">
        <div class="class_to_buy disnone">
            <h4>现在购买，为孩子开启国际化英语学习之旅</h4>
            <table>
                <tr>
                    <th>课程套餐</th>
                    <th>课程次数</th>
                    <th>本期优惠价</th>
                </tr>
                <tr class="js-not-pop" money="598" d-money="100" isvip="0" packageid="2" vip-money="298">
                    <td><i class="on_choose"></i>1个月课程包</td>
                    <td>外教1对1课12节<br/>中教辅导课4节</td>
                    <td class="colo">￥598 <span>748</span></td>
                </tr>
            </table>
            <ul class="free_class">
                <li class="cfix title">
                    <span>金额</span>
                    <i>￥198</i>
                </li>
                <li class="cfix pay_all_mon">
                     <span>实付金额</span>
                    <i>￥198</i>
                </li>
            </ul>
            <div class="buy_btn app_pay_btn">
                <p>立即支付</p>
            </div>
        </div>
    </div>
   


    <!-- 支付弹层 APP专用-->
    <!-- <div class="pay-dialog-wrap disnone"></div> -->
    <div class="pay-dialog js_pay_dialog">
      <div class="pay-dialog-tit">
        <div class="pay-dialog-tit-top">支付方式</div>
        <div class="pay-dialog-tit-con js_paySelect">
          <span class="payItems" data-paytype="alipay"><img src="<%= imagessrc%>app-buyvip-icon-alipay.png" /><i>支付宝购买</i></span>
          <span class="payItems js_weixin" data-paytype="weixin"><img src="<%= imagessrc%>app-buyvip-icon-WeChat.png" /><i>微信购买</i></span>
        </div>
      </div>
      <div class="pay-dialog-but pay-dialog-hide js_pay_dialog_hide">
        取消
      </div>
      <form class="js_payform">
        <input id="extId" value="0" name="extId">
        <input type="hidden" name="packageId" id="packageId" value="6radio">
        <input type="hidden" name="payType" id="payType" value="" class="js_paytype">
      </form>
      
    </div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>