<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>invited_speakers2.css">
</head>
<body data-init="" class="invited_speakers2-wrap">
    <div class="speakers-img"><img src="<%= imagessrc%>invited_speakers2-04.jpg"></div>
    <div class="speakers-tit marginTop1"><span class="font1">/&nbsp;&nbsp;上课软件下载&nbsp;&nbsp;/</span></div>
    <p class="speakers-font1 marginTop2">请提前下载上课软件，以便耽误参加讲座。</p>
    <div class="speakers-tit2 marginTop3">手机/Pad上课软件</div>
    <div class="speakers-btn"><a href="#">马上下载手机上课软件</a></div>
    <div class="speakers-tit2 marginTop1">电脑上课软件</div>
    <p class="speakers-font1 marginTop3">请访问无忧课堂官网（www.51Talk.com）下砸电脑上课软件AC。</p>
    <div class="speakers-img2 marginTop4"><img src="<%= imagessrc%>invited_speakers2-01.jpg"></div>
    <div class="speakers-tit marginTop1"><span class="font1">/&nbsp;&nbsp;如何上课&nbsp;&nbsp;/</span></div>
    <p class="speakers-font1 marginTop2">讲座当天登录上课软件，选择首页“......讲座”讲座前1小时方可进入教室。</p>
    <div class="speakers-tit2 marginTop5">手机/Pad端上课</div>
    <div class="speakers-img2 marginTop4"><img src="<%= imagessrc%>invited_speakers2-02.jpg"></div>
    <div class="speakers-tit2 marginTop5">PC 端上课</div>
    <div class="speakers-img2 marginTop4"><img src="<%= imagessrc%>invited_speakers2-03.jpg"></div>
    <div class="speakers-bottom"></div>

<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>