<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>Marketing_show.css">
</head>
<body data-init="MarketingShow" class="process_show">
    <div class="video_show border-b">
        <img class="title_img" src="<%= imagessrc%>marketing_1.png">
        <p class="more_text">优秀上榜作品</p>
        <ul class="cfix video_list">
            <li>
                <div class="img_bg">
                    <img class="bg" src="<%= imagessrc%>process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="<%= imagessrc%>marketing_7.png">
                    </div>
                    <div class="bottom_mes cfix">
                       <P class="left">
                           <img class="bg" src="<%= imagessrc%>process_login_7.png"><i>黄晓明</i>
                       </P>
                       <P class="right">
                           2222
                       </P> 
                    </div>
                </div>
                <P class="
                text_one">来自圈子#英文试听馆#</P>
                <P class="
                text_two">哈尔滨星城学校二年级</P>
                <span class="show_class">外教托管班学员</span>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="<%= imagessrc%>process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="<%= imagessrc%>marketing_7.png">
                    </div>
                    <div class="bottom_mes cfix">
                       <P class="left">
                           <img class="bg" src="<%= imagessrc%>process_login_7.png"><i>黄晓明</i>
                       </P>
                       <P class="right">
                           2222
                       </P> 
                    </div>
                </div>
                <P class="
                text_one">来自圈子活子活子活动#英文试听馆#</P>
                <P class="
                text_two">哈尔滨星城学校二年级</P>
                <span class="show_class">外教托管班学员</span>
            </li>
        </ul>
        <ul class="cfix video_list">
            <li>
                <div class="img_bg">
                    <img class="bg" src="<%= imagessrc%>process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="<%= imagessrc%>marketing_7.png">
                    </div>
                    <div class="bottom_mes cfix">
                       <P class="left">
                           <img class="bg" src="<%= imagessrc%>process_login_7.png"><i>黄晓明</i>
                       </P>
                       <P class="right">
                           2222
                       </P> 
                    </div>
                </div>
                <P class="
                text_one">来自圈子活子活子活动#英文试听馆#</P>
                <P class="
                text_two">哈尔滨星城学校二年级</P>
                <span class="show_class">外教托管班学员</span>
            </li>
            <li>
                <div class="img_bg">
                    <img class="bg" src="<%= imagessrc%>process_login_7.png">
                    <div class="open_btn cls-top" data-vedioSrc="http://www.baobeidashi.com/image/bm.mov"  data-width="80%" data-height="200">
                        <video style="display:none" src=""  preload="preload"></video>
                        <div style="width:30px;height:40px;display:none;"></div>
                        <img src="<%= imagessrc%>marketing_7.png">
                    </div>
                    <div class="bottom_mes cfix">
                       <P class="left">
                           <img class="bg" src="<%= imagessrc%>process_login_7.png"><i>黄晓明</i>
                       </P>
                       <P class="right">
                           2222
                       </P> 
                    </div>
                </div>
                <P class="
                text_one">来自圈子活子活子活动#英文试听馆#</P>
                <P class="
                text_two">哈尔滨星城学校二年级</P>
                <span class="show_class">外教托管班学员</span>
            </li>
        </ul>
    </div>
    <div class="reaseon_top">
        <p class="more_text">上榜理由</p>
        <img class="" src="<%= imagessrc%>marketing_3.png">
    </div>
    <div class="like_kid">
        <img class="" src="<%= imagessrc%>marketing_4.png">
        <!-- <img class="cen" src="<%= imagessrc%>marketing_5.png"> -->
        <img class="cen" src="<%= imagessrc%>marketing_5-1.png">
    </div>
    <!-- <div class="show_text">
        <p class="title">适合什么样的孩子：</p>
        <P class="normal_text">零英语基础孩子：用最有效最有趣的学习方式，抢跑英语启蒙起跑线。</P>
        <p class="normal_text">有英语基础的孩子：解决学得费劲、不敢说、没兴趣等英语学习难关，全面升级英语学习体验。</p>
        <p class="title title_top">适合什么样的家长：</p>
        <P class="normal_text">不知道自己英语说得好不好、对不对，不知道怎么辅导孩子学英语的家长。</P>
        <p class="normal_text">没时间辅导孩子，希望孩子获得高质量英语教育和综合竞争力的家长。</p>
        <P class="text_bottom">14天帮孩子收获双语技能</P>
    </div> -->
<div class="tea-btn-wrap2">
    <div class="tea-btn-in">
        <a href="javascript:void(0);" class="tea-btn">了解1对1外教全程托管班</a>
    </div>
</div>
<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>