<% include ../common/top.ejs %>
<body>
		<div class="summerClassPublicity2-wrap">
			<img src="<%= imagessrc%>new_student_read_02.jpg" alt="">
			<img src="<%= imagessrc%>new_student_read_03.jpg" alt="">
			<img src="<%= imagessrc%>new_student_read_04.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_05.jpg" alt="">
			<img src="<%= imagessrc%>new_student_read_06.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_07.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_08.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_09.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_10.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_11.jpg" alt="">
            <img src="<%= imagessrc%>new_student_read_12.png" alt="">
		</div>
</body>
<% include ../common/bottom.ejs %>