<% include ../common/top_b2s_n.ejs %>
    <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>process_login.css">
</head>
<body data-init="processLogin" class="process_body">
  
<div class="process_bg_l">
    <form action="" method="post" id="processLogin" class="process_login">
        <input type="tel" name="mobile" placeholder="请输入您的手机号" class="telephone">
        <p class="code-number send-verify">
            <input type="text" name="number" placeholder="请输入验证码" class="number">
            <input type="button" value="发送验证码" send-url="http://www.baidu.com" send-type="2" class="code"/>
        </p>
        <input type="password" name="password" placeholder="请输入密码" class="password">
        <input type="button" value="立即报名" class="regbutton">
    </form>
    <p class="to_go">我已报名  现在 <a href="#">登录</a></p>
    <p class="go_next"></p>
</div>
<div class="process_bg_a">
    <p class="all_text">完善孩子信息<br/>课题专员将根据具体情况为孩子安排课程</p>
    <form action="" method="post" id="processAll" class="process_all">
        <input type="text" name="" placeholder="中文名" class="Chinaname">
        <input type="text" name="" placeholder="英文名" class="usname">
        <input type="text" name="" placeholder="微信号" class="weixin_code">
        <div class="cfix sex">
            <p class="boy cur" sex="0">我是男生</p>
            <p class="girl" sex="1">我是女生</p>
        </div>
        <input type="text" name="" placeholder="学校" class="shcool">
        <div class="school_class">
            <select class="grade">
                <option value="0">年级</option>
                <option value="1">一年级</option>
                <option value="2">二年级</option>
                <option value="3">三年级</option>
                <option value="4">四年级</option>
                <option value="5">五年级</option>
                <option value="6">六年级</option>
            </select>
            <select class="class">
                <option value="0">班级</option>
                <option value="1">一班</option>
                <option value="2">二班</option>
                <option value="3">三班</option>
                <option value="4">四班</option>
                <option value="5">五班</option>
            </select>
        </div>
        <input type="hidden" value="0" class="sexname">
        <input type="button" value="确定提交" class="chooseAll">
    </form>
    <p class="go_next"></p>
</div>
<div class="process_part">
    <img src="<%= imagessrc%>process_login_3.png">
    <p class="class_text">中国教育学会外语教学专业委员会教育科研规划重点项目，正在面向全国12亿小学生开放纯英语教学资源，第一批参与学生将获得以下优质英语学习资源</p>
    <ul class="img_text">
        <li class="cfix first">
            <div class="left_text">
                <p class="top">1节</p>
                <p class="text">1对1北美测评课</p>
            </div>
            <img src="<%= imagessrc%>process_login_7.png">
        </li>
        <li class="cfix second">
            <div class="left_text">
                <p class="top">16个</p>
                <p class="text">纯美式绘本视频</p>
            </div>
            <img src="<%= imagessrc%>process_login_8.png">
        </li>
        <li class="cfix third">
            <div class="left_text">
                <p class="top">30个</p>
                <p class="text">课前预习视频</p>
            </div>
            <img src="<%= imagessrc%>process_login_9.png">
        </li>
    </ul>
    <p class="next_text">一位课题研究专员全程跟进孩子学习过程和效果，解答学习疑问，记录研究数据。</p>
    <img src="<%= imagessrc%>process_login_2.png">
    <ul class="intro_text">
        <li>1. 本次采样筛选数据样本<span>10000名</span>，报完即停</li>
        <li>2. 报名后将有一位科研专员与家长取得联系，为孩子安排课程，请家长<span>保持手机正常接通</span></li>
        <li>3. 请家长督促孩子<span>按时上课</sapn>，确保学习效</li>
        <li>4. 已经加入<span>无忧英语</span>和<span>无忧课堂</span>的孩子，<span>无需重新报名</span></li>
    </ul>
</div>
<div class="process_scroll_1">
    <img src="<%= imagessrc%>process_login_4.png">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide one">
                <p class="font1">止庭妈妈</p>
                <p class="font2">闺女的外教老师，每节课过后都会在QQ上跟我沟通一下孩子的学习情况，告诉我课后怎么带着孩子复习，比我自己都用心 </p>
            </div>
            <div class="swiper-slide two">
                <p class="font1">可可Mum</p>
                <p class="font2">周末接上3天雾霾假，于是可可每天在家停学不停课。可可从试听都是Jordan老师，一直能张嘴大声说，必须表扬接下来难度加大，要加油哇!</p>
            </div>
            <div class="swiper-slide three">
                <p class="font1">和和妈</p>
                <p class="font2">真棒！和老师互动越来越多。今天给我惊喜的是他可以用英文回答几点啦，不仅把表看对了，还能用英文回答！</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="process_scroll_2">
    <img src="<%= imagessrc%>process_login_5.png">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide one">
                <p class="font1">学英语和打网球一样，要和真人外教一对一的练51Talk做到了让每个人都拥有这样的语言环境 </p>
            </div>
            <div class="swiper-slide two">
                <p class="font1">要想全球Walk，请来51Talk！</p>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="cfix bottom_log">
    <img src="<%= imagessrc%>process_login_16.png">
    <div class="text_right">
        <P>美国纽交所上市公司(股票代码: COE)</P>
        <p>全球新来的在线英语领导品牌</p>
    </div>
</div>



<!-- loading -->
<div id="fontSizeLoding">
    <img src="<%= imagessrc%>eff_loading.gif">
</div>
<script type="text/javascript">
window.onload = function(){
    document.documentElement.style.fontSize = document.body.clientWidth / 7.5 + "px";
    document.getElementById("fontSizeLoding").style.display = "none";
}
</script>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>