<% include ../common/top.ejs %>
<body data-init="effect_push" class="push_class effect">
    <script type="text/javascript">
        document.documentElement.style.fontSize = document.body.clientWidth / 6.4 + "px";
    </script>
    <div class="logo">
        <img src="<%= imagessrc%>logo_1.png" />
        <span>外教同步辅导教材</span>
    </div>
    <div class="effect_content">
        <p class="title">五年级九班外教辅导课成果反馈</p>
        <div class="tit_img">
            <img src="<%= imagessrc%>hh.jpg"/>
        </div>
        <div class="effect_little_box table_box">
            <p class="before_img">第一课</p>
            <p class="lesson_intro">读书 G1 Lesson 1 I read a book</p>
            <p class="before_img class_time">上课时间</p>
            <p class="lesson_intro">2016-06-18 &nbsp;  <span>|</span>  &nbsp; 19:00-19:30</p>
            <table  border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>出席：49人</td>
                    <td>缺席：6人</td>
                </tr>
                <tr>
                    <td class="show_list"><a href="javascript:;" showlListUrl="http://s.51talk.com/WapShare/stuAttendList?class_id=268&course_id=1381  444">查看名单</a></td>
                    <td class="show_list"><a href="javascript:;" showlListUrl="http://s.51talk.com/WapShare/stuAttendList?class_id=268&course_id=1381" > 查看名单</a></td>
                </tr>
            </table>
        </div>
        <div class="effect_little_box ">
             <p class="before_img class_show">课堂表现</p>
             <ul class="cfix four_box">
                 <li>
                     <dl class="">
                         <dt>课时</dt>
                         <dd>+25分钟</dd>
                         <dd>累计课时100分钟</dd>
                     </dl>
                     <p class="center_r"></p>
                 </li>
                 <li>
                     <dl class="">
                         <dt></dt>
                         <dd class="clo">做题正确率</dd>
                         <dd>80%</dd>
                         <dd>共10人答题</dd>
                     </dl>
                 </li>
             </ul>
        </div>
        <div class="effect_little_box ">
            <p class="before_img work_show">作业报告</p>
            <p class="cfix work_table">
                <span class="is_done">51talk精品课作业</span>
                <span>趣味课外作业</span>
            </p>
            <div class="work_report">
                <div class="cfix work_pay">
                    <div class="fl_left">
                        <div class="cfix show_mes">
                            <p class="percent_box"></p>
                            <p class="percent_content">  作业完成80%</p>
                        </div>
                        <div class="road">
                           
                            <div class="y" data-goto="0.6">
                                <div class="l"><span class="goto-l"></span></div>
                                <div class="r"><span class="goto-r"></span></div>
                            </div>
                        </div>
                        <p class="normal_text">作业完成</p>
                        <P class="red_text">击败全年级80%的班级</P>
                    </div>
                    <div class="fl_right">
                        <div class="cfix show_mes">
                            <p class="percent_box"></p>
                            <p class="percent_content">  跟读发音完成80%</p>
                        </div>
                        <div class="road">
                            
                            <div class="y" data-goto="0.9">
                                <div class="l"><span class="goto-l"></span></div>
                                <div class="r"><span class="goto-r"></span></div>
                            </div>
                        </div>
                        <p class="normal_text">跟读发音</p>
                        <P class="red_text">同学们还需要加油哦！</P>
                    </div>
                </div>
                <p class="vocabulary">词汇掌握</p>
                <div class="word_form">
                    <p class="background_p bg_1">
                        <span style="height:65%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_2">
                        <span style="height:70%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_3">
                        <span style="height:80%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_4">
                        <span style="height:85%">
                            <i></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="work_report none_work_re">
                <div class="cfix work_pay">
                    <div class="fl_left">
                        <div class="road">
                            <div class="y" data-goto="0.6">
                                <div class="l"><span class="goto-l"></span></div>
                                <div class="r"><span class="goto-r"></span></div>
                            </div>
                        </div>
                        <p class="normal_text">作业完成80%</p>
                        <P class="red_text">击败全年级80%的班级</P>
                    </div>
                    <div class="fl_right">
                        <div class="road">
                            <div class="y" data-goto="0.9">
                                <div class="l"><span class="goto-l"></span></div>
                                <div class="r"><span class="goto-r"></span></div>
                            </div>
                        </div>
                        <p class="normal_text">跟读发音完成60%</p>
                        <P class="red_text">同学们还需要加油哦！</P>
                    </div>
                </div>
                <p class="vocabulary">词汇掌握</p>
                <div class="word_form">
                    <p class="background_p bg_1">
                        <span style="height:65%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_2">
                        <span style="height:70%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_3">
                        <span style="height:80%">
                            <i></i>
                        </span>
                    </p>
                    <p class="background_p bg_4">
                        <span style="height:85%">
                            <i></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="effect_little_box table_box">
            <p class="before_img learn_tag">学习目标</p>
            <p class="taget_text"><span>1</span>听：能听懂家庭成员的英文表达。</p>
            <p class="taget_text"><span>2</span>说：能够表达和谁读、对谁读。</p>
            <p class="taget_text"><span>3</span>读：能读懂家谱。</p>
            <p class="before_img key_words">核心单词8个</p>
            <div class="cfix key_words_text">
                <span>mom</span>
                <span>mommmmm</span>
                <span>mom</span>
                <span>mom</span>
                <span>mom</span>
                <span>god</span>
            </div>
            <p class="before_img master_grammar">掌握语法点</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
            <p class="master_grammar_text">1. I read with my mom.</p>
        </div>
        <div class="effect_little_box ">
            <P class="how_text">孩子怎么参与做课间题？怎样能有更多发言机会？</P>
            <P class="how_text"><a href="javascript:;" class="click_check">点击了解详情</a></p>
        </div>
        <div class="share_box"></div>
        <div class="share_btn share-btn">分享到班级群</div>
    </div>
<!-- 名单弹窗 -->
    <div class="name_list_confirm">
        <div class="cfix name_list_confirm_content">
            <p class="close_list"></p>
            <div class="name_list_content">
                <a herf="javascript:;">李梦尧</a>
            </div>
            
        </div>
    </div>
<!-- 分享弹层 -->
     <div class="stu-audio-dialog">
            <div class="arrows">
                <img src="<%= imagessrc%>stu-audio-dialog01.png" alt="">
            </div>
            <!-- <div class="share-WeChat">
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog02.png" alt=""></a></dt>
                    <dd>微信好友</dd>
                </dl>
                <dl>
                    <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog03.png" alt=""></a></dt>
                    <dd>朋友圈</dd>
                </dl>
            </div> -->
            <div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
            <div class="share-bottom share_none">
                <!-- <div class="share-qq">
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog04.png" alt=""></a></dt>
                        <dd>QQ好友</dd>
                    </dl>
                    <dl>
                        <dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog05.png" alt=""></a></dt>
                        <dd>QQ空间</dd>
                    </dl>
                </div> -->
                <div class="share-cancel">取&nbsp;消</div>
            </div>
    </div>
</body>
<!--公共尾部结束-->
<% include ../common/bottom.ejs %>