<% include ../common/top.ejs %>
<body  data-init="audioCustom">
	<!-- <audio src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" controls="controls" ></audio> -->
		<div class="studentAudioShare-wrap">
			<header>外教同步辅导课</header>
			<dl class="stu-audio">
				<dt>
					<div class="swiper-container">
					    <div class="swiper-wrapper">
					        <div class="swiper-slide">
					        	<img src="<%= imagessrc%>share-audio01.jpg" alt="">
					        	<div class="audio-custom audioPlay control" data-audio="audio-00">
									<dl>
										<dt><audio id="audio-00" src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" preload="auto"></audio></dt>
										<dd></dd>
									</dl>
								</div>
					        </div>
							<div class="swiper-slide">
								<img src="<%= imagessrc%>student_summer_class_1v1-01.jpg" alt="">
					        	<div class="audio-custom audioPlay control" data-audio="audio-01">
									<dl>
										<dt><audio id="audio-01" src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" preload="auto"></audio></dt>
										<dd></dd>
									</dl>
								</div>
							</div>
						    <div class="swiper-slide">
						    	<img src="<%= imagessrc%>student_summer_class_1v1-01.jpg" alt="">
					        	<div class="audio-custom audioPlay control" data-audio="audio-02">
									<dl>
										<dt><audio id="audio-02" src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" preload="auto"></audio></dt>
										<dd></dd>
									</dl>
								</div>
						    </div>
					    </div>
					    <!-- 如果需要分页器 -->
					    <div class="swiper-pagination"></div>

					    <!-- 如果需要导航按钮 -->
					    <div class="swiper-button-prev"></div>
					   <div class="swiper-button-next"></div>

					    <!-- 如果需要滚动条 -->
					    <!-- <div class="swiper-scrollbar"></div> -->
					</div>
				</dt>
				<dd>
					<dl class="cfix">
						<dt class="fl">
							<img src="<%= imagessrc%>share-audio-icon.jpg" alt="" class="fl">
							<div class="fl">
								<h6><span>潘晶链</span></h6>
								<p>小朋友说的英语很纯正呀！</p>
							</div>
						</dt>
						<dd class="fr">
							<dl class="like-btn like-btn-select" data-href="/wapshare/ajaxStuClickLikeSave?course_id=1&q_id=2&reg_id=3">
								<dt></dt>
								<dd>21</dd>
							</dl>
							<span class="share-btn">分享</span>
						</dd>
					</dl>
					<div class="stu-audio-time">2016-05-12<span></span>   9:23:12</div>
				</dd>
			</dl>
			<dl class="stu-audio-class cfix">
				<dt>本班机优秀配音</dt>
				<dd class="audioPlay control" data-audio="audio-108">
					<dl>
						<dt>
							<audio data-gather="1" id="audio-108" src="http://records.cloud.chivox.com/5745203b2bedad45592c8ebb.mp3" ></audio>
							<audio data-gather="1" src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" ></audio>
							<audio data-gather="1" src="http://records.cloud.chivox.com/5745203b2bedad45592c8ebb.mp3" ></audio>
						</dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control"  data-audio="audio-109">
					<dl>
						<dt>
							<audio data-gather="1" id="audio-109" src="http://records.cloud.chivox.com/5745203b2bedad45592c8ebb.mp3" ></audio>
							<audio data-gather="1" src="http://records.cloud.chivox.com/574520abb7749b8a6d2c8294.mp3" ></audio>
							<audio data-gather="1" src="http://records.cloud.chivox.com/5745203b2bedad45592c8ebb.mp3" ></audio>
						</dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
				<dd class="audioPlay control">
					<dl>
						<dt></dt>
						<dd>张晓华</dd>
					</dl>
				</dd>
			</dl>
			<dl class="scan-code">
				<dt><span>小伙伴们一起学英语</span></dt>
				<dd>
					<dl>
						<dt><img src="<%= imagessrc%>share-scan-code.jpg" alt=""></dt>
						<dd>长按识别二维码</dd>
					</dl>
				</dd>
			</dl>
			<div class="scan-code-describe">
				  <p>关注“51Talk中小学英语”服务号加入面向1亿小学生的免费外教同步辅导课</p>
				  <p>登陆学生账户获取课程详情和学生信息。</p>
			</div>
		</div>
		<div class="stu-audio-dialog">
			<div class="arrows">
				<img src="<%= imagessrc%>stu-audio-dialog01.png" alt="">
			</div>
			<!-- <div class="share-WeChat">
				<dl>
					<dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog02.png" alt=""></a></dt>
					<dd>微信好友</dd>
				</dl>
				<dl>
					<dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog03.png" alt=""></a></dt>
					<dd>朋友圈</dd>
				</dl>
			</div> -->
			<div class="share-prompt">点击右上角分享至微信好友或朋友圈</div>
			<div class="share-bottom">
				<div class="share-qq">
					<dl>
						<dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog04.png" alt=""></a></dt>
						<dd>QQ好友</dd>
					</dl>
					<dl>
						<dt><a href="javascript:void(0);"><img src="<%= imagessrc%>stu-audio-dialog05.png" alt=""></a></dt>
						<dd>QQ空间</dd>
					</dl>
				</div>
				<div class="share-cancel">取&nbsp;消</div>
			</div>
		</div>
</body>
<% include ../common/bottom.ejs %>