<% include ../common/top.ejs %>
<body>
		<ul class="summerClass-1v6">
			<li><img src="<%= imagessrc%>student_summer_class_1v6-title.png" alt="" /></li>
			<li><img src="<%= imagessrc%>student_summer_class_1v6-01.png" alt="" /></li>
			<li><img src="<%= imagessrc%>student_summer_class_1v6-02.png" alt="" /></li>
			<li><img src="<%= imagessrc%>student_summer_class_1v6-03.png" alt="" /></li>
			<li><a href="student_summer_class_pay2.html"><img src="<%= imagessrc%>student_summer_class_1v6-04.png" alt="" /></a></li>
		</ul>
</body>
<% include ../common/bottom.ejs %>