<% include ../common/top.ejs %>
<body>
	<!-- 去除结构
	<div class="tab-box">
		<ul>
			<li>
				<a href="student_class_info_free.html">免费外教课</a>
			</li>
			<li class="cur">
				<a href="student_class_info.html">外教辅导课</a>
			</li>
		</ul>
	</div>
	<div class="account-box">
		<div class="account-box-in">
			<dl class="cfix">
				<dt class="fl">
					<div class="fl account-headicon">
						<img src="<%= imagessrc%>account-headicon-s.png" />
					</div>
					<div class="fl account-des">
						<h6 class="cfix">
							<p class="fl">赵雷</p>
							<span class="fl">
								<img src="<%= imagessrc%>account-vip.png" /><i>已付费</i>
							</span>
						</h6>
						<p>北京109中学小学实验部</p>
						<p>三年二班</p>
					</div>
				</dt>
				<dd class="fr">
					<a href="login.html" class="fr">更换账户&nbsp;></a>
				</dd>
			</dl>	
		</div>
	</div>
	-->
	<!-- 入门外教课 -->
	<div class="main-box">
		<!-- 如果没有作业则没有这个结构 -->
		<div class="hw-wrap">
			<p class="hw-wrap-tit">刘大宝老师给你布置作业啦！</p>
			<div class="hw-wrap-con">
				<img src="<%= imagessrc%>hw-c-bg.png" alt="" />
			</div>
		</div>
		<!-- 如果没有作业则没有这个结构 -->
		<!-- 去除结构
		<div>
			<div class="section-box">
				<div class="school-info">北京109中学小学试验部</div>
				<div class="school-info">三年级二班</div>
			</div>
		</div>
		-->
		<section>
			<div class="section-box">
				<div class="title-info">
					<div class="title-text">入门外教课</div>
				</div>
				<!-- 如果没有作业则没有这个结构 -->
				<div class="homework-title cfix">
					<span >作业一</span>
				</div>
				<!-- 如果没有作业则没有这个结构 -->
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="section-box">
				<div class="title-info">
				</div>
				<!-- 如果没有作业则没有这个结构 -->
				<div class="homework-title cfix">
					<span>作业&nbsp;二</span>
				</div>
				<!-- 如果没有作业则没有这个结构 -->
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
	</div>
	<!-- 入门外教课 -->
	
	<!-- 精品外教课 -->

	<!-- 已购买 已配课 -->
	<div class="main-box">
		<section>
			<div class="section-box">
				<div class="jing-img">
					<img src="<%=imagessrc%>student-jing.png"/>
				</div>
				<div class="title-info">
					<div class="title-text jing-class">精品外教课</div>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
						<a href="student_class_detail.html">查看详情&gt;</a>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
					<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
					<a href="student_class_detail.html">查看详情&gt;</a>
				</div>
			</ARTICLE>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
					<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
					<a href="student_class_detail.html">查看详情&gt;</a>
				</div>
			</ARTICLE>
		</section>
	</div>	

	<!-- 未购买 已配课 -->
	<div class="main-box">
		<section>
			<div class="section-box">
				<div class="jing-img">
					<img src="<%=imagessrc%>student-jing.png"/>
				</div>
				<div class="title-info">
					<div class="title-text jing-class">精品外教课</div>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
					<div class="mask">
						<span></span>
					</div>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
						<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
				<div class="mask">
					<span></span>
				</div>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
					<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
				</div>
			</ARTICLE>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
				<div class="mask">
					<span></span>
				</div>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">亲子阅读树《Lost ans Found》失而复得（下）</h2>
					<div class="time-info">上课时间：2015/12/15<span>19:00</span></div>
				</div>
			</ARTICLE>
		</section>
	</div>

	<!-- 未购买 未配课 -->
	<div class="main-box jing-none-box">
		<section>
			<div class="section-box">
				<div class="jing-img">
					<img src="<%=imagessrc%>student-jing.png"/>
				</div>
				<div class="title-info">
					<div class="title-text jing-class">精品外教课</div>
				</div>
				<div class="homework-title cfix">
					<span>第一课</span>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
					<div class="mask">
						<span></span>
					</div>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">精品外教同步辅导课</h2>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="homework-title cfix">
				<span>第二课</span>
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
				<div class="mask">
					<span></span>
				</div>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">精品外教同步辅导课</h2>
				</div>
			</ARTICLE>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="homework-title cfix">
				<span>第三课</span>
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
				<div class="mask">
					<span></span>
				</div>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">精品外教同步辅导课</h2>
				</div>
			</ARTICLE>
		</section>
		<div class="config-box">
			<img src="<%= imagessrc%>config-bg.png" />
			<p>更多精品课，正在配置中...</p>
		</div>
	</div>
	
	<!-- 已购买 未配课 -->
	<div class="wait-box">
		<img src="<%=imagessrc%>wait-box.jpg" />
	</div>
	<div class="main-box jing-none-box">
		<section>
			<div class="section-box">
				<div class="jing-img">
					<img src="<%=imagessrc%>student-jing.png"/>
				</div>
				<div class="title-info">
					<div class="title-text jing-class">精品外教课</div>
				</div>
				<div class="homework-title cfix">
					<span >第一课</span>
				</div>
				<div class="class-img">
					<img src="<%= imagessrc%>class-img.jpg"/>
				</div>
				<ARTICLE>
					<div class="article-box">
						<h2 class="class-art-title">精品外教同步辅导课</h2>
					</div>
				</ARTICLE>
			</div>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="homework-title cfix">
				<span>第二课</span>
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">精品外教同步辅导课</h2>
				</div>
			</ARTICLE>
		</section>
		<section>
			<div class="title-info">
			</div>
			<div class="homework-title cfix">
				<span>第三课</span>
			</div>
			<div class="class-img">
				<img src="<%= imagessrc%>class-img.jpg"/>
			</div>
			<ARTICLE>
				<div class="article-box">
					<h2 class="class-art-title">精品外教同步辅导课</h2>
				</div>
			</ARTICLE>
		</section>
		<div class="config-box">
			<img src="<%= imagessrc%>config-bg.png" />
			<p>更多精品课，正在配置中...</p>
		</div>
	</div>


	<!-- 购买精品外教课 -->
	<div class="bottom-btn-wrap buy-btn-wrap">
		<div class="bottom-btn-in">
			<a href="" class="bottom-btn">购买精品外教课</a>
		</div>
	</div>
	<!-- 精品外教课 -->
	<!-- <div class="no-class">您的班级目前没有外教同步辅导课</div> -->
</body>
<% include ../common/bottom.ejs %>