<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>欢迎下载51talk app</title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
    <style type="text/css">
      .sac-input ul li .getCodes {
        width: 35%;
        margin-left: 5%;
        color: #fac000;
        text-decoration: underline!important;
      }
    </style>
</head>
<body> 
  <div class="sabcn35587" data-init="sabcn">
      <header>
          <img src="<%=imagessrc%>top.jpg" class="widthImg" />
      </header>
      <section>
          <img src="<%=imagessrc%>sabcn_01.jpg" class="widthImg" />
      </section>
      <section class="sac-form">
          <img src="<%=imagessrc%>sabcn_02.jpg" class="widthImg" />
          <div class="sac-input" data-url="/Ajax/specialRegister">
            <ul>
              <li><input type="text" name="mobile" class="iphone" placeholder="输入您的手机号"></li>
              <li>
                <input class="tel_code" id="authCode" name="authCode" type="tel" placeholder="请输入图形验证码" style="width:58%">
                <span  class="" style="width: 35%;margin-left: 5%;display: inline-block;">
                  <img style="border: 1px solid #d0d0d0;"
                       id="verifycode" src="http://www.51talk.com/passport/authCode"
                       height="100%" width="100%" onclick="this.src='http://www.51talk.com/passport/authCode'+'?a'+'='+new Date().getTime()"
                       alt="单击更换验证码" title="单击更换验证码">
                </span>
              </li>
              <li>
                  <input type="text" name="phoneCode" class="phoneCode" placeholder="短信验证码">
                  <a class="getCodes" href="javascript:;">获取短信验证码</a>
              </li>
              <li><input type="text" name="password" class="passsword" placeholder="设置您的密码"></li>
              <li>
                <input type="hidden" name="register_from" class="register_from">
                <input type="hidden" name="type" class="form-type">
                <select id="tea_experience" name="race_group" class="sab-select">
                  <option value="-1">选择年级组</option>
                  <option value="11">初级组（1-2年级）</option>
                  <option value="12">中级组（3-4年级）</option>
                  <option value="13">高级组（5-6年级）</option>
                  <option value="14">初中组（7-9年级）</option>
                </select>
                <div class="select">
                  <span class="text">选择年级组</span>
                  <img src="<%=imagessrc%>sabca_slt.png" />
                </div>
                <div class="slt-list">
                  <ul>
                    <li num="11">初级组（1-2年级）</li>
                    <li num="12">中级组（3-4年级）</li>
                    <li num="13">高级组（5-6年级）</li>
                    <li num="14">初中组（7-9年级）</li>
                  </ul>
                </div>
              </li>
              <li class="lastli"><a href="javascript:;" class="sumbit">立即激活</a></li>
            </ul>
            <p class="s_tip">
              注意：若选手已是51Talk用户，则需要用一个新的手机号进行注册，
              以便顺利参与此次赛前训练课。
            </p>
        </div>
      </section>
      <section style="margin-top: 5rem">
          <img src="<%=imagessrc%>sabcn_03.jpg" class="widthImg" />
      </section>
      <section>
          <img src="<%=imagessrc%>sabcn_04.jpg" class="widthImg" />
      </section>
      <section>
          <img src="<%=imagessrc%>sabcn_05.jpg" class="widthImg" />
      </section>
      <section>
          <img src="<%=imagessrc%>sabcn_06.jpg" class="widthImg" />
      </section>
      <footer>
          <img src="<%=imagessrc%>sabcn_07.jpg" class="widthImg" />
      </footer>

  </div>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>