<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
     <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>group_fail.css">
    
</head>
<body class="g-s-body">
    <div class="g-s-content">
        <div class="content">
            <p class="c-text"><span class="icon-b e-img"></span>拼团失败！</p>
            
            <p class="c-des">款项已原路退回！</p>
            <ul class="group-p">
                <li>
                    <img src="<%= imagessrc%>d_02.png"/>
                    <span>团长</span>
                </li>
                <li><img src="<%= imagessrc%>d_02.png"/></li>
                <li><img src="<%= imagessrc%>d_02.png"/></li>
                <li><img src="<%= imagessrc%>d_02.png"/></li>
                <li><img src="<%= imagessrc%>d_02.png"/></li>
            </ul>
        </div>
        <div class="group-info">
            <p>课程名称：1499外教1对1暑期班</p>
            <p>拼团须知：拼团成功开课赠课 ，拼团失败退费</p>
            <div class="r-group"><a href="javascript:;">重新开团</a></div>
        </div>

        <div class="code-box">
            <p class="code-text">关注服务号，及时获取更多服务信息</p>
            <div class="code-img">
                <img src="<%= imagessrc%>d_code.jpg"/>
            </div>
        </div>
    </div>
</body>
<!--公共尾部结束-->
</html>