<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="description"  content="领取学习礼包，来51Talk玩转英语">
    <title></title>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
     <link rel="stylesheet" type="text/css" href="<%= csslinkb2s%>participation_group.css">
    
</head>
<body id="container" data-init="participationGroup">
    <div class="group-box part-group">
        <div class="img-box"><img src="<%= imagessrc%>g_01.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_02.jpg"/></div>
        <div class="group-s">
            <div class="img-box"><img src="<%= imagessrc%>g_03.jpg"/></div>
            <div class="g-buy-p1 g-class5"><!--g-class3-->
                <div class="buy-box">
                    <div class="time-box">
                        <span id="hour1">0</span>
                        <span class="t-left" id="hour2">0</span>
                        <i> : </i>
                        <span id="minute1">0</span>
                        <span class="t-left" id="minute2">0</span>
                        <i> : </i>
                        <span id="second1">0</span>
                        <span class="t-left" id="second2">0</span>
                        <i class="t-text">结束</i>
                    </div>
                    <div class="p-group-info">
                        <span class="f-word"><i>2</i>人团</span><span class="class-n">+3课时</span>
                    </div>
                    <div class="user-img">
                        <div class="line"></div>
                        <div class="part-num">
                            <div class="img">
                                    <img src="<%= imagessrc%>g_33.png"/>
                                    <span>团长</span>
                            </div>
                            
                            <div class="img">
                                    <img src="<%= imagessrc%>g_33.png"/>
                            </div>
                            <div class="img">
                                    <img src="<%= imagessrc%>g_33.png"/>
                            </div>
                            <div class="img">
                                    <img src="<%= imagessrc%>g_33.png"/>
                            </div>
                            
                            <div class="img">
                                    <img src="<%= imagessrc%>g_33.png"/>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="g-btn-box">
            <div class="img-box"><img src="<%= imagessrc%>g_32.jpg"/>
            </div>
            <div class="btn-box">
                <a class="btn-text " id="partGroupBtn" href="javascript:;"><img src="<%= imagessrc%>g_34.png"/></a>
            </div>
            
        </div>

        <div class="img-box"><img src="<%= imagessrc%>g_05.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_06.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_07.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_08.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_09.jpg"/></div>
        <div class="tab-box">
            <ul id="tabId">
                <li class="current">L0</li>
                <li>L1-3</li>
                <li>L4-6</li>
                <li>L7-9</li>
            </ul>
            <div class="main-box" id="mainId">
                <div class="main-text">
                    <p>【51Talk等级】零基础-Pre-Level</p>
                    <p>【适合水平】4-6岁零基础，没学过英语的孩子；字母及组合认知、发音困难的孩子。</p>
                    <p>【能力达成】</p>
                    <p class="sub-text">1.认识字母表，能分辨大小写字母;</p>
                    <p class="sub-text">2.熟悉常见词汇，能建立声音、图片与单词的对应链接;</p>
                    <p class="sub-text">3.建立字母和语音的对应关系，逐步做到见词能读;</p>
                </div>
                <div class="main-text hide">
                    <p>【51Talk等级】入门-Beginner</p>
                    <p>【适合水平】小学一年级至三年级，学过Level 0课程或同等水平的孩子；想要积累日常生活基本词汇、句型的孩子。</p>
                    <p>【能力达成】</p>
                    <p class="sub-text">1.熟悉话题做简单对话、表达个人看法;</p>
                    <p class="sub-text">2.词汇量和阅读流利度大大提高;</p>
                    <p class="sub-text">3.阅读并理解文章基础
                    信，回答相关简单问题。</p>
                    
                </div>
                <div class="main-text hide">
                    <p>【51Talk等级】初级-Elementary</p>
                    <p>【适合水平】小学四年级至六年级，已学过Level 1-Level 3课程或同等水平的孩子；想要提升语言流利度，培养阅读能力的孩子。</p>
                    <p>【能力达成】</p>
                    <p class="sub-text">1.能够就比较宽泛的话题进行对话和交流;</p>
                    <p class="sub-text">2.独立阅读较长篇幅的英文文章;</p>
                    <p class="sub-text">3.轻松写出简单的英文段落;</p>
                    
                </div>
                <div class="main-text hide">
                    <p>【51Talk等级】中级-Intermediate</p>
                    <p>【适合水平】初一至初三，已学过Level 4-Level 6课程或同等水平的孩子；想综合提升听说能力，进行多学科知识学习的孩子。</p>
                    <p>【能力达成】</p>
                    <p class="sub-text">1.英语自由交流，可以针对某个问题进行讨论;</p>
                    <p class="sub-text">2.独立阅读各种文体的英文文章;</p>
                    <p class="sub-text">3.能够写出逻辑清楚的英文段落;</p>
                </div>
            </div>
        </div>
        <div class="img-box"><img src="<%= imagessrc%>g_10.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_11.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_12.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_13.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_14.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_15.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_16.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_17.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_18.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_19.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_20.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_21.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_22.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_23.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_24.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_25.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_26.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_27.jpg"/></div>
        <div class="img-box"><img src="<%= imagessrc%>g_28.jpg"/></div>
        
    </div>
    <div class="showtips-layer hide" id="showtipssLayer">
        <div class="showtips" id="showTips">
            <ul class="tab" id="regTabId">
                <li class="register">注册</li>
                <li class="t-flag login">登录</li>
            </ul>
            <div class="content" id="contentId">
                <div class="r-content">
                    <div class="input-b">
                        <input id="regPhone" type="text" placeholder="请输入手机号"/>
                    </div>
                    <div class="input-b">
                        <input id="regPassword" type="text" placeholder="设置您的密码"/>
                    </div>
                    <div class="input-b sms-b">
                        <input id="smsCode" class="sms-code" type="text" placeholder="获取短信验证码"/>
                        <div class="get-code" >
                            <a href="javascript:;" id="getCode">获取验证码</a>
                            <span class="send" id="countDown">重新发送(60)</span>
                        </div>
                    </div>
                    <p class="error" id="regError"></p>
                    <a class="btn" id="registerId" href="javascript:;">立即注册</a>
                </div>
                <div class="r-content hide">
                    <div class="input-b">
                        <input id="loginPhone" type="text" placeholder="请输入手机号"/>
                    </div>
                    <div class="input-b">
                        <input id="loginPassword" type="text" placeholder="请输入密码"/>
                    </div>
                    <p class="error" id="loginError"></p>
                    <a id="loginId" class="btn" href="javascript:;">立即登录</a>
                </div>
            </div>
        </div>
    </div>
    <input  type="hidden" id="groupId" value="123"/>
    <input  type="hidden" id="productId" value=""/>
    <input type="hidden" value="2017/6/19 23:59:59" id="timeId"/>
    <input type="hidden" value="2017/6/14 23:59:59" id="nowTimeId"/>


</body>
<!--公共尾部结束-->
<script id="seajsnode" src="<%= jssrc%>"></script>
</html>