<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
    <meta content="yes" name="apple-mobile-web-app-capable" /> 
    <meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
    <meta content="telephone=no" name="format-detection" /> 
    <title>教育节</title>
    <script src="../../../js/wap/project/edu20170606/flexible.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= csslink%>">
</head>
<body>  
	<sectipn>
		  <img src="<%= imagessrc%>edu_01.jpg" class="width100" />
		  <img src="<%= imagessrc%>edu_02.jpg" class="width100" />
	</sectipn>
	<section class="getFree">
		  <img src="<%= imagessrc%>edu_03.jpg" class="width100" />
			<div class="In">
					<a href="javascript::">限时免费领取</a>
			</div>
	</section>
	<section>
		  <img src="<%= imagessrc%>edu_04.jpg" class="width100" />
		  <img src="<%= imagessrc%>edu_05.jpg" class="width100" />
		  <img src="<%= imagessrc%>edu_06.jpg" class="width100" />
	 </section>
	 <section class="goBuy">
		  <img src="<%= imagessrc%>edu_07.jpg" class="width100" />
		  <div class="In">
					<a href="javascript::">立即体验购买</a>
			</div>
	 </sectipn>
</body>
</html>