<% include ../common/top.ejs %>
<body>
<!-- public top -->
<% include top.ejs %>
<!-- jour -->
<div class="jour" id="container" data-init="subject">
  <div class="jour-t">
    <p><span class="j-t">2016年期刊</span></p>
    <div class="jour-t-l">
      <ul>
        <li><img src="<%= imagessrc%>/jour_t.jpg"><span>2016年07期</span></li>
        <li><img src="<%= imagessrc%>/jour_t.jpg"><span>2016年08期</span></li>
        <li><img src="<%= imagessrc%>/jour_t.jpg"><span>2016年09期</span></li>
        <li><img src="<%= imagessrc%>/jour_t.jpg"><span>2016年10期</span></li>
      </ul>
      <ul>
        <li><img src="<%= imagessrc%>/jour_b.jpg"><span>2016年11期</span></li>
        <li><img src="<%= imagessrc%>/jour_b.jpg"><span>2016年12期</span></li>
        <li><img src="<%= imagessrc%>/jour_b.jpg"><span>2016年13期</span></li>
        <li><img src="<%= imagessrc%>/jour_b.jpg"><span>2016年14期</span></li>
      </ul>
      <ul>
        <li><img src="<%= imagessrc%>/jour_t02.jpg"><span>2016年15期</span></li>
        <li><img src="<%= imagessrc%>/jour_t02.jpg"><span>2016年16期</span></li>
        <li><img src="<%= imagessrc%>/jour_t02.jpg"><span>2016年17期</span></li>
        <li><img src="<%= imagessrc%>/jour_t02.jpg"><span>2016年18期</span></li>
      </ul>
    </div>
    <ul class="flip">
      <li class="f-crt"><a href="javascript:;">1</a></li>
      <li><a href="javascript:;">2</a></li>
      <li><a href="javascript:;">3</a></li>
    </ul>
  </div> 
  <div class="jour-b">
    <p><a href="javascript:;" class="j-lt j-lt-hvt"></a><span class="j-t"><i id="j-it">2016</i>年期刊</span><a href="javascript:;" class="j-rt"></a></p>
    <div class="jour-t-r">
      <ul>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第08期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第08期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第08期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第07期</span></li>
        <li><span class="t-r-img"><img src="<%= imagessrc%>/jour_b.jpg"></span><span class="r-r-s">2016年第12期</span></li>
      </ul>
    </div>
  </div> 
</div>
<!-- public bottom -->
<% include bottom.ejs %>
</body>
<% include ../common/bottom.ejs %>