<% include ../common/top.ejs %>
<body>
 <img src="<%= imagessrc%>logo.jpg" alt="" height="0" width="0" style="float:left;">
  <div class="saturn">
     <img src="<%= imagessrc%>pic7_01.jpg" alt="">
     <img src="<%= imagessrc%>pic7_02.jpg" alt="">
     <img src="<%= imagessrc%>pic7_03.jpg" alt="">
     <img src="<%= imagessrc%>pic7_04.jpg" alt=""> 
     <img src="<%= imagessrc%>pic7_05.jpg" alt="">
     <img src="<%= imagessrc%>pic7_06.jpg" alt="">
     <img src="<%= imagessrc%>pic7_07.jpg" alt="">
     <img src="<%= imagessrc%>pic7_08.jpg" alt="">
     <img src="<%= imagessrc%>pic7_09.jpg" alt="">
     <img src="<%= imagessrc%>pic7_10.jpg" alt="">
  </div>
</body>
</html>