<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>51Talk</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body>
	<div class="email_3">
	 	 <div class="e-top">
	 	 	  <!-- <img src="<%=imagessrc%>e-top.png" class="width100" /> -->
	 	 	  <h2>Work from home as an online English teacher</h2>
	 	 </div>
		 <div class="e-banner">
		 		 <img src="<%=imagessrc%>e-bg.png" class="width100" />
		 		 <div class="main">
		 		 			<img src="<%=imagessrc%>e-girl.png" class="width100" />
		 		 			<div class="e-btn">
		 		 				<a href="javascript:;" target="_blank">Click Here To Apply</a>
		 		 			</div>
		 		 </div>
		 </div>
		<div class="e-make">
				 <p>Make a difference in the lives of young learners from the comfort of your home. 51Talk is an NYSE publicly-listed company and the number one online English education platform in the world.</p>
				 <p>
				 		We need experienced K-12 English teachers to join our team of 8,000+ teachers around the world to teach English online.
				 </p>
		</div>
		<div class="borderLine"></div>
		<div class="e-title">
				<h2>ARE YOU THE ONE WE ARE LOOKING FOR</h2>
				<p>We are looking for teachers who, preferably, love teaching children and have the following:</p>
		</div>
		<div class="e-list">
				<dl>
						<dt>
							 <img src="<%=imagessrc%>e-one.png" />
						</dt>
						<dd class="d1">
								<p>College/University degree </p>
						</dd>
				</dl>
				<dl>
						<dt>
							 <img src="<%=imagessrc%>e-two.png" />
						</dt>
						<dd class="d2">
								<p>Excellent social skills  </p>
								<p>Professional and patient</p>
						</dd>
				</dl>
				<dl>
						<dt>
							 <img src="<%=imagessrc%>e-three.png" />
						</dt>
						<dd class="d3">
								<p><span>Available to teach for an average of  
								 16 hours per week in the next four months  
								 during the following times: </span>
								<p>• &nbsp;7pm-11pm  (Monday to Friday)</p>
								<p>• &nbsp;9am-11pm (Saturday and Sunday)</p>
						</dd>
				</dl>
		</div>
		<div class="borderLine"></div>
		<div class="e-bottom">
				<div class="e-left" > 
						<h3 class="title">
								WHAT DO I NEED TO GET STARTED?
						</h3>
						<p>
								Because you’ll be teaching online from your home, you’ll need your own computer and a good Internet connection. Also, you should have the following:
						</p>
						<div class="list">
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-need1.png" />
									</dt>
									<dd>
											A desktop or laptop (Windows 7 or above) with a dual-core processor or better (Intel or AMD) and 2GB RAM or better
									</dd>
								</dl>
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-need2.png" />
									</dt>
									<dd class="d2">
											DSL internet connection - 2mbps or higher
									</dd>
								</dl>
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-need3.png" />
									</dt>
									<dd class="d3">
											A headset - with noise 
											cancelling features
									</dd>
								</dl>
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-need4.png" />
									</dt>
									<dd class="d4">
											An HD webcam
									</dd>
								</dl>
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-need5.png" />
									</dt>
									<dd class="d5">
											A quiet, clutter-free  and well-lit teaching environment / space in your home
									</dd>
								</dl>
						</div>
				</div>
				<div class="e-right"> 
						<h3 class="title">
							HOW MUCH CAN I EARN?
						</h3>
						<p>
								Our top performing teachers earn as much as<span> PHP 80,000</span> per month 
								working from home! And there are 
								even more ways to earn at 51Talk:
						</p>
						<div class="list">
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-pay1.png" />
									</dt>
									<dd class="d1">
											Referral incentives
									</dd>
								</dl>
								<dl>
									<dt>
											<img src="<%=imagessrc%>e-pay2.png" />
									</dt>
									<dd class="d1">
											Performance-based incentives
									</dd>
								</dl>
								<dl>
									<dt class="dt3">
											<img src="<%=imagessrc%>e-pay3.png" />
									</dt>
									<dd class="d3">
											Pay raises 
											commensurate 
											with certifications 
											and training 
											completion
									</dd>
								</dl>
						</div>
						<div class="e-goal">
							Jumpstart your 51Talk career!
						</div>
						<div class="e-btn">
								<a href="javascript:;" target="_blank">Click Here To Apply</a>
						</div>
						<div class="e-last">
								<dl>
										<dt>
												<img src="<%=imagessrc%>e-phone.png" />
										</dt>
										<dd>
											After submitting your application, expect a call or a message within 48 hours for your phone interview.
										</dd>
								</dl>
						</div>
				</div>
				
		</div>
		<div class="e-footer"></div>
 
	</div>
</body>
</html>