<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui" />
	<meta content="yes" name="apple-mobile-web-app-capable" /> 
	<meta content="black" name="apple-mobile-web-app-status-bar-style" /> 
	<meta content="telephone=no" name="format-detection" /> 
	<title>红包分享</title>
	<link rel="stylesheet" type="text/css" href="<%= csslink%>"></head>
<body id="container" data-init="share">
	<img src="<%= imagessrc%>small.png" width="0" height="0" style="float: left;">
	<header class="header">
		<img class="head_1" src="<%= imagessrc%>h_bg_1.png">
		<img class="head_2" src="<%= imagessrc%>h_bg_2.png">
		<div class="reg_1">
			<img class="head_3" src="<%= imagessrc%>h_bg_3.png">
			<div class="reg_form_1">
				<form id="reg1_form">
					<p><input id="reg1_tel" class="reg_1_input" type="text" placeholder="输入您的手机号"/></p>
					<p><input id="reg1_passwd"class="reg_1_input" type="password" placeholder="设置您的密码"/></p>
					<p><a id="reg1" class="reg_1_input reg_1_sub">注册，领取礼包</a></p>
				</form>
			</div>
		</div>
	</header>
	<section class="sect">
		<img class="t_list_h" src="<%= imagessrc%>t_list_h.png">
		<ul class="t_ul">
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
			<li class="t_head"><img src="<%= imagessrc%>teacher_01.jpg"></li>
		</ul>
	</section>
	<section class="c_sect">
		<img class="c_list_h" src="<%= imagessrc%>c_list_h.jpg">
		<ul class="c_ul">
			<li>
				<div class="content">
					<img src="<%= imagessrc%>t_img01.jpg">
					<p>出国在外如何处理紧急事件事件</p>
					<p>10月13 20:00-21:00</p>
				</div>
			</li>
			<li>
				<div class="content">
					<img src="<%= imagessrc%>t_img01.jpg">
					<p>出国在外如何处理紧急事件事件</p>
					<p>10月13 20:00-21:00</p>
				</div>
			</li>
			<li>
				<div class="content">
					<img src="<%= imagessrc%>t_img01.jpg">
					<p>出国在外如何处理紧急事件事件</p>
					<p>10月13 20:00-21:00</p>
				</div>
			</li>
			<li>
				<div class="content">
					<img src="<%= imagessrc%>t_img01.jpg">
					<p>出国在外如何处理紧急事件事件</p>
					<p>10月13 20:00-21:00</p>
				</div>
			</li>
		</ul>
	</section>
	<section>
		<div class="reg_2">
			<p class="f_title">只需1个月，让你地道英语脱口而出！</p>
			<div class="reg_form_2">
				<form id="reg2_form">
					<p><input id="reg2_tel" class="reg_2_input" type="text" placeholder="输入您的手机号"/></p>
					<p><input id="reg2_passwd" class="reg_2_input" type="password" placeholder="设置您的密码"/></p>
					<p><a id="reg2" class="reg_2_input reg_2_sub">注册，领取礼包</a></p>
				</form>
			</div>
			<!-- <p class="f_bottom">www.51talk.com</p> -->
			<p class="f_bottom">立即注册并购买任意课程，</p>
			<p class="f_bottom">即可免费获得3节1对1外教课。</p>
		</div>
	</section>
</body>
<script src="<%= jssrc%>" id="seajsnode"></script>
</html>